<template>
    <el-menu style="border-radius: 10px; text-align: justify; height: 100%;" class="el-menu-vertical-demo-talent" >
        <!-- <el-sub-menu index="1"> -->
            <el-menu-item-group>
                <el-menu-item index="1-1">
                    <router-link class="link-menu" to="/analyst/gamification">
                        <div class="box-menu-icon">
                            <font-awesome-icon icon="fas fa-home fa-2xs"/>
                            <span class="text-icon">
                                Home
                            </span>
                        </div>
                    </router-link>
                </el-menu-item>
                <el-menu-item index="3-1">
                    <router-link to="/analyst/gamification/team">
                        <div class="box-menu-icon">
                            <font-awesome-icon icon="fa-solid fa-people-group fa-2xs"/>
                            <span class="text-icon">
                                My Teams
                            </span>
                        </div>
                    </router-link>
                </el-menu-item>
                <el-menu-item index="4-1">
                    <router-link to="/admin/gamification/target">
                        <div class="box-menu-icon">
                            <font-awesome-icon icon="fa-solid fa-bullseye fa-2xs"/>
                            <span class="text-icon">
                                My Targets
                            </span>
                        </div>
                    </router-link>
                </el-menu-item>
                <el-menu-item index="7-1">
                    <router-link to="/admin/users">
                        <div class="box-menu-icon">
                            <font-awesome-icon icon="fa-solid fa-users fa-2xs"/>
                            <span class="text-icon">
                                Users
                            </span>
                        </div>
                    </router-link>
                </el-menu-item>
            </el-menu-item-group>
        <!-- </el-sub-menu> -->
    </el-menu>
</template>

<script>
export default {
    name: 'Menu Gamification',
    data() {
        return {

        }
    },
    methods: {
        handleSelect(key, keyPath) {

        }
    }
}
</script>