<template>
        <el-submenu index="1">
            <el-menu-item-group>
                <router-link to="/talent/profile">
                    <el-menu-item index="1-1">
                        <div class="box-menu-icon">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span class="text-icon">
                                Profile
                            </span>
                        </div>
                    </el-menu-item>
                </router-link>   
                <router-link to="/talent/profile/leaderboard">
                    <el-menu-item index="2-1">
                        <div class="box-menu-icon">
                            <font-awesome-icon icon="fa-solid fa-trophy fa-2xs"/>
                            <span class="text-icon">
                                Leaderboard
                            </span>
                        </div>
                    </el-menu-item>
                </router-link>
                <router-link to="/talent/profile/mytargets">
                    <el-menu-item index="3-1">
                        <div class="box-menu-icon">
                            <font-awesome-icon icon="fa-solid fa-file-signature fa-2xs"/>
                            <span class="text-icon">
                                My targets
                            </span>
                        </div>
                    </el-menu-item>
                </router-link>
                <router-link to="/talent/profile/myjob">
                    <el-menu-item index="4-1">
                        <div class="box-menu-icon">
                            <font-awesome-icon icon="fa-solid fa-briefcase fa-2xs"/>
                            <span class="text-icon">
                                My Job
                            </span>
                        </div>
                    </el-menu-item>
                </router-link>
            </el-menu-item-group>
        </el-submenu>
</template>

<script>
export default {
    name: 'MenuCollaborator',
    data() {
        return {

        }
    },
    methods: {
        handleSelect(key, keyPath) {

        }
    }
}
</script>