<template lang="html">
    <div>
        <el-form enctype="multipart/form-data" ref="form" status-icon :model="form" :rules="rules" size="medium">
            <el-row :gutter="20" v-if="this.method_pay == 'bank'">
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Entidad Bancaria" prop="bank_id">
                        <el-select id="bank" v-model="form.bank_id" placeholder="Selecciona">
                            <el-option v-for="item in banks" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Tipo de Cuenta" prop="type_bank_account">
                        <el-select v-model="form.type_bank_account" placeholder="Seleccione...">
                            <el-option label="Ahorros" value="ahorros"></el-option>
                            <el-option label="Corriente" value="corriente"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Numero de Cuenta" prop="nro_bank_account">
                        <el-input v-model="form.nro_bank_account" type="text" maxlength="25" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20" v-if="this.method_pay == 'nequi'">
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Telefono Nequi">
                        <el-input v-model="form.nro_bank_account" type="text" maxlength="25" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20" v-if="this.method_pay == 'paypal'">
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Email de la cuenta">
                        <el-input v-model="form.nro_bank_account" type="text" maxlength="25" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-col style="text-align: end;">
                <el-button size="small" style="margin-bottom: 20px;" type="primary" @click="emitSubmit"><i class="far fa-save"></i> Guardar mis datos bancarios</el-button>
            </el-col>
        </el-form>
    </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import axios from "axios";
import { myMixins } from "../../../../Utils/mixins";

export default {
    name: "BankPayForm",
    mixins: [myMixins],
    computed: {
        ...mapState("auth", ["authenticate", "user_session"]),
    },
    props: ["method"],
    data() {
        return {
            method_pay: {},
            banks: [],
            button_save: false,
            upload_firm: true,
            currency: "COP",
            url_verify_document: `${process.env.VUE_APP_URL_API_BACKEND}/api/document-verify`,
            paypal: {},
            nequi: {},
            form: {
                bank_id: "",
                type_bank_account: "",
                nro_bank_account: "",
                bank: {},
            },
            rules: {
                bank_id: [
                    { required: true, message: "Campo obligatorio", trigger: "change" },
                ],
                type_bank_account: [
                    { required: true, message: "Campo obligatorio", trigger: "change" },
                ],
                nro_bank_account: [
                    {
                        required: true,
                        message: "Campo obligatorio",
                        trigger: "blur",
                    },
                ],
            },
        };
    },
    methods: {
        getMeBank() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/user/banks/${this.user_session.id}`
            axios.get(path).then((response) => {
                if(response.data != null){
                    this.method_pay = response.data.type_bank
                    this.form.bank_id = response.data.bank_id
                    this.form.type_bank_account = response.data.type_bank_account
                    this.form.nro_bank_account = response.data.nro_bank_account
                }
            })
                .catch((error) => {
                })
        },
        getBanks() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/banks`;
            axios
                .get(path)
                .then((response) => {
                    this.banks = response.data.banks;
                    this.paypal = response.data.paypal;
                    this.nequi = response.data.nequi;
                })
                .catch((error) => {});
        },
        emitSubmit(evt) {
            evt.preventDefault();
            this.button_save = true;
            var form_data = this.syncData(this.form)

            this.$refs["form"].validate((valid) => {
                if (valid) {
                    this.$emit("sendMeBank", form_data);
                    this.button_save = false;
                } else {
                    this.alertRules();
                }
            });
        },
        syncData(data) {
            var form_data = new FormData();

            switch (this.method) {
            case "bank":
                form_data.append("bank_id", data.bank_id);
                form_data.append("type_bank", this.method);
                form_data.append("type_bank_account", data.type_bank_account);
                form_data.append("nro_bank_account", data.nro_bank_account);
                break;
            case "paypal":
                form_data.append("bank_id", this.paypal.id);
                form_data.append("type_bank", this.method);
                form_data.append("type_bank_account", "ahorros");
                form_data.append("nro_bank_account", data.nro_bank_account);
                break;
            case "nequi":
                form_data.append("bank_id", this.nequi.id);
                form_data.append("type_bank", this.method);
                form_data.append("type_bank_account", "ahorros");
                form_data.append("nro_bank_account", data.nro_bank_account);
                break;
            default:
                form_data.append("bank_id", data.bank_id);
                form_data.append("type_bank", this.method);
                form_data.append("type_bank_account", data.type_bank_account);
                form_data.append("nro_bank_account", data.nro_bank_account);
                break;
            }

            return form_data;
        },
        alertRules() {
            this.button_save = false;
            this.$notify.warning({
                title: "Campos Obligatorios",
                message: "Faltan campos obligatorios por completar",
            });
        },
    },
    watch: {
        method: function (newVal, oldVal) {
            this.method_pay = newVal;
        },
    },
    filters: {
        currencyDisplay: {
            read: function (val) {
                return val;
            },
            // view -> model
            // formats the value when writing to the data.
            write: function (val, oldVal) {
                var number = +val.replace(/[^\d.]/g, "");
                return isNaN(number) ? 0 : parseFloat(number.toFixed(2));
            },
        },
    },
    created() {
        this.getBanks();
        this.getMeBank();
    },
};
</script>

<style scoped>
.label-text-certificate {
  font-size: 0.8rem;
  color: #303133;
}
.m-2 {
  margin: 2%;
}
</style>

