<template lang="html">
    <div>
        <el-form enctype="multipart/form-data" ref="form" status-icon :model="form" :rules="rules" size="medium">
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Tipo de documento" prop="type_document">
                        <el-select v-model="form.type_document" placeholder="Seleccione...">
                            <el-option label="C.C" value="CC"></el-option>
                            <el-option label="C.E" value="CE"></el-option>
                            <el-option label="PASAPORTE" value="PASAPORTE"></el-option>
                            <el-option label="NIT" value="NIT"></el-option>
                            <el-option label="PEP" value="PEP"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Número de documento" prop="nro_document">
                        <el-input v-model.number="form.nro_document" maxlength="25" show-word-limit ></el-input>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Tipo de persona legal" prop="person_type">
                        <el-select v-model="form.person_type" placeholder="Seleccione...">
                            <el-option label="NATURAL" value="NATURAL"></el-option>
                            <el-option label="JURIDICA" value="JURIDICA"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                    <el-form-item class="label-form" label="Numero de Actividad Economica (RUT)" prop="nro_activity_economic">
                        <el-input v-model="form.nro_activity_economic" maxlength="10" show-word-limit placeholder="6201"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                    <el-form-item label="Ciudad donde presta el Servicio" prop="city_of_service" class="label-form">
                        <el-select v-on:change="getAllCities()" v-model="form.city_of_service" filterable placeholder="Seleccione...">
                            <el-option v-for="item in all_cities" :key="item.id" :label="item.name" :value="item.id.toString()"> </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <el-form-item class="label-form" label="Descripcion del Servicio Prestado" prop="description_service">
                        <el-input type="textarea" v-model="form.description_service" maxlength="180" show-word-limit placeholder="Desarrollo Web"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-divider></el-divider>
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Entidad Bancaria" prop="bank_name">
                        <el-select id="bank" :change="getBank()" v-model="bank_id" placeholder="Selecciona">
                            <el-option v-for="item in banks" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Tipo de Cuenta" prop="type_bank_account">
                        <el-select v-model="form.type_bank_account" placeholder="Seleccione...">
                            <el-option label="Ahorros" value="ahorros"></el-option>
                            <el-option label="Corriente" value="corriente"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-form-item class="label-form" label="Numero de Cuenta" prop="nro_bank_account">
                        <el-input v-model="form.nro_bank_account" type="text" maxlength="25" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <el-form-item class="label-form" label="Valor de tu servicio en numeros" prop="value_service_number">
                        <el-input  v-model="form.value_service_number" @input="getValueInLetters" placeholder="900.000" maxlength="20" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <el-form-item class="label-form" label="Valor de tu servicio en letras" prop="value_service_alphabet">
                        <el-input v-model="form.value_service_alphabet" readonly placeholder="Novecientos mil pesos" maxlength="70" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="text-left">
                    <label class="label-form"> De acuerdo con los articulos 329 y 384 del estatuto tributario, certifico que: </label>
                </el-col>
            </el-row>
            <el-row :gutter="20" class="m-2">
                <el-col :xs="24" :sm="24" :md="20" :lg="20" :xl="20" class="text-left">
                    <label class="label-text-certificate">
                        Soy persona natural y residente del pais.
                    </label>
                </el-col>
                <el-col :xs="24" :sm="24" :md="4" :lg="4" :xl="4">
                    <el-switch v-model="form.resident_country"></el-switch>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :md="20" :lg="20" :xl="20" class="text-left">
                    <label class="label-text-certificate">
                        Mis ingresos provienen en una propocion igual o superior a un ochenta (80%) de la prestacion de servicios tecnicos o profesionales de manera personal.
                    </label>
                </el-col>
                <el-col :xs="24" :sm="24" :md="4" :lg="4" :xl="4">
                    <el-switch v-model="form.payment_personal"></el-switch>
                </el-col>
            </el-row>
            <el-row :gutter="20" class="m-2">
                <el-col :xs="24" :sm="24" :md="20" :lg="20" :xl="20" class="text-left">
                    <label class="label-text-certificate">
                        Soy declarante del impuesto de renta del año inmediatamente anterior.
                    </label>
                </el-col>
                <el-col :xs="24" :sm="24" :md="4" :lg="4" :xl="4">
                    <el-switch v-model="form.rent"></el-switch>
                </el-col>
            </el-row>
            <el-row :gutter="20" class="m-2">
                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" style="margin-top: 2%;">
                    <el-upload
                        class="upload-demo"
                        show-file-list
                        accept="image/png, image/jpeg"
                        :action="url_verify_document"
                        :on-remove="handleRemove"
                        :on-change="handleFileSuccess"
                        :multiple="false"
                        :file-list="fileList"
                        v-if="upload_firm">
                        <el-button size="medium" type="default"><strong> <i class="fas fa-cloud-upload-alt"></i> Cargar firma Digital </strong></el-button>
                        <div slot="tip" class="el-upload__tip">Solo archivos jpg/png con un tamaño menor de 500kb</div>
                    </el-upload>
                </el-col>
                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" style="margin-top: 2%;">
                    <el-upload
                        class="upload-demo"
                        show-file-list
                        accept=".pdf"
                        :multiple="false"
                        :action="url_verify_document"
                        :on-remove="handleRemove"
                        :on-change="handleFileSuccessSecurity"
                        :file-list="fileListSocialSecurity">
                        <el-button size="medium" type="default"><strong> <i class="fas fa-cloud-upload-alt"></i> Comprobante de pago de seguridad social </strong></el-button>
                        <div slot="tip" class="el-upload__tip">Adjunta un archivo PDF de tu ultimo pago de seguridad social</div>
                    </el-upload>
                </el-col>
            </el-row>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="1">
                <el-button style="margin-bottom: 20px; margin-top: 20px;" type="primary" :loading="button_save" @click="emitSubmit">Guardar</el-button>
            </el-col>
        </el-form>
    </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import axios from "axios";
import { myMixins } from "../../../../Utils/mixins";
// import convertNumberLetters from "numeros_a_letras";

export default {
    name: "PaymentAccountForm",
    mixins: [myMixins],
    computed: {
        ...mapState("auth", ["authenticate", "user_session"]),
    },
    props: ["formUpdate"],
    data() {
        return {
            banks: [],
            bank_id: "",
            fileList: [],
            all_cities: [],
            fileListSocialSecurity: [],
            button_save: false,
            upload_firm: true,
            currency: "COP",
            url_verify_document: `${process.env.VUE_APP_URL_API_BACKEND}/api/document-verify`,
            form: {
                type_document: "",
                nro_document: "",
                nro_activity_economic: "",
                person_type: "",
                city_of_service: "",
                description_service: "",
                bank_name: "",
                type_bank_account: "",
                nro_bank_account: "",
                value_service_alphabet: "",
                value_service_number: "",
                resident_country: 0,
                payment_personal: 0,
                rent: 0,
                user_id: "",
                client_id: "1",
                url_file_firm: [],
                url_file_security_social: [],
                bank: {}
            },
            rules: {
                type_document: [
                    {
                        required: true,
                        message: "El tipo de documento es requerido",
                        trigger: "change",
                    },
                ],
                nro_document: [
                    {
                        validator: this.validate_number_field,
                        required: true,
                        message: "Debe ser un número",
                        trigger: "blur",
                    },
                    {
                        required: true,
                        message: "El número de documento es requerido",
                        trigger: "blur",
                    },
                ],
                person_type: [
                    { required: true, message: "Campo obligatorio", trigger: "change" },
                ],
                nro_activity_economic: [
                    { required: true, message: "Campo obligatorio", trigger: "blur" },
                ],
                city_of_service: [
                    { required: true, message: "Campo obligatorio", trigger: "change" },
                ],
                bank_name: [
                    { required: true, message: "Campo obligatorio", trigger: "change" },
                ],
                type_bank_account: [
                    { required: true, message: "Campo obligatorio", trigger: "change" },
                ],
                nro_bank_account: [
                    {
                        validator: this.validate_number_field,
                        required: true,
                        message: "Debe ser un número",
                        trigger: "blur",
                    },
                    {
                        required: true,
                        message: "Campo obligatorio",
                        trigger: "blur",
                    },
                ],
                value_service_alphabet: [
                    {
                        required: true,
                        message: "Campo obligatorio",
                        trigger: "change",
                    },
                ],
                value_service_number: [
                    {
                        validator: this.validate_number_field,
                        required: true,
                        message: "Debe ser un número",
                        trigger: "blur",
                    },
                    {
                        required: true,
                        message: "Campo obligatorio",
                        trigger: "blur",
                    },
                ],
                description_service: [
                    { required: true, message: "Campo obligatorio", trigger: "change" },
                ],
                url_file_firm: [
                    { required: true, message: "Campo obligatorio", trigger: "change" },
                ],
            },
        };
    },
    methods: {
        getValueInLetters(value) {
            // const letterNum = convertNumberLetters(Number(value));
            // if (letterNum) {
            //     this.form.value_service_alphabet = `${letterNum} (${this.currency})`;
            // }
        },
        getAllCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities/7`;
            axios
                .get(path)
                .then((response) => {
                    this.all_cities = response.data;
                    this.all_cities.push({
                        id: "Fuera del pais",
                        name: "Fuera del pais",
                    });
                })
                .catch((error) => {});
        },
        getBanks() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/banks`;
            axios
                .get(path)
                .then((response) => {
                    this.banks = response.data;
                })
                .catch((error) => {});
        },
        getBank() {
            if (this.bank_id != "") {
                const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/bank/${this.bank_id}`;
                axios
                    .get(path)
                    .then((response) => {
                        console.log("Aqui deberia llegar la informacion del banco", response.data)
                        this.form.bank_name = response.data.name;
                        this.currency = response.data.currency.name
                    })
                    .catch((error) => {});
            }
        },
        emitSubmit(evt) {
            evt.preventDefault();
            this.button_save = true;
            this.form.user_id = this.user_session.id;
            this.form.client_id = "1";
            var form_data = new FormData();

            form_data.append(
                "full_name",
                `${this.user_session.first_name} ${this.user_session.last_name}`
            );
            form_data.append("type_document", this.form.type_document);
            form_data.append("nro_document", this.form.nro_document);
            form_data.append(
                "nro_activity_economic",
                this.form.nro_activity_economic
            );
            form_data.append("person_type", this.form.person_type);
            form_data.append("phone_number", `${this.user_session.phone}`);
            form_data.append("city_of_service", this.form.city_of_service);
            form_data.append("description_service", this.form.description_service);
            form_data.append("bank_name", this.form.bank_name);
            form_data.append("type_bank_account", this.form.type_bank_account);
            form_data.append("nro_bank_account", this.form.nro_bank_account);
            form_data.append(
                "value_service_alphabet",
                this.form.value_service_alphabet
            );
            form_data.append("value_service_number", this.form.value_service_number);
            form_data.append("resident_country", this.form.resident_country ? 1 : 0);
            form_data.append("payment_personal", this.form.payment_personal ? 1 : 0);
            form_data.append("rent", this.form.rent ? 1 : 0);
            form_data.append("user_id", this.form.user_id);
            form_data.append("client_id", this.form.client_id);
            form_data.append("url_file_firm", this.form.url_file_firm);
            form_data.append(
                "url_file_security_social",
                this.form.url_file_security_social
            );

            this.$refs["form"].validate((valid) => {
                if (valid) {
                    this.$emit("onSubmit", form_data);
                    this.button_save = false;
                } else {
                    this.alertRules();
                }
            });
        },
        alertRules() {
            this.button_save = false;
            this.$notify.warning({
                title: "Campos Obligatorios",
                message: "Faltan campos obligatorios por completar",
            });
        },
        handleRemove(file, fileList) {},
        handleChange(file, fileList) {
            // this.fileList = fileList.slice(-3);
        },
        handleFileSuccess(file, fileList) {
            this.form.url_file_firm = file.raw;
            this.fileList = fileList.slice(-1);
        },
        handleFileSuccessSecurity(file, fileListSocialSecurity) {
            this.form.url_file_security_social = file.raw;
            this.fileListSocialSecurity = fileListSocialSecurity.slice(-1);
        }
    },
    watch: {
        formUpdate: function (newVal, oldVal) {
            this.form = newVal;
            this.fileList = newVal.fileList;
            this.fileListSocialSecurity = newVal.fileListSocialSecurity;
            this.form.url_file_firm = [];
            this.form.url_file_security_social = [];
            if (this.form.document_firm_id) this.upload_firm = false;
        },
    },
    filters: {
        currencyDisplay: {
            read: function (val) {
                return val;
            },
            // view -> model
            // formats the value when writing to the data.
            write: function (val, oldVal) {
                var number = +val.replace(/[^\d.]/g, "");
                return isNaN(number) ? 0 : parseFloat(number.toFixed(2));
            },
        },
    },
    created() {
        this.getAllCities();
        this.getBanks();
    },
};
</script>

<style scoped>
.label-text-certificate {
  font-size: 0.8rem;
  color: #303133;
}
.m-2 {
  margin: 2%;
}
</style>

