<template lang="html">
    <div>
        <el-card shadow="always" class="box-card">
            <el-form enctype="multipart/form-data" ref="form" status-icon :model="form" :rules="rules" size="medium">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                        <el-form-item class="label-form" label="Tipo de documento" prop="type_document">
                            <el-select v-model="form.type_document" placeholder="Seleccione...">
                                <el-option label="C.C" value="CC"></el-option>
                                <el-option label="C.E" value="CE"></el-option>
                                <el-option label="PASAPORTE" value="PASAPORTE"></el-option>
                                <el-option label="NIT" value="NIT"></el-option>
                                <el-option label="PEP" value="PEP"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                        <el-form-item class="label-form" label="Número de documento" prop="number_document">
                            <el-input v-model.number="form.number_document" maxlength="25" show-word-limit ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                        <el-form-item class="label-form" label="Tipo de persona legal" prop="person_type">
                            <el-select v-model="form.person_type" placeholder="Seleccione...">
                                <el-option label="NATURAL" value="NATURAL"></el-option>
                                <el-option label="JURIDICA" value="JURIDICA"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Numero de Actividad Economica (RUT)" prop="nro_activity_economic">
                            <el-input v-model="form.nro_activity_economic" maxlength="10" show-word-limit placeholder="6201"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item label="Ciudad donde presta el Servicio" prop="city_of_service" class="label-form">
                            <el-select v-on:change="getAllCities()" v-model="form.city_of_service" filterable placeholder="Seleccione...">
                                <el-option v-for="item in all_cities" :key="item.id" :label="item.name" :value="item.name"> </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-col style="text-align: end;">
                    <el-button size="small" style="margin-bottom: 20px;" type="primary" @click="emitSubmit"> <i class="far fa-save"></i> Guardar mis datos</el-button>
                </el-col>
            </el-form>
        </el-card>
    </div>
</template>
<script>
import { mapState } from "vuex";
import axios from "axios";
import { myMixins } from "../../../../Utils/mixins";

export default {
    name: "UserDataPayForm",
    mixins: [myMixins],
    computed: {
        ...mapState("auth", ["authenticate", "user_session"]),
    },
    data() {
        return {
            all_cities: [],
            form: {
                type_document: "",
                number_document: "",
                nro_activity_economic: "",
                person_type: "",
                city_of_service: "",
                resident_country: 0,
                payment_personal: 0,
                rent: 0,
                user_id: "",
                client_id: "1",
            },
            rules: {
                type_document: [
                    {
                        required: true,
                        message: "El tipo de documento es requerido",
                        trigger: "change",
                    },
                ],
                number_document: [
                    {
                        validator: this.validate_number_field,
                        required: true,
                        message: "Debe ser un número",
                        trigger: "blur",
                    },
                    {
                        required: true,
                        message: "El número de documento es requerido",
                        trigger: "blur",
                    },
                ],
                person_type: [
                    { required: true, message: "Campo obligatorio", trigger: "change" },
                ],
                nro_activity_economic: [
                    { required: true, message: "Campo obligatorio", trigger: "blur" },
                ],
                city_of_service: [
                    { required: true, message: "Campo obligatorio", trigger: "change" },
                ],
            },
        };
    },
    methods: {
        getAllCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities/7`;
            axios
                .get(path)
                .then((response) => {
                    this.all_cities = response.data;
                    this.all_cities.push({
                        id: "Fuera del pais",
                        name: "Fuera del pais",
                    });
                })
                .catch((error) => {});
        },
        getMeData(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/user`
            axios.get(path).then((response) => {
                if(response.data != null) {
                    this.form = response.data
                    this.form.number_document = response.data.number_document.replace(/\./g, '');
                }
            })
                .catch((error) => {
                })
        },
        emitSubmit(evt) {
            evt.preventDefault();
            this.form.user_id = this.user_session.id;
            this.form.client_id = "1";
            var form_data = new FormData();

            form_data.append(
                "full_name",
                `${this.user_session.first_name} ${this.user_session.last_name}`
            );
            form_data.append("type_document", this.form.type_document);
            form_data.append("number_document", this.form.number_document);
            form_data.append(
                "nro_activity_economic",
                this.form.nro_activity_economic
            );
            form_data.append("person_type", this.form.person_type);
            form_data.append("city_of_service", this.form.city_of_service);
            form_data.append("resident_country", this.form.resident_country ? 1 : 0);
            form_data.append("payment_personal", this.form.payment_personal ? 1 : 0);
            form_data.append("rent", this.form.rent ? 1 : 0);
            form_data.append("user_id", this.form.user_id);
            form_data.append("client_id", this.form.client_id);

            this.$refs["form"].validate((valid) => {
                if (valid) {
                    this.$emit("sendMeData", form_data);
                    this.button_save = false;
                } else {
                    this.alertRules();
                }
            });
        },
        alertRules() {
            this.button_save = false;
            this.$notify.warning({
                title: "Campos Obligatorios",
                message: "Faltan campos obligatorios por completar",
            });
        },
    },
    filters: {
        currencyDisplay: {
            read: function (val) {
                return val;
            },
            // view -> model
            // formats the value when writing to the data.
            write: function (val, oldVal) {
                var number = +val.replace(/[^\d.]/g, "");
                return isNaN(number) ? 0 : parseFloat(number.toFixed(2));
            },
        },
    },
    created() {
        this.getAllCities();
        this.getMeData();
    },
};
</script>

<style scoped>
.label-text-certificate {
  font-size: 0.8rem;
  color: #303133;
}
.m-2 {
  margin: 2%;
}
.title-card {
    padding: 8px 10px !important;
}
</style>

