<template>
    <el-row :gutter="20">
        <el-container>
            <el-col :xs="24" :sm="24" :md="3" :lg="3" :xl="3">
                <!-- Menu Gamification -->
                <Menu></Menu>
            </el-col>
            <el-col
                :xs="24"
                :sm="24"
                :md="20"
                :lg="20"
                :xl="20"
            >
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="16" :lg="16" :xl="16" style="text-align: left;">
                        <h3>Teams</h3>
                        <el-table
                            :data="teams"
                            :row-class-name="tableRowClassName"
                            empty-text="No teams loaded yet"
                            v-loading="loading"
                            style="width: 100%"
                            >
                            <el-table-column label="name" prop="name"></el-table-column>
                            <el-table-column prop="area" label="Area"> </el-table-column>
                            <el-table-column label="Status" prop="active">
                                <template v-slot="scope">
                                    <el-tag
                                    :type="scope.row.active === 1 ? 'success' : 'danger'"
                                    close-transition>
                                        {{ scope.row.active === 1 ? 'Active' : 'Inactive' }}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column label="Performance" prop="performance">
                                <template v-slot="scope">
                                    <el-tag
                                    :type="scope.row.active === 1 ? 'success' : 'danger'"
                                    close-transition>
                                        {{ scope.row.active === 1 ? '80%' : '10%' }}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column>
                            <template v-slot="scope">
                                <router-link :to="`/admin/gamification/team/${scope.row.id}/detail`">
                                    <el-button
                                    size="small"
                                    type="primary"
                                    round
                                    >
                                        <font-awesome-icon icon="fa-solid fa-gear"/>
                                    </el-button>
                                </router-link>
                                
                            </template>
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
    import axios from "axios";
    import Menu from '@/components/Gamification/Layout/MenuAnalyst.vue';
    import FormTeam from '@/components/Gamification/Forms/TeamForm.vue';

    export default {
        name: "Teams",
        components: {
            Menu,
            FormTeam
        },
        data() {
            return {
                teams: [],
                organization: {}
            };
        },
        methods: {
            onSubmit() {

            },
            getOrganizationData() {
                this.organization = JSON.parse(this.$store.state.user)
            },
            getTeams() {
                if (this.organization.id != undefined) {
                    const path = `https://www.targetsia.xyz/api/team_belong/${this.organization.id}`;
                    axios.defaults.xsrfHeaderName = "X-CSRFToken";
                    axios.defaults.xsrfCookieName = "csrftoken";

                    axios
                        .get(path)
                        .then((response) => {
                            this.teams = response.data;
                        })
                        .catch((error) => { });
                    }
            },
        },
        created() {
            this.getOrganizationData();
            this.getTeams();
        }
    };
</script>