<template lang="html">
    <el-row :gutter="20">
        <el-container>
            <el-col :xs="24" :sm="24" :md="3" :lg="3" :xl="3">
                <!-- Menu Gamification -->
                <Menu></Menu>
            </el-col>
            <el-col style="padding: 1%" :xs="24" :sm="24" :md="14" :lg="14" :xl="14">
                <el-row style="text-align: left;">
                    <el-col>
                        <h2>Team, {{ team_info.name }}</h2>
                        <h5>{{ team_info.description }}</h5>
                    </el-col>
                </el-row>
                
                <el-row :gutter="20">
                    <el-col :span="8">
                        <el-card shadow="never" class="sta-panel">
                            <el-row>
                                <el-col>
                                    <div class="icon-container">
                                        <el-image
                                        style="width: 60px; height: 60px"
                                        src="/icons/members.png"
                                        fit="scale-down"></el-image>
                                        <div>
                                            <span class="sta-description">
                                                Users
                                            </span>
                                            <span class="sta-number"> {{ this.team_info.users_team }} </span>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                    <el-col :span="8">
                        <el-card shadow="never" class="sta-panel">
                            <el-row>
                                <el-col>
                                    <div class="icon-container">
                                        <el-image
                                        style="width: 60px; height: 60px"
                                        src="/icons/targets.png"
                                        fit="scale-down"></el-image>
                                        <div>
                                            <span class="sta-description">
                                                Targets
                                            </span>
                                            <span class="sta-number"> {{ this.team_info.team_targets }} </span>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                    <el-col :span="8">
                        <el-card shadow="never" class="sta-panel">
                            <el-row>
                                <el-col>
                                    <div class="icon-container">
                                        <el-image
                                        style="width: 60px; height: 60px"
                                        src="/icons/performance.png"
                                        fit="scale-down"></el-image>
                                        <div>
                                            <span class="sta-description">
                                                Performance
                                            </span>
                                            <span class="sta-number"> {{ this.team_info.team_performance }} </span>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                </el-row>


                <div class="mt-2" style="text-align: right;">
                    <el-button size="default" class="button-operation" type="primary" @click="display_add_members()" round>
                        <font-awesome-icon icon="fa-solid fa-users" pull="left"/> Add members
                    </el-button>
                    <el-button size="default" class="button-operation" type="success" @click="display_add_targets()" round>
                        <font-awesome-icon icon="fa-solid fa-users" pull="left"/> Add targets
                    </el-button>
                </div>

                <el-row class="mt-1" :gutter="20" v-if="show_detail">
                    <!-- Targets List -->
                    <el-col style="text-align: left;" :xs="24" :sm="24" :md="17" :lg="17" :xl="17">
                        <TargetsList :team_targets="team_targets"></TargetsList>
                    </el-col>
                    <el-col style="text-align: center;" :xs="24" :sm="24" :md="7" :lg="7" :xl="7">
                        <h3>Team Achivement</h3>
                        <el-card shadow="never" class="sta-panel">
                            <div>
                                <el-progress type="dashboard" :percentage="15">
                                    <template #default="{ percentage }">
                                        <span class="percentage-value">{{ percentage }}%</span>
                                        <span class="percentage-label">Progressing</span>
                                    </template>
                                </el-progress>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>

                <el-row class="mt-1" :gutter="20" v-if="show_add_members">
                    <el-col style="text-align: left;" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <h3>
                            <el-button size="small" class="button-operation" type="info" @click="display_dashboard()" round>
                                <font-awesome-icon icon="fa-solid fa-arrow-left" pull="left"/> back
                            </el-button>
                            Add Member
                        </h3>
                        <el-table :data="users_organizations" empty-text="Not targets" :v-loading="loading">
                            <el-table-column
                            type="selection"
                            width="55">
                            </el-table-column>
                            <el-table-column label="Name" prop="first_name">
                                <template v-slot="scope">
                                    {{ scope.row.first_name }} {{ scope.row.last_name }}
                                </template>
                            </el-table-column>
                            <el-table-column label="Email" prop="email"></el-table-column>
                            <el-table-column width="100" label="Status" prop="status">
                                <template v-slot="scope">
                                    <el-tag
                                    :type="scope.row.status === 0 ? 'success' : 'danger'"
                                    close-transition>
                                        {{ scope.row.status === 0 ? 'Active' : 'Inactive' }}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column>
                                <template v-slot="props">
                                    <el-tooltip class="item" effect="dark" content="Add" placement="top-start">
                                        <el-button @click="AddMember(props.row.id)" type="primary" size="small" circle><i class="fas fa-user-plus"></i></el-button>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="margin-top: 20px">
                            <el-button size="default" class="button-operation" type="primary" round>
                                <font-awesome-icon icon="fa-solid fa-circle-plus" pull="left"/> Add selected
                            </el-button>
                        </div>
                    </el-col>
                </el-row>

                <el-row class="mt-1" :gutter="20" v-show="show_add_targets">
                    <el-col style="text-align: left;" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <div>
                            <h3>
                                <el-button size="small" class="button-operation" type="info" @click="display_dashboard()" round>
                                    <font-awesome-icon icon="fa-solid fa-arrow-left" pull="left"/> back
                                </el-button>
                                Add Targets
                            </h3>
                            
                        </div>
                        
                        <el-table :data="all_targets" empty-text="Leaderboard empty" v-loading="loading">
                            <!-- <el-table-column
                            type="selection"
                            width="55">
                            </el-table-column> -->
                            <el-table-column width="250" label="Title" prop="title"> </el-table-column>
                            <el-table-column width="80" prop="value" label="Value"> </el-table-column>
                            <el-table-column width="200" prop="description" label="Description"> </el-table-column>
                            <el-table-column width="100" label="Status" prop="active">
                                <template v-slot="scope">
                                    <el-tag
                                    :type="scope.row.active === 1 ? 'success' : 'danger'"
                                    close-transition>
                                        {{ scope.row.active === 1 ? 'Active' : 'Inactive' }}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column>
                                <template v-slot="props">
                                    <el-tooltip class="item" effect="dark" content="Add" placement="top-start">
                                        <el-button @click="AddTarget(props.row.id)" type="primary" size="small" circle><i class="fas fa-plus"></i></el-button>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                        <!-- <div style="margin-top: 20px">
                            <el-button size="medium" class="button-operation" type="primary" round>
                                <font-awesome-icon icon="fa-solid fa-circle-plus" pull="left"/> Add selected
                            </el-button>
                        </div> -->
                    </el-col>
                </el-row>

            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6" class="m-1">
                <!-- Menu Gamification -->
                <el-row>
                    <el-col style="text-align: left;" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <h3>Team Leader</h3>
                        <el-card shadow="never" class="sta-panel">
                            <el-row>
                                <el-col>
                                    <div>
                                        <div class="icon-container">
                                            <el-avatar :size="100" src=""></el-avatar>
                                        </div>
                                        <div class="icon-container">
                                            <span class="profile-description">
                                                <span class="sta-number"> {{ this.team_info.team_leader }} </span>
                                            </span>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                    <el-col style="text-align: left;" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <h3>Members</h3>
                        <el-table :data="members" empty-text="Not targets" v-loading="loading">
                            <el-table-column width="150" label="Name" prop="first_name">
                                <template v-slot="scope">
                                    {{ scope.row.first_name }} {{ scope.row.last_name }}
                                </template>
                            </el-table-column>
                            <el-table-column width="100" label="Status" prop="status">
                                <template v-slot="scope">
                                    <el-tag
                                    :type="scope.row.status === 'active' ? 'success' : 'danger'"
                                    close-transition>
                                        {{ scope.row.status === 'active' ? 'Active' : 'Inactive' }}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column>
                                <template v-slot="scope">
                                    <el-tooltip class="item" effect="dark" content="Delete" placement="top-start">
                                        <el-button type="danger" size="small" circle @click="deleteUserTeam(scope.row.user_team_id)"><i class="fa fa-times"></i></el-button>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
import axios from "axios";

import { alerts } from "@/Utils/alerts.js";
import Menu from '@/components/Gamification/Layout/Menu.vue'
import TargetsList from '@/components/Gamification/Target/TargetsList.vue'

export default {
    mixins: [alerts],
    components: {
        Menu,
        TargetsList
    },
    data() {
        return {
            members: [],
            users_organizations: [],
            team_info: {},
            team_targets: [],
            all_members: [],
            all_targets: [],
            user: {},
            show_detail: true,
            show_add_members: false,
            show_add_targets: false,
            loading: false,
            search_user: "",
            search_targets: "",
        };
    },
    methods: {
        getUserData() {
            this.user = JSON.parse(this.$store.state.user)
        },
        AddTarget(target_id) {
            const path = `https://www.targetsia.xyz/api/gamification/teams/target`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            var data = {
                "team_id": this.team_info.id,
                "target_id": target_id,
                "assign_all_users": true
            }
            
            axios({
                url: path,
                method: "POST",
                data: data,
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*"
                }
            })
                .then(response => {
                    this.alertMessage("Congrats, Assigned goal", "success");
                    this.getTargetsTeam();
                })
                .catch(error => {

                });

        },
        AddMember(user_id) {
            const path = `https://www.targetsia.xyz/api/gamification/users_team`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            var data = {
                "team_id": this.team_info.id,
                "user_id": user_id
            }
            
            axios({
                url: path,
                method: "POST",
                data: data,
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*"
                }
            })
                .then(response => {
                    this.alertMessage("Congrats, Assigned member", "success");
                    this.getMembersTeam();
                    this.getAllUsers()
                })
                .catch(error => {

                });

        },
        getInfoTeam(id){
            if (this.user.org != undefined) {
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";
                axios.defaults.headers.common[
                    "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;

                const path =
                    `https://www.targetsia.xyz/api/v2/organization/${this.user.org.id}/gamification/team/${id}`;
                axios
                    .get(path)
                    .then((response) => {
                        this.team_info = response.data;
                        this.getMembersTeam();
                        this.getTargetsTeam();
                    })
                    .catch((error) => {
                        this.loading = false;
                    });
            }
            
        },
        getMembersTeam(page) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `https://www.targetsia.xyz/api/gamification/users_team/${this.team_info.id}`;
            axios
                .get(path)
                .then((response) => {
                    this.members = response.data;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },
        getTargetsTeam(page) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `https://www.targetsia.xyz/api/gamification/teams/targets/${this.team_info.id}`;
            axios
                .get(path)
                .then((response) => {
                    this.team_targets = response.data;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },
        getAllTargets(page) {
            if (this.user.org != undefined) {
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";
                axios.defaults.headers.common[
                    "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;

                const path =
                    `https://www.targetsia.xyz/api/v2/organization/${this.user.org.id}/gamification/targets`;
                axios
                    .get(path)
                    .then((response) => {
                        this.all_targets = response.data;
                        this.loading = false;
                    })
                    .catch((error) => {
                        this.loading = false;
                    });
            }

        },
        getAllUsers(page) {
            if (this.user.org != undefined) {
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";
                axios.defaults.headers.common[
                    "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;

                const path =
                    `https://www.targetsia.xyz/api/v2/organization/${this.user.org.id}/users/all`;
                axios
                    .get(path)
                    .then((response) => {
                        this.users_organizations = response.data;
                        this.loading = false;
                    })
                    .catch((error) => {
                        this.loading = false;
                    });
            }

        },
        deleteUserTeam(user_team_id){
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `https://www.targetsia.xyz/api/gamification/users_team/${user_team_id}`;
            axios
                .delete(path)
                .then((response) => {
                    this.getMembersTeam();
                    this.getAllUsers()
                    this.alertMessage("Congrats, Delete member", "success");
                })
                .catch((error) => {
                    this.loading = false;
                });
        },
        display_add_members() {
            this.getAllUsers();

            this.show_detail = false
            this.show_add_targets = false
            this.show_add_members = true
        },
        display_add_targets() {
            this.getAllTargets();

            this.show_detail = false
            this.show_add_targets = true
            this.show_add_members = false
        },
        display_dashboard() {
            this.show_detail = true
            this.show_add_targets = false
            this.show_add_members = false
        }
    },
    created() {
        this.getUserData();
        this.getInfoTeam(this.$route.params.id);
        this.link = document.createElement("a");
        this.body = document.body;
    },
};
</script>

<style scoped>
.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.el-card__header {
    background-color: #00a0db;
    color: white;
}

.btn-danger {
    color: #fff;
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
}

.el-dialog__title {
    font-weight: 600 !important;
}

.el-table__body,
.el-table__footer,
.el-table__header {
    width: 100% !important;
}

.container {
    justify-content: center;
    height: 1px;
}

.percentage-value {
  display: block;
  margin-top: 10px;
  font-size: 28px;
}
.percentage-label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}
.demo-progress .el-progress--line {
  margin-bottom: 15px;
  width: 350px;
}
.demo-progress .el-progress--circle {
  margin-right: 15px;
}
</style>
