<template>
    <el-row :gutter="20">
        <el-container>
            <el-col :xs="24" :sm="24" :md="3" :lg="3" :xl="3">
                <!-- Menu Gamification -->
                <Menu></Menu>
            </el-col>
            <el-col
                :xs="24"
                :sm="24"
                :md="20"
                :lg="20"
                :xl="20"
            >
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="9" :lg="9" :xl="9" style="text-align: left;">
                        <h3>Create Team</h3>
                        <!-- Target Form -->
                        <FormTeam @syncTeams="getTeams"></FormTeam>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="14" :lg="14" :xl="14" style="text-align: left;">
                        <h3>Teams</h3>
                        <el-table
                            :data="teams"
                            :row-class-name="tableRowClassName"
                            empty-text="No teams loaded yet"
                            v-loading="loading"
                            style="width: 100%"
                            >
                            <!-- <el-table-column
                            type="selection"
                            width="55">
                            </el-table-column> -->
                            <el-table-column label="name" prop="name"></el-table-column>
                            <el-table-column prop="area" label="Area"> </el-table-column>
                            <el-table-column width="100" label="Status" prop="active">
                                <template v-slot="scope">
                                    <el-tag
                                    :type="scope.row.active === 1 ? 'success' : 'danger'"
                                    close-transition>
                                        {{ scope.row.active === 1 ? 'Active' : 'Inactive' }}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column>
                                <template v-slot="scope">
                                    <el-button @click = "displayModal(scope.row)" type="primary" circle>
                                        <i class="fa fa-pencil fa-xs" aria-hidden="true"></i>
                                    </el-button>
                                </template>
                            </el-table-column>
                            <el-table-column>
                            <template v-slot="scope">
                                <router-link :to="`/admin/gamification/team/${scope.row.id}/detail`">
                                    <el-button
                                    size="small"
                                    type="primary"
                                    round
                                    >
                                        <font-awesome-icon icon="fa-solid fa-gear"/>
                                    </el-button>
                                </router-link>
                            </template>
                            </el-table-column>
                        </el-table>
                        <!-- <div style="margin-top: 20px">
                            <el-button style="width: 20%;" size="large" class="button-login" type="danger" round>
                                <font-awesome-icon icon="fa-solid fa-trash" pull="left"/> Delete
                            </el-button>
                        </div> -->
                    </el-col>
                </el-row>
            </el-col>

            <el-dialog v-model="dialogFormVisible" class="label-form" title="Edit team" width="23%">
                <el-form
                    ref="basicForm"
                    :model="basicForm"
                    label-position="top"
                    label-width="100px"
                    style="width: 100%"
                >   
                    <div class="modal-body">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item class="label-form" label="Name" :label-width="formLabelWidth">
                                <el-input v-model="basicForm.name" autocomplete="off" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item class="label-form" label="Area" :label-width="formLabelWidth" prop="area_id">
                                <el-select size="large" v-model="basicForm.area_id" filterable placeholder="Please select a area">
                                    <el-option
                                        v-for="item in areas"
                                        :key="item.name"
                                        :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item class="label-form" label="Team leader" prop="leader_id">
                                <el-select size="large" v-model="basicForm.leader_id" placeholder="Select">
                                    <el-option
                                        v-for="item in users_org"
                                        :key="item.first_name"
                                        :label="item.first_name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item class="label-form" label="Description" :label-width="formLabelWidth" prop="description">
                                <el-input
                                    type="textarea"
                                    v-model="basicForm.description"
                                    size="large"
                                    maxlength="600"
                                    show-word-limit
                                ></el-input>
                            </el-form-item>
                        </el-col>
                    </div>  
                </el-form>
                <template #footer>
                    <span class="dialog-footer">
                        <el-col :xs="24" :sm="24" :md="13" :lg="13" :xl="13">
                            <el-button @click="dialogFormVisible = false">Cancel</el-button>
                            <el-button type="primary" @click="onSubmit(basicForm)">
                            Update
                            </el-button>
                        </el-col>
                    </span>
                </template>
            </el-dialog>
        </el-container>
    </el-row>
</template>

<script setup>
 const formLabelWidth = '130px'
</script>

<script>
    import axios from "axios";
    import Menu from '@/components/Gamification/Layout/Menu.vue';
    import FormTeam from '@/components/Gamification/Forms/TeamForm.vue';
    import { ElButton, ElDialog } from 'element-plus'
    import { alerts } from "@/Utils/alerts.js";

    export default {
        mixins: [alerts],
        name: "Teams",
        components: {
            Menu,
            FormTeam
        },
        data() {
            return {
                teams: [],
                organization: {},
                showModal: false,
                dialogFormVisible: false,
                team_user: {},
                basicForm: {
                    name: "",
                    area_id: "",
                    description:"",
                    client_id: 1,
                    leader_id:""
                },
                rules: {
                name: [
                    { required: true, message: "Name is required", trigger: "blur" },
                ],
                description: [
                    { required: false, message: "Description is null", trigger: "blur" },
                ],
                area_id: [
                    {
                        required: true,
                        message: "Area is required",
                        trigger: "blur",
                    },
                ],
            },
            areas: [],
            users_org: []
            };
        },
        methods: {
            async onSubmit(formName) {
            const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/gamification/team/${this.team_user.id}`;
                console.log(formName);
            this.$refs['basicForm'].validate((valid) => {
                if (valid) {
                    
                    this.basicForm.client_id = this.organization.org.id;

                    axios({
                        url: path,
                        method: "PUT",
                        data: this.basicForm,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                        },
                    })
                        .then((response) => {
                            // console.log("Save", response)
                            // this.$refs["basicForm"].resetFields();
                            // this.$emit("syncTeams");
                            this.dialogFormVisible = false;
                            this.alertMessage("Congrats, Team update", "success");
                            this.getTeams();
                    })
                        .catch((error) => {
                            
                    });
                } else {
                    this.fullScreenLoading = false
                    console.log("Campos vacios")
                }
            })
        },
            getOrganizationData() {
                this.organization = JSON.parse(this.$store.state.user)
            },
            getTeams() {
                if (this.organization.org != undefined) {
                    const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/gamification/teams`;
                    axios.defaults.xsrfHeaderName = "X-CSRFToken";
                    axios.defaults.xsrfCookieName = "csrftoken";

                    axios
                        .get(path)
                        .then((response) => {
                            this.teams = response.data;
                        })
                        .catch((error) => { });
                    }
            },

            getAreas() {
                const path = `https://www.targetsia.xyz/api/gamification/area`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.areas = response.data;
                    })
                    .catch((error) => { });
            },

            getUsers() {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/users/all`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.users_org = response.data;
                        
                    })
                    .catch((error) => { });
            },

            displayModal(team) {
                this.dialogFormVisible = true;

                this.team_user.id = team.id;

                this.basicForm.name = team.name;
                this.basicForm.area_id = team.area_id;
                this.basicForm.leader_id = team.leader_id;
                this.basicForm.description = team.description;
            }
        },
        created() {
            this.getOrganizationData();
            this.getTeams();
            this.getAreas();
            this.getUsers();
        }
    };
</script>

<style scoped>
    .button-container { 
        display: flex;
        justify-content: center;
    }
    .modal-body {
        margin: 3%;
    }
    .dialog-footer button {
        margin-right: 10px;
        margin-top: 25%;
    }
</style>