<template>
    <div>
        <el-dialog
            @input="$emit('update:dialog', $event.target.value)"
            width="90%"
            :before-close="closeModal"
            center>
            <h2 style="text-align: left">Información del contratos</h2>
            <form-wizard
                @on-complete="saveContract" v-loading.fullscreen.lock="fullscreenLoading" color="#3498db" error-color="#b17070" shape="tab"
                subtitle="Completa la informacion de este formulario para crear el contrato"
                title=""
                back-button-text="Regresar"
                next-button-text="Continuar"
                finish-button-text="Guardar"
                style="font-weight: 600 !important;">
                <tab-content v-if="type_user == 'developer' && action != 'edit'" title="Seleccionar candidato" icon="el-icon-user-solid" :before-change="beforeTabSwitch">
                    <el-form ref="form_candidate" :rules="rules_candidate" :model="form_candidate" label-position="right">
                        <el-row :gutter="20">
                            <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-form-item prop="candidate_id" label="Desarrollador" class="label-form">
                                    <el-select v-model="form_candidate.candidate_id" filterable placeholder="Selecciona un desarrollador" v-on:change="findDeveloperInfo(form_candidate.candidate_id)">
                                        <el-option v-for="item in developers" :key="item.id" :label="item.surname" :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-form-item class="label-form" label="Tipo de documento" prop="type_document_representative_legal">
                                    <el-select v-model="form_candidate.type_document_representative_legal" placeholder="Seleccione...">
                                        <el-option label="C.C" value="CC"></el-option>
                                        <el-option label="C.E" value="CE"></el-option>
                                        <el-option label="PASAPORTE" value="PASAPORTE"></el-option>
                                        <el-option label="NIT" value="NIT"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-form-item class="label-form" label="Numero de documento" prop="number_document_representative_legal">
                                    <el-input v-model="form_candidate.number_document_representative_legal" maxlength="25" show-word-limit type="text"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-form-item label="Ciudad de expedición" prop="city_expedition_name_representative_legal" class="label-form">
                                    <el-select v-on:change="getAllCities()" v-model="form_candidate.city_expedition_name_representative_legal" filterable placeholder="Seleccione...">
                                        <el-option v-for="item in all_cities" :key="item.id" :label="item.name" :value="item.name"> </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </tab-content>
                <tab-content title="Datos del contrato" icon="el-icon-edit" :before-change="validateFirstStep">
                    <el-form
                        ref="form"
                        :model="form"
                        :rules="rules"
                        status-icon
                        label-position="right" >
                        <div>
                            <el-row :gutter="20">
                                <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12" v-if=" type_user == 'developer' && action != 'edit'">
                                    <el-form-item class="label-form" label="Tipo de Contrato" prop="type_contract">
                                        <el-select v-model="form.type_contract" placeholder="Seleccione...">
                                            <!-- <el-option label="Termino Indefinido" value="Termino Indefinido"></el-option> -->
                                            <el-option label="Prestación de servicios" prefix value=1></el-option>
                                            <!-- <el-option label="Mandato" value="Mandato"></el-option> -->
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12" v-if="type_user == 'developer'">
                                    <el-form-item class="label-form" label="Cargo" prop="position">
                                        <el-input v-model="form.position" maxlength="50" show-word-limit type="text"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="12" :sm="12" :md="4" :lg="4" :xl="4">
                                    <el-form-item
                                        class="label-form"
                                        label="Tipo de moneda"
                                        prop="type_currency">
                                        <el-select v-model="form.type_currency" placeholder="Seleccione...">
                                            <el-option label="Pesos colombianos" prefix value="COP"></el-option>
                                            <el-option label="Dolar estadounidense" value="USD"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="12" :sm="12" :md="10" :lg="10" :xl="10">
                                    <el-form-item
                                        class="label-form"
                                        label="Valor del contrato en numeros"
                                        prop="contract_value_number">
                                        <el-input
                                            v-model="form.contract_value_number"
                                            maxlength="20"
                                            show-word-limit
                                            @input="getValueInLetters"
                                        ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="12" :sm="12" :md="10" :lg="10" :xl="10">
                                    <el-form-item
                                        class="label-form"
                                        label="Valor del contrato en letras"
                                        prop="contract_value_letter"
                                    >
                                        <el-input
                                            v-model="form.contract_value_letter"
                                            maxlength="150"
                                            show-word-limit
                                            type="text"
                                            readonly
                                        ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                    <el-form-item
                                        class="label-form"
                                        label="Fecha de inicio"
                                        prop="start_contract_date"
                                    >
                                        <el-date-picker
                                            v-model="form.start_contract_date"
                                            type="date"
                                            format="yyyy/MM/dd"
                                            value-format="yyyy-MM-dd"
                                            style="width: 100%"
                                            placeholder="Fecha Inicio"
                                            size="medium"
                                        >
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>

                                <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                    <el-form-item
                                        class="label-form"
                                        label="Fecha de vencimiento"
                                        prop="end_date"
                                    >
                                        <el-date-picker
                                            v-model="form.end_date"
                                            type="date"
                                            format="yyyy/MM/dd"
                                            value-format="yyyy-MM-dd"
                                            style="width: 100%"
                                            placeholder="Fecha Final"
                                            size="medium">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                    <el-form-item
                                        class="label-form"
                                        label="Tecnologias a aplicar"
                                        prop="lenguage_programming"
                                    >
                                        <el-input
                                            type="textarea"
                                            v-model="form.lenguage_programming"
                                            placeholder="Lenguaje de Programación"
                                        >
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </div>
                    </el-form>
                </tab-content>
                <tab-content title="Preview" icon="el-icon-s-order">
                    <!-- <div id="editor1">
                        <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
                    </div> -->
                </tab-content>
            </form-wizard>
        </el-dialog>
    </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import axios from "axios";
import { myMixins } from "../../Utils/mixins";
import NumerosALetras from "numero-a-letras";
window.convertir=require('numero-a-letras');
// import { FormWizard, TabContent } from "vue-form-wizard";
// import "vue-form-wizard/dist/vue-form-wizard.min.css";
import {contractClient} from '../../Utils/contract_client';
import {myContracts} from '../../Utils/contract_candidato';
// import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
    name: "Form",
    mixins: [myMixins, contractClient, myContracts],
    computed: {
        ...mapState("auth", ["authenticate", "user_session"]),
    },
    props: ["dialog", "client", "close", "type_user", "action"],
    components: {
        // FormWizard,
        // TabContent,
    },
    watch: {
        client: function (newVal, oldVal) {
            this.client_obj = newVal
            if (this.action == 'edit' ) {
                this.form = newVal
                this.editorData = newVal.content_contract;
                this.url = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract/update/${newVal.id}`;
            }
        },
        dialog: function (val) {
            if (val){
                this.loadingButton = false
            }
        },
    },
    data() {
        var validateEndDate = (rule, value, callback) => {
            if (value < this.form.start_contract_date) {
                callback(new Error("La fecha de egreso debe ser posterior al ingreso"));
            } else {
                null;
            }
        };
        var validate_number_field = (rule, value, callback) => {
            var letters = `%&/^(([^<>()\[\]\\.,;!¡¿?={#*}:\@"]+(\.[^'<>()\[\]\\.,;:\@"]+[aAbBcCdDeEfFgGhHiIjJkKlLmMnNñÑoOpPqQrRsStTuUvVwWxXyYzZ])*)|(".+"))@((\[\])|(([\-]+\.)+[-]{,}))$/`;
            for (var i of value) {
                if (letters.includes(i)) callback(new Error());
            }
            callback();
        };
        return {
            dialogFormVisible: false,
            name: 'editor1',
            // editor: ClassicEditor,
            editorData: '<p>Content of the editor.</p>',
            editorConfig: {
                // The configuration of the editor.
            },
            fullscreenLoading: false,
            url: "",
            all_cities: [],
            countries: [],
            cities: [],
            citiesfill: [],
            developers: [],
            client_obj: {},
            form_candidate: {
                candidate_id: "",
                client_uuid: "",
                type_document_representative_legal: "",
                number_document_representative_legal: "",
                city_expedition_name_representative_legal: ""
            },
            form: {
                client_uuid: "",
                lenguage_programming: "",
                contract_duration: "",
                contract_value_number: "",
                contract_value_letter: "",
                start_contract_date: "",
                end_date: "",
                type: "client",
                type_contract: "",
                type_currency: "",
                position: ""
            },
            rules: {
                type_currency: [
                    {
                        required: true,
                        message: "Campo requerido",
                        trigger: "blur",
                    },
                ],
                lenguage_programming: [
                    {
                        required: true,
                        message: "Campo requerido",
                        trigger: "blur",
                    },
                ],
                contract_value_number: [
                    {
                        required: true,
                        message: "Campo requerido",
                        trigger: "blur",
                        validator: this.validate_number_field
                    },
                ],
                contract_value_letter: [
                    {
                        required: true,
                        message: "Campo requerido",
                        trigger: "blur",
                    },
                ],
                start_contract_date: [
                    {
                        required: true,
                        message: "fecha de ingreso no válida",
                        trigger: "blur",
                    },
                ],
                end_date: [
                    {
                        required: true,
                        message: "fecha de finalización no válida",
                        trigger: "blur",
                        validator: this.validateEndDate
                    },
                ],
            },
            rules_candidate: {
                candidate_id: [
                    {
                        required: true,
                        message: "Campo requerido",
                        trigger: "blur",
                    },
                ],
            },
        };
    },
    methods: {
        validateFirstStep() {
            console.log(this.form)
            this.syncData(this.form, this.type_user);
            return new Promise((resolve, reject) => {
                this.$refs["form"].validate((valid) => {
                    resolve(valid);
                    if (valid) {
                        return true;
                    }
                });
            });
        },
        beforeTabSwitch() {
            this.asignDeveloper()
            return true;
        },
        syncData(data, type_user) {
            this.form.type_user = type_user;
            this.form.start_date = this.form.start_contract_date;
            this.form.contract_value = this.form.contract_value_letter;

            if (type_user == "developer") {
                console.log("datos", this.form_candidate)
                this.form.client_uuid = this.client.uuid;
                this.form.user_id = this.form_candidate.candidate_id;
                this.form.full_name_legal = this.form_candidate.full_name_legal == null ? this.client.full_name_legal : this.form_candidate.full_name_legal;
                this.form.company_name = this.client.company_name;
                this.form.type_document_representative_legal = this.client.type_document_representative_legal;
                this.form.number_document_representative_legal = this.client.number_document_representative_legal;
                this.form.city_expedition_name_representative_legal = this.form_candidate.city_expedition_name_representative_legal;
                this.form.country_representative_legal = this.client.country_representative_legal;
                // this.form.city_resident_name_representative_legal = this.client.city_expedition_name_representative_legal;
                this.form.email_legal_representative = this.client.email_legal_representative;
                this.form.rut = this.client.rut;
                this.url = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract/create/${this.form_candidate.candidate_id}/developer`;
                if (this.action == 'edit') {
                    this.url = `${process.env.VUE_APP_URL_API_BACKEND}/api/contrac-update/${this.client.uuid}`;
                }

                this.editorData = this.getContractCandidate(this.form)
            }

            if (type_user == "client") {
                this.form.user_id = 0;
                this.form.client_uuid = this.client.uuid;
                this.form.full_name_legal = this.client.responsable;
                this.form.company_name = this.client.company_name;
                this.form.type_document_representative_legal = this.client.type_document_representative_legal;
                this.form.number_document_representative_legal = this.client.number_document_representative_legal;
                this.form.city_expedition_name_representative_legal = this.client.city_expedition_name_representative_legal;
                this.form.country_representative_legal = this.client.country_representative_legal;
                this.form.city_resident_name_representative_legal = this.client.city_resident_name_representative_legal;
                this.form.email_legal_representative = this.client.email_legal_representative;
                this.form.rut = this.client.rut;
                this.url = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract/create/${this.form.client_uuid}/client`;
                this.editorData = this.getContractCustomer(this.form)
            }

            console.log("tipo usuario", type_user)
        },
        saveContract() {
            const path = this.url;
            this.fullscreenLoading = true,
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            this.form.content_contract = this.editorData;

            this.fullscreenLoading = true;
            console.log('Valores a enviar', this.form)
            axios({
                url: path,
                method: "POST",
                data: this.form,
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                },
            })
                .then((response) => {
                    if (this.action != 'edit') this.resetForm();
                    this.alertSuccess("Accion realizada con exito");
                    this.$emit("close");
                    this.dialogFormVisible = false;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    console.log(error)
                    this.alertError();
                    this.fullscreenLoading = false;
                });
        },
        asignDeveloper(){
            this.form_candidate.client_uuid = this.client.uuid;
            this.sendAssginDeveloper()
        },
        sendAssginDeveloper() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/client/assing-developer/${this.client.uuid}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "POST",
                data: this.form_candidate,
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                },
            }).then((response) => {
                console.log("developer", response.data)
                this.form_candidate.full_name_legal = `${response.data.namecandidate} ${response.data.lastnamecandidate}`
                this.form_candidate.full_name_legal = `${response.data.namecandidate} ${response.data.lastnamecandidate}`
                this.alertSuccess("Candidato asignado con exito");
            }).catch((error) => {
                this.alertError();
            });

            return new Promise((resolve, reject) => {
                this.$refs["form_candidate"].validate((valid) => {
                    resolve(valid);
                    if (valid) {
                        return true;
                    }
                });
            });
        },
        getAllCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities`;
            axios
                .get(path)
                .then((response) => {
                    this.all_cities = response.data;
                })
                .catch((error) => {});
        },
        getCountries() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/country`;
            axios
                .get(path)
                .then((response) => {
                    this.countries = response.data;
                    this.getCitis();
                })
                .catch((error) => {});
        },
        getCitis() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities/${this.form.country}`;
            axios
                .get(path)
                .then((response) => {
                    this.citiesfill = response.data;
                })
                .catch((error) => {});
        },

        getCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities`;
            axios
                .get(path)
                .then(response => {
                    this.cities = response.data;
                })
                .catch(error => {});
        },
        resetForm() {
            this.$refs["form"].resetFields();
        },
        alertSuccess(msg) {
            this.$message({
                message: msg,
                type: 'success'
            });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente."
            });
        },
        closeModal() {
            this.$emit("close");
        },
        getDevelopers() {
            this.fullscreenLoading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/all`;
            axios
                .get(path)
                .then((res) => {
                    let developers = [];
                    for (let i = 0; i < res.data.length; i++) {
                        const d = res.data[i];
                        d.surname = `${d.namecandidate} ${d.lastnamecandidate}`;
                        developers.push(d);
                    }
                    this.developers = developers;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.fullscreenLoading = false;
                });
        },
        findDeveloperInfo(developerId) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/find/${developerId}`;
            axios
                .get(path)
                .then((res) => {
                    this.form_candidate.number_document_representative_legal = res.data.number_document;
                    this.form_candidate.city_expedition_name_representative_legal = res.data.city_expedition_document;
                    this.form_candidate.type_document_representative_legal = res.data.type_document;
                })
                .catch((error) => {
                    console.error(error);
                });
        },
        getValueInLetters(value) {
            const letterNum = convertir.NumerosALetras(Number(value));
            if (letterNum) {
                if (this.form.type_currency == "USD") {
                    this.form.contract_value_letter = letterNum.replace('00/100 M.N.', '');
                } else {
                    this.form.contract_value_letter = letterNum.replace('00/100 M.N.', '');
                }
            }
        },
    },
    created() {
        this.getAllCities();
        this.getCountries();
        this.getCities();
        this.getDevelopers();

        this.editorData = ""
    },
};
</script>

<style>
    .el-dialog__body {
        padding: 0px 20px !important;
        color: #606266;
        font-size: 14px;
        word-break: break-all;
    }

    .vue-form-wizard .wizard-header {
        display: none;
    }
</style>
