<template lang="html">
    <el-col>
        <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%;">
            <el-row style="padding: 2%;">
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <el-row>
                        <el-col class="text-left" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                            <h3><i class="fas fa-folder-open"></i> Documentos</h3>
                        </el-col>
                        <el-col style="text-align: end" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-button @click="show_modal = true" v-if="add_button_show" size="mini" type="primary">
                                <i class="fas fa-plus-circle"></i> Agregar
                            </el-button>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col>
                            <el-table :data="files" style="width: 100%">
                                <el-table-column label="Tipo">
                                    <template slot-scope="scope">
                                        <span class="capitalize">
                                            {{ capitalize(replaceString(scope.row.type_document, '_', ' ')) }}
                                        </span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="Fecha">
                                    <template slot-scope="scope">
                                        <span>{{ printDateRequest(scope.row.created_at) }}</span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="Operaciones">
                                    <template slot-scope="scope">
                                        <el-tooltip class="item" effect="dark" content="Ver" placement="top-start">
                                            <el-button size="small" type="primary" circle
                                                       @click="showFile(scope.row.filename)"><i class="fas fa-file"></i>
                                            </el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="Eliminar documento"
                                                    placement="top-start">
                                            <el-button size="small" type="danger" circle
                                                       @click="confirmDeleteFile(scope.row.uuid)">
                                                <i class="fas fa-trash-alt"></i>
                                            </el-button>
                                        </el-tooltip>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-card>

        <el-dialog
            title="Adjunta un documento"
            width="30%"
            center
        >
            <el-form ref="form" :model="form" size="medium" label-position="right">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item label="Selecciona el tipo de documento" class="label-form">
                            <el-select v-model="form.document_type" @change="validFile(form.document_type)">
                                <el-option
                                    v-for="item in list_documents"
                                    :key="item.id"
                                    :label="capitalize(replaceString(item,'_', ' '))"
                                    :value="item">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row v-if="visible_form_details_contract" :gutter="20">
                    <el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">
                        <el-form-item
                            class="label-form"
                            label="Fecha inicio"
                            prop="start_contract_date"
                        >
                            <el-date-picker
                                v-model="form.start_contract_date"
                                type="date"
                                format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd"
                                style="width: 100%"
                                placeholder="Fecha Inicio"
                                size="medium"
                            >
                            </el-date-picker>
                        </el-form-item>
                    </el-col>

                    <el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">
                        <el-form-item
                            class="label-form"
                            label="Fecha fin"
                            prop="end_date"
                        >
                            <el-date-picker
                                v-model="form.end_date"
                                type="date"
                                format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd"
                                style="width: 100%"
                                placeholder="Fecha Final"
                                size="medium">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row v-if="visible_form_details_contract">
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item
                            class="label-form"
                            label="Valor del contrato en numeros"
                            prop="contract_value_number">
                            <el-input
                                v-model="form.contract_value_number"
                                maxlength="100"
                                show-word-limit
                                type="text"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row v-if="visible_form_details_dni" :gutter="20">
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Tipo de documento" prop="type_document">
                            <el-select v-model="form.type_document" placeholder="Seleccione...">
                                <el-option label="C.C" value="CC"></el-option>
                                <el-option label="C.E" value="CE"></el-option>
                                <el-option label="PASAPORTE" value="PASAPORTE"></el-option>
                                <el-option label="NIT" value="NIT"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Numero de documento" prop="number_document">
                            <el-input v-model="form.number_document" maxlength="25" show-word-limit
                                      type="text"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item label="Ciudad de Expedición" class="label-form">
                            <el-select v-model="form.city_expedition_document">
                                <el-option
                                    v-for="city in cities"
                                    :key="city.id"
                                    :label="city.name"
                                    :value="city.name">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-form-item label="Descripción" class="label-form" v-if="form.document_type !== null">
                        <el-upload
                            class="upload-demo"
                            ref="documento_de_identidad"
                            accept="image/png, image/jpeg, application/pdf"
                            drag
                            :data="{type: form.document_type}"
                            :multiple="false"
                            :limit="1"
                            :action="upload_file_url"
                            :headers="headers_files"
                            :on-remove="deleteUpload"
                            :file-list="form.files">
                            <div class="el-upload__text">Suelta tu archivo aquí o <em>haz clic para cargar</em></div>
                            <div slot="tip" class="el-upload__tip">
                                <span>Solo archivos jpg/png/pdf con un tamaño menor de 500kb</span>
                            </div>
                        </el-upload>
                    </el-form-item>
                </el-row>
                <el-row :gutter="20" type="flex" justify="end">
                    <!-- <el-col :span="120" style="margin-top: 3%">
                        <el-form-item size="large">
                            <el-button type="primary" @click="sendForm()">Guardar</el-button>
                            <el-button @click="closeModal(user_uuid)">Cerrar</el-button>
                        </el-form-item>
                    </el-col> -->
                </el-row>
            </el-form>
        </el-dialog>
    </el-col>
</template>

<script>
import {myMixins} from '../../../Utils/mixins'
import axios from "axios";

export default {
    name: "DocumentForm",
    mixins: [myMixins],
    props: ["user_uuid", "user_id_int", "add_button_show", "type_user", "cities"],
    watch: {
        // user_uuid: function (newVal, oldVal) {
        //     this.user_uuid = newVal;
        //     this.upload_file_url = `${process.env.VUE_APP_URL_API_BACKEND}/api/document/upload-file-profile/${newVal}`
        //     this.getDocuments(newVal);
        // },
        // user_id_int: function (newVal, oldVal) {
        //     this.user_id_int = newVal
        // }
    },
    data() {
        return {
            form: {
                document_type: null,
                type_document: null,
                number_document: null,
                city_expedition_document: null,
                start_contract_date: "",
                end_date: "",
                contract_value_number: 0,
                contract_value: "N/A",
                files: []
            },
            files: [],
            headers_files: {
                Authorization: `Bearer ${localStorage.getItem("api_token")}`
            },
            upload_file_url: `${process.env.VUE_APP_URL_API_BACKEND}/api/document/upload-file-profile/${this.user_uuid}`,
            list_documents: [],
            show_modal: false,
            type_user_props: "candidate",
            visible_form_details_contract: false,
            visible_form_details_dni: false
        }
    },
    beforeMount() {
        this.type_user_props = this.type_user;
        this.getDocuments(this.user_uuid);
    },
    methods: {
        getDocuments(uuid = this.user_uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/document/get-files-profile/${uuid}?type_user=${this.type_user_props}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "get"
            }).then(res => {
                this.files = res.data.documents;
                this.list_documents = res.data.list_document;
            });
        },
        confirmDeleteFile(uuid) {
            swal({
                title: "¿Está seguro de eliminar el documento?",
                text: "En caso de eliminarlo, puede cargar uno nuevamente",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    this.deleteFile(uuid);
                } else {

                }
            });
        },
        deleteFile(uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/document/delete-file-profile/${uuid}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;

            axios({
                url: path,
                method: "DELETE"
            }).then(res => {
                this.getDocuments();
            });
        },
        showFile(filename) {
            let extension = filename.split(".", 2);
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/get-document/${filename}`;
            axios.get(path, {
                responseType: "blob",
                Accept: `application/${extension[1]}`
            }).then(response => {
                const url = window.URL.createObjectURL(new Blob([response.data], {
                    type: `application/${extension[1]}`
                }));

                this.link.href = url;
                this.link.target = "_blank";
                this.link.removeAttribute("download");
                this.body.appendChild(this.link);
                this.link.click();
            }).catch(error => {
            });
        },
        deleteUpload(file, fileList) {
            let uuid = file.uuid;
            if (file.response != undefined) uuid = file.response.uuid;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/document/delete-file-profile/${uuid}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.getDocuments();
            });
        },
        closeModal(user_uuid) {
            this.show_modal = false;
            this.getDocuments(user_uuid);
        },
        validFile(file) {
            this.visible_form_details_contract = false;
            this.visible_form_details_dni = false;
            if (file === 'contrato_fisico') {
                this.visible_form_details_contract = true
            }
            if (file === 'documento_de_identidad') {
                this.visible_form_details_dni = true
            }
        },
        sendForm(user_id = this.user_id_int) {
            if (this.visible_form_details_contract) {
                const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract/create/${this.user_uuid}/developer`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";
                axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;

                this.form.user_id = user_id;
                this.form.full_name_legal = "TATIANA PRIETO";
                this.form.company_name = "IMUKO";
                this.form.type_document_representative_legal = "N/A"
                this.form.number_document_representative_legal = "N/A"
                this.form.city_expedition_name_representative_legal = "Medellín"
                this.form.lenguage_programming = "N/A"
                this.form.type_contract = 0

                axios({
                    url: path,
                    method: "POST",
                    data: this.form,
                    headers: {
                        "Content-Type": "application/json",
                        "Access-Control-Allow-Origin": "*",
                    },
                }).then((response) => {

                    //Reset Values
                    this.form.document_type = null;
                    this.$refs.documento_de_identidad.clearFiles();

                    this.alertSuccess("Accion realizada con exito");
                    this.$emit("close");
                    this.closeModal(this.user_uuid);
                }).catch((error) => {
                    console.log(error)
                });

            } else if (this.visible_form_details_dni) {

                const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/user/update-dni/${this.user_uuid}`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";
                axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;


                axios({
                    url: path,
                    method: "POST",
                    data: {
                        'type_document': this.form.type_document,
                        'number_document': this.form.number_document,
                        'city_expedition_document': this.form.city_expedition_document,
                    },
                    headers: {
                        "Content-Type": "application/json",
                        "Access-Control-Allow-Origin": "*",
                    },
                }).then((response) => {

                    //Reset Values
                    this.form.document_type = null;
                    this.form.type_document = null;
                    this.form.number_document = null;
                    this.form.city_expedition_document = null;
                    this.$refs.documento_de_identidad.clearFiles();

                    //Response
                    this.alertSuccess("Accion realizada con exito");
                    this.$emit("close");
                    // this.closeModal(this.user_uuid);

                }).catch((error) => {
                    console.log(error)
                });
            } else {

                //Reset Values
                this.form.document_type = null;
                this.$refs.documento_de_identidad.clearFiles();

                this.alertSuccess("Accion realizada con exito");
                this.$emit("close");
                // this.closeModal(this.user_uuid);
            }
        },
        alertSuccess(msg) {
            this.$message({
                message: msg,
                type: 'success'
            });
        },
    },
    created() {
        this.link = document.createElement("a");
        this.body = document.body;
    }
};
</script>

<style scoped>
.input {
    width: 100%;
    justify-content: center;
}
</style>
