<template>
    <el-col>
        <!--Edicion de cliente -->
        <el-dialog  title="Editar Cliente"  width="55%"
                    v-modal:modal_show="modal_show">
            <el-form ref="profile" :model="profile" >
                <el-row :gutter="20">
                    <el-col :xs="14" :sm="14" :md="14" :lg="14" :xl="14">
                        <el-form-item
                            class="label-form"
                            label="Nombre de empresa"
                            prop="company_name"
                        >
                            <!-- <el-input
                                v-model="profile.company_name"
                                placeholder="Ingresa nombre"
                            ></el-input> -->
                        </el-form-item>
                    </el-col>
                    <el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">
                        <!-- <el-form-item
                            class="label-form"
                            label="Fecha inicio servicio"
                            prop="foundation_date" >
                            <el-date-picker
                                v-model="profile.foundation_date"
                                type="date"
                                format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd"
                                placeholder="Selecciona una fecha"
                                style="width: 100%"
                            >
                            </el-date-picker>
                        </el-form-item> -->
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="8" :sm="12" :md="8" :lg="12" :xl="8">
                        <!-- <el-form-item
                            class="label-form"
                            label="Telefono de empresa"
                            prop="phone">
                            <el-input
                                v-model="profile.phone"
                                placeholder="+573125555555"
                            ></el-input>
                        </el-form-item> -->
                    </el-col>
                    <el-col :xs="8" :sm="12" :md="8" :lg="12" :xl="8">
                        <!-- <el-form-item
                            class="label-form"
                            prop="responsable"
                            label="Responsable"
                        >
                            <el-input
                                v-model="profile.responsable"
                                placeholder="Ingresa nombre"
                            ></el-input>
                        </el-form-item> -->
                    </el-col>
                    <el-col :xs="8" :sm="12" :md="8" :lg="12" :xl="8">
                        <!-- <el-form-item class="label-form" prop="rut" label="NIT">
                            <el-input
                                v-model="profile.rut"
                                placeholder="18384754-1"
                            ></el-input>
                        </el-form-item> -->
                    </el-col>
                    <el-col :xs="8" :sm="12" :md="8" :lg="12" :xl="8">
                        <!-- <el-form-item
                            class="label-form"
                            label="Tipo de compañia"
                            prop="type_company"
                        >
                            <el-select
                                v-model="profile.type_company"
                                placeholder="Selecciona un tipo"
                            >
                                <el-option
                                    v-for="item in type_company"
                                    :key="item"
                                    :label="item"
                                    :value="item"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item> -->
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Pais" prop="country">
                            <!-- <el-select
                                v-on:change='getCountries()'
                                v-model="country.id"
                                filterable
                                placeholder="Selecciona un tipo"
                            >
                                <el-option
                                    v-for="item in countries"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id"
                                >
                                </el-option>
                            </el-select> -->
                        </el-form-item>
                    </el-col>
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Ciudad" prop="city_id">
                            <!-- <el-select
                                v-on:change="getCities()"
                                v-model="profile.city_id"
                                filterable
                                placeholder="Selecciona un tipo"
                            >
                                <el-option
                                    v-for="item in cities"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id"
                                >
                                </el-option>
                            </el-select> -->
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <!-- <el-form-item
                            class="label-form"
                            label="Descripción"
                            prop="description">
                            <el-input
                                type="textarea"
                                v-model="profile.description"
                                maxlength="350"
                                placeholder="Cuéntanos sobre tu empresa"
                            ></el-input>
                        </el-form-item> -->
                    </el-col>
                </el-row>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button
                    type="primary"
                    v-loading.fullscreen.lock="fullscreenLoading"
                    @click="save()"
                >Guardar</el-button
                >
                <el-button @click="modalView(false)">Cancel</el-button>
            </span>
        </el-dialog>
    </el-col>
</template>

<script>
import axios from "axios";
export default {
    props: ["user_uuid", "profile", "country", "city", "modal_show"],
    data() {
        return {
            fullscreenLoading: false,
            type_company: ["startup", "Industry", "Bank", "International Company"],
            cities: [],
            countries: [],
        }
    },
    beforeMount() {
        this.getCountries();
    },

    methods: {
        save() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/update/${this.profile.uuid}`;
            axios({
                url: path,
                method: "PUT",
                data: {
                    "company_name": this.profile.company_name,
                    "foundation_date": this.profile.foundation_date,
                    "phone": this.profile.phone,
                    "responsable": this.profile.responsable,
                    "rut": this.profile.rut,
                    "type_company": this.profile.type_company,
                    "city_id": this.profile.city_id,
                    "description": this.profile.description
                },
            }).then((response) => {
                this.alertSuccess();
                this.fullscreenLoading = false;
                this.modalView(false);
            }).catch((error) => {
                this.alertError();
                this.fullscreenLoading = false;
            });
        },

        getCountries() {
            let me = this;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/country`;
            axios
                .get(path)
                .then((response) => {
                    me.getCities();
                    this.countries = response.data;
                })
                .catch((error) => {});
        },

        getCities(country) {
            /* const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities`; */
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities/${this.country.id}`;
            axios
                .get(path)
                .then(response => {
                    this.cities = response.data;
                })
                .catch(error => {});
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente."
            });
        },
        alertSuccess() {
            this.$notify.success({
                title: "Modificacion exitosa",
                message: "Cambio exitoso"
            });
        },
        modalView(bol) {
            this.$emit('modal-update', bol);
        }
    },
    watch: {
        modal_show:function(newVal, oldVal){
            // code
        }
    },
}
</script>
