<template lang="html">
    <div>
        <el-row :gutter="20">
            <el-card class="box-card" style="text-align: center">
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <!-- <img :src="urlbrand" style="width: 150px; height: 140px;" class="image" /> -->
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <div>
                            <h3 v-text="profile.company_name"></h3>
                        </div>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <div class="description-biograpi m-5">
                            <p>
                                <i class="fas fa-envelope-open-text"></i>
                                <label class="tag-area" v-text="profile.email_company" />
                            </p>
                            <p>
                                <i class="fas fa-phone-square-alt"></i>
                                <label class="tag-area" v-text="profile.phone" />
                            </p>
                            <p>
                                <i class="fas fa-id-card-alt"></i>
                                <label class="tag-area" v-text="profile.rut" />
                            </p>
                            <p>
                                <i class="fas fa-industry"></i>
                                <label class="tag-area" v-text="profile.type_company" />
                            </p>
                            <p>
                                <i class="fas fa-user-tie"></i>
                                <label class="tag-area" v-text="profile.responsable" />
                            </p>
                            <p>
                                <i class="fas fa-globe-africa"></i>
                                <label class="tag-area">{{country.name}} , {{city.name}}</label>
                            </p>
                        </div>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-button size="small" type="primary" @click="modalEdit = true" round><i class="fas fa-user-edit"></i> Editar</el-button>
                    </el-col>
                </el-row>
            </el-card>
        </el-row>

        <!-- Modal para editar component -->
        <EditProfileModal :profile="profile" :country="country" @modal-update="updateModal" :modal_show="modalEdit" />
    </div>
</template>

<script>
import EditProfileModal from "./EditProfileModal";

export default {
    name: "ProfileInformation",
    props: ["user_uuid", "profile", "country", "city"],
    components: {
        EditProfileModal
    },
    data() {
        return {
            data: {},
            modalEdit: false,
            // urlbrand: require('../../../assets/client-default.png')
        };
    },
    methods:{
        updateModal(bol) {
            this.modalEdit = bol;
        }
        
    },
    created() {
        // code
    }
};
</script>

<style scoped>
    .description-biograpi {
        text-align: justify;
        font-size: 0.9em;
        color: #969399;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
</style>