<template>
    <el-container>
        <el-row style="width:100%;"> 
            <el-col>
                <h1>Tus vacantes disponibles para desarrollo frontend</h1>    
            </el-col>  
            <div align="center" >
                <el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4"  style="margin:1% 1% 1% 2%" v-for="item in 20 " :key="item">
                    <el-card shadow="hover" class="vancancie__card box-card" >
                        <el-col class="text-left card__info " >
                            <div>    
                                <h2><i class="fas fa-building"></i> {{vacancies.companyName}} </h2>
                            </div>
                            <div>
                                <p class="text-left" >Requerimientos</p>
                                <p> {{vacancies.requirements}} </p>
                            </div> 
                            <div>
                                <p><i class="fas fa-dollar-sign"></i> {{vacancies.salary}} </p>
                            </div>  
                            <div>
                                <p>{{vacancies.contractType}}</p>
                                <p>{{vacancies.contractPosition}}</p>
                            </div> 
                            <el-button style="margin-top:20px" size="large" round type="success">APLICAR AHORA</el-button>
                        </el-col>     
                    </el-card>   
                </el-col> 
            </div>     
        </el-row>      
    </el-container>    
</template>
<script>
export default {
    data(){
        return {
            vacanciesType:this.$route.params.info,
            vacancies:{
                companyName:"IMUKO",
                salary:1000000,
                contractType:"Full Time",
                requirements:"PHP",
                contractPosition:"Desarrollador Backend"
            },
        }
    },
    methods: {
    
    },

}
</script>



<style scoped>
    .el-container {
        min-height: calc(100vh - 180px);
    }
    .slick-prev:before, .slick-next:before {
      color: #263d4a;
    }
    .vancancie__card {
        width: 100%;
        height: 380px;
        background: linear-gradient(#4eacdf, #16697a);
        color: white;
    }
    .card__info {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card__info p{
        font-size: 14px;
    }
    .vancancie__card:hover {
        cursor: pointer;
    }
    .red {
        background:red ;
    }

</style>
