<template>
    <el-container>
        <el-col>
            <el-row style="margin-top:5px" >
                <h1>Vacantes Disponibles <i class="fas fa-laptop"></i></h1>
            </el-row>
            <el-row >
                <el-col align="center" >
                    <el-row style="width:80%; display:flex; align-items:center" >
                        <el-col  align="left" :xs="12" :sm="12" :md="12" :lg="12" :xl="12" >
                            <h2  ><i class="fas fa-folder-open"></i> Frontend</h2>
                        </el-col>
                        <el-col align="right" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">    
                            <router-link :to="{name: 'AllVacancies', params: { vacanciesType: 'frontend', }}">
                                <el-button size="medium" type="primary">
                                    Ver todas las ofertas frontend
                                </el-button>
                            </router-link>    
                        </el-col>
                    </el-row>
                    <el-row style="display:flex; align-items:center" >
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" >
                            <Carousel :info="frontendVacancies"  />
                        </el-col>  
                    </el-row>    
                </el-col>       
            </el-row>      
            <el-row >
                <el-col align="center" >
                    <el-row style="width:80%; display:flex; align-items:center">
                        <el-col  align="left" :xs="12" :sm="12" :md="12" :lg="12" :xl="12" >
                            <h2  ><i class="fas fa-folder-open"></i> Backend</h2>
                        </el-col>
                        <el-col align="right" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">    
                            <router-link :to="{name: 'AllVacancies', params: {vacanciesType: 'backend'}}">
                                <el-button  size="medium" type="primary">
                                    Ver todas las ofertas backend
                                </el-button>
                            </router-link> 
                        </el-col>
                    </el-row>
                    <el-row style="display:flex; align-items:center" >
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" >
                            <Carousel :info="backendVacancies"  />
                        </el-col>  
                    </el-row>    
                </el-col>       
            </el-row>    
        </el-col>    
    </el-container>    
</template>
<script>
import Carousel from './Carousel'
// import Search from '../../Search'
export default {
    components: { Carousel },
    data(){
        return {
            backendVacancies:{
                companyName:"IMUKO",
                salary:1000000,
                contractType:"Full Time",
                requirements:"PHP",
                contractPosition:"Desarrollador Backend"
            },
            frontendVacancies:{
                companyName:"PRUEBA",
                salary:3000000,
                contractType:"Part Time",
                requirements:"JavaScript",
                contractPosition:"Desarrollador Frontend"
            }
        }
    },
    methods: {

    },
}
</script>

<style scoped>
    .el-container {
        min-height: calc(100vh - 180px);
    }
    .green-button {
         background: #8bc34a;
    }
</style>
