<template>
    <section>
        <!-- <VueSlickCarousel style="width:80%; padding:10px " v-bind="settings">
            <div v-for="item in 6" :key="item">
                <el-card shadow="hover" class="carousel__item box-card" >
                    <el-col class="text-left card__info " >
                        <div>    
                            <h2><i class="fas fa-building"></i> {{info.companyName}} </h2>
                        </div>
                        <div>
                            <p><i class="fas fa-dollar-sign"></i> {{info.salary}} </p>
                        </div>  
                        <div>
                            <p>{{info.contractType}}</p>
                            <p>{{info.contractPosition}}</p>
                            <el-button class="button" type="success" size="mini" round >Ver mas</el-button>
                        </div>   
                    </el-col>     
                </el-card>    
            </div>
            <template slot="prevArrow"> <div></div></template>
            <template slot="nextArrow"><div></div></template>   
        </VueSlickCarousel>  -->
    </section>    
</template>
<script>
// import VueSlickCarousel from 'vue-slick-carousel'
// import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
    // components: { VueSlickCarousel },
    props:["info"],
    data(){
        return {
            settings: {
                dots: false,
                slidesToShow: 5,
                arrows:true
            }
        }
    },
    methods: {
    },
}
</script>

<style scoped>
    .el-container {
        min-height: calc(100vh - 180px);
    }
    .slick-prev:before, .slick-next:before {
      color: #263d4a;
    }
    .button {
       padding: 8px;
       float: right;
    }
    .carousel__item {
        width: 80%;
        height: 250px;
        background: linear-gradient(#4eacdf, #16697a);
        color: white;
    }
    .card__info {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card__info p{
        font-size: 14px;
    }
    .carousel__item:hover {
        cursor: pointer;
    }
</style>
