<template>
    <el-card class="scorecard box-card" :body-style="{ padding: '0px' }"  style="margin-top: 20px">
        <div slot="header" class="clearfix">
            <span>Clientes</span>
        </div>
        <div v-for="cliente  in clients" :key="cliente.id" class="text item">
            
            <h4  v-for="usuario  in cliente.customers" :key="usuario.id">
                {{usuario.company_name}}
            </h4>
        </div>
    </el-card>        
</template>
<script>
import axios from "axios";
export default {

    data(){
        return{
            clients: []
        }
    },
    mounted () {
        this.getClients();
    },

    methods: {

        getClients(){
          
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients`;
       
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.clients = res.data;
            });
        }
    }

}
</script>