<template>
    <el-card class="scorecard box-card" >
        <h1>Imuko Score: {{score}} </h1>
    </el-card>        
</template>

<script>
import axios from "axios";

export default {
    name:"DeveloperScore",
    props: ["profile"],
    data(){
        return{
            contracts:[],
            developer:[],
            score:""
        }
    },
    methods: {
        getContracts(){
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/get-developer-contracts/${this.developer.id}`;
            axios
                .get(path)
                .then(response => {
                    this.contracts = response.data
                    this.getScore(this.contracts)
                })
                .catch(error => {});
        },
        getScore(contracts) {
            var partialScore = 0;
            var today = moment(new Date());
            var daysTillToday;
            var workedDays;

            var daysCount = contracts.map(function(contract){
                var startDate = moment(contract.start_date);
                var endDate   = moment(contract.end_date);
                switch(contract.status){
                case "pendiente":
                    break;
                case "aprobado":
                    endDate > today ? 
                        (daysTillToday = today.diff(startDate, 'days'),
                        partialScore += daysTillToday)
                        : 
                        (workedDays = endDate.diff(startDate, 'days'),
                        partialScore += workedDays)
                    break;
                case "vencido":
                    workedDays = endDate.diff(startDate, 'days')
                    partialScore += workedDays
                    break;
                case "cancelado":
                    workedDays = endDate.diff(startDate, 'days')
                    partialScore += workedDays
                    break;   
                }
               
            })
            this.score = partialScore;
        },
    },
    watch:{
        profile:function(newVal, oldVal){
            this.developer=newVal
            this.getContracts()
        }
    }
}
</script>

<style scoped>
    .scorecard{
        width: 80%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px auto auto auto;
        background-color: #b8da5a;
    }
</style>

