<template lang="html">
    <div>
        <el-dialog
            title="Adjunta un documento"
            width="30%"
            center
            :before-close="Closed"
        >
            <el-form ref="form" :model="form" size="medium" label-position="right">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item label="Selecciona el tipo de documento" class="label-form">
                            <el-select v-model="form.document_type">
                                <el-option
                                    v-for="item in list_document"
                                    :key="item.id"
                                    :label="capitalize(item.replace('_', ' ')).replace('_', ' ')"
                                    :value="item">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-form-item label="Descripción" class="label-form" v-if="form.document_type !== null">
                        <el-upload
                            class="upload-demo"
                            ref="documento_de_identidad"
                            accept="image/png, image/jpeg"
                            drag
                            :data="{type: form.document_type}"
                            :multiple="false"
                            :limit="1"
                            :action="upload_file_url"
                            :headers="headers_files"
                            :on-remove="deleteUpload"
                            :file-list="form.files">
                            <div class="el-upload__text">Suelta tu archivo aquí o <em>haz clic para cargar</em></div>
                            <div slot="tip" class="el-upload__tip">Solo archivos jpg/png con un tamaño menor de 500kb
                            </div>
                        </el-upload>
                    </el-form-item>
                </el-row>
                <el-row :gutter="20" type="flex" justify="end">
                    <el-col :span="120" style="margin-top: 3%">
                        <el-form-item size="large">
                            <el-button @click="close('closeDocuments')">Cerrar</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
import {myMixins} from '../../../Utils/mixins'

export default {
    name: "DocumentForm",
    mixins: [myMixins],
    data() {
        return {
            form: {
                document_type: null,
                files: []
            },
            type_files: ["documento_de_identidad", "certificado_cuenta_bancaria", "rut", "firma_digital", "recibo_servicio_publico_residencia", "contrato_fisico", "carta_renuncia'"],
            upload_file_url: `${process.env.VUE_APP_URL_API_BACKEND}/api/document/upload-file-profile`,
            headers_files: {
                Authorization: `Bearer ${localStorage.getItem("api_token")}`
            },
        };
    },
    props: ["centerDialogVisible", "Closed", "close", "addLenguage", "list_document"],
    methods: {
        deleteUpload(file, fileList) {
            var uuid = file.uuid;
            if (file.response != undefined) uuid = file.response.uuid;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/document/delete-file-profile/${uuid}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.getDocuments();
            });
        }
    }
}
</script>

<style scoped>
.input {
    width: 100%;
    justify-content: center;
}
</style>
