<template lang="html">
    <el-container v-loading.fullscreen.lock="loadingModal">
        <el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6" class="m-1">
            <el-card :body-style="{ padding: '0px' }" class="box-card">
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <!-- <img :src="urlbrand" style="width: 140px; height: 130px; margin: 3%;" class="image"/> -->
                    </el-col>
                    <!-- <router-link v-if="!isAdmin" to="/edit-profile">
                        <el-button size="small" type="primary" @click="showPeM = true" round><i
                            class="fas fa-user-edit"></i> Editar Perfil
                        </el-button>
                    </router-link> -->
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <h3> Yohan Jose Ysturiz Diaz </h3>
                        <!-- <label class="tag-area"> {{ profile.areadevelop }} Developer </label> -->
                    </el-col>

                    <!-- <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" v-if="profile.my_sites != null">
                        <div class="m-5">
                            <el-link style="font-size: 2em; color: #2b77b5; cursor: pointer;" :underline="false"
                                     :href="profile.my_sites.linkedin" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </el-link>
                            <el-link style="font-size: 2em; color: #2e95f4; cursor: pointer;" :underline="false"
                                     :href="profile.my_sites.facebook" target="_blank">
                                <i class="fab fa-facebook-square" aria-hidden="true"></i>
                            </el-link>
                            <el-link style="font-size: 2em; color: #2c2f31; cursor: pointer;" :underline="false"
                                     :href="profile.my_sites.github" target="_blank">
                                <i class="fab fa-github"></i>
                            </el-link>
                            <el-link style="font-size: 2em; color: #1ba94c; cursor: pointer;" :underline="false"
                                     :href="profile.my_sites.hackerrank" target="_blank">
                                <i class="fab fa-hackerrank"></i>
                            </el-link>
                            <el-link style="font-size: 2em; cursor: pointer;" :underline="false"
                                     :href="profile.my_sites.mywebsite" target="_blank">
                                <i class="fas fa-pager"></i>
                            </el-link>
                        </div>
                    </el-col> -->

                    <DeveloperScore :profile="profile"/>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <h3 class="text-left ml-5">Acerca de</h3>
                        <div class="description-biograpi m-5">
                            <!-- <p v-text="profile.descriptioncandidate"></p> -->
                        </div>
                    </el-col>

                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <h3 class="text-left ml-5">Información de contacto</h3>
                        <div class="description-biograpi m-5">
                            <p>
                                <i class="fas fa-envelope-open-text"></i>
                                <!-- <label class="tag-area"> {{ profile.emailcandidate }} </label> -->
                            </p>
                            <p>
                                <i class="fas fa-phone-square-alt"></i>
                                <!-- <label class="tag-area"> {{ this.user_session.phone }} </label> -->
                            </p>
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <!-- <label class="tag-area"> {{ this.user_session.address }} </label> -->
                            </p>
                        </div>
                    </el-col>
                    <!-- <template>
                        <el-row class="m-3">
                            <el-col>
                                <el-button class="m-2" size="small" type="danger"
                                           @click="certificatedialogVisible = true"><i class="fas fa-file-pdf"></i>
                                    Solicitar certificado laboral
                                </el-button>
                                <el-button v-if="!isAdmin" @click="showpassword = true" size="mini" type="primary"><i
                                    class="fas fa-key"></i> Cambio de Contraseña
                                </el-button>
                                <el-dialog
                                    title="¿Desea incluir su salario en el certificado?"
                                    width="30%"
                                    top="20%"
                                >
                                    <el-button
                                        type="primary"
                                        @click="requestCertificated(true),
                                                certificatedialogVisible = false"
                                    >
                                        Si
                                    </el-button>
                                    <el-button
                                        type="primary"
                                        @click="requestCertificated(false),
                                                certificatedialogVisible = false">
                                        No
                                    </el-button>
                                </el-dialog>
                            </el-col>
                        </el-row>
                        <el-row class="m-3">
                            <el-col>
                                <SocialsLinked type="associate"/>
                            </el-col>
                        </el-row>
                    </template> -->
                </el-row>
            </el-card>
            <!-- <Clients :profile="profile"/> -->
            <!-- <Calendar/> -->
        </el-col>
        <el-col :xs="18" :sm="18" :md="18" :lg="18" :xl="18" class="m-1">
            <!-- <template v-if="tiempo.status == 'aprobado' && !isAdmin">
                <template v-if="message == 1">
                    <el-alert type="warning" show-icon>
                        Faltan {{ fechas(tiempo.start_date, tiempo.end_date) }} días para Finalizar el contrato
                    </el-alert>
                </template>
                <el-alert
                    style="text-align: left;"
                    title="Tienes un contrato activo"
                    type="success"
                    :description="`Fecha inicio: ${printDateRequest(tiempo.start_date)}, Fecha fin: ${printDateRequest(tiempo.end_date)}, Dias restantes ${fechas(tiempo.start_date,tiempo.end_date)}`"
                    show-icon
                    :closable="false">
                </el-alert>
            </template> -->

            <!-- alerta de error -->
            <!-- <el-col class="text-left" :xs="24" :sm="24" :md="24" :lg="24" :xl="24" v-if="is_completed==1">
                <el-alert
                    title="Aun faltan registros por completar"
                    type="error"
                    effect="dark">
                </el-alert>
            </el-col> -->
            <!-- fin alerta de error -->

            <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%;">
                <el-row style="padding: 2%;">
                    <el-col class="text-left" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-row>
                            <el-col class="text-left" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <h3><i class="fas fa-keyboard"></i> Habilidades tecnológicas</h3>
                            </el-col>
                            <el-col style="text-align: end" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-button v-if="!isAdmin" @click="showSkilTechM = true" size="mini" type="primary"><i
                                    class="fas fa-plus-circle"></i> Agregar
                                </el-button>
                            </el-col>
                        </el-row>
                        <div>
                            <el-collapse v-model="activeNames">
                                <el-collapse-item title="Lenguajes de programación" name="1">
                                    <div>
                                        <el-tag class="tag-description-vacant" v-for="skill in skillsTechLenguages"
                                                :key="skill.id" :name="skill.id" :disable-transitions="false" closable
                                                @close="handleClose(skill)">{{ skill.name }}
                                        </el-tag>
                                    </div>
                                </el-collapse-item>
                                <el-collapse-item title="Frameworks" name="2">
                                    <div>
                                        <el-tag class="tag-description-vacant" v-for="skill in skillsTechFrameworks"
                                                :key="skill.id" :name="skill.id" :disable-transitions="false" closable
                                                @close="handleDeleteFramework(skill)">{{ skill.name }}
                                        </el-tag>
                                    </div>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                    </el-col>
                </el-row>
            </el-card>

            <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%;">
                <el-row style="padding: 2%;">
                    <el-col class="text-left" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-row>
                            <el-col class="text-left" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <h3><i class="fas fa-hands-helping"></i> Aptitudes</h3>
                            </el-col>
                            <el-col style="text-align: end" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-button v-if="!isAdmin" @click="showSkilM = true" size="mini" type="primary">
                                    <i class="fas fa-plus-circle"></i> Agregar
                                </el-button>
                            </el-col>
                        </el-row>
                        <div>
                            <el-tag class="tag-description-vacant" v-for="skill in skills" :key="skill.id"
                                    :name="skill.id" type="info" effect="plain" :disable-transitions="false" closable
                                    @close="handleDeleteAptitud(skill)">{{ skill.name }}
                            </el-tag>
                        </div>
                    </el-col>
                </el-row>
            </el-card>

            <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%;">
                <el-row style="padding: 2%;">
                    <el-col class="text-left" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-row>
                            <el-col class="text-left" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <h3><i class="fas fa-briefcase"></i> Experiencia</h3>
                            </el-col>
                            <el-col style="text-align: end" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-button v-if="!isAdmin" @click="showExpM = true" size="mini" type="primary">
                                    <i class="fas fa-plus-circle"></i> Agregar
                                </el-button>
                            </el-col>
                        </el-row>
                        <div class="block">
                            <el-timeline>
                                <el-timeline-item v-for="ex in experiences" :key="ex.id" :timestamp="ex.start_date"
                                                  placement="top">
                                    <el-card>
                                        <el-button @click="deleteExperience(ex.id)" style="float: right; margin: 3px;"
                                                   type="danger" icon="el-icon-delete" size="small" circle></el-button>
                                        <el-button @click="ModalEditExperience(ex)" style="float: right; margin: 3px;"
                                                   type="primary" icon="el-icon-edit" size="small" circle></el-button>
                                        <h4><i class="far fa-building"></i> {{ ex.position }} - {{ ex.company_name }}
                                        </h4>
                                        <p><i class="fas fa-business-time"></i> {{ ex.job_type }}</p>
                                        <p><i class="fas fa-comment"></i> {{ ex.description }}</p>
                                    </el-card>
                                </el-timeline-item>
                            </el-timeline>
                        </div>
                    </el-col>
                </el-row>
            </el-card>

            <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%;">
                <el-row style="padding: 2%;">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-row>
                            <el-col class="text-left" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <h3><i class="fas fa-flag"></i> Idiomas</h3>
                            </el-col>
                            <el-col style="text-align: end" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-button v-if="!isAdmin" @click="showLengM = true" size="mini" type="primary">
                                    <i class="fas fa-plus-circle"></i> Agregar
                                </el-button>
                            </el-col>
                        </el-row>
                        <div>
                            <el-collapse accordion>
                                <el-collapse-item v-for="lenguage in lenguages" :key="lenguage.id" :name="lenguage.id">
                                    <template slot="title">
                                        <p> {{ lenguage.name }} - {{ lenguage.level }} </p>
                                    </template>
                                    <div>
                                        <p v-text="lenguage.description"></p>
                                        <el-button @click="deleteLenguage(lenguage.id)"
                                                   style="float: right; margin: 3px;" type="danger"
                                                   icon="el-icon-delete" size="small" round> Eliminar
                                        </el-button>
                                    </div>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                    </el-col>
                </el-row>
            </el-card>

            <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%;">
                <el-row style="padding: 2%;">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-row>
                            <el-col class="text-left" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                <h3><i class="fas fa-flag"></i> Emails</h3>
                            </el-col>
                        </el-row>
                        <div style="margin-top: 1%">
                            <!-- <template v-for="template in templates" :key="template.id">
                                <TemplateShow :user-id="user_session.id" :template="template"
                                              :user-templates="templatesByUser"
                                              ></TemplateShow>
                            </template> -->
                        </div>
                    </el-col>
                </el-row>
            </el-card>

            <!-- Document component -->
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="padding: 2px;">
                <!-- <DocumentComponent :user_uuid="user_session.uuid" :user_id_int="user_session.id" :add_button_show="true"
                                   type_user="developer" :cities="cities"/> -->
            </el-col>


            <el-dialog title="Cambio de Contraseña" width="30%" center>
                <el-form ref="formpassword" :model="formpassword" :rules="rulespassword" size="medium">
                    <el-row :gutter="20">
                        <el-row :gutter="20">
                            <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-form-item label="Nueva Contraseña" prop="mes" class="label-form">
                                    <el-input type="password" placeholder="xxxxxx" maxlength="15"
                                              v-model="formpassword.password" autocomplete="off"></el-input>
                                </el-form-item>
                            </el-col>

                            <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-form-item label="Confirmar contraseña" prop="checkPass">
                                    <el-input type="password" maxlength="15" v-model="formpassword.checkPass"
                                              autocomplete="off"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20" type="flex" justify="center">
                            <el-col :span="120" style="margin-top: 3%">
                                <el-form-item size="large">
                                    <el-button type="primary" @click="passwordcambio">Guardar</el-button>
                                    <el-button @click="showpassword = false">Cancelar</el-button>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-row>
                </el-form>
            </el-dialog>

            <!-- <PersonalForm :DialogShowPersonal="showPeM" :profile="profile" @updateProfile="updateProfile" :close="close"
                          :Closed="Closed"></PersonalForm>
            <SkillsTechForm :centerDialogVisible="showSkilTechM" :addSkillTech="add" :close="close"
                            :Closed="Closed"></SkillsTechForm>
            <SkillsForm :centerDialogVisible="showSkilM" :addSkill="add" :close="close" :Closed="Closed"></SkillsForm>
            <ExperienceForm :centerDialogVisible="showExpM" :addExperience="add" :close="close" :Closed="Closed"
                            :experience="experience"></ExperienceForm>
            <StudiesForm :addStudy="add" :centerDialogVisible="showStuM" :close="close" :Closed="Closed"></StudiesForm>
            <LenguagesForm :addLenguage="add" :centerDialogVisible="showLengM" :close="close"
                           :Closed="Closed"></LenguagesForm> -->
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
import swal from 'sweetalert'
import {
    mapState,
    mapMutations,
    createLogger
} from "vuex";
// import {
//     myMixins
// } from '../../../Utils/mixins'

import PersonalForm from "./PersonalForm";
import SkillsForm from "./SkillsForm";
import SkillsTechForm from "./SkillsTechForm";
import ExperienceForm from "./ExperienceForm";
import LenguagesForm from "./LenguagesForm";
import StudiesForm from "./StudiesForm";
import DocumentComponent from "../../Documents/Upload/DocumentForm";
import DeveloperScore from "./DeveloperScore"
// import Calendar from "../../Calendar/Calendar";
import SocialsLinked from './SocialsLinked';
import Clients from '../Clients'
// import TemplateShow from './TemplateShow'

export default {
    name: "EditProfile",
    computed: {
        // ...mapState('auth', ['authenticate', 'user_session'])
    },
    components: {
        // PersonalForm,
        // SkillsForm,
        // SkillsTechForm,
        // ExperienceForm,
        // LenguagesForm,
        // StudiesForm,
        // DocumentComponent,
        // DeveloperScore,
        // Calendar,
        // SocialsLinked,
        // Clients,
        // TemplateShow
    },
    // mixins: [myMixins],
    // props: ["isAdmin", "developerInfo"],
    data() {
        let validatePass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Please input the password'));
            } else {
                if (this.formpassword.checkPass !== '') {
                    this.$refs.formpassword.validateField('checkPass');
                }
                callback();
            }
        };
        let validatePass2 = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Las contraseñas no coinciden'));
            } else if (value !== this.formpassword.password) {
                callback(new Error('Las contraseñas no coinciden'));
            } else {
                callback();
            }
        };
        return {
            is_completed: 0,
            certificatedialogVisible: false,
            currentTab: "PersonalForm",
            // urlbrand: require("../../../assets/robot-for-candidate.png"),
            tableData: [],
            formpassword: {
                password: "",
                checkPass: "",
            },
            rulespassword: {
                password: [
                    {validator: validatePass, required: true, message: 'Indica tu contraseña', trigger: 'blur'}
                ],
                checkPass: [
                    {validator: validatePass2, required: true, message: 'Las contraseñas no coinciden', trigger: 'blur'}
                ],
            },
            value: new Date(),
            showExpM: false,
            showPeM: false,
            showSkilM: false,
            showSkilTechM: false,
            showpassword: false,
            showStuM: false,
            showLengM: false,
            activeName: "1",
            activeNames: ['1', '2'],
            profile: {},
            experiences: [],
            experience: {},
            studies: [],
            lenguages: [],
            skills: [],
            skillsTechLenguages: [],
            skillsTechFrameworks: [],
            tiempo: [],
            message: 0,
            templates: [],
            templatesByUser: [],
            cities: [],
            loadingModal: false,
        };
    },
    beforeMount() {
        // if (this.user_session.roles == "candidate") {
        //     this.getProfile();
        //     this.getExperience();
        //     this.getLenguages();
        //     this.getStudies();
        //     this.getSkills();
        //     this.getSkillsTech();
        //     this.getValidate();
        //     this.getTemplates();
        //     this.getTemplatesByUser();
        //     this.getCities();
        // }
    },
    watch: {
        // developerInfo: function (newVal, oldVal) {
        //     if (this.isAdmin) {
        //         this.user_session.id = newVal.user_id
        //         this.user_session.uuid = newVal.uuid
        //         this.getProfile();
        //         this.getExperience();
        //         this.getLenguages();
        //         this.getStudies();
        //         this.getSkills();
        //         this.getSkillsTech();
        //         this.getTemplates();
        //         this.getTemplatesByUser();
        //     }
        // }
    },
    methods: {
        getValidate() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/validacion`;
            axios({
                url: path,
                method: "get"
            }).then(res => {
                this.is_completed = res.data;
            });
        },

        passwordcambio() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/changepassword/${this.formpassword.password}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: this.formpassword,
            })
                .then((response) => {
                    this.$refs["formpassword"].resetFields();
                    swal("Cambio de contraseña Exitoso", "", "success");
                    this.formpassword.checkPass = ""
                    this.formpassword.password = ""
                    this.showpassword = false;
                }).catch((error) => {

                swal("No se ha podido Cambiar la contraseña", "", "error");
            });
        },
        fechas(fechainicial, fechafinal) {
            var dateFormat = moment(fechainicial);
            var dateFormat2 = moment(fechafinal);
            var hoy = moment(new Date());
            var uuid = this.tiempo.uuid;
            var all = dateFormat2.diff(hoy, 'days');
            if (all <= 5) {
                this.message = 1;
            }
            if (all <= 0) {
                swal("Se ha terminado el contrato", "Tiene 30 dias para generar la cuenta de cobro", "error");
                this.geteditcontratprofile(uuid);
                this.getSkillsTech();
            }
            return all;

        },
        geteditcontratprofile(uuid) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contrac-update-date/${uuid}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: uuid,
            })
        },
        laboralCertificate(print_salary) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/laboral-certificate/${this.profile.uuid}/${print_salary}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf"
                })
                .then(response => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement("a");
                    link.href = url;
                    link.setAttribute(
                        "download",
                        `certificado-laboral-${this.profile.namecandidate}.pdf`
                    ); //or any other extension
                    document.body.appendChild(link);
                    link.click();
                })
                .catch(error => {

                });
        },
        requestCertificated(print_salary) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/request-laboral-certificate`;
            let form = {
                'user_id': this.user_session.id,
                'print_salary': print_salary,
                'profile_uuid': this.profile.uuid
            }
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "POST",
                data: form
            }).then(res => {
                this.$message({
                    message: 'Solicito exitosa, el certificado llegara a su correo cuando sea aprobado.',
                    type: 'success'
                });
            });
        },
        descargarpdf(uuid, Type_contract, start_date) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/descargarpdf-contrat-profile/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf"
                })
                .then(response => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    if (Type_contract == "Mandato") {
                        this.link.setAttribute("download", `Contracto_Mandato__${start_date}.pdf`); //or any other extension
                    } else if (Type_contract == "Termino Indefinido") {
                        this.link.setAttribute("download", `Contracto_Termino_indefinido_${start_date}.pdf`);
                    } else if (Type_contract == "Prestación de servicios") {
                        this.link.setAttribute("download", `Contrato_Prestación_de_servicios_${start_date}.pdf`); //or any other extension
                    }

                    this.body.appendChild(this.link);
                    this.link.click();

                })
                .catch(error => {
                });
        },
        getProfile() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/profile/${this.user_session.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "get"
            }).then(res => {
                this.profile = res.data;
                this.user_session.uuid = this.profile.user_uuid
                this.user_session.address = `${this.profile.city.name} - ${this.profile.city.country.name}`
                this.user_session.phone = `${this.profile.city.country.code_phone} ${this.profile.phonecandidate}`
            });
        },
        getExperience() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/experiences/${this.user_session.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.experiences = res.data;
            });
        },
        getStudies() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/studies/${this.user_session.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.studies = res.data;
            });
        },
        getLenguages() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/lenguages/${this.user_session.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.lenguages = res.data;
            });
        },
        deleteSkillsTech(tech, id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/skills-tech/${tech}/${id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.getSkillsTech();
            });
        },
        deleteAptitud(id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/aptitud-delete/${id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.getSkills();
            });
        },
        updateProfile(form, my_sites) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/${this.profile.uuid}`;
            form.my_sites = my_sites;

            axios({
                url: path,
                method: "PUT",
                data: form
            }).then(res => {
                this.getProfile();
                this.close("pe")
            });
        },
        deleteExperience(id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/experience-delete/${id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.getExperience();
            });
        },
        deleteStudy(id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/study-delete/${id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.getStudies();
            });
        },
        deleteLenguage(id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/lenguage-delete/${id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.getLenguages();
            });
        },
        add(form, type) {
            form.user_id = this.user_session.id;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/${type}`;
            axios({
                url: path,
                method: "POST",
                data: form
            }).then(res => {
                this.getExperience();
                this.getLenguages();
                this.getStudies();
                this.getSkills();
                this.getSkillsTech();
                this.close(type);
            });
        },
        ModalEditExperience(experience) {
            this.showExpM = true;
            this.experience = experience;
        },
        getSkills() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/skills/${this.user_session.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                this.skills = res.data;
            });
        },
        getSkillsTech() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/skills-tech/${this.user_session.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                if (res.data.developer.contract[0] == undefined) {
                    this.tiempo = res.data.developer;
                } else {
                    this.tiempo = res.data.developer.contract[0]
                }
                this.skillsTechLenguages = res.data.developer.lenguages;
                this.skillsTechFrameworks = res.data.developer.frameworks;
                this.loadingModal = false
            });            
        },
        getTemplates() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/templates`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                console.log(res)
                this.templates = res.data;
            });
        },
        getTemplatesByUser() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/templates/user/${this.user_session.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                console.log(res)
                this.templatesByUser = res.data;

            });
        },
        /**
         * Get Cities
         */
        getCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                console.log(res)
                this.cities = res.data;
            });
        },
        close(e) {
            switch (e) {
            case "closePersonal":
                this.showPeM = false;
                break;
            case "experiences":
                this.showExpM = false;
                break;
            case "closeExperience":
                this.showExpM = false;
                break;
            case "closeSkills":
                this.showSkilM = false;
                break;
            case "skills":
                this.showSkilM = false;
                break;
            case "closeSkillsTech":
                this.showSkilTechM = false;
                break;
            case "skills-tech":
                this.showSkilTechM = false;
                break;
            case "closeLenguajes":
                this.showLengM = false;
                break;
            case "lenguages":
                this.showLengM = false;
                break
            case "closeStudies":
                this.showStuM = false;
                break;
            case "studies":
                this.showStuM = false;
                break
            case "pe":
                this.showPeM = false;
                break
            default:
                break;
            }
        },
        Closed() {
            this.showPeM = false;
            this.showExpM = false;
            this.showSkilM = false;
            this.showSkilTechM = false;
            this.showLengM = false;
            this.showStuM = false;
            this.saveButtonLoading = false;
        },
        handleClose(tag) {
            this.deleteSkillsTech('lenguajes', tag.id)
            this.skillsTechLenguages.splice(this.skillsTechLenguages.indexOf(tag), 1);
        },
        handleDeleteFramework(tag) {
            this.deleteSkillsTech('frameworks', tag.id)
            this.skillsTechFrameworks.splice(this.skillsTechFrameworks.indexOf(tag.id), 1);
        },
        handleDeleteAptitud(tag) {
            this.deleteAptitud(tag.id)
            this.skills.splice(this.skills.indexOf(tag.id), 1);
        },
    },
    created() {
        // code
    },
};
</script>

<style scoped>
#customer-data {
    text-align: left;
    list-style-type: none;
}

#customer-data li {
    margin-bottom: 5px;
}

#customer-data li span:first-child {
    min-width: 40px;
    font-weight: bold;
    display: inline-block;
    min-width: 140px;
}

#languages {
    display: block;
}

#languages > div {
    display: block;
    background-color: #ff0000;
    margin: 0px 0px 5px 10px;
}

.tag-availability {
    padding: 0.4%;
    height: 25px;
    line-height: 1px;
    font-size: 0.9rem;
    font-weight: bold;
}

.show-date {
    font-size: 0.75rem;
    text-align: left;
    color: #6a6d6d;
}

.div-description-vacant {
    color: #6a6d6d;
}

.card-info-one {
    background-color: #4eacdf;
    color: #fff;
    font-size: 1.3rem;
}

.card-info-two {
    background-color: #8bc34a;
    color: #fff;
    font-size: 1.3rem;
}

.card-info-tree {
    background-color: #009688;
    color: #fff;
    font-size: 1.3rem;
}

.description-biograpi {
    text-align: justify;
    font-size: 0.9em;
    color: #969399;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.title-document {
    color: #909399;
    font-size: 0.9em;
    font-weight: 600;
}
</style>
