<template lang="html">
    <el-dialog title="Experiencia laboral" width="50%" center :before-close="Closed">
        <el-form ref="form" :model="form" :rules="rules" size="medium" label-position="right">
            <el-row :gutter="20">
                <el-col>
                    <el-form-item label="Empresa" class="label-form">
                        <el-input v-model="form.company_name" placeholder="Empresa" maxlength="70" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                    <el-form-item label="Tipo de empleo" class="label-form">
                        <el-select v-model="form.job_type">
                            <el-option label="Medio tiempo" value="part-time"></el-option>
                            <el-option label="Tiempo completo" value="full-time"></el-option>
                            <el-option label="Freelance" value="freelance"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                    <el-form-item label="Cargo" class="label-form">
                        <el-input v-model="form.position" maxlength="70" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                    <el-form-item label="Fecha de Ingreso" prop="start_date" class="label-form">
                        <el-date-picker format="yyyy/MM/dd" value-format="yyyy-MM-dd" style="width: 100%" v-model="form.start_date" type="date"> </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                    <el-form-item label="Fecha de Egreso" prop="end_date" class="label-form">
                        <el-date-picker format="yyyy/MM/dd" value-format="yyyy-MM-dd"  style="width: 100%" v-model="form.end_date" type="date"> </el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-form-item label="Descripción" class="label-form">
                    <el-input v-model="form.description" placeholder="Descripción" type="textarea" maxlength="180" show-word-limit></el-input>
                </el-form-item>
            </el-row>
            <el-row :gutter="20" type="flex" justify="end">
                <el-col :span="120" style="margin-top: 3%">
                    <el-form-item size="large">
                        <el-button 
                            type="primary" 
                            :loading="loadingButton" 
                            @click="addExperience(form, 'experiences'), 
                                    loadingButtonAnimation(form.company_name),
                                    (form = {})">
                            Guardar
                        </el-button>
                        <el-button @click="close('closeExperience'), (form = {})">Cancelar</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </el-dialog>
</template>

<script>
import {myMixins} from '../../../Utils/mixins'
export default {
    mixins: [myMixins],
    name: "SkillsForm",
    data() {
        var validateEndDate = (rule, value, callback) => {
            if (value < this.form.start_date) {
                callback(new Error("La fecha de egreso debe ser posterior al ingreso"));
            } else {
                null;
            }
        };
        var validateStartDate = (rule, value, callback) => {
            var fecha_actual = new Date();
            var fecha_ingreso = new Date(value);
            console.log(value, fecha_actual)
            var fecha_actual = `${fecha_actual.getFullYear()}-${[fecha_actual.getMonth()]}-${fecha_actual.getDate()}`
            var fecha_ingreso = `${fecha_ingreso.getFullYear()}-${[fecha_ingreso.getMonth()]}-${fecha_ingreso.getDate()}`

            if (fecha_ingreso > fecha_actual) {
                console.log("error");
                callback(new Error("La fecha de ingreso debe ser anterior a ", fecha_actual));
            } else {
                null;
            }
        };
        return {
            loadingButton:false,
            form: {
                user_id: "",
                company_name: "",
                position: "",
                job_type: "",
                start_date: "",
                end_date: "",
                description: "",
            },
            rules: {
                end_date: [{ validator: validateEndDate, message: "fecha de finalización no válida", trigger: "blur" }],
                start_date: [{ validator: validateStartDate, message: "fecha de ingreso no válida", trigger: "blur" }],
            },
        };
    },
    props: ["centerDialogVisible", "Closed", "close", "addExperience", "user_session", "experience"],
    watch: {
        experience: function (newVal, oldVal) {
            this.form = newVal;
        },
        centerDialogVisible: function (val) {
            if (val){
                this.loadingButton = false
            }
        }
    },
};
</script>

<style scoped>
.input {
  width: 100%;
  justify-content: center;
}
</style>
