<template lang="html">
    <div>
        <el-dialog
            title="Nuevo lengueaje"
            width="30%"
            center
            :before-close="Closed"
        >
            <el-form ref="form" :model="form" size="medium" label-position="right">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item label="Idioma" class="label-form">
                            <el-select v-model="form.name" filterable  >
                                <el-option label="Ingles" value="Ingles" ></el-option>
                                <el-option label="Frances" value="Frances"></el-option>
                                <el-option label="Portugues" value="Portugues"></el-option>
                                <el-option label="Mandarin" value="Mandarin"></el-option>
                                <el-option label="Aleman" value="Aleman"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item label="Nivel" class="label-form">
                            <el-select v-model="form.level">
                                <el-option label="A1" value="A1"></el-option>
                                <el-option label="A2" value="A2"></el-option>
                                <el-option label="B1" value="B1"></el-option>
                                <el-option label="B2" value="B2"></el-option>
                                <el-option label="C1" value="C1"></el-option>
                                <el-option label="C2" value="C2"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-form-item label="Descripción" class="label-form">
                        <el-input
                            v-model="form.description"
                            type="textarea"
                            maxlength="180"
                            show-word-limit
                        ></el-input>
                    </el-form-item>
                </el-row>
                <el-row :gutter="20" type="flex" justify="end">
                    <el-col :span="120" style="margin-top: 3%">
                        <el-form-item size="large">
                            <el-button 
                                type="primary" 
                                :loading="loadingButton" 
                                @click="addLenguage(form, 'lenguages'), 
                                        loadingButtonAnimation(form.name)"
                            >Guardar</el-button
                            >
                            <el-button @click="close('closeLenguajes')">Cancelar</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
import {
    myMixins
} from '../../../Utils/mixins'

export default {
    mixins: [myMixins],
    name: "LenguagesForm",
    data() {
        return {
            form: {
                user_id: "",
                name: "",
                level: "",
                url_certificate: "",
                description: ""
            },
            loadingButton:false
        };
    },
    props: ["centerDialogVisible","Closed", "close", "addLenguage"],
    watch: {
        centerDialogVisible: function (val) {
            if (val){
                this.loadingButton = false
            }
        },
    }
};
</script>

<style scoped>
.input {
  width: 100%;
  justify-content: center;
}
</style>
