<template lang="html">
    <div>
        <el-dialog
            title="Información Personal"
            width="70%"
            center
            :before-close="Closed"
        >
            <el-form ref="form" :model="form" size="medium" label-position="right" :rules="rules" >
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="12" :lg="8" :xl="12">
                        <el-form-item label="Nombre" class="label-form" prop="namecandidate" >
                            <el-input
                                v-model="form.namecandidate"
                                placeholder="Nombre"
                                maxlength="20"
                                show-word-limit
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="12" :lg="8" :xl="12">
                        <el-form-item label="Apellido" class="label-form" prop="lastnamecandidate" >
                            <el-input
                                v-model="form.lastnamecandidate"
                                placeholder="Apellido"
                                maxlength="20"
                                show-word-limit
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item class="label-form" label="Tipo de documento" prop="type_document">
                            <el-select v-model="form.type_document" placeholder="Seleccione...">
                                <el-option label="C.C" value="CC"></el-option>
                                <el-option label="C.E" value="CE"></el-option>
                                <el-option label="PASAPORTE" value="PASAPORTE"></el-option>
                                <el-option label="NIT" value="NIT"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item class="label-form" label="Numero de documento" prop="number_document">
                            <el-input v-model="form.number_document" maxlength="25" show-word-limit type="text"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item label="País de residencia" prop="country" class="label-form">
                            <el-select v-on:change="getCountries()" id="department" v-model="country" filterable placeholder="Seleccione...">
                                <el-option
                                    v-for="item in countries"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item label="Ciudad expedicion documento" prop="department" class="label-form">
                            <el-select v-on:change="getCities()" v-model="form.city_expedition_document" filterable placeholder="Seleccione...">
                                <el-option
                                    v-for="item in cities"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.name">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                        <el-form-item label="Ciudad residencia" prop="department" class="label-form">
                            <el-select v-on:change="getCities()" v-model="form.city_id" filterable placeholder="Seleccione...">
                                <el-option
                                    v-for="item in cities"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                        <el-form-item label="Teléfono" class="label-form">
                            <el-input
                                v-model="form.phonecandidate"
                                placeholder="Tu Telefono"
                                maxlength="20"
                                show-word-limit
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                        <el-form-item label="Aspiración salarial" class="label-form" prop="salarycandidate" >
                            <el-input
                                v-model="salary"
                                placeholder="1000000"
                                maxlength="20"
                                show-word-limit
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                        <el-form-item label="Área de desarrollo" class="label-form" prop="developerarea" >
                            <el-select v-model="form.areadevelop" filterable placeholder="Seleccione...">
                                <el-option
                                    v-for="item in developerareas"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.name">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col>
                        <el-form-item label="Acerca de mi" class="label-form">
                            <el-input
                                v-model="form.descriptioncandidate"
                                type="textarea"
                                maxlength="190"
                                show-word-limit
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row :gutter="20">
                    <h4>Sitios web y enlaces sociales</h4>
                    <el-col :xs="24" :sm="24" :md="8" :lg="12" :xl="8">
                        <el-form-item class="label-form">
                            <span style="font-size: 2em; color: #2b77b5;">
                                <i class="fab fa-linkedin"></i>
                            </span>
                            <el-input
                                v-model="my_sites.linkedin"
                            ></el-input>
                        </el-form-item>
                    </el-col>

                    <el-col :xs="24" :sm="24" :md="8" :lg="12" :xl="8">
                        <el-form-item class="label-form">
                            <span style="font-size: 2em; color: #2c2f31;">
                                <i class="fab fa-github"></i>
                            </span>
                            <el-input
                                v-model="my_sites.github"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>   

                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="8" :lg="12" :xl="8">
                        <el-form-item class="label-form">
                            <span style="font-size: 2em; color: #2e95f4;">
                                <i class="fab fa-facebook-square" ></i>
                            </span>
                            <el-input
                                v-model="my_sites.facebook"
                            ></el-input>
                        </el-form-item>
                    </el-col>

                    <el-col :xs="24" :sm="24" :md="8" :lg="12" :xl="8">
                        <el-form-item class="label-form">
                            <span style="font-size: 2em; color: #2b77b5;">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <el-input
                                v-model="my_sites.twitter"
                                type="text"
                            ></el-input>
                        </el-form-item>
                    </el-col>

                    <el-col :xs="24" :sm="24" :md="8" :lg="12" :xl="8">
                        <el-form-item class="label-form">
                            <span style="font-size: 2em; color: #fd5949;">
                                <i class="fab fa-instagram"></i>
                            </span>    
                            <el-input
                                v-model="my_sites.instagram"
                            ></el-input>
                        </el-form-item>
                    </el-col>

                    <el-col :xs="24" :sm="24" :md="8" :lg="12" :xl="8">
                        <el-form-item class="label-form">
                            <span style="font-size: 2em; color: green;">
                                <i class="fab fa-hackerrank"></i>
                            </span>    
                            <el-input
                                v-model="my_sites.hackerranck"
                            ></el-input>
                        </el-form-item>
                    </el-col>

                    <el-col :xs="24" :sm="24" :md="8" :lg="12" :xl="8" style="margin-top: 4px" >
                        <el-form-item style="margin-top=5px;" class="label-form">
                            <span style="margin-bottom: 0px; color: #000000;" > CODERSRANK </span>   
                            <el-input
                                v-model="my_sites.codersrank"
                            ></el-input>
                        </el-form-item>
                    </el-col>

                    <el-col :xs="24" :sm="24" :md="8" :lg="12" :xl="8" :mt="5" style="margin-top: 4px" >
                        <el-form-item class="label-form">
                            <span>Mi sitio web</span>     
                            <el-input
                                v-model="my_sites.mywebsite"
                            ></el-input>
                        </el-form-item>
                    </el-col>

                </el-row>  
                <el-row :gutter="20" type="flex" justify="end">
                    <el-col :span="120" style="margin-top: 3%">
                        <el-form-item size="large">
                            <el-button 
                                type="primary" 
                                @click="onSubmit(form, my_sites), loadingButtonAnimation(form.name)"
                            >Guardar
                            </el-button
                            >
                            <el-button @click="close('closePersonal')" > Cancelar</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-dialog>
    </div>
</template>
<script>
import {myMixins} from '../../../Utils/mixins'
import axios from 'axios'
import { createLogger } from 'vuex';

export default {
    name: "PersonalForm",
    mixins:[myMixins],
    data() {
        return {
            loadingButton:false,
            form: {
                namecandidate: "",
                lastnamecandidate: "",
                emailcandidate: "",
                phonecandidate: "",
                descriptioncandidate: "",
                phonecandidate: "",
                city_id: "",
                salarycandidate:"",
                areadevelop:"",
                type_document: "",
                number_document: "",
                city_expedition_document: ""
            },
            salary:"",
            rules:{
                namecandidate:     [{validator: this.validate_letters_field, message: 'Ingrese un nombre valido',       trigger: 'blur'}],
                lastnamecandidate: [{validator: this.validate_letters_field, message: 'Ingrese un apellido valido',     trigger: 'blur'}],
            },
            developerareas: [
                {
                    name: "Frontend",
                },
                {
                    name: "Backend",
                },
                {
                    name: "Fullstack",
                },
                {
                    name: "DevOps",
                },
            ],
            my_sites: {
                linkedin: "",
                github: "",
                facebook: "",
                twitter: "",
                instagram: "",
                hackerranck: "",
                codersrank: "",
                mywebsite: ""
            },
            cities: [],
            country: "",
            countries: [],
        };
    },
    props: ["DialogShowPersonal", "Closed", "close", "profile", "updateProfile"],
    methods: {
        getCountries(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/country`
            axios.get(path).then((response) => {
                this.countries = response.data
                this.getCities();
            })
                .catch((error) => {
                })
        },
        getCities(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities/${this.country}`
            axios.get(path).then((response) => {
                this.cities = response.data
            })
                .catch((error) => {
                })
        },
        onSubmit(form, my_sites){ 
            form.salarycandidate = this.salary.replace(/\./g, "")
            this.$refs["form"].validate((valid) => {
                if (valid) {
                    this.$emit("updateProfile", form, my_sites)
                } else {
                    this.alertRules();
                }                
            });     
        },
        alertRules() {
            this.button_save = false;
            this.$notify.warning({
                title: 'Verifica tu información',
                message: 'Algunos campos no son correctos, por favor verificalos'
            });
        },
    },
    watch: { 
        profile: function(newVal, oldVal) {
            console.log(newVal)
            this.form = newVal;
            this.country = newVal.city.country_id;
            this.salary = newVal.salarycandidate
            if(newVal.my_sites != null) this.my_sites = newVal.my_sites;
        },
        salary:function(newVal, oldVal){
            this.salary = this.salary.replace(/[^0-9]+/g, '')
                .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },
        centerDialogVisible: function (val) {
            if (val){
                this.loadingButton = false
            }
        },
    },
    created() {
        this.getCountries();
    }
};
</script>

<style scoped>

</style>
