<template lang="html">
    <div>
        <el-dialog
            title="Habilidades tecnológicas"
            width="30%"
            center
            :before-close="Closed"
        >
            <el-form ref="form" :model="form" size="medium" label-position="right">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item label="¿En que lenguaje desarrollas?" prop="lenguajes" class="label-form">
                            <el-select v-model="form.lenguajes" multiple filterable placeholder="Selecciona al menos un lenguaje...">
                                <el-option
                                    v-for="item in list_lenguajes"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item label="¿Tu libreria o Framework favorito es?" prop="frameworks" class="label-form">
                            <el-select v-model="form.frameworks" multiple filterable placeholder="Selecciona al menos un framework...">
                                <el-option
                                    v-for="item in list_frameworks"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row :gutter="20" type="flex" justify="end">
                    <el-col :span="120" style="margin-top: 3%">
                        <el-form-item size="large">
                            <el-button 
                                type="primary" 
                                :loading="loadingButton"
                                @click="addSkillTech(form, 'skills-tech'),
                                        loadingButtonAnimation(form.lenguajes)"
                            >Guardar
                            </el-button>
                            <el-button @click="close('closeSkillsTech')">Cancelar</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
import axios from "axios";
import {myMixins} from '../../../Utils/mixins'

export default {
    mixins: [myMixins],
    name: "SkillsTechForm",
    data() {
        return {
            loadingButton:false,
            form: {
                user_id: "",
                lenguajes: [],
                frameworks: []
            },
            list_lenguajes: [],
            list_frameworks: [],
        };  
    },
    props: ["centerDialogVisible", "Closed", "close", "addSkillTech"],
    beforeMount() {
        this.getFrameworks();
        this.getLenguages();
    },
    methods: {
        getLenguages(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/lenguage`
            axios.get(path).then((response) => {
                this.list_lenguajes = response.data
            })
                .catch((error) => {
                })
        },
        getFrameworks(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/frameworks`
            axios.get(path).then((response) => {
                this.list_frameworks = response.data
            })
                .catch((error) => {
                })
        },
    },
    watch: {
        centerDialogVisible: function (val) {
            if (val){
                this.loadingButton = false
            }
        },
    }
};
</script>

<style scoped>
.input {
  width: 100%;
  justify-content: center;
}
</style>
