<template lang="html">
    <div>
        <el-dialog
            title="Habilidades"
            width="30%"
            center
            :before-close="Closed"
        >
            <el-form ref="form" :model="form" size="medium" label-position="right">
                <el-row :gutter="20">
                    <el-col>
                        <el-form-item label="Selecciona una aptitud" class="label-form"
                                      :rules="[{ required: true, message: 'Este campo es obligatorio', trigger: 'blur' }]"
                        >
                            <el-select v-model="form.name">
                                <el-option label="Trabajo en equipo" value="trabajo-en-equipo"></el-option>
                                <el-option label="Adaptabilidad" value="adaptabilidad"></el-option>
                                <el-option label="Resolución de problemas" value="resolucion-de-problemas"></el-option>
                                <el-option label="Creatividad" value="creatividad"></el-option>
                                <el-option label="Liderazgo" value="liderazgo"></el-option>
                                <el-option label="Empatía" value="empatía"></el-option>
                                <el-option label="Lealtad" value="Lealtad"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row :gutter="20" type="flex" justify="end">
                    <el-col :span="120" style="margin-top: 3%">
                        <el-form-item size="large">
                            <el-button type="primary" 
                                       :loading="loadingButton" 
                                       @click="addSkill(form, 'skills'), 
                                               loadingButtonAnimation(form.name)"
                            >
                                Guardar
                            </el-button>
                            <el-button 
                                @click="close('closeSkills')"
                            >
                                Cancelar
                            </el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
import {
    myMixins
} from '../../../Utils/mixins'

export default {
    mixins: [myMixins],
    name: "SkillsForm",
    data() {
        return {
            form: {
                user_id: "",
                name: "",
            },
            loadingButton:false
        };
    },
    props: ["centerDialogVisible", "Closed", "close", "addSkill"],
    watch: {
        centerDialogVisible: function (val) {
            if (val){
                this.loadingButton = false
            }
        },
    }
};
</script>

<style scoped>
.input {
  width: 100%;
  justify-content: center;
}
</style>
