<template>
    <div class="text-left">
        <h3 v-if="type != 'register'">Redes sociales</h3>
        <h3 v-if="type == 'register'"></h3>
        <p v-else>Asocia tu cuenta preferida para inicio de sesión rapido.</p>
        <span v-if="loadingSocials"> Cargando... </span>
        <el-button-group v-else class="socials-buttons">
            <el-button
                :class="{ 'button-social': true, [buttonAuth.name]: true }"
                v-for="buttonAuth in buttonsSocials"
                :key="buttonAuth.name"
                :loading="loading == buttonAuth.name"
                plain
                type="default"
                @click="AssociateAccount(buttonAuth.name)"
            >
                <el-image class="icon-social" :src="buttonAuth.icon"></el-image>
                <span v-if="!buttonAuth.active" class="text-social">{{
                    buttonAuth.slug | capitalize
                }}</span>
                <span v-else class="text-social">Desvincular cuenta</span>
                <i v-if="buttonAuth.active" class="fas fa-check social-check"></i>
            </el-button>
        </el-button-group>
    </div>
</template>

<script>
// import { socials } from "../../Constant/index";
import { mapState,mapMutations } from "vuex";
import axios from "axios";
export default {
    computed: {
        ...mapState("auth", ["authenticate", "user_session"]),
    },
    props: {
        authorization: {
            type: String,
            default: "associate",
        },
        type: {
            type: String,
            validator: (value) => {
                return ["register", "associate"].indexOf(value) !== -1;
            },
            required: true,
        },
    },
    data() {
        return {
            buttonsSocials: socials,
            socialsActive: {},
            loading: false,
            loadingSocials: false,
        };
    },
    beforeMount() {
        if (this.type == "associate") {
            this.getSocialsUser();
        }
    },
    methods: {
        ...mapMutations("auth", ["changeAuth"]),
        getSocialsUser() {
            this.loadingSocials = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/user/socials/${this.user_session.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "POST",
            }).then((res) => {
                if (res.data.success) {
                    const socials = res.data.data.id;
                    if (socials.length) {
                        this.socialsActive = socials[0];
                    }
                }
                this.loadingSocials = false;
            });
        },
        AssociateAccount(socialAccount) {
            this.loading = socialAccount;
            this.$auth
                .authenticate(socialAccount, {
                    typeOfAuthorization: this.type,
                    userId: (this.user_session) ? this.user_session.uuid : null,
                })
                .then((response) => {
                    this.loading = false;
                    if (response.data.success) {
                        if (this.type == "associate") {
                            this.checkSocialsUser(socialAccount, response.data.data.id);
                        }
                        if (this.type == "register") {
                            //this.alertSuccess();
                            const user = response.data.data.user;
                            localStorage.setItem("api_token", user.api_token);
                            this.changeAuth(user);
                            this.nextRedirect(user.roles);
                        }
                        this.$notify.success({
                            title: socialAccount,
                            message:
                (this.type == "register")
                    ? "Te hemos registrado exitosamente"
                    : "La cuenta se ha asociado correctamente",
                            offset: 100,
                        });
                    }
                })
                .catch(() => {
                    this.loading = false;
                });
        },
        nextRedirect(rol) {
            if (localStorage.getItem("url_signature_contract") != undefined) {
                return window.location.replace(
                    localStorage.getItem("url_signature_contract")
                );
            }

            switch (rol) {
            case "administrator":
                this.$router.push("dashboard");
                break;
            case "analyst":
                this.$router.push("dashboard");
                break;
            case "candidate":
                this.$router.push("edit-profile");
                break;
            case "client":
                this.$router.push("/client-dashboard");
                break;
            default:
                break;
            }
            this.alertSuccess();
        },
        checkSocialsUser(currentSocials, idAssociate) {
            const updateButtonSocials = this.buttonsSocials.map((buttonSocial) => {
                const active =
          typeof currentSocials == "object"
              ? currentSocials[buttonSocial.name]
              : buttonSocial.name == currentSocials
                  ? idAssociate
                  : null;
                if (active !== null) {
                    buttonSocial.active = active;
                }
                return buttonSocial;
            });
            this.buttonsSocials = updateButtonSocials;
        },
    },
    filters: {
        capitalize: function (value) {
            if (!value) return "";
            value = value.toString();
            return value.charAt(0).toUpperCase() + value.slice(1);
        },
    },
    watch: {
        socialsActive: function (currentSocials) {
            this.checkSocialsUser(currentSocials);
        },
    },
};
</script>

<style scoped>
.icon-social {
  width: 30px;
  margin-right: 5px;
  padding: 5px;
  float: left;
}
.button-social {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px !important;
    padding: 0px;
    color: #ffffff;
    font-weight: 600;
    text-align: left;
    border: transparent;
    font-size: 0.9em;
    height: 55px;
}
.text-social {
  display: inline-block;
  margin-top: 15px;
}
.button-social.github {
    color: #303133;
    border: 1px solid #ccc;
}
.button-social.google {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #303133;
}
.button-social.linkedin {
  background-color: #0083be;
  border: 1px solid #0083be;
}
.social-check {
  float: right;
  display: block;
  height: inherit;
  padding: 14px;
}
</style>
