<template lang="html">
    <div>
        <el-dialog
            title="Estudios / Cursos"
            width="40%"
            center
            :before-close="Closed"
        >
            <el-form ref="form" :model="form" :rules="rules" size="medium" label-position="right">
                <el-row :gutter="20">
                    <el-col>
                        <el-form-item label="Institución" class="label-form">
                            <el-input
                                v-model="form.college_name"
                                placeholder="Institución"
                                maxlength="150"
                                show-word-limit
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col>
                        <el-form-item label="Carrera" class="label-form">
                            <el-input v-model="form.discipline" maxlength="150" show-word-limit></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item label="Fecha de inicio" prop="start_date" class="label-form">
                            <el-date-picker
                                format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd"
                                v-model="form.start_date"
                                style="width: 100%"
                                type="date"
                            >
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12" class="label-form">
                        <el-form-item label="Fecha fin" prop="end_date" >
                            <el-date-picker
                                format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd"
                                v-model="form.end_date"
                                style="width: 100%"
                                type="date">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-form-item label="Descripción" class="label-form">
                        <el-input
                            v-model="form.description"
                            placeholder="Descripción"
                            type="textarea"
                            maxlength="300"
                            show-word-limit
                        ></el-input>
                    </el-form-item>
                </el-row>
                <el-row :gutter="20" type="flex" justify="end">
                    <el-col :span="120" style="margin-top: 3%">
                        <el-form-item size="large">
                            <el-button 
                                type="primary"
                                :loading="loadingButton"
                                @click="addStudy(form, 'studies'),
                                        loadingButtonAnimation(form.college_name)"
                            >Guardar</el-button
                            >
                            <el-button @click="close('closeStudies')">Cancelar</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
import {
    myMixins
} from '../../../Utils/mixins'

export default {
    mixins: [myMixins],
    name: "SkillsForm",
    data() {
        var validateEndDate = (rule, value, callback) => {
            console.log("fecha end", value, this.form.start_date );
            if (value < this.form.start_date ){
                callback(new Error('La fecha de egreso debe ser posterior al ingreso'));
            }else {
                null
            }
        };
        var validateStartDate = (rule, value, callback) => {
            var fecha_actual = new Date();
            var fecha_ingreso = new Date(value);
            //var fecha_actual = `${fecha_actual.getFullYear()}-${[fecha_actual.getMonth()]}-${fecha_actual.getDate()}`
            //var fecha_ingreso = `${fecha_ingreso.getFullYear()}-${[fecha_ingreso.getMonth()]}-${fecha_ingreso.getDate()}`
      
            if (fecha_ingreso > fecha_actual ){
                console.log("error");
                callback(new Error('La fecha de ingreso debe ser anterior a ', fecha_actual ));
            }else {
                null;
            }
        };
        return {
            loadingButton:false,
            form: {
                user_id: "",
                college_name: "",
                discipline: "",
                city_id: "",
                start_date: "",
                end_date: "",
                description: ""
            },
            rules:{
                end_date: [
                    { validator: validateEndDate, message: 'fecha de finalización no válida', trigger: 'blur' }
                ],
                start_date: [
                    { validator: validateStartDate, message: 'fecha de ingreso no válida', trigger: 'blur' }
                ]
            }
        };
    },
    props: ["centerDialogVisible", "Closed", "close", "addStudy"],
    watch: {
        centerDialogVisible: function (val) {
            if (val){
                this.loadingButton = false
            }
        },
    }
};
</script>

<style scoped>
.input {
  width: 100%;
  justify-content: center;
}
</style>
