<template>
    <section class="imuko-template-wrapper">
        <el-row style="padding: 0%;width: 100%">
            <el-col :xs="22" :sm="22" :md="22" :lg="22" :xl="22">
                <span class="imuko-template-wrapper__text">{{ template.name }}</span>
            </el-col>
            <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
                <template v-if="find">
                    <template v-if="status">
                        <el-switch v-model="status" @change="saveTemplate()"></el-switch>
                    </template>
                    <template v-else>
                        <el-switch v-model="status" @change="deleteTemplate()"></el-switch>
                    </template>
                </template>
                <template v-else>
                    <template v-if="notStatus">
                        <el-switch v-model="notStatus" @change="saveTemplate()"></el-switch>
                    </template>
                    <template v-else>
                        <el-switch v-model="notStatus" @change="deleteTemplate()"></el-switch>
                    </template>
                </template>
            </el-col>
        </el-row>
    </section>
</template>

<script>
import axios from "axios";

export default {
    name: "TemplateShow",
    props: {
        'userId': {
            type: Number,
            required: true
        },
        'template': {
            type: Object,
            required: true
        },
        'userTemplates': {
            type: Array,
            required: true
        },
    },
    computed: {
        find: function () {
            let exists = false;
            this.userTemplates.map((template) => {
                if (template.template_id == this.template.id) {
                    exists = true;
                }
            })
            return !exists;
        }
    },
    data() {
        return {
            status: true,
            notStatus: false,
        }
    },
    methods: {
        saveTemplate() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/templates/save/${this.template.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                console.log(res)
                this.templatesByUser = res.data;
            });
        },
        deleteTemplate() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/templates/delete/${this.template.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET"
            }).then(res => {
                console.log(res)
                this.templatesByUser = res.data;
            });
        }
    }
}
</script>

<style scoped>
.imuko-template-wrapper {
    margin-top: 5px;
}

.imuko-template-wrapper__text {
    text-align: left;
    display: block;
    font-size: 13px;
    font-weight: 500;
}

</style>
