<template>
    <el-col>
        <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%">
            <el-row style="padding: 2%">
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <div style="display: flex; align-items: baseline">
                        <h3 style="flex: 1" class="text-left"><i class="fas fa-code" style="margin-right:5px"></i> Desarrolladores Asignados</h3>
                    </div>
                    <el-table
                        :data="requests"
                        style="width: 100%"
                        empty-text="No se encontraron desarrolladores..."
                    >
                        <el-table-column label="Nombre">
                            <template slot-scope="props">
                                <p>
                                    {{ props.row.namecandidate }}
                                </p>
                            </template>
                        </el-table-column>
                        <el-table-column label="Apellido">
                            <template slot-scope="props">
                                <p>
                                    {{ props.row.lastnamecandidate }}
                                </p>
                            </template>
                        </el-table-column>
                        <el-table-column label="Area">
                            <template slot-scope="props">
                                <p>
                                    {{ props.row.areadevelop }}
                                </p>
                            </template>
                        </el-table-column>
                        <el-table-column label="Estatus">
                            <template slot-scope="props">
                                <p>
                                    {{ props.row.statuscandidate }}
                                </p>
                            </template>
                        </el-table-column>
                        <el-table-column label="Fecha asignacion">
                            <template slot-scope="props">
                                <p>
                                    {{ printDateRequest(props.row.pivot.created_at) }}
                                </p>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-col>
            </el-row>
        </el-card>
    </el-col>
</template>

<script>
import {
    myMixins
} from '../../Utils/mixins'

export default {
    props: ["requestList"],
    mixins: [myMixins],
    data(){
        return{
            requests:[],
        }
    },
    watch: {
        requestList: function (newVal, oldVal) {
            this.requests = newVal;
        },
    },
}
</script>

<style scoped>
</style>