<template>
    <el-container>
        <!-- Client card profile component -->
        <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6" class="m-1">
            <ProfileInformation :profile="profile" :user_uuid="user_session.uuid" :city="city"  :country="country"  />
        </el-col>

        <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18" class="m-1">
            <el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="padding-left: 2%;">
                        <h1 class="text-center">¡Gestiona aqui las solicitudes de tu empresa!</h1>
                        <div>
                            <router-link to='/solicitud-desarrollador'>
                                <el-button type="primary" size="medium" round><i class="fas fa-plus-circle"></i> Solicitar desarrollador</el-button>
                            </router-link>
                        </div>
                    </el-col>
                </el-row>
            </el-row>

            <el-row :gutter="20">
                <!-- Developer assigned list component -->
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="padding: 2px;">
                    <assignedDevelopers :requestList="profile.developers"/>
                </el-col>
              
                <!-- Contract list component -->
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="padding: 2px;" >
                    <contractList :contractList="profile.contract"/>
                </el-col>
              
                <!-- Request list component -->
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="padding: 2px;" >
                    <requestList :requestList="profile.requests"/>
                </el-col>
              
                <!-- Document component -->
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="padding: 2px;" >
                    <DocumentComponent :user_uuid="user_session.uuid" :add_button_show="true" type_user="client" />
                </el-col>

            </el-row>
        </el-col>
    </el-container>
</template>

<script>
import assignedDevelopers from './assignedDevelopers';
import contractList from './listClientContract';
import requestList from './listClientRequest';
import DocumentComponent from "../Documents/Upload/DocumentForm";
import ProfileInformation from "./Profile/ProfileInformationCard";
import axios from "axios";
import {
    myMixins
} from '../../Utils/mixins'

import {
    createLogger,
    mapState
} from "vuex";
export default {
    mixins: [myMixins],
    components:{
        assignedDevelopers,
        contractList,
        requestList,
        DocumentComponent,
        ProfileInformation
    },
    name: "Dashboard",
    computed: {
        ...mapState('auth', ['authenticate', 'user_session']),
    },
    data() {
        return {
            // urlbrand: require('../../assets/client-default.png'),
            contracts:'',
            profile: '',
            country: '',
            city: '',
            form: {}
        };
    },
    beforeMount() {
        this.getProfile();
    },
    methods:{
        getrequestsList(){
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${this.user_session.api_token}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/get-requests/${this.user_session.email}`;
            axios.get(path).then(response => {
                var developers = [];
                for (let i = 0; i < response.data.length; i++) {
                    response.data[i].created_at = this.printDateRequest(response.data[i].created_at);
                    var request = response.data[i]
                    developers.push(request.developers)
                }
                this.candidates = developers
                this.requests=response.data
                this.getCandidates()
            }).catch(error => {});
        },
        beforeMount() {
            this.getProfile();
        },
        getProfile(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/customer/profile/${this.user_session.uuid}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "get"
            }).then(res => {
                this.profile = res.data;
                this.country = res.data.city.country;
                this.city = res.data.city;
                this.candidates = res.data.developers;
            });
            
        },
        add(form, type) {
            form.user_id = this.user_session.id;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/${type}`;
            axios({
                url: path,
                method: "POST",
                data: form
            }).then(res => {
            //
            });
        }
    },
    created() {
        // code
    }
};
</script>

<style scoped>
    #customer-data {
        text-align: left;
        list-style-type: none;
    }

    #customer-data li {
        margin-bottom: 5px;
    }

    #customer-data li span:first-child {
        min-width: 40px;
        font-weight: bold;
        display: inline-block;
        min-width: 140px;
    }

    #languages {
        display: block;
    }

    #languages>div {
        display: block;
        background-color: #ff0000;
        margin: 0px 0px 5px 10px;
    }

    .tag-availability {
        padding: 0.4%;
        height: 25px;
        line-height: 1px;
        font-size: 0.9rem;
        font-weight: bold;
    }

    .show-date {
        font-size: 0.75rem;
        text-align: left;
        color: #6a6d6d;
    }

    .div-description-vacant {
        color: #6a6d6d;
    }

    .card-info-one {
        background-color: #4eacdf;
        color: #fff;
        font-size: 1.3rem;
    }

    .card-info-two {
        background-color: #8BC34A;
        color: #fff;
        font-size: 1.3rem;
    }

    .card-info-tree {
        background-color: #009688;
        color: #fff;
        font-size: 1.3rem;
    }

    .h3-simple {
        margin-block-end: 0.5em !important;
        margin-block-start: 0.5em !important;
    }
</style>
