<template lang="html">
    <el-container v-loading.fullscreen.lock="fullscreenLoading">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="22">
            <!-- <el-image :src="require('../../assets/developer.png')" style="width: 100vh;"></el-image> -->
            <h1 class="title-form" style="font-size: 2rem; margin-top: 1em;">
                <span>
                    Solicitar un desarrollador
                    <i class="fas fa-laptop-code"></i>
                </span>
            </h1>
            <el-row type="flex" justify="center">
                <el-col :xs="21" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-card class="box-card">
                        <el-row style="margin-bottom: 2%;">
                            <el-col class="mx-auto" :md="24" style="text-align: center;">
                                <h4 style="margin: 0px !important;"> ¡Encuentra con nosotros el talento que necesitas!</h4>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :xs="24" :sm="24" :md="20" :lg="24" :xl="24">
                                <div class="card-body imuk-card">
                                    <el-form ref="form" :model="form" :rules="rules">
                                        <el-divider content-position="left" v-if="(user_session == null)">Ingresa tus datos
                                        </el-divider>
                                        <el-row :gutter="20" v-if="(user_session == null)">
                                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                                <el-form-item class="label-form" label="Nombre y Apellido"
                                                              prop="first_name">
                                                    <el-input v-model="form.first_name"
                                                              placeholder="Ingresa tu nombre"></el-input>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                                <el-form-item class="label-form" label="Email Corporativo" prop="email">
                                                    <el-input v-model="form.email"
                                                              placeholder="Ingresa tu email"></el-input>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row :gutter="20" v-if="(user_session == null)">
                                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                                <el-form-item class="label-form" label="País de ubicación"
                                                              prop="countryCompany">
                                                    <el-select v-on:change="getCountries()" id="country"
                                                               v-model="form.countryCompany" filterable
                                                               placeholder="Seleccione...">
                                                        <el-option v-for="item in countries" :key="item.id"
                                                                   :label="item.name" :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                                <el-form-item class="label-form" label="Ciudad" prop="city_id">
                                                    <el-select v-on:change="getCities()" v-model="form.city_id"
                                                               filterable placeholder="Seleccione...">
                                                        <el-option v-for="item in cities" :key="item.id"
                                                                   :label="item.name" :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row :gutter="20" v-if="(user_session == null)">
                                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                                <el-form-item class="label-form" label="Empresa" prop="company">
                                                    <el-input v-model="form.company"
                                                              placeholder="Nombre de tu empresa"></el-input>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                                <el-form-item class="label-form" label="Celular" prop="phone">
                                                    <el-input v-model="form.phone" placeholder="3125555555"
                                                              :value="4"></el-input>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-divider content-position="left">¿Que tipo de desarrollador necesitas?
                                        </el-divider>
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                                <el-form-item class="label-form" label="Experiencia"
                                                              prop="experience_years">
                                                    <el-select v-model="form.experience_years"
                                                               placeholder="Seleccione...">
                                                        <el-option label="Junior" value="1"></el-option>
                                                        <el-option label="SemiSenior" value="2"></el-option>
                                                        <el-option label="Senior" value="3"></el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                                <el-form-item class="label-form" label="Disponibilidad"
                                                              prop="contract_type">
                                                    <el-select v-model="form.contract_type" placeholder="Seleccione...">
                                                        <el-option label="Por horas" value="hours"></el-option>
                                                        <el-option label="Medio tiempo" value="part-time"></el-option>
                                                        <el-option label="Tiempo completo"
                                                                   value="full-time"></el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <el-form-item class="label-form"
                                                              label="¿Que lenguajes de programación debe dominar?"
                                                              prop="programming_lenguage_id">
                                                    <el-select v-model="form.programming_lenguage_id" multiple
                                                               filterable placeholder="Select">
                                                        <el-option v-for="item in tecnologias" :key="item.id"
                                                                   :label="item.name" :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <el-form-item class="label-form"
                                                              label="¿Frameworks y otras tecnologías que debe dominar?"
                                                              prop="frameworks">
                                                    <el-select v-model="form.frameworks" multiple filterable
                                                               placeholder="Select">
                                                        <el-option v-for="item in frameworks" :key="item.id"
                                                                   :label="item.name" :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                                <el-form-item class="label-form" label="Idioma"
                                                              prop="languages">
                                                    <el-select v-model="form.language_id"
                                                               placeholder="Select">
                                                        <el-option v-for="item in languages" :key="item.id"
                                                                   :label="item.name" :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                                <el-form-item class="label-form" label="Nivel"
                                                              prop="contract_type">
                                                    <el-select v-model="form.language_level_id"
                                                               placeholder="Select">
                                                        <el-option v-for="item in languageLevels" :key="item.id"
                                                                   :label="item.level" :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <el-form-item class="label-form" label="Zona Horaria"
                                                              prop="contract_type">
                                                    <el-select v-model="form.timezone_id"
                                                               placeholder="Select">
                                                        <el-option v-for="item in timeZones" :key="item.id"
                                                                   :label="item.name" :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <el-form-item class="label-form" label="Cuéntanos mas de tu proyecto"
                                                              prop="description">
                                                    <el-input type="textarea" v-model="form.description" maxlength="350"
                                                              placeholder="Es una app, una ecommerce, una web..."></el-input>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-col>
                                            <el-button style="margin: auto;" type="primary" @click="onSubmit"><i
                                                class="far fa-save"></i> Guardar
                                            </el-button>
                                        </el-col>
                                    </el-form>
                                </div>
                                <el-col v-if="(user_session == null)">
                                    <router-link to="/registro-empresa">
                                        <el-button type="success" size="medium" round>¿No tienes una cuenta?, regístrate como empresa <i class="fas fa-arrow-circle-right"></i></el-button>
                                    </router-link>
                                </el-col>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {myMixins} from "../../Utils/mixins";
import {mapState, mapMutations} from "vuex";

export default {
    computed: {

        ...mapState("auth", ["authenticate", "user_session"]),

    },
    mixins: [myMixins],
    name: "formClientRequest",
    data() {
        var validatePass = (rule, value, callback) => {
            if (value === "") {
                callback(new Error("Please input the password"));
            } else {
                if (this.formclave.checkPass !== "") {
                    this.$refs.formclave.validateField("checkPass");
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === "") {
                callback(new Error("Las contraseñas no coinciden"));
            } else if (value !== this.formclave.mes) {
                callback(new Error("Las contraseñas no coinciden"));
            } else {
                callback();
            }
        };
        return {
            candidateId: this.$route.params.candidateId,
            url:
                "https://cdn2.iconfinder.com/data/icons/whcompare-servers-web-hosting/50/website-builder-256.png",
            fullscreenLoading: false,
            form: {
                first_name: "",
                email: "",
                phone: "",
                description: "",
                status: "",
                programming_lenguage_id: [],
                frameworks: [],
                language_id: 1,
                language_level_id: 1,
                timezone_id: 1,
                experience_years: "",
                contract_type: "",
                remote: false,
                site: "remote",
                company: "",
                countryCompany: "",
                city_id: "",
            },
            countries: [],
            cities: [],
            rules: {
                first_name: [
                    {
                        required: true,
                        message: "Ingresa un nombre valido",
                        trigger: "blur",
                        validator: this.validate_letters_field,
                    },
                ],
                email: [
                    {
                        type: "email",
                        required: true,
                        message: "El campo email es requerido",
                        trigger: "blur",
                    },
                    {
                        type: "email",
                        message: "Ingresa un email valido",
                        trigger: ["blur", "change"],
                    },
                ],
                programming_lenguage_id: [
                    {
                        required: true,
                        message: "Por favor selecciona la tecnología",
                        trigger: "change",
                    },
                ],
                phone: [
                    {
                        validator: this.validate_number_field,
                        message: "Ingrese un numero de telefono valido",
                        trigger: "blur",
                        required: true,
                    },
                ],
                experience_years: [
                    {
                        required: true,
                    },
                ],
                city_id: [
                    {
                        required: true,
                        message: "Por favor selecciona una ciudad",
                        trigger: "change",
                    },
                ],
                countryCompany: [
                    {
                        required: true,
                        message: "Por favor selecciona un pais",
                        trigger: "change",
                    },
                ],
                contract_type: [
                    {
                        required: true,
                    },
                ],
                programming_lenguage_id: [
                    {
                        required: true,
                        message: "Por favor selecciona la tecnología",
                        trigger: "change",
                    },
                ],
                phone: [
                    {
                        validator: this.validate_number_field,
                        message: "Ingrese un numero de telefono valido",
                        trigger: "blur",
                        required: true,
                    },
                ],
                experience_years: [
                    {
                        required: true,
                    },
                ],
                city_id: [
                    {
                        required: false,
                        message: "Por favor selecciona una ciudad",
                        trigger: "change",
                    },
                ],
                countryCompany: [
                    {
                        required: true,
                        message: "Por favor selecciona un pais",
                        trigger: "change",
                    },
                ],
                contract_type: [
                    {
                        required: true,
                    },
                ],
            },
            tecnologias: [],
            languages: [],
            languageLevels: [],
            timeZones: [],
            frameworks: [],
            disableInputBool: true,
        };
    },
    methods: {
        onSubmit() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients`;
            this.form.status = 1;
            this.fullscreenLoading = true;

            if (this.user_session) this.getSessionData();

            this.$refs["form"].validate((valid) => {
                if (valid) {
                    this.form.programming_lenguage_id = this.form.programming_lenguage_id.toString();
                    axios({
                        url: path, //Endpoint
                        method: "POST", //Método
                        data: this.form,
                    })
                        .then((response) => {
                            this.fullscreenLoading = false;
                            if (response.data.type == "error") {
                                swal({
                                    title: response.data.title,
                                    text: response.data.msg,
                                    icon: response.data.type,
                                });
                                this.resetForm();
                            } else {
                                (this.fullscreenLoading = false), this.mensaje();
                            }
                            this.form.programming_lenguage_id = [];
                        })
                        .catch((error) => {
                            this.form.programming_lenguage_id = [];
                            this.alertError();
                        });
                } else {
                    (this.fullscreenLoading = false), this.alertRules();
                }
            });
        },
        mensaje() {
            swal({
                title: "Buscando tu desarrollador",
                text: "Pronto nos contactaremos contigo",
                icon: "success",
                buttons: true,
                dangerMode: false,
            }).then((willDelete) => {
                if (willDelete) {
                    this.resetForm();
                }
            });
        },
        getLenguages() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/lenguage`;
            axios
                .get(path)
                .then((response) => {
                    this.tecnologias = response.data;
                })
                .catch((error) => {
                });
        },
        getLanguages() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/languages`;
            axios
                .get(path)
                .then((response) => {
                    this.languages = response.data;
                })
                .catch((error) => {
                });
        },
        getLanguageLevels() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/language-levels`;
            axios
                .get(path)
                .then((response) => {
                    this.languageLevels = response.data;
                })
                .catch((error) => {
                });
        },
        getTimeZones() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/timezones`;
            axios
                .get(path)
                .then((response) => {
                    this.timeZones = response.data;
                })
                .catch((error) => {
                });
        },
        getFrameworks() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/frameworks`;
            axios
                .get(path)
                .then((response) => {
                    this.frameworks = response.data;
                })
                .catch((error) => {
                });
        },
        getCountries() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/country`;
            axios
                .get(path)
                .then((response) => {
                    this.countries = response.data;
                    this.getCities();
                    this.getPhonecode();
                })
                .catch((error) => {
                });
        },

        getPhonecode() {
            const selectedCountryId = this.form.countryCompany;
            const country = this.countries.find(item => item.id == selectedCountryId);
            const phoneCode = country ? country.code_phone : null;
            this.form.phone = phoneCode;
        },


        getCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities/${this.form.countryCompany}`;
            axios
                .get(path)
                .then((response) => {
                    this.cities = response.data;
                })
                .catch((error) => {
                });
        },

        alertSuccess() {
            swal(
                "¡Tu solicitud ha sido enviada!",
                "¡Estamos buscando el mejor talento para ti!",
                "success"
            );
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },
        alertRules() {
            this.$notify.warning({
                title: "Campos Invalidos",
                message: "Faltan campos obligatorios o coloco datos incorrectos",
            });
        },
        resetForm() {
            this.$refs["form"].resetFields();
        },
        getSessionData() {
            this.form.first_name = this.user_session.first_name;
            this.form.email = this.user_session.email;
            this.form.phone = this.user_session.phone;
        },
    },
    watch: {
        "form.programming_lenguage_id": function () {
            let arr = this.form.programming_lenguage_id;
            if (arr.length > 1) {
                // this.getFrameworks(arr);
            } else {
                this.form.frameworks = [];
            }
        },
    },
    created() {
        this.getLenguages();
        this.getLanguages();
        this.getLanguageLevels();
        this.getTimeZones();
        this.getFrameworks();
        this.getCountries();
        let externalScript = document.createElement("script");
        externalScript.setAttribute(
            "src",
            "https://www.googletagmanager.com/gtag/js?id=AW-725852744"
        );
        externalScript.addEventListener("load", function (event) {
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag("js", new Date());
            gtag("config", "AW-725852744");
        });
        document.body.appendChild(externalScript);
    },
};
</script>

<style scoped>
.box-card {
    border-radius: 10px !important;
    margin: auto !important;
}

.imuk-card {
    margin-top: 2%;
    margin: 1%;
    padding: 0% 3% 10% 3%;
}

.icon-back {
    font-size: 1.2rem;
    font-weight: bold;
}

.swal-text {
    background-color: #fefae3;
    padding: 17px;
    border: 1px solid #f0e1a1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}
</style>
