<template lang="html">
    <el-container>
        <el-col style="padding: 2%" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <h2 v-if="all == 0">Contratos</h2>
            <br>
            <SearchContract style="padding-bottom: 2%" :getContracts="getContract"></SearchContract>
            <div style="padding: 20px 0px; text-align: left; width: 100%;">
                <el-link primary :underline="false" icon="el-icon-download" href="https://backend.imuko.co/export/contracts">Descargar Contratos</el-link>
            </div>
            <el-table
                :data="Contract"  v-if="all == 0"
                :row-class-name="tableRowClassName"
                empty-text="No se encontraron solicitudes..."
                v-loading="loading"
                style="width: 100%"
            >
                <el-table-column prop="id" label="#" width="50%"></el-table-column>
                <el-table-column label="Desarrollador">
                    <template slot-scope="props">
                        {{ props.row.developer.namecandidate }}
                        {{ props.row.developer.lastnamecandidate }}
                    </template>
                </el-table-column>
                <el-table-column label="Cliente">
                    <template slot-scope="props">
                        <span>{{ getClient(props.row.customer) }}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="contract_value_number" label="Valor">
                </el-table-column>
                <el-table-column
                    prop="user.type_document"
                    label="Tipo D."
                ></el-table-column>
                <el-table-column
                    prop="user.number_document"
                    label="Documento"
                ></el-table-column>
                <el-table-column label="Vencimiento">
                    <template slot-scope="props">
                        <span>{{ printDateRequest(props.row.end_date) }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Tipo">
                    <template slot-scope="props">
                        <span>{{ typeContract(props.row.type_contract) }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Estatus">
                    <template slot-scope="props">
                        <el-tag :type="printStatus(props.row.status)" effect="dark" size="small"> {{ (props.row.status) }}</el-tag>
                    </template>
                </el-table-column>
                <!-- el-table-column prop="status" label="Estatus"></el-table-column-->
                <el-table-column label="Firma">
                    <template slot-scope="props">
                        <span>{{ firmDescription(props.row.candidate_signed) }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Opciones">
                    <template slot-scope="props">
                        <el-tooltip
                            class="item"
                            effect="dark"
                            content="Ver Contrato Pdf"
                            placement="top-start"
                        >
                            <el-button
                                @click="getPdf(props.row.uuid)"
                                size="medium"
                                type="info"
                                round
                            ><i class="fas fa-file-invoice-dollar"></i
                            > </el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>

                <el-table-column v-if="(user_session !== null && user_session.roles == 'administrator')">
                    <template slot-scope="props">
                        <el-menu class="el-menu-demo" mode="horizontal">
                            <el-submenu index="2">
                                <template slot="title">
                                    <el-tooltip class="item"
                                                effect="dark"
                                                content="Mas"
                                                placement="top-start">
                                        <i style="font-size: 35px;" class="el-icon-circle-plus"></i>
                                    </el-tooltip>
                                </template>
                                <el-menu-item index="2-1">
                                    <el-button
                                        @click="showModalEdit(props.row)"
                                        round
                                        style="width: 100%"
                                        size="small"
                                        type="primary"
                                    ><i class="fas fa-pen-square"></i> Editar
                                    </el-button>
                                </el-menu-item>

                                <el-menu-item index="2-2">
                                    <el-button
                                        @click="contratterminacion(props.row.uuid)"
                                        size="small"
                                        type="danger"
                                        style="width: 100%"
                                        round>
                                    <i class="fas fa-file-contract"></i> Terminación de contrato</el-button>
                                </el-menu-item>

                                <el-menu-item index="2-3">
                                    <el-button
                                        @click="renoveContract(props.row)"
                                        size="small"
                                        style="width: 100%"
                                        type="success"
                                        round
                                    ><i class="fas fa-check-double"></i>
                                        Renovarción de Contrato
                                    </el-button>
                                </el-menu-item>

                                <el-menu-item index="2-3">
                                    <el-button
                                        @click="sendWapp(
                                            props.row.uuid,
                                            props.row.developer.namecandidate,
                                            props.row.developer.phonecandidate,
                                            props.row.hash,
                                        )"
                                        size="small"
                                        style="width: 100%"
                                        type="success"
                                        round
                                    ><i class="fab fa-whatsapp"></i> Notificación de Contrato
                                    </el-button>
                                </el-menu-item>

                                <el-menu-item index="2-3">
                                    <el-button
                                        @click="sendEmail(props.row.uuid)"
                                        size="small"
                                        style="width: 100%"
                                        type="warning"
                                        round
                                    ><i class="fas fa-paper-plane"></i> Enviar email
                                    </el-button>
                                </el-menu-item>
                                <el-menu-item index="2-3">
                                    <el-button
                                        @click="showModalViewHistory(props.row.uuid)"
                                        size="small"
                                        style="width: 100%"
                                        type="primary"
                                        round
                                    ><i class="fas fa-history"></i> Contratos anteriores
                                    </el-button>
                                </el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block"  v-if="all == 0">
                <el-pagination
                    layout="prev, pager, next"
                    :total="pagination.total"
                    :page-size="pagination.per_page"
                    @current-change="changePage"
                >
                </el-pagination>
            </div>

            <el-table
                :data="Overcome" v-if="over == 0"
                :row-class-name="tableRowClassName"
                empty-text="No se encontraron solicitudes..."
                v-loading="loading"
                style="width: 100%"
            >
                <el-table-column prop="id" label="#" width="50%"></el-table-column>
                <el-table-column label="Desarrollador">
                    <template slot-scope="props">
                        {{ props.row.namecandidate }} {{ props.row.lastnamecandidate }}
                    </template>
                </el-table-column>
                <el-table-column
                    prop="client_id"
                    label="Cliente"
                ></el-table-column>
                <el-table-column prop="contract_value_number" label="Valor">
                </el-table-column>
                <el-table-column
                    prop="type_document"
                    label="Tipo D."
                ></el-table-column>
                <el-table-column
                    prop="number_document"
                    label="Documento"
                ></el-table-column>
                <el-table-column label="Inicio">
                    <template slot-scope="props">
                        <span>{{ printDateRequest(props.row.start_date) }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Vencimiento">
                    <template slot-scope="props">
                        <span>{{validatetimeend(props.row.end_date,props.row.fechavencimiento)}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="Type_contract"
                    label="Tipo"
                ></el-table-column>
                <el-table-column prop="status" label="Estatus"></el-table-column>
                <el-table-column label="Estatus">
                    <template slot-scope="props">
                        <span>{{ firmDescription(props.row.candidate_signed) }}</span>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>

        <!-- Modal renovación  -->
        <el-dialog
            title="Renovación de  Contrato"
            width="55%">
            <el-form ref="formUpdaterenovate" :model="formUpdaterenovate">
                <el-row :gutter="20">
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item
                            class="label-form"
                            label="Valor de Contrato en letras" >
                            <el-input
                                v-model="formUpdaterenovate.contract_value"
                                maxlength="100"
                                show-word-limit
                                type="text"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item
                            class="label-form"
                            label="Valor de Contrato en números"
                        >
                            <el-input
                                v-model="formUpdaterenovate.contract_value_number"
                                maxlength="25"
                                show-word-limit
                                type="text"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item class="label-form" label="Cargo">
                            <el-input
                                v-model="formUpdaterenovate.position"
                                maxlength="100"
                                show-word-limit
                                type="text"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Fecha de Inicio">
                            <el-date-picker
                                v-model="formUpdaterenovate.start_date"
                                type="date"
                                format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd"
                                style="width: 100%"
                                placeholder="Fecha Inicio"
                                size="medium"
                            >
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Fecha  Final">
                            <el-date-picker
                                type="date"
                                v-model="formUpdaterenovate.end_date"
                                format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd"
                                style="width: 100%"
                                placeholder="Fecha Inicio"
                                autocomplete="off"
                                size="medium"
                            ></el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button
                    type="primary"
                    v-loading.fullscreen.lock="fullscreenLoading"
                    @click="onSubmitFormUpdaterenove()"
                >Guardar</el-button
                >
                <el-button @click="dialogFormVisiblerenove = false">Cancel</el-button>
            </span>
        </el-dialog>

        <el-dialog
            title="Logs del contrato"
            width="55%">
            <el-table
                :data="logsContract"
                style="width: 100%">
                <el-table-column
                    prop="user_id"
                    label="Usuario"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="created_at"
                    label="Fecha modificacion"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="version"
                    label="Version del contrato">
                </el-table-column>
                <el-table-column>
                    <template slot-scope="props">
                        <el-button
                            @click="getOldPdf(props.row.uuid)"
                            size="medium"
                            type="info"
                            round
                        >
                            <i class="fas fa-file-invoice-dollar"></i> 
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <span slot="footer" class="dialog-footer">
                <el-button
                    type="primary"
                    v-loading.fullscreen.lock="fullscreenLoading"
                    @click="onSubmitFormUpdaterenove()"
                >Guardar</el-button
                >
                <el-button @click="dialogLogsContract = false">Cancel</el-button>
            </span>
        </el-dialog>

        <!-- contract form, create and update -->
        <ContractForm
            :dialog="this.dialogFormVisible"
            :client="this.client"
            type_user="developer"
            action="edit"
            @close="close"
        >
        </ContractForm>
    </el-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import ContractForm from "../Contract/Form";
import SearchContract from "../SearchContract.vue";
import {
    myMixins
} from "../../Utils/mixins";
import {
    mapState,
} from 'vuex';
export default {
    mixins: [myMixins],
    components: {
        ContractForm,
        SearchContract
    },
    computed: {
        ...mapState('auth', ['authenticate', 'user_session'])
    },
    data() {
        return {
            imukoPage: "talento@imuko.com",
            Contract: [],
            Overcome: [],
            formUpdate: {
                start_date: "",
                end_date: "",
                position: "",
                contract_value: "",
                status: "",
                type_document: "",
                number_document: "",
                Type_contract: "",
                contract_value_number: "",
                contractduration: "",
                lenguaje_programación: "",
            },
            formUpdaterenovate: {
                position: "",
                contract_value: "",
                contract_value_number: "",
                contractduration: "",
                start_date: "",
                end_date: "",
            },
            status: [
                {
                    value: "pendiente",
                    label: "Pendiente",
                },
                {
                    value: "aprobado",
                    label: "aprobado",
                },
                {
                    value: "vencido",
                    label: "vencido",
                },
                {
                    value: "cancelado",
                    label: "cancelado",
                }
            ],
            client: {},
            dialogFormVisible: false,
            dialogFormVisiblerenove: false,
            dialogLogsContract: false,
            all: 0,
            over: 0,
            pagination: [],
            fullscreenLoading: false,
            loading: false,
            logsContract: []
        };
    },
    methods: {
        renoveContract(Contract) {
            this.dialogFormVisiblerenove = true;
            this.formUpdaterenovate.position = Contract.position;
            this.formUpdaterenovate.contract_value = Contract.contract_value;
            this.formUpdaterenovate.contract_value_number = Contract.contract_value_number;
            this.formUpdaterenovate.contractduration = Contract.contractduration;
            this.formUpdaterenovate.start_date = Contract.start_date;
            this.formUpdaterenovate.end_date = Contract.end_date;
            this.formUpdaterenovate.uuid = Contract.uuid;
        },
        onSubmitFormUpdaterenove() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/update-renovate-contract/${this.formUpdaterenovate.uuid}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: this.formUpdaterenovate,
            })
                .then((response) => {
                    this.alertSuccess();
                    this.getContract();
                    this.$emit("onSubmitFormUpdaterenove");
                    this.dialogFormVisiblerenove = false;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.alertError();
                    this.fullscreenLoading = false;
                });
        },
        sendWapp(uuid, name, phone, hash) {
            var url = "https://imukoapp.web.app/%23/candidate-signature/" + uuid
            var msg = "Hola, buen día " + name + ", Se ha generado un nuevo contrato en IMUKO para ti, " +
                "Por favor da clic en el siguiente enlace: " + url + " Una vez que ingreses        copia el siguiente " +
                "hash " + "*" + hash + "*" + " para poder realizar el proceso de firma y formar parte de nuestro equipo en IMUKO.   " +
                "¡Ingresa ya! Te estamos esperando                       Cordialmente,      IMUKO SAS - " + this.imukoPage

            this.sendWappMessage(phone, msg)
        },
        sendEmail(uuid) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract/re-send/${uuid}`;
            axios({url: path, method: "POST"})
                .then((response) => {
                    this.alertSuccessEmail();
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.alertError();
                    this.fullscreenLoading = false;
                });
        },
        validatetimeend(end, date) {
            console.log(end)
            var date_end
            if (end >= -15) {
                return date_end = "Proximo a vencer";
            } else {
                date_end = new Date(date)
                return `${date_end.getDate()} / ${[date_end.getMonth()+1]} / ${date_end.getFullYear()}`;
            }
        },
        allContract() {
            this.all = 0;
            this.over = 1;
            this.getContract();
        },
        overcome() {
            this.over = 0;
            this.all = 1;
            this.overcomecontract();
        },
        overcomecontract() {
            this.loading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `${process.env.VUE_APP_URL_API_BACKEND}/api/overcome-contract`;
            axios
                .get(path)
                .then((response) => {
                    this.Overcome = response.data;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },
        contratterminacion(uuid) {
            swal({
                title: "¿Está seguro?",
                text: "Terminar contrato con Imuko",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    this.geteditcontrat(uuid);
                } else {}
            });
        },
        geteditcontrat(uuid) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contrac-update-oneprofile/${uuid}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: uuid,
            })
                .then((response) => {
                    this.alertSuccess();
                    this.getContract();
                    this.dialogFormVisible = false;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.alertError();
                });
        },
        getPdf(uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract-pdf/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(
                        new Blob([response.data], {
                            type: "application/pdf",
                        })
                    );
                    this.link.href = url;
                    this.link.target = "_blank";
                    this.link.removeAttribute("download");
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        getOldPdf(uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contracts/log/download/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(
                        new Blob([response.data], {
                            type: "application/pdf",
                        })
                    );
                    this.link.href = url;
                    this.link.target = "_blank";
                    this.link.removeAttribute("download");
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        descargarpdf(uuid, Type_contract, start_date) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/descargarpdf-contrat/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    if (Type_contract == "Mandato") {
                        this.link.setAttribute("download", `Contracto_Mandato__${start_date}.pdf`); //or any other extension
                    } else if (Type_contract == "Termino Indefinido") {
                        this.link.setAttribute(
                            "download",
                            `Contracto_Termino_indefinido_${start_date}.pdf`
                        ); //or any other extension
                    } else if (Type_contract == "Prestación de servicios") {
                        this.link.setAttribute("download", `Contrato_Prestación_de_servicios_${start_date}.pdf`); //or any other extension
                    }

                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        showModalEdit(Contract) {
            console.log('contrato a modificar', Contract)
            this.client = Contract;
            this.client.contract_value_letter = Contract.contract_value;
            this.client.start_contract_date = Contract.start_date;
            this.client.lenguage_programming = Contract.programming_lenguage;
            this.client.number_document_representative_legal = Contract.user.number_document
            this.client.city_expedition_name_representative_legal = Contract.user.city_expedition_document
            this.client.type_document_representative_legal = Contract.user.type_document == null ? "CC" : Contract.user.type_document
            this.client.contract_duration = Contract.contract_duration
            this.client.full_name_legal = Contract.user.first_name
            this.formUpdate.start_date = Contract.start_date;
            this.formUpdate.end_date = Contract.end_date;
            this.formUpdate.position = Contract.position;
            this.formUpdate.contract_value = Contract.contract_value;
            this.formUpdate.status = Contract.status;
            this.formUpdate.type_document = Contract.type_document;
            this.formUpdate.number_document = Contract.number_document;
            this.formUpdate.Type_contract = Contract.Type_contract;
            this.formUpdate.contract_value_number = Contract.contract_value_number;
            this.formUpdate.contractduration = Contract.contractduration;
            this.formUpdate.lenguaje_programación = Contract.lenguaje_programación;
            this.formUpdate.uuid = Contract.uuid;
            this.dialogFormVisible = true;
        },
        showModalViewHistory(uuid) {
            this.dialogLogsContract = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `${process.env.VUE_APP_URL_API_BACKEND}/api/contracts/logs/${uuid}`;
            axios
                .get(path)
                .then((response) => {
                    console.log("registros logs", response.data);
                    this.logsContract = response.data;
                })
                .catch((error) => {
                });
        },
        onSubmitFormUpdate() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contrac-update/${this.formUpdate.uuid}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: this.formUpdate,
            })
                .then((response) => {
                    this.alertSuccess();
                    this.getContract();
                    this.$emit("onSubmitFormUpdate");
                    this.dialogFormVisible = false;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.alertError();
                    this.fullscreenLoading = false;
                });
        },
        alertSuccess() {
            this.$notify.success({
                title: "Modificacion Exitosa",
                offset: 100,
            });
        },
        alertSuccessEmail() {
            this.$notify.success({
                title: "Envio satisfactorio",
                offset: 100,
            });
        },
        changePage(page) {
            this.getContract(page);
        },
        async getContract(page, form = null) {
            console.log("solicita contractos?")
            this.loading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            console.log("aqui", form)
            var path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract?page=${page}`;

            if (form != null) {
                path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract?page=${page}&term=${form.term}&status=${form.status}&signature=${form.signature}`;
            }

            axios
                .get(path, form)
                .then((response) => {
                    console.log(response.data.arrRequest.original.data)
                    this.Contract = response.data.arrRequest.original.data;
                    this.pagination = response.data.pagination;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },

        alertRules() {
            this.$notify.warning({
                title: "Campos Obligatorios",
                message: "Faltan campos obligatorios por completar",
            });
        },
        handleClose(tag) {
            this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
        },
        close(e) {
            this.dialogFormVisible = false;
        },
    },

    created: function () {
        this.getContract();
        this.link = document.createElement("a");
        this.body = document.body;
        this.over = 1;

        if(this.user_session.roles == 'administrator'){
            this.overcomecontract();
        }

    },
};
</script>

<style scoped>
.fa-whatsapp {
    font-size: 1.1em;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.el-card__header {
    background-color: #00a0db;
    color: white;
}

.btn-danger {
    color: #fff;
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
}

.el-dialog__title {
    font-weight: 600 !important;
}

.el-table__body,
.el-table__footer,
.el-table__header {
    width: 100% !important;
}

.el-container {
   min-height: calc(100vh - 180px);
}
.el-menu-item i{
  color: white;
}

</style>
