<template lang="html">
    <el-container>
        <el-col style="padding: 2%" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <h2 >Contratos Clientes</h2>
            <SearchContract style="padding-bottom: 2%" :getContracts="getContract_Client"></SearchContract>
            <div style="padding: 20px 0px; text-align: left; width: 100%;">
                <el-link primary :underline="false" icon="el-icon-download" href="https://backend.imuko.co/export/contracts/clients">Descargar Contratos</el-link>
            </div>
            <el-table
                :data="Contract"
                :row-class-name="tableRowClassName"
                empty-text="No se encontraron solicitudes..."
                v-loading="loading"
                style="width: 100%"
            >
                <el-table-column prop="id" label="#" width="50%"></el-table-column>
                <el-table-column
                    prop="customer.company_name"
                    label="Cliente"
                ></el-table-column>
                <el-table-column prop="contract_value_number" label="Valor">
                </el-table-column>
                <el-table-column
                    prop="type_document"
                    label="Tipo D."
                ></el-table-column>
                <el-table-column
                    prop="number_document"
                    label="Documento"
                ></el-table-column>
                <el-table-column label="Inicio">
                    <template slot-scope="props">
                        <span>{{ printDateRequest(props.row.start_date) }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Vencimiento">
                    <template slot-scope="props">
                        <span>{{ printDateRequest(props.row.end_date) }}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="status" label="Estatus"></el-table-column>
                <el-table-column label="Firma">
                    <template slot-scope="props">
                        <span>{{ firmDescription(props.row.candidate_signed) }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Opciones">
                    <template slot-scope="props">
                        <el-tooltip
                            class="item"
                            effect="dark"
                            content="Ver Contrato Pdf"
                            placement="top-start"
                        >
                            <el-button
                                @click="getPdf(props.row.uuid)"
                                size="small"
                                type="info"
                                circle
                            ><i class="fas fa-file-invoice-dollar"></i
                            ></el-button>
                        </el-tooltip>
                        <el-tooltip
                            class="item"
                            effect="dark"
                            content="Descargar Contrato Pdf"
                            placement="top-start"
                        >
                            <el-button
                                @click="descargarpdf(props.row.uuid, props.row.Type_contract, props.row.start_date)"
                                size="small"
                                type="info"
                                circle
                            ><i class="fas fa-download"></i
                            ></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>

                <el-table-column>
                    <template slot-scope="props">
                        <el-menu class="el-menu-demo" mode="horizontal">
                            <el-submenu index="2">
                                <template slot="title">
                                    <el-tooltip class="item"
                                                effect="dark"
                                                content="Mas"
                                                placement="top-start">
                                        <i style="font-size: 35px;" class="el-icon-circle-plus"></i>
                                    </el-tooltip>
                                </template>

                                <el-menu-item index="2-1">
                                    <el-button
                                        @click="showModalEdit(props.row)"
                                        round
                                        size="small"
                                        style="width: 100%"
                                        type="primary"
                                    ><i class="fas fa-pen-square"></i> Editar</el-button>

                                </el-menu-item>

                                <el-menu-item index="2-2">
                                    <el-button
                                        @click="contratterminacion(props.row.uuid)"
                                        size="small"
                                        type="danger"
                                        style="width: 100%"
                                        round
                                    ><i class="fas fa-file-contract"></i> Terminación de contrato</el-button>
                                </el-menu-item>

                                <el-menu-item index="2-3">
                                    <el-button
                                        @click="sendWapp(
                                            props.row.customer.phone,
                                        )"
                                        size ="small"
                                        round
                                        style="width: 100%"
                                        type="success"
                                    ><i class="fab fa-whatsapp" aria-hidden="true"></i>  Notificación de Contrato
                                    </el-button>
                                </el-menu-item>

                                <el-menu-item index="2-3">
                                    <el-button
                                        @click="deletecontractclient(props.row.uuid)"
                                        size="small"
                                        type="danger"
                                        style="width: 100%"
                                        round
                                    ><i class="fas fa-unlink"></i>  Eliminar Contrato</el-button>
                                </el-menu-item>
                                <el-menu-item index="2-4">
                                    <el-button
                                        @click="renoveContract(props.row)"
                                        size="small"
                                        style="width: 100%"
                                        type="success"
                                        round
                                    ><i class="fas fa-check-double"></i>
                                        Renovarción de Contrato
                                    </el-button>
                                </el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block">
                <el-pagination
                    layout="prev, pager, next"
                    :total="pagination.total"
                    :page-size="pagination.per_page"
                    @current-change="changePage"
                >
                </el-pagination>
            </div>
        </el-col>
        <ContractForm
            :dialog="this.dialogFormVisible"
            :client="this.client"
            type_user="developer"
            action="edit"
            @close="close"
        >
        </ContractForm>

        <!-- Modal renovación  -->
        <el-dialog
            title="Renovación de  Contrato"
            width="55%">
            <el-form ref="formUpdaterenovate" :model="formUpdaterenovate">
                <el-row :gutter="20">
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item
                            class="label-form"
                            label="Valor de Contrato en letras" >
                            <el-input
                                v-model="formUpdaterenovate.contract_value"
                                maxlength="100"
                                show-word-limit
                                type="text"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item
                            class="label-form"
                            label="Valor de Contrato en números"
                        >
                            <el-input
                                v-model="formUpdaterenovate.contract_value_number"
                                maxlength="25"
                                show-word-limit
                                type="text"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item class="label-form" label="Cargo">
                            <el-input
                                v-model="formUpdaterenovate.position"
                                maxlength="100"
                                show-word-limit
                                type="text"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Fecha de Inicio">
                            <el-date-picker
                                v-model="formUpdaterenovate.start_date"
                                type="date"
                                format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd"
                                style="width: 100%"
                                placeholder="Fecha Inicio"
                                size="medium"
                            >
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Fecha  Final">
                            <el-date-picker
                                type="date"
                                v-model="formUpdaterenovate.end_date"
                                format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd"
                                style="width: 100%"
                                placeholder="Fecha Inicio"
                                autocomplete="off"
                                size="medium"
                            ></el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button
                    type="primary"
                    v-loading.fullscreen.lock="fullscreenLoading"
                    @click="onSubmitFormUpdaterenove()"
                >Guardar</el-button
                >
                <el-button @click="dialogFormVisiblerenove = false">Cancel</el-button>
            </span>
        </el-dialog>
    </el-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import ContractForm from "../Contract/Form";
import SearchContract from "../SearchContract.vue";
import {
    myMixins
} from "../../Utils/mixins";
export default {
    mixins: [myMixins],
    components: {
        ContractForm,
        SearchContract
    },
    data() {
        return {
            wapContNotMsg: "Hola tienes un nuevo contrato en Imuko",
            Contract: [],
            formUpdate: {
                start_date: "",
                end_date: "",
                position: "",
                contract_value: "",
                status: "",
                type_document: "",
                number_document: "",
                Type_contract: "",
                contract_value_number: "",
                contractduration: "",
                lenguaje_programación: "",
            },
            status: [{
                value: "pendiente",
                label: "Pendiente",
            },
            {
                value: "aprobado",
                label: "aprobado",
            },
            {
                value: "vencido",
                label: "vencido",
            },
            {
                value: "cancelado",
                label: "cancelado",
            },
            ],
            formUpdaterenovate: {
                position: "",
                contract_value: "",
                contract_value_number: "",
                contractduration: "",
                start_date: "",
                end_date: "",
            },
            dialogFormVisible: false,
            dialogFormVisiblerenove: false,
            pagination: [],
            fullscreenLoading: false,
            loading: false,
            client: {}
        };
    },
    methods: {
        deletecontractclient(uuid) {
            swal({
                title: "¿Está seguro?",
                text: "Desea de eliminar el contrato",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    this.delecontract(uuid);
                } else {}
            });
        },
        delecontract(uuid) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/delete/contract-client/${uuid}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: uuid,
            })
                .then((response) => {
                    this.alertdelete();
                    this.getContract_Client();
                    this.dialogFormVisible = false;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.alertError();
                });
        },
        sendWapp(phone) {
            this.sendWappMessage(phone, this.wapContNotMsg)
        },
        contratterminacion(uuid) {
            swal({
                title: "¿Está seguro?",
                text: "Terminar contrato con Imuko",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    this.geteditcontrat(uuid);
                } else {}
            });
        },
        geteditcontrat(uuid) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contrac-update-oneprofile/${uuid}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: uuid,
            })
                .then((response) => {
                    this.alertSuccess();
                    this.getContract_Client();
                    this.dialogFormVisible = false;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.alertError();
                });
        },
        getPdf(uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract-pdf/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(
                        new Blob([response.data], {
                            type: "application/pdf",
                        })
                    );
                    this.link.href = url;
                    this.link.target = "_blank";
                    this.link.removeAttribute("download");
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        descargarpdf(uuid, Type_contract, start_date) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/descargarpdf-contrat/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    if (Type_contract == "Prestacion de Servicio Client") {
                        this.link.setAttribute("download", `Contracto_Prestacion_de_servicio_${start_date}.pdf`); //or any other extension
                    }
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        showModalEdit(Contract) {
            console.log('contrato a modificar', Contract)
            this.client = Contract;
            this.client.contract_value_letter = Contract.contract_value;
            this.client.start_contract_date = Contract.start_date;
            this.client.lenguage_programming = Contract.programming_lenguage;
            this.client.number_document_representative_legal = 0
            this.client.city_expedition_name_representative_legal = "Bogota D.C"
            this.client.contract_duration = Contract.contract_duration
            this.dialogFormVisible = true;
            this.formUpdate.start_date = Contract.start_date;
            this.formUpdate.end_date = Contract.end_date;
            this.formUpdate.end_date = Contract.end_date;
            this.formUpdate.position = Contract.position;
            this.formUpdate.contract_value = Contract.contract_value;
            this.formUpdate.status = Contract.status;
            this.formUpdate.type_document = Contract.type_document;
            this.formUpdate.number_document = "";
            this.formUpdate.Type_contract = Contract.Type_contract;
            this.formUpdate.contract_value_number = Contract.contract_value_number;
            this.formUpdate.contractduration = Contract.contractduration;
            this.formUpdate.lenguaje_programación = Contract.lenguaje_programación;
            this.formUpdate.uuid = Contract.uuid;
        },
        onSubmitFormUpdate() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contrac-update/${this.formUpdate.uuid}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: this.formUpdate,
            })
                .then((response) => {
                    this.alertSuccess();
                    this.getContract_Client();
                    this.$emit("onSubmitFormUpdate");
                    this.dialogFormVisible = false;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.alertError();
                    this.fullscreenLoading = false;
                });
        },
        alertSuccess() {
            this.$notify.success({
                title: "Modificacion Exitosa",
                offset: 100,
            });
        },
        alertdelete() {
            this.$notify.success({
                title: "Eliminación de Contrato Exitoso",
                offset: 100,
            });
        },
        changePage(page) {
            this.getContract_Client(page);
        },
        async getContract_Client(page, form = {}) {
            this.loading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `${process.env.VUE_APP_URL_API_BACKEND}/api/contract_client_table?page=` + page;
            axios
                .get(path, form)
                .then((response) => {
                    this.Contract = response.data.arrRequest.original.data;
                    this.pagination = response.data.pagination;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },

        tableRowClassName({
            row,
            rowIndex
        }) {},
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },

        alertRules() {
            this.$notify.warning({
                title: "Campos Obligatorios",
                message: "Faltan campos obligatorios por completar",
            });
        },
        handleClose(tag) {
            this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
        },
        close(e) {
            this.dialogFormVisible = false;
        },
        renoveContract(Contract) {
            this.dialogFormVisiblerenove = true;
            this.formUpdaterenovate.position = Contract.position;
            this.formUpdaterenovate.contract_value = Contract.contract_value;
            this.formUpdaterenovate.contract_value_number = Contract.contract_value_number;
            this.formUpdaterenovate.contractduration = Contract.contractduration;
            this.formUpdaterenovate.start_date = Contract.start_date;
            this.formUpdaterenovate.end_date = Contract.end_date;
            this.formUpdaterenovate.uuid = Contract.uuid;
        },
    },

    created: function () {
        this.getContract_Client();
        this.link = document.createElement("a");
        this.body = document.body;
    },
};
</script>

<style scoped>
.fa-whatsapp {
    font-size: 1.1em;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.el-card__header {
    background-color: #00a0db;
    color: white;
}

.btn-danger {
    color: #fff;
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
}

.el-dialog__title {
    font-weight: 600 !important;
}

.el-table__body,
.el-table__footer,
.el-table__header {
    width: 100% !important;
}

.el-container {
   min-height: calc(100vh - 180px);
}
.el-menu-item i{
  color: white;
}
</style>
