<template lang="html">
    <el-container>
        <el-col style="padding: 2%;" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <h2>Vacantes Solicitadas</h2>
            <Search></Search>
            <el-table :data="request" :row-class-name="tableRowClassName" empty-text="No se encontraron solicitudes...">
                <el-table-column type="expand">
                    <template slot-scope="props">
                        <p>
                            <strong>Información del proyecto:</strong>
                            {{ props.row.description }}
                        </p>
                    </template>
                </el-table-column>
                <el-table-column prop="first_name" label="Nombre"> </el-table-column>
                <el-table-column prop="email" label="Email" width="180">
                </el-table-column>
                <el-table-column prop="phone" label="Teléfono"> </el-table-column>
                <el-table-column prop="contract_type" label="Tipo contrato">
                </el-table-column>
                <el-table-column label="Experiencia">
                    <template slot-scope="props">
                        <span> {{ props.row.experience_years }} años </span>
                    </template>
                </el-table-column>
                <el-table-column label="Tecnologías" width="180">
                    <template slot-scope="props">
                        <el-tag class="tag-description-vacant" v-for="language in props.row.lenguages" :key="language.id">
                            {{ language.name }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Fecha solicitud" width="130">
                    <template slot-scope="props">
                        <span>{{ printDateRequest(props.row.created_at) }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Operaciones">
                    <template slot-scope="props">
                        <el-tooltip class="item" effect="dark" content="Agregar candidato" placement="right">
                            <el-button @click="getCandidateMatch(props.row, 'all')" size="mini" type="primary" icon="el-icon-user-solid"></el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Ver solicitud" placement="top">
                            <el-button @click="goToRequest(props.row.uuid)" size="mini" type="success" icon="el-icon-arrow-right">
                            </el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block">
                <el-pagination layout="prev, pager, next" :total="pagination.total" :page-size="pagination.per_page" @current-change="changePage">
                </el-pagination>
            </div>
        </el-col>
        <el-dialog title="Posibles candidatos" style="border-radius: 10px;" width="80%">
            <el-row>
                <el-col :span="10">
                    <el-button @click="getCandidateMatch(customer_request, 'experience')" type="info" size="mini" round>
                        <i class="fas fa-filter"></i> Experiencia
                    </el-button>
                    <el-button @click="getCandidateMatch(customer_request, 'availability')" type="info" size="mini" round>
                        <i class="fas fa-filter"></i> Tipo Contrato
                    </el-button>
                    <el-button @click="getCandidateMatch(customer_request, 'tecnology')" type="info" size="mini" round>
                        <i class="fas fa-filter"></i> Tecnologia
                    </el-button>
                </el-col>
            </el-row>
            <el-table :data="matchCandidates" @selection-change="handleSelectionChange" empty-text="No hubo match con ningun candidato, intenta filtrar solo por experiencia o tecnologia">
                <el-table-column type="selection" width="55" lazy="True">
                </el-table-column>
                <el-table-column property="namecandidate" label="Nombre" width="100"></el-table-column>
                <el-table-column property="lastnamecandidate" label="Apellido" width="100"></el-table-column>
                <el-table-column property="emailcandidate" label="Email" width="200"></el-table-column>
                <el-table-column label="Tecnologias" width="180">
                    <template slot-scope="props">
                        <el-tag class="tag-description-vacant" v-for="language in props.row.lenguages" :key="language.id">
                            {{ language.name }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column property="availabalitycandidate" label="Disponibilidad" width="150"></el-table-column>
                <el-table-column property="phonecandidate" label="Telefono" width="100"></el-table-column>
                <el-table-column property="profession" label="Profesion" width="150"></el-table-column>
                <el-table-column property="salarycandidate" label="Aspiración salarial" width="200"></el-table-column>
            </el-table>
            <el-row style="margin-top: 20px;">
                <el-col :span="24">
                    <el-button :disabled="disableButton" @click="selectedCandidates" type="primary" size="medium" icon="el-icon-success" plain>
                        Guardar
                    </el-button>
                </el-col>
            </el-row>
        </el-dialog>
    </el-container>
</template>

<script>
import axios from "axios";
import Search from "../Search";
import {
    myMixins
} from '../../Utils/mixins'

export default {
    mixins: [myMixins],
    components: {
        Search
    },
    data() {
        return {
            request: [],
            dialogTableVisible: false,
            multipleSelection: [],
            matchCandidates: [],
            customer_request: {},
            pagination: []
        };
    },
    computed: {
        disableButton: function () {
            return this.multipleSelection.length == 0;
        }
    },
    methods: {
        changePage(page) {
            this.getRequest(page);
        },

        getIdsCandidates: function () {
            return this.multipleSelection.map(s => parseInt(s.id)).join();
        },

        selectedCandidates() {
            if (
                this.multipleSelection.length &&
                this.customer_request.hasOwnProperty("uuid")
            ) {
                const {
                    uuid
                } = this.customer_request;

                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";
                axios.defaults.headers.common[
                    "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;

                const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/${uuid}/developers`;

                axios
                    .post(path, {
                        selecteds: this.multipleSelection,
                        action: "add"
                    })
                    .then(
                        function (result) {
                            if (result.status == 201) {
                                this.dialogTableVisible = false;
                                this.goToRequest(uuid);
                                this.alertSuccess();
                            }
                        }.bind(this)
                    );
            }
        },

        alertSuccess() {
            this.$notify.success({
                title: "Desarrolladores agregados!",
                message: "",
                offset: 100
            });
        },

        goToRequest(uuid) {
            this.$router.push({
                name: "Request",
                params: {
                    id: uuid
                }
            });
        },

        getRequest(page) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `${process.env.VUE_APP_URL_API_BACKEND}/api/clients?page=` + page;
            axios
                .get(path)
                .then(response => {
                    this.request = response.data.arrRequest.original.data;
                    this.pagination = response.data.pagination;
                })
                .catch(error => {});
        },

        tableRowClassName({
            row,
            rowIndex
        }) {
            if (row.status === 1) {
                return "success-row";
            } else if (row.status === 0) {
                return "warning-row";
            }
            return "";
        },

        deleteRequest(id) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            const path_delete = `https://yohanysturiz.pythonanywhere.com/api/v1/request/delete/${id}/`;
            axios({
                url: path_delete, //Endpoint
                method: "GET" //Método
            })
                .then(response => {})
                .catch(error => {});
        },

        getCandidateMatch(filter, queryParams) {
            let arrLenguageId = this.printLenguagesIdArray(filter.lenguages);
            let srtUrlFilter = this.getUrlFilterMatch(filter, queryParams);
            this.dialogTableVisible = true;
            console.log(filter);
            const path_match = `${process.env.VUE_APP_URL_API_BACKEND}/api/match/developers/${arrLenguageId}${srtUrlFilter}`;
            axios
                .get(path_match)
                .then(response => {
                    this.matchCandidates = response.data;
                    this.customer_request = filter;
                })
                .catch(error => {});
        },

        getStatus(s) {
            if (s == 1) {
                return "Activo";
            } else if (s == 2) {
                return "Pendiente";
            } else if (s == 3) {
                return "Selección";
            } else {
                return "Inactivo";
            }
        },

        printLenguages(element) {
            let arrLenguagues = [];
            element.forEach(val => {
                arrLenguagues.push(val.name);
            });

            return arrLenguagues.toString().replace(",", ", ");
        },

        printLenguagesIdArray(element) {
            let arrLenguaguesId = [];
            element.forEach(val => {
                arrLenguaguesId.push(val.id);
            });

            return arrLenguaguesId.toString();
        },
        getUrlFilterMatch(element, filter) {
            let queryParams;
            switch (filter) {
            case "experience":
                queryParams = `?experience=${element.experience_years}`;
                break;
            case "availability":
                queryParams = `?availabilty=${element.contract_type}`;
                break;
            case "tecnology":
                queryParams = ``;
                break;
            default:
                queryParams = `?experience=${element.experience_years}&availabilty=${element.contract_type}`;
                break;
            }

            return queryParams;
        },

        handleSelectionChange(selection) {
            const developers = selection.map(item => item.id);
            this.multipleSelection = selection;
        },

        handleClose(tag) {
            this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
        }
    },
    created() {
        this.getRequest();
    }
};
</script>

<style scoped>
.el-container {
   min-height: calc(100vh - 180px);
}
.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.el-card__header {
    background-color: #00a0db;
    color: white;
}

.btn-danger {
    color: #fff;
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
}

.el-dialog__title {
    font-weight: 600 !important;
}

.el-table__body,
.el-table__footer,
.el-table__header {
    width: 100% !important;
}
</style>
