<template>
    <el-col>
        <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%; width: 100%">
            <el-row style="padding: 2%">
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <div style="display: flex; align-items: baseline">
                        <h3 style="flex: 1" class="text-left"><i class="fas fa-laptop-house" style="margin-right:5px"></i> Mis Solicitudes</h3>
                    </div>
                    <el-table :data="requests" style="width: 100%">
                        <el-table-column prop="status" label="Status">
                            <p slot-scope="props">{{ printrequestStatus(props.row.status) }}</p>
                        </el-table-column>
                        <el-table-column prop="created_at" label="Fecha"> </el-table-column>
                        <el-table-column prop="lenguages" label="Tecnologías">
                            <template slot-scope="props">
                                <el-tag class="tag-description-vacant" v-for="language in props.row.lenguages" :key="language.id">
                                    {{ language.name }}
                                </el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="contract_type" label="Tiempo"> </el-table-column>
                        <el-table-column prop="experience_years" label="Experiencia"> </el-table-column>
                    </el-table>
                </el-col>
            </el-row>
        </el-card>
    </el-col>
</template>

<script>
import {
    myMixins
} from '../../Utils/mixins'

export default {
    mixins: [myMixins],
    props: ["requestList"],
    data() {
        return {
            requests: [],
        }
    },
    watch: {
        requestList: function (newVal, oldVal) {
            this.requests = newVal;
        },
    },
}
</script>
