<template lang="html">
    <el-container>
        <el-col style="padding: 2%" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <h2>Lenguaje/Frameworks</h2>
            <el-row>

                <el-col style="text-align: right" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <el-button @click="dialogTableVisible = true" size="mini" type="primary"><i class="fas fa-plus-circle"></i> Agregar Lenguaje</el-button>
                    <el-button @click="showframework = true" size="mini" type="primary"><i class="fas fa-plus-circle"></i> Agregar Tecnología</el-button>
                </el-col>
            </el-row>
            <br>
            <!--Lenguaje  -->
            <el-col style="padding: 2%" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                <h2>Lenguaje</h2>
                <el-table :data="lenguaje" :row-class-name="tableRowClassName" empty-text="No se encontraron Lenguajes..." v-loading="loading" style="width: 100%">
                    <el-table-column prop="id" label="#"></el-table-column>
                    <el-table-column label="Lenguaje" prop="name"> </el-table-column>
                    <el-table-column prop="slug" label="Framework"> </el-table-column>
                    <el-table-column>
                        <template slot-scope="props">
                            <el-tooltip class="item" effect="dark" content="Eliminar" placement="top-start">
                                <el-button @click="deletelenguaje(props.row.id)" type="danger" size="small" round><i class="fas fa-unlink"></i></el-button>
                            </el-tooltip>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="block">
                    <el-pagination layout="prev, pager, next" :total="pagination.total" :page-size="pagination.per_page" @current-change="changePages">
                    </el-pagination>
                </div>
            </el-col>
            <el-col style="padding: 2%" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                <h2>Frameworks</h2>
                <el-table :data="framework" :row-class-name="tableRowClassName" empty-text="No se encontraron Framework..." v-loading="loading" style="width: 100%">
                    <el-table-column prop="id" label="#"></el-table-column>
                    <el-table-column label="Lenguaje">
                        <template slot-scope="props">
                            {{ props.row.lenguaje.name}}
                        </template>
                    </el-table-column>
                    <el-table-column prop="name" label="Framework"> </el-table-column>
                    <el-table-column label="Status">
                        <template slot-scope="props">
                            {{state(props.row.status)}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Opciones">
                        <template slot-scope="props">
                            <el-tooltip class="item" effect="dark" content="Activar" placement="top-start">
                                <el-button @click="showactive(props.row.id)" type="success" size="small" round><i class="fas fa-link"></i></el-button>
                            </el-tooltip>
                            <el-tooltip class="item" effect="dark" content="Desactivar" placement="top-start">
                                <el-button @click="showinactive(props.row.id)" type="danger" size="small" round><i class="fas fa-unlink"></i></el-button>
                            </el-tooltip>

                        </template>
                    </el-table-column>
                </el-table>
                <div class="block">
                    <el-pagination layout="prev, pager, next" :total="pagination.total" :page-size="pagination.per_page" @current-change="changePage">
                    </el-pagination>
                </div>
            </el-col>

            <el-dialog title="Agregar Lenguaje">
                <el-row :gutter="20">
                    <el-form ref="formlenguaje" :model="formlenguaje" :rules="ruleslenguaje">
                        <el-row :gutter="20">
                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                <el-form-item class="label-form" label="Nombre Lenguaje" prop="name">
                                    <el-input v-model="formlenguaje.name" placeholder="Ingresa nombre"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                <el-form-item class="label-form" label="Slug" prop="slug">
                                    <el-input v-model="formlenguaje.slug" placeholder="Ingresa Slug"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="1">
                            <el-button style="margin-bottom: 20px;" v-loading.fullscreen.lock="fullscreenLoading" @click="onSubmit">Guardar</el-button>
                        </el-col>
                    </el-form>
                </el-row>
            </el-dialog>
            <el-dialog title="Agregar Tecnología">
                <el-row :gutter="20">
                    <el-form ref="formframework" :model="formframework" :rules="rulesframework">
                        <el-row :gutter="20">
                            <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item class="label-form" label="Lenguaje de programación" prop="programming_lenguage_id">
                                    <el-select v-on:change="getprograming()" id="country" v-model="formframework.programming_lenguage_id" filterable placeholder="Seleccione...">
                                        <el-option v-for="item in programing" :key="item.id" :label="item.name" :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item class="label-form" label="Nombre Tecnología" prop="name">
                                    <el-input v-model="formframework.name" placeholder="Ingresa nombre"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item class="label-form" label="Slug" prop="slug">
                                    <el-input v-model="formframework.slug" placeholder="Ingresa Slug"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="1">
                            <el-button style="margin-bottom: 20px;" v-loading.fullscreen.lock="fullscreenLoading" @click="save">Guardar</el-button>
                        </el-col>
                    </el-form>
                </el-row>
            </el-dialog>

        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {
    myMixins
} from "../../Utils/mixins";
export default {
    mixins: [myMixins],
    data() {
        return {
            lenguaje: [],
            framework: [],
            programing: [],
            dialogTableVisible: false,
            showframework: false,
            formlenguaje: {
                name: "",
                slug: "",
            },
            formframework: {
                name: "",
                slug: "",
                programming_lenguage_id: "",
            },
            ruleslenguaje: {
                name: [{
                    required: true,
                    message: "El campo nombre es requerido",
                    trigger: "blur"
                }],
                slug: [{
                    required: true,
                    message: "El campo Slug es requerido",
                    trigger: "blur"
                }],
            },
            rulesframework: {
                name: [{
                    required: true,
                    message: "El campo nombre es requerido",
                    trigger: "blur"
                }],
                slug: [{
                    required: true,
                    message: "El campo Slug es requerido",
                    trigger: "blur"
                }],
                programming_lenguage_id: [{
                    required: true,
                    message: "Selecciona un lenguaje de programación es requerido",
                    trigger: "blur"
                }],
            },
            pagination: [],
            fullscreenLoading: false,
            loading: false,
        };
    },
    methods: {
        state(element) {
            var sta;
            if (element == 1) {
                sta = "Activo"
            } else {
                sta = "Inactivo"
            }
            return sta;
        },
        async onSubmit(e) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/create-lenguaje`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            this.$refs["formlenguaje"].validate(valid => {
                if (valid) {
                    this.fullscreenLoading = true;
                    axios({
                        url: path,
                        method: "POST",
                        data: this.formlenguaje,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*"
                        }
                    })
                        .then(response => {
                            this.alertSuccess();
                            this.getlenguaje_framewrok();
                            this.gettablelenguaje();
                            this.getprograming();
                            this.$refs["formlenguaje"].resetFields();
                            this.dialogTableVisible = false;
                            this.fullscreenLoading = false;
                        })
                        .catch(error => {
                            this.alertError();
                            this.fullscreenLoading = false;
                        });
                } else {
                    this.alertRules();
                    return false;
                }
            });
        },
        async save(e) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/create-framework`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            this.$refs["formframework"].validate(valid => {
                if (valid) {
                    this.fullscreenLoading = true;
                    axios({
                        url: path,
                        method: "POST",
                        data: this.formframework,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*"
                        }
                    })
                        .then(response => {
                            this.alertSuccess();
                            this.getlenguaje_framewrok();
                            this.$refs["formframework"].resetFields();
                            this.showframework = false;
                            this.fullscreenLoading = false;
                        })
                        .catch(error => {
                            this.alertError();
                            this.fullscreenLoading = false;
                        });
                } else {
                    this.alertRules();
                    return false;
                }
            });
        },
        deletelenguaje(id) {
            swal({
                title: "Eliminar",
                text: "¿Seguro que desea Eliminar el Lenguaje?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    this.deletelen(id);
                }
            });
        },
        deletelen(id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/lenguaje-delete/${id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET",
            })
                .then((response) => {
                    if (response.data.type == "error") {
                        swal({
                            title: response.data.title,
                            text: response.data.msg,
                            icon: response.data.type,
                        });
                    } else {
                        this.delete();
                        this.gettablelenguaje();
                    }
                })
                .catch((error) => {
                    this.alertError();
                });
        },
        showactive(id) {
            swal({
                title: "Activar",
                text: "¿Seguro que desea Activar el Framework?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    this.activeprograming(id);
                } else {}
            });
        },
        activeprograming(id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/active-framework/${id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET",
            })
                .then((response) => {
                    this.activealert();
                    this.getlenguaje_framewrok();
                })
                .catch((error) => {
                    this.alertError();
                });
        },
        showinactive(id) {
            swal({
                title: "Desactivar",
                text: "¿Seguro que desea Desactivar el Framework?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    this.inactivedeprograming(id);
                } else {}
            });
        },
        inactivedeprograming(id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/inactive-lenguaje-framework/${id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET",
            })
                .then((response) => {
                    this.inactivealert();
                    this.getlenguaje_framewrok();
                })
                .catch((error) => {
                    this.alertError();
                });
        },
        getprograming() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/lenguage`
            axios.get(path).then((response) => {
                this.programing = response.data
            })
                .catch((error) => {})
        },

        alertSuccess() {
            this.$notify.success({
                title: "Creación Exitosa",
                offset: 100,
            });
        },
        activealert() {
            this.$notify.success({
                title: "Se ha Activado correctamente el Framework.",
                message: "",
            });
        },
        inactivealert() {
            this.$notify.success({
                title: "Se ha Desactivado correctamente el Framework.",
                message: "",
            });
        },
        delete() {
            this.$notify.success({
                title: "Se eliminado el lenguaje correctamente.",
                message: "",
            });
        },
        changePage(page) {
            this.getlenguaje_framewrok(page);
        },
        getlenguaje_framewrok(page) {
            this.loading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `${process.env.VUE_APP_URL_API_BACKEND}/api/frameworkindex?page=` + page;
            axios
                .get(path)
                .then((response) => {
                    this.framework = response.data.arrRequest.original.data;
                    this.pagination = response.data.pagination;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },
        changePages(page) {
            this.gettablelenguaje(page);
        },
        gettablelenguaje(page) {
            this.loading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `${process.env.VUE_APP_URL_API_BACKEND}/api/lenguajeindex?page=` + page;
            axios
                .get(path)
                .then((response) => {
                    this.lenguaje = response.data.arrRequest.original.data;
                    this.pagination = response.data.pagination;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },

        tableRowClassName({
            row,
            rowIndex
        }) {},
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },

        alertRules() {
            this.$notify.warning({
                title: "Campos Obligatorios",
                message: "Faltan campos obligatorios por completar",
            });
        },
        handleClose(tag) {
            this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
        },
    },
    created() {
        this.getlenguaje_framewrok();
        this.getprograming()
        this.gettablelenguaje();
        this.link = document.createElement("a");
        this.body = document.body;
    },
};
</script>

<style scoped>
.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.el-card__header {
    background-color: #00a0db;
    color: white;
}

.btn-danger {
    color: #fff;
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
}

.el-dialog__title {
    font-weight: 600 !important;
}

.el-table__body,
.el-table__footer,
.el-table__header {
    width: 100% !important;
}

.container {
    justify-content: center;
    height: 1px;
}
</style>
