<template>
    <el-col>
        <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%">
            <el-row style="padding: 2%">
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <h3 class="text-left"><i class="fas fa-file-contract" style="margin-right:5px"></i> Mis Contratos</h3>

                    <el-table :data="contracts" style="width: 100%">
                        <el-table-column prop="contract_value" label="Valor de contrato"> </el-table-column>
                        <el-table-column prop="start_date" label="Inicio">
                            <p slot-scope="props">{{ printDateRequest(props.row.start_date) }}</p>
                        </el-table-column>
                        <el-table-column prop="end_date" label="Fin">
                            <p slot-scope="props">{{ printDateRequest(props.row.end_date) }}</p>
                        </el-table-column>
                        <el-table-column prop="lenguaje_programación" label="Tecnologia"> </el-table-column>
                        <el-table-column prop="status" label="Status"> </el-table-column>
                        <el-table-column label="Contrato"   align="center" > 
                            <el-button 
                                slot-scope="props"
                                @click="descargarpdf(props.row.uuid, props.row.Type_contract, props.row.start_date)"
                                size="small"
                                type="info"
                                circle
                            ><i class="fas fa-download"></i
                            ></el-button> 
                        </el-table-column>
                    </el-table>
                </el-col>
            </el-row>
        </el-card>
    </el-col>
</template>

<script>
import axios from "axios";
import {
    myMixins
} from '../../Utils/mixins'

export default {
    props: ["contractList"],
    mixins: [myMixins],
    data() {
        return {
            contracts: [],
        }
    },
    watch: {
        contractList: function (newVal, oldVal) {
            this.contracts = newVal;
            for (let i = 0; i < this.contracts.length; i++) {
                this.contracts[i].developer = new Array(this.contracts[i].developer);
            }
        },
    },
    methods: {
        descargarpdf(uuid, Type_contract, start_date) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/descargarpdf-contrat/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    if (Type_contract == "Prestacion de Servicio Client") {
                        this.link.setAttribute("download", `Contracto_Prestacion_de_servicio_${start_date}.pdf`);
                    }
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        }
    },

    created: function () {
        this.link = document.createElement("a");
        this.body = document.body;
    },
}
</script>

<style scoped>

</style>
