<template>
    <el-container v-loading.fullscreen.lock="fullscreenLoading">
        <el-row style="width: 100%; margin-top: 10px">
            <!-- Client card profile component -->
            <el-col :xs="24" :sm="24" :md="5" :lg="5" :xl="5" class="m-1">
                <ProfileInformation :profile="Client" :user_uuid="Client.uuid" :city="Client.city"
                                    :country="Client.country"/>
            </el-col>

            <el-col :xs="24" :sm="24" :md="24" :lg="18" :xl="18" style="margin-left: 10px; margin-top: 15px">
                <el-card class="box-card">
                    <el-row style="padding: 2%">
                        <el-col class="text-left" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-row>
                                <el-col class="text-left" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                    <h2>
                                        <i class="fas fa-laptop-code"></i> Desarrolladores
                                        activos
                                    </h2>
                                </el-col>
                                <el-col style="text-align: end" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                    <el-button @click="dialog_form_contract = true" size="mini" type="primary"><i
                                        class="fas fa-plus-circle"></i> Asignar
                                        desarrollador
                                    </el-button>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col>
                                    <el-table :data="Client.developers" style="width: 100%">
                                        <el-table-column label="Nombre">
                                            <template slot-scope="scope">
                                                <span style="margin-left: 10px">{{
                                                    scope.row.namecandidate
                                                }} {{ scope.row.lastnamecandidate }} </span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="emailcandidate" label="Email">
                                        </el-table-column>
                                        <el-table-column prop="phonecandidate" label="Celular">
                                        </el-table-column>
                                        <el-table-column prop="areadevelop" label="Area desarrollo">
                                        </el-table-column>
                                        <el-table-column :data="Client.contract" label="Fecha Asignación" width="200">
                                            <template slot-scope="scope">
                                                <span :key="scope.row.developer_id">
                                                    <el-date-picker v-model="scope.row.pivot.created_at" type="date"
                                                                    placeholder="Pick a day"
                                                                    :picker-options="pickerOptions" style="width: 140px"
                                                                    @change="assignmentDateChange(scope.row.pivot)"></el-date-picker></span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="Operaciones">
                                            <template slot-scope="scope">
                                                <div style="display:flex; align-items:center">
                                                    <el-button @click="modalswal(scope.row.id)" type="danger"
                                                               size="small" round><i class="fas fa-unlink"></i>
                                                        Desvincular
                                                    </el-button>
                                                </div>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </el-col>
                            </el-row>
                        </el-col>
                    </el-row>
                </el-card>

                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="padding: 2px; margin-top: 15px;"
                        v-if="Client.user">
                    <el-card class="box-card">
                        <el-row style="padding: 2%">
                            <el-col class="text-left" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                <el-row>
                                    <el-col class="text-left" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                        <h2>
                                            <i class="fas fa-layer-group"></i> Desarrolladores
                                            asignados
                                        </h2>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col>
                                        <el-table :data="Client.developers" style="width: 100%">
                                            <el-table-column label="Nombre">
                                                <template slot-scope="scope">
                                                    <span style="margin-left: 10px">{{scope.row.namecandidate }} {{ scope.row.lastnamecandidate }} </span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column prop="emailcandidate" label="Email">
                                            </el-table-column>
                                            <el-table-column prop="phonecandidate" label="Celular">
                                            </el-table-column>
                                            <el-table-column prop="areadevelop" label="Area desarrollo">
                                            </el-table-column>
                                            <el-table-column :data="Client.contract" label="Fecha Asignación">
                                                <template slot-scope="scope">
                                                    <span>{{ printDateRequest(scope.row.pivot.created_at) }}</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column :data="Client.contract" label="Fecha Fin">
                                                <template slot-scope="scope">
                                                    <span>{{ printDateRequest(scope.row.pivot.created_at) }}</span>
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>

                <!-- Document component -->
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="padding: 2px;" v-if="Client.user">
                    <DocumentComponent :user_uuid="Client.user.uuid" :add_button_show="true" type_user="client"/>
                </el-col>
            </el-col>
        </el-row>

        <!-- contract form, create and update -->
        <ContractForm :dialog="this.dialog_form_contract" type_user="developer" :client="Client"
                      @close="close"></ContractForm>
        <el-dialog width="20%">
            <section style="padding: 2%">

            </section>
        </el-dialog>
    </el-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import ProfileInformation from "./Profile/ProfileInformationCard";
import DocumentComponent from "../Documents/Upload/DocumentForm";
import ContractForm from "../Contract/Form";
import {
    myMixins
} from '../../Utils/mixins'

export default {
    mixins: [myMixins],
    components: {
        ProfileInformation,
        DocumentComponent,
        ContractForm
    },
    data() {
        return {
            // urlbrand: require("../../assets/profile-client.png"),
            Client: [],
            developers: [],
            ListDevelopers: [],
            dialog_form_contract: false,
            dialogTableVisible: false,
            fullscreenLoading: false,
            loading: false,
            showDevM: false,
            dialogAssignmentDate: false,
            assignmentDate: null,
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: 'Today',
                    onClick(picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: 'Yesterday',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: 'A week ago',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
        };
    },
    methods: {
        /**
         * Assigment Date
         * @param info
         * @returns {Promise<void>}
         */
        async assignmentDateChange(info) {
            if (info.created_at != null) {
                const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract/assigment-update`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";
                axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;

                this.fullscreenLoading = true;
                axios({
                    url: path,
                    method: "POST",
                    data: info,
                    headers: {
                        "Content-Type": "application/json",
                        "Access-Control-Allow-Origin": "*"
                    }
                })
                    .then(response => {
                        this.fullscreenLoading = false;
                    })
                    .catch(error => {
                        this.alertError();
                        this.fullscreenLoading = false;
                    });
            }
        },
        getClient() {
            this.fullscreenLoading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/customers/${this.$route.params.id}`;
            axios
                .get(path)
                .then((res) => {
                    console.log(res.data)
                    this.Client = res.data;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.fullscreenLoading = false;
                });
        },
        getDevelopers() {
            this.fullscreenLoading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/all`;
            axios
                .get(path)
                .then((res) => {
                    let developers = [];
                    for (let i = 0; i < res.data.length; i++) {
                        const d = res.data[i];
                        d.surname = `${d.namecandidate} ${d.lastnamecandidate}`;
                        developers.push(d);
                    }
                    this.developers = developers;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.fullscreenLoading = false;
                });
        },

        async onSubmit(e) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/client/create`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;

            this.$refs["form"].validate((valid) => {
                if (valid) {
                    this.fullscreenLoading = true;
                    this.formClient.city_id = 1;
                    this.formClient.phone = `+57` + this.formClient.phone;
                    axios({
                        url: path,
                        method: "POST",
                        data: this.formClient,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                        },
                    })
                        .then((response) => {
                            this.alertSuccess();
                            this.formSe.name = "";
                            this.formSe.email = "";
                            this.getClients(1);
                            this.$refs["formClient"].resetFields();
                            this.dialogTableVisible = false;
                            this.fullscreenLoading = false;
                        })
                        .catch((error) => {
                            this.alertError();
                            this.fullscreenLoading = false;
                        });
                } else {
                    this.alertRules();
                    return false;
                }
            });
        },
        modalswal(id) {
            swal({
                title: "Eliminar",
                text: "¿Seguro que desea disvincular del contrato al desarrollador?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    this.unlink(id);
                } else {
                }
            });
        },
        unlink(id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/unlink-developer/${id}/${this.Client.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET",
            })
                .then((response) => {
                    this.alertdelete();
                    this.getClient();
                })
                .catch((error) => {
                    this.alertError();
                });
        },

        alertdelete() {
            this.$notify.success({
                title: "Se ha eliminado correctamente al desarrollador.",
                message: "",
            });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },

        alertRules() {
            this.$notify.warning({
                title: "Campos Obligatorios",
                message: "Faltan campos obligatorios por completar",
            });
        },

        handleClose(tag) {
            this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
        },
        resetForm() {
            this.$refs["form"].resetFields();
        },
        close(e) {
            this.dialog_form_contract = false;
        },
    },
    created() {
        this.getClient();
        this.getDevelopers();
    },
};
</script>

<style scoped>
.avatar {
    width: 200px;
    border-radius: 20px;
    margin: 10px;
}

.description-biograpi {
    text-align: justify;
    font-size: 0.9em;
    color: #969399;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
</style>
