<template>
    <el-container>
        <el-col
            v-if="vacant !== null"
            :xs="24"
            :sm="24"
            :md="24"
            :lg="24"
            :xl="24"
            class="m-1"
        >
            <el-card class="box-card">
                <div class="text-left">
                    <el-tag effect="light"
                    ><i class="fas fa-business-time"></i> {{ getAvailability() }}
                    </el-tag>
                    <el-tag effect="light">{{ vacant.status }}</el-tag>
                </div>
                <div class="grid-content bg-purple text-left" id="languages">
                    <h2>
                        Desarrollador en
                        <span v-for="language in getLenguages" :key="language.id"
                        >{{ language.name }},
                        </span>
                    </h2>
                    <p class="show-date">
                        Fecha vacante solicitada: {{ printDateRequest() }}
                    </p>
                </div>

                <el-row class="mt-1 div-description-vacant">
                    <el-col :xs="8" :sm="8" :md="4" :lg="8">
                        <div class="text-left m-1">
                            <i class="fas fa-building"></i> <strong>Empresa: </strong>
                            {{ getName }}
                        </div>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8">
                        <div class="text-left m-1">
                            <i class="fas fa-mail-bulk"></i> <strong>Contacto: </strong>
                            {{ vacant.email }} - {{ vacant.phone }}
                        </div>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" v-if="vacant.country">
                        <div class="text-left m-1">
                            <i class="fas fa-map-marker-alt"></i>
                            <strong>Ubicacion: </strong> {{ vacant.country.name }},
                            {{ vacant.city.name }}.
                        </div>
                    </el-col>
                </el-row>

                <el-row class="">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24">
                        <div class="text-left m-1">
                            <el-tag class="tag-description-vacant">{{
                                getSite(vacant.availabalitycandidate)
                            }}</el-tag>
                            <el-tag class="tag-description-vacant">{{
                                getExperience()
                            }}</el-tag>
                            <el-tag
                                class="tag-description-vacant"
                                v-for="language in getLenguages"
                                :key="language.id"
                            >
                                {{ language.name }}
                            </el-tag>
                        </div>
                    </el-col>
                </el-row>
            </el-card>

            <el-card class="box-card mt-1">
                <el-row class="mt-1">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24">
                        <div class="m-1 text-left">
                            <h3>Candidatos seleccionados</h3>
                            <el-button
                                @click="getCandidateMatch(vacant, 'all')"
                                size="mini"
                                type="primary"
                                icon="el-icon-user-solid"
                                style="float: right"
                            >Agregar candidato</el-button
                            >
                            <el-table
                                :data="selecteds"
                                empty-text="No se encontraron desarrolladores..."
                            >
                                <el-table-column
                                    :fixed="true"
                                    label="Nombre"
                                    prop="namecandidate"
                                ></el-table-column>
                                <el-table-column
                                    label="Email"
                                    min-width="120px"
                                    prop="emailcandidate"
                                ></el-table-column>
                                <el-table-column
                                    label="Modalidad"
                                    :formatter="formatterPropCandidate"
                                    prop="remotecandidate"
                                ></el-table-column>
                                <el-table-column
                                    label="Tipo de contrato"
                                    :formatter="formatterPropCandidate"
                                    prop="availabalitycandidate"
                                ></el-table-column>
                                <el-table-column
                                    label="Experiencia"
                                    :formatter="formatterPropCandidate"
                                    prop="levelprogramingidcandidate"
                                ></el-table-column>
                                <el-table-column
                                    label="Aspiración salarial"
                                    prop="salarycandidate"
                                ></el-table-column>
                                <el-table-column fixed="right" label="Operaciones" width="150">
                                    <template slot-scope="props">
                                        <el-tooltip
                                            class="item"
                                            effect="dark"
                                            content="Hoja de vida"
                                            placement="top"
                                        >
                                            <el-button circle size="small" type="info">
                                                <i
                                                    @click="
                                                        genPdf(props.row.uuid, props.row.namecandidate)
                                                    "
                                                    class="fas fa-file-download"
                                                ></i>
                                            </el-button>
                                        </el-tooltip>
                                        <router-link
                                            :to="{
                                                name: 'CandidateProfile',
                                                params: { id: props.row.uuid },
                                            }"
                                        >
                                            <el-tooltip
                                                class="item"
                                                effect="dark"
                                                content="Visitar Perfil"
                                                placement="top"
                                            >
                                                <el-button
                                                    size="small"
                                                    type="primary"
                                                    icon="el-icon-user-solid"
                                                    circle
                                                >
                                                </el-button>
                                            </el-tooltip>
                                        </router-link>

                                        <el-tooltip
                                            class="item"
                                            effect="dark"
                                            content="Eliminar seleccion"
                                            placement="top"
                                        >
                                            <el-button
                                                @click.native.prevent="
                                                    handleDelete(props.$index, selecteds)
                                                "
                                                size="small"
                                                type="danger"
                                                circle
                                            ><i class="far fa-trash-alt"></i
                                            ></el-button>
                                        </el-tooltip>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-col>
                </el-row>
            </el-card>

            <el-row class="mt-1">
                <el-col :xs="24" :sm="24" :md="24" :lg="24">
                    <div>
                        <el-button
                            style="text-align: center; font-weight: 600"
                            @click="processRequest"
                            v-loading.fullscreen.lock="fullscreenLoading"
                            type="primary"
                            size="medium"
                            round
                        ><i class="fas fa-paper-plane"></i> Enviar candidatos</el-button
                        >
                    </div>
                </el-col>
            </el-row>
        </el-col>
        <el-dialog
            title="Eliminado desarrollador"
            width="30%"
            center
        >
            <span>Seguro que desea eliminar este desarrollador de la selección?</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancelar</el-button>
                <el-button type="primary" @click="confirmDelete">Confirmar</el-button>
            </span>
        </el-dialog>
        <el-dialog
            title="Posibles candidatos"
            style="border-radius: 10px"
            width="90%"
        >
            <el-row>
                <el-col :span="10">
                    <el-button
                        @click="getCandidateMatch(customer_request, 'experience')"
                        type="info"
                        size="mini"
                        round
                    >
                        <i class="fas fa-filter"></i> Experiencia
                    </el-button>
                    <el-button
                        @click="getCandidateMatch(customer_request, 'availability')"
                        type="info"
                        size="mini"
                        round
                    >
                        <i class="fas fa-filter"></i> Tipo Contrato
                    </el-button>
                    <el-button
                        @click="getCandidateMatch(customer_request, 'tecnology')"
                        type="info"
                        size="mini"
                        round
                    >
                        <i class="fas fa-filter"></i> Tecnologia
                    </el-button>
                </el-col>
            </el-row>
            <el-table
                :data="matchCandidates"
                @selection-change="handleSelectionChange"
                empty-text="No hubo match con ningun candidato, intenta filtrar solo por experiencia o tecnologia"
            >
                <el-table-column type="selection" width="55" lazy="True">
                </el-table-column>
                <el-table-column
                    property="namecandidate"
                    label="Nombre"
                    width="100"
                ></el-table-column>
                <el-table-column
                    property="lastnamecandidate"
                    label="Apellido"
                    width="100"
                ></el-table-column>
                <el-table-column
                    property="emailcandidate"
                    label="Email"
                    width="200"
                ></el-table-column>
                <el-table-column label="Tecnologias" width="180">
                    <template slot-scope="props">
                        <el-tag
                            class="tag-description-vacant"
                            v-for="language in props.row.lenguages"
                            :key="language.id"
                        >
                            {{ language.name }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                    property="availabalitycandidate"
                    label="Disponibilidad"
                    width="150"
                ></el-table-column>
                <el-table-column label="Experiencia" width="100"></el-table-column>
                <el-table-column
                    property="phonecandidate"
                    label="Telefono"
                    width="100"
                ></el-table-column>
                <el-table-column
                    property="profession"
                    label="Profesion"
                    width="150"
                ></el-table-column>
                <el-table-column
                    property="salarycandidate"
                    label="Aspiración salarial"
                    width="200"
                ></el-table-column>
            </el-table>
            <el-row style="margin-top: 20px">
                <el-col :span="24">
                    <el-button
                        :disabled="disableButton"
                        @click="selectedCandidates"
                        type="primary"
                        size="medium"
                        icon="el-icon-success"
                        plain
                    >
                        Guardar
                    </el-button>
                </el-col>
            </el-row>
        </el-dialog>
    </el-container>
</template>

<script>
import axios from "axios";
export default {
    name: "Request",
    data() {
        return {
            idRequest: this.$route.params.id,
            vacant: null,
            selecteds: [],
            dialogVisible: false,
            deleteIndex: null,
            dialogTableVisible: false,
            multipleSelection: [],
            typeS: "success",
            matchCandidates: [],
            fullscreenLoading: false,
        };
    },
    created: function () {
        this.getVacant();
    },
    computed: {
        getName: function () {
            const { first_name, last_name } = this.vacant;
            return first_name + " " + (last_name ? last_name : "");
        },
        getLenguages: function () {
            const { lenguages } = this.vacant;
            return lenguages;
        },
        disableButton: function () {
            return this.multipleSelection.length == 0;
        },
    },
    methods: {
        genPdf(uuid_candidate, namecandidate) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/cv/${uuid_candidate}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement("a");
                    link.href = url;
                    link.setAttribute("download", `cv-${namecandidate}.pdf`); //or any other extension
                    document.body.appendChild(link);
                    link.click();
                })
                .catch((error) => {});
        },
        getIdsCandidates: function () {
            return this.selecteds.map((s) => parseInt(s.id)).join();
        },

        processRequest: function () {
            let me = this;
            me.fullscreenLoading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/${this.idRequest}`;
            const req = axios
                .post(path, {
                    candidates: this.getIdsCandidates(),
                })
                .then(function (result) {
                    axios.defaults.xsrfHeaderName = "X-CSRFToken";
                    axios.defaults.xsrfCookieName = "csrftoken";
                    axios.defaults.headers.common[
                        "Authorization"
                    ] = `Bearer ${localStorage.getItem("api_token")}`;
                    me.alertSuccess("Candidatos enviados");
                    me.fullscreenLoading = false;
                });
        },

        confirmDelete: function () {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/${this.idRequest}/developers`;

            axios
                .delete(path, {
                    data: {
                        action: "delete",
                        candidate: this.selecteds[this.deleteIndex].id,
                    },
                })
                .then(
                    function (response) {
                        this.selecteds.splice(this.deleteIndex, 1);
                        this.dialogVisible = false;
                        this.getVacant();
                        this.alertSuccess("Desarrollador eliminado");
                    }.bind(this)
                );
        },

        handleDelete: function (index, rows) {
            this.dialogVisible = true;
            this.deleteIndex = index;
        },

        getExperience: function (value = null) {
            value = value ? value : this.vacant.experience_years;
            const experience = [
                {
                    name: "Senior",
                    value: "5",
                },
                {
                    name: "Senior",
                    value: "4",
                },
                {
                    name: "Senior",
                    value: "3",
                },
                {
                    name: "Senior",
                    value: "4",
                },
                {
                    name: "Junior",
                    value: "2",
                },
            ];
            const find = experience.find((e) => e.value == value);
            if (!find) return `${value} años`;
            return find.name;
        },

        getSite: function (value = null) {
            value = value ? value : this.vacant.site;
            const modality = [
                {
                    name: "Remoto",
                    value: "remote",
                },
                {
                    name: "Oficina",
                    value: "on-site",
                },
                {
                    name: "Cualquiera",
                    value: "all",
                },
            ];
            return modality.find((m) => m.value == value).name;
        },

        getAvailability: function (value = null) {
            value = value ? value : this.vacant.contract_type;
            const availability = [
                {
                    name: "Por Horas",
                    value: "hours",
                },
                {
                    name: "Medio Tiempo",
                    value: "part-time",
                },
                {
                    name: "Tiempo Completo",
                    value: "full-time",
                },
                {
                    name: "Tiempo Completo",
                    value: "default",
                },
            ];
            return availability.find((a) => a.value == value).name;
        },

        formatterPropCandidate: function (row, column, cellValue, index) {
            const props = {
                remotecandidate: "getSite",
                availabalitycandidate: "getAvailability",
                levelprogramingidcandidate: "getExperience",
            };
            const { property } = column;
            if (Object.keys(props).includes(property)) {
                const callFormated = props[property];
                return this[callFormated](cellValue);
            }
        },

        alertSuccess(message) {
            this.$notify.success({
                title: message,
                message: "",
                offset: 100,
            });
        },

        getStatus(status) {
            if (status == 1) {
                this.vacant.status = "Activo";
            } else if (status == 2) {
                this.vacant.status = "Pendiente";
            } else if (status == 3) {
                this.vacant.status = "Selección";
            } else {
                this.vacant.status = "Inactivo";
            }
        },

        getVacant: async function () {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/${this.idRequest}`;
            await axios.get(path).then((response) => {
                this.vacant = response.data;
                console.log("vacante", response.data);
                this.selecteds = response.data.developers;
                this.getStatus(this.vacant.status);
            });
        },

        printDateRequest(value = null) {
            value = value ? value : this.vacant.created_at;
            let dateFormat = new Date(value);
            var months = [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December",
            ];

            return `(${dateFormat.getDate()} - ${
                months[dateFormat.getMonth()]
            } - ${dateFormat.getFullYear()})`;
        },

        tableRowClassName({ row, rowIndex }) {
            if (row.status === 1) {
                return "success-row";
            } else if (row.status === 0) {
                return "warning-row";
            }
            return "";
        },

        selectedCandidates() {
            if (
                this.multipleSelection.length &&
        this.customer_request.hasOwnProperty("uuid")
            ) {
                const { uuid } = this.customer_request;

                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";
                axios.defaults.headers.common[
                    "Authorization"
                ] = `Bearer ${localStorage.getItem("api_token")}`;

                const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/${uuid}/developers`;

                axios
                    .post(path, {
                        selecteds: this.multipleSelection,
                        action: "add",
                    })
                    .then(
                        function (result) {
                            if (result.status == 201) {
                                this.dialogTableVisible = false;
                                this.getVacant();
                                this.alertSuccess("Desarrollador pre-seleccionado");
                            }
                        }.bind(this)
                    );
            }
        },

        getUrlFilterMatch(element, filter) {
            let queryParams;
            switch (filter) {
            case "experience":
                queryParams = `?experience=${element.experience_years}`;
                break;
            case "availability":
                queryParams = `?availabilty=${element.contract_type}`;
                break;
            case "tecnology":
                queryParams = ``;
                break;
            default:
                queryParams = `?experience=${element.experience_years}&availabilty=${element.contract_type}`;
                break;
            }

            return queryParams;
        },

        printLenguagesIdArray(element) {
            let arrLenguaguesId = [];
            element.forEach((val) => {
                arrLenguaguesId.push(val.id);
            });

            return arrLenguaguesId.toString();
        },

        getCandidateMatch(filter, queryParams) {
            let arrLenguageId = this.printLenguagesIdArray(filter.lenguages);
            let srtUrlFilter = this.getUrlFilterMatch(filter, queryParams);
            this.dialogTableVisible = true;
            const path_match = `${process.env.VUE_APP_URL_API_BACKEND}/api/match/developers/${arrLenguageId}${srtUrlFilter}`;
            axios
                .get(path_match)
                .then((response) => {
                    let data = [];
                    data = response.data;
                    for (let i = 0; i < data.length; i++) {
                        const s = data[i];
                        for (let j = 0; j < this.selecteds.length; j++) {
                            const c = this.selecteds[j];
                            if (c.uuid == s.uuid) {
                                data.splice(i, 1);
                            }
                        }
                    }
                    this.matchCandidates = data;
                    this.customer_request = filter;
                })
                .catch((error) => {
                    console.log(error);
                });
        },

        handleSelectionChange(selection) {
            const developers = selection.map((item) => item.id);
            this.multipleSelection = selection;
        },

        handleClose(tag) {
            this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
        },
    },
};
</script>

<style scoped>
#customer-data {
  text-align: left;
  list-style-type: none;
}

#customer-data li {
  margin-bottom: 5px;
}

#customer-data li span:first-child {
  min-width: 40px;
  font-weight: bold;
  display: inline-block;
  min-width: 140px;
}

#languages {
  display: block;
}

#languages > div {
  display: block;
  background-color: #ff0000;
  margin: 0px 0px 5px 10px;
}

.tag-availability {
  padding: 0.4%;
  height: 25px;
  line-height: 1px;
  font-size: 0.9rem;
  font-weight: bold;
}

.show-date {
  font-size: 0.75rem;
  text-align: left;
  color: #6a6d6d;
}

.div-description-vacant {
  color: #6a6d6d;
}
</style>
