<template lang="html">
    <el-container>
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="m-1">
            <el-row>
                <h1 class="title" style="font-size: 2em;">
                    <span> Tus candidatos </span>
                </h1>
            </el-row>
            <el-row  type="flex" justify="center" :gutter="20">
                <el-col v-for="candidate in candidates" :key="candidate.id" :name="candidate.id" :xs="23" :sm="23" :md="8" :lg="6" :xl="6">
                    <el-card :body-style="{ padding: '2px' }" class="box-card" style="margin-top: 1%;">
                        <el-row style="padding: 2%;">
                            <el-col  :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                <el-row>
                                    <el-col class="text-center">

                                        <h4><i class="el-icon-user-solid"></i> {{ candidate.namecandidate }} {{ candidate.lastnamecandidate }}</h4>
                                    </el-col>
                                    <el-col>
                                        <ul class="list-skills">
                                            <li><span>Area:</span> {{candidate.areadevelop}}</li>
                                            <li><span>Ingles:</span> {{candidate.bilinguecandidate}}</li>
                                            <li><span>Educación:</span> {{candidate.leveleducation}} </li>
                                        </ul>
                                    </el-col>
                                    <el-col :span="24"><h4>Lenguajes</h4></el-col>
                                    <el-col class="languages">
                                        <el-row type="flex" class="row-bg" justify="center">
                                            <el-col  v-for="language in candidate.lenguages" :key="language.id" :span="6"><el-tag>{{language.name}}</el-tag></el-col>
                                        </el-row>
                                    </el-col>
                                     
                                    <el-col >
                                        <el-button class="text-right" type="primary" round @click="genPdf(candidate.uuid, candidate.namecandidate  )"> Curriculum </el-button>
                                        <el-button class="text-right" type="primary" round @click="onSubmit(candidate.uuid)"> Seleccionar </el-button>
                                    </el-col>
                                </el-row>
                                <el-row>
                                   
                                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12" v-for=" site in candidate.my_sites" :key="site" :name="site">
                                        <p v-text="site"></p>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            candidates: [],
            client_id: "",
            customer_id: this.$route.params.id,
        };
    },
    //81b02a3b-a411-4b90-9aaa-0a794ce7c60e
    methods: {
        getCandidates() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/${this.customer_id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET",
            }).then((res) => {
                this.candidates = res.data.developers;
                this.client_id = res.data.id;
            });
        },
        onSubmit(id_selected) {
            const id = id_selected;
            const solicitud = this.client_id;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/cards/${id}/${solicitud}`;
            axios({
                url: path,
                method: "POST",
            })
                .then((res) => {
                    this.$confirm(
                        "Gracias por seleccionar a tu candidato, ahora nos comunicaremos contigo para continuar con el proceso",
                        "Candidato seleccionado",
                        {
                            confirmButtonText: "OK",
                            cancelButtonText: "Cancel",
                            showCancelButton: false,
                            type: "success",
                            center: true,
                        }
                    )
                        .then(() => {
                            this.$router.push("/login");
                        })
                        .catch(() => {
                            this.$router.push("/login");
                        });
                })
                .catch((error) => {
                    this.alertError();
                    this.fullscreenLoading = false;
                });
        },
        genPdf(candidate_id, namecandidate) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/cv/${candidate_id}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement("a");
                    link.href = url;
                    link.setAttribute("download", `cv-${namecandidate}.pdf`); //or any other extension
                    document.body.appendChild(link);
                    link.click();
                    this.alertSuccess2();
                })
                .catch((error) => {
                    this.alertError();
                    console.log("error");
                });
        },
        alertSuccess() {
            this.$notify.success({
                title: "Desarrollador seleccionado",
                offset: 100,
            });
        },
        alertSuccess2() {
            this.$notify.success({
                title: "En un momento se generara un pdf",
                offset: 100,
            });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },
    },
    created() {
        this.getCandidates();
    },
};
</script>

<style scoped>
.box-card {
  width: 100%;
  border-radius: 15px !important;
}

.imuk-card {
  margin-top: 2%;
  margin: 1%;
  padding: 0% 3% 10% 3%;
}

p {
  text-align: justify;
}
h4 {
    margin: 10px 0px;
}
.languages {
    margin-bottom: 10px;
}

.list-skills {
  list-style-type: none;
  padding: 0px;
  text-align: left;
  display: inline-block;
  line-height: 25px;
}
.list-skills span {
  width: 100px;
  display: inline-block;
  text-align: left;
  color:#d24f97;
  font-weight: 550;
}
</style>
