<template lang="html">
    <el-container v-loading.fullscreen.lock="fullscreenLoading">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="22">
            <h1 class="title-form" style="margin-top: 1em;">
                <span>
                    Regístrate como Empresa
                </span>
            </h1>
            <el-row type="flex"  justify="center" :gutter="20">
                <el-col :xs="21" :sm="24" :md="8" :lg="8" :xl="8">
                    <el-card class="box-card">
                        <el-row >
                            <el-col class= "mx-auto" :md="24" style="text-align: center;">
                                <h4 style="margin: 0px !important;"> ¡Gracias por confiar en IMUKO! </h4>
                            </el-col>
                        </el-row>
                        <div class="card-body imuk-card">
                            <el-form ref="form" :model="form" :rules="rules">
                                <el-row :gutter="20">
                                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                        <el-form-item class="label-form" label="Nombre empresa" prop="company_name">
                                            <el-input v-model="form.company_name"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                        <el-form-item class="label-form" label="Nombre responsable" prop="responsable">
                                            <el-input v-model="form.responsable"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="20">
                                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                        <el-form-item class="label-form" label="Email Corporativo" prop="email_company">
                                            <el-input v-model="form.email_company" placeholder="Ingresa tu email"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="20">
                                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                        <el-form-item label="Contraseña" prop="password" class="label-form">
                                            <el-input type="password" placeholder="xxxxxx" maxlength="15" v-model="form.password" autocomplete="off"></el-input>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                        <el-form-item label="Confirmar contraseña" prop="confirm_password" class="label-form">
                                            <el-input type="password" maxlength="15" v-model="form.confirm_password" autocomplete="off"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="20">
                                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                        <el-form-item class="label-form" label="País de ubicación" prop="countryCompany">
                                            <el-select v-on:change="getCountries()" id="country" v-model="form.countryCompany" filterable placeholder="Seleccione...">
                                                <el-option v-for="item in countries" :key="item.id" :label="item.name" :value="item.id">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                        <el-form-item class="label-form" label="Ciudad" prop="city_id">
                                            <el-select v-on:change="getCities()" v-model="form.city_id" filterable placeholder="Seleccione...">
                                                <el-option v-for="item in cities" :key="item.id" :label="item.name" :value="item.id">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="20">
                                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                        <el-form-item class="label-form" label="Celular" prop="phone">
                                            <el-input v-model="form.phone"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                        <el-form-item class="label-form" label="NIT" prop="rut">
                                            <el-input v-model="form.rut"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="20">
                                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                        <el-form-item class="label-form" label="Tipo de empresa" prop="type_company">
                                            <el-select v-model="form.type_company" placeholder="Seleccione...">
                                                <el-option label="Casa de software" value="casa_de_software"></el-option>
                                                <el-option label="Startup" value="startup"></el-option>
                                                <el-option label="Gobierno" value="gobierno"></el-option>
                                                <el-option label="Banca" value="banca"></el-option>
                                                <el-option label="Fintech" value="fintech"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="20" type="flex" justify="center">
                                    <el-col :span="120" style="margin-top: 3%">
                                        <el-form-item size="large">
                                            <el-button type="primary" @click="onSubmitClient"><i class="fas fa-arrow-circle-right"></i> Enviar</el-button>
                                            <el-button @click="dialogTableVisible = false">Cancelar</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                        </div>
                    </el-card>
                </el-col>
                <el-col :lg="5">
                    <SocialsLinked type="register"/>
                </el-col>
            </el-row>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { mapState, mapMutations } from "vuex";
// import "vue-form-wizard/dist/vue-form-wizard.min.css";
import SocialsLinked from "../../Candidate/EditProfile/SocialsLinked";

export default {
    computed: {
        ...mapState("auth", ["authenticate", "user_session"]),
    },
    components: {
        SocialsLinked,
    },
    data() {
        var validatePass = (rule, value, callback) => {
            if (value === "") {
                callback(new Error("Please input the password"));
            } else {
                if (this.form.confirm_password !== "") {
                    this.$refs.form.validateField("confirm_password");
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === "") {
                callback(new Error("Las contraseñas no coinciden"));
            } else if (value !== this.form.password) {
                callback(new Error("Las contraseñas no coinciden"));
            } else {
                callback();
            }
        };
        var validateName = (rule, value, callback) => {
            var letters =
        '/^(([^<>()[]\\.,;:@"]+(.[^<>()[]\\.,;:@"]+)*)|(".+")(¿?¡!"#$%&(-/0123456789=´¨_~))@(([])|(([-]+.)+[-]{,}))$/';
            for (var i of value) {
                if (letters.includes(i)) callback(new Error());
            }
            callback();
        };
        var validate_number_field = (rule, value, callback) => {
            var letters = `%&/^(([^<>()\[\]\\.,;!¡¿?={#*}:\@"]+(\.[^'<>()\[\]\\.,;:\@"]+[aAbBcCdDeEfFgGhHiIjJkKlLmMnNñÑoOpPqQrRsStTuUvVwWxXyYzZ])*)|(".+"))@((\[\])|(([\-]+\.)+[-]{,}))$/`;
            for (var i of value) {
                if (letters.includes(i)) callback(new Error());
            }
            callback();
        };
        return {
            fullscreenLoading: false,
            form: {
                company_name: "",
                type_company: "",
                rut: "",
                password: "",
                confirm_password: "",
                responsable: "",
                phone: "",
                email_company: "",
                city_id: "",
                description: "",
                countryCompany: "",
            },
            countries: [],
            cities: [],
            rules: {
                company_name: [
                    {
                        required: true,
                        message: "Ingresa un nombre valido",
                        trigger: "blur",
                        validator: this.validate_letters_field,
                    },
                ],
                responsable: [
                    {
                        required: true,
                        message: "Ingresa un nombre valido",
                        trigger: "blur",
                        validator: this.validate_letters_field,
                    },
                ],
                email_company: [
                    {
                        type: "email",
                        required: true,
                        message: "El campo email es requerido",
                        trigger: "blur",
                    },
                    {
                        type: "email",
                        message: "Ingresa un email valido",
                        trigger: ["blur", "change"],
                    },
                ],
                phone: [
                    {
                        validator: this.validate_number_field,
                        message: "Ingrese un numero de telefono valido",
                        trigger: "blur",
                        required: true,
                    },
                ],
                city_id: [
                    {
                        required: true,
                        message: "Por favor selecciona una ciudad",
                        trigger: "change",
                    },
                ],
                countryCompany: [
                    {
                        required: true,
                        message: "Por favor selecciona un pais",
                        trigger: "change",
                    },
                ],
                rut: [
                    {
                        required: true,
                        message: "Este campo es requerido",
                        trigger: "blur",
                    },
                ],
                type_company: [
                    {
                        required: true,
                        message: "Por favor selecciona el tipo de empresa",
                        trigger: "change",
                    },
                ],
                password: [
                    {
                        validator: validatePass,
                        message: "Ingrese una contraseña",
                        trigger: "blur",
                        required: true,
                    },
                ],
                confirm_password: [
                    {
                        validator: validatePass2,
                        message: "Las contraseñas no coinciden",
                        trigger: "blur",
                        required: true,
                    },
                ],
            },
            showE: false,
            validated: false,
            dialogTableVisible: false,
        };
    },
    methods: {
        onSubmitClient(evt) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            evt.preventDefault();
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/create`;

            this.$refs["form"].validate((valid) => {
                if (valid) {
                    (this.fullscreenLoading = true),
                    axios({
                        url: path,
                        method: "POST",
                        data: this.form,
                    })
                        .then((response) => {
                            this.alertSuccessClient();
                            this.authUser(this.form.email_company, this.form.password);
                        })
                        .catch((error) => {
                            console.log(error);
                            this.alertError();
                        });
                } else {
                    this.alertRules();
                }
            });
        },
        alertSuccessClient() {
            this.fullscreenLoading = false;
            this.$notify.success({
                title: "¡Felicitaciones registro completado!",
                message: "",
                offset: 100,
            });
        },
        alertError() {
            this.fullscreenLoading = false;
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },
        alertRules() {
            this.$notify.warning({
                title: "Campos Invalidos",
                message: "Faltan campos obligatorios o coloco datos incorrectos",
            });
        },
        getCountries() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/country`;
            axios
                .get(path)
                .then((response) => {
                    this.countries = response.data;
                    this.getCities();
                    this.getPhonecode ();
                })
                .catch((error) => {});
        },

        getPhonecode () {

            const selectedCountryId = this.form.countryCompany;

            const country = this.countries.find(item => item.id == selectedCountryId);

            const phoneCode = country ? country.code_phone : null;

            this.form.phone  = phoneCode;

        },

        resetForm() {
            this.$refs["form"].resetFields();
        },
        getCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities/${this.form.countryCompany}`;
            axios
                .get(path)
                .then((response) => {
                    this.cities = response.data;
                })
                .catch((error) => {});
        },
        authUser(email, password) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/login`;
            axios({
                url: path,
                method: "POST",
                data: { email: email, password: password },
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                },
            })
                .then((response) => {
                    localStorage.setItem("api_token", response.data.data.user.api_token);
                    localStorage.setItem("user", JSON.stringify(response.data.data.user));
                    this.changeAuth();
                    this.fullscreenLoading = false;
                    this.$router.push("/client-dashboard");
                })
                .catch((error) => {
                    console.log(error);
                    this.alertError();
                });
        },
        ...mapMutations("auth", ["changeAuth"]),
    },
    created() {
        this.getCountries();
    },
};
</script>

<style scoped>
.description-title {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.4px;
}
.el-icon-male,
.el-icon-female {
  font-weight: bold !important;
}
.title-form {
  font-size: 2rem;
  text-align: center;
}
.el-radio {
  margin: 3px 3px 3px 3px !important;
  width: 100%;
}
.box-card {
  width: 100%;
  border-radius: 15px !important;
  margin-left: 0px !important;
  margin-bottom: 3%;
}
.el-checkbox.is-bordered.el-checkbox--mini .el-checkbox__label {
  line-height: 12px;
  font-size: 0.55rem !important;
}

.imuk-card {
  margin-top: 3%;
  margin: 1%;
  padding: 0% 3% 3% 3%;
}
</style>
