<template>
    <div>
        
    </div>
    <!-- Modal donde se realizar la gestion para el envio por lotes -->
    <!-- <el-dialog title="Enviar cuentas de cobro" width="50%" :visible.sync="displayModal" :before-close="handleClose">
        <el-form ref="form" :model="zip_range_fechas">
            <el-form-item label="Rango de fechas">
                <el-row :gutter="20">
                    <el-col :xs="5" :sm="5" :md="5" :lg="6" :xl="6">
                        <el-date-picker
                            v-model="fecha_inicio"
                            type="date"
                            placeholder="Fecha inicial"
                            format="yyyy/MM/dd"
                            value-format="yyyy-MM-dd"
                        >
                        </el-date-picker>
                    </el-col>
                    <el-col :xs="5" :sm="5" :md="5" :lg="6" :xl="6">
                        <el-date-picker
                            v-model="fecha_fin"
                            type="date"
                            placeholder="Fecha final"
                            format="yyyy/MM/dd"
                            value-format="yyyy-MM-dd"
                        >
                        </el-date-picker>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item label="Estatus">
                <el-row :gutter="20">
                    <el-col :xs="5" :sm="5" :md="5" :lg="6" :xl="6">
                        <el-select
                            v-model="status"
                            placeholder="Seleccione..."
                        >
                            <el-option label="Pendiente" value="0"></el-option>
                            <el-option label="En proceso" value="1"></el-option>
                            <el-option label="Pagado" value="2"></el-option>
                            <el-option label="Negado" value="3"></el-option>
                        </el-select>
                    </el-col>
                </el-row>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="closedModal()">Cancel</el-button>
            <el-button type="primary" :loading="send_start" @click="onSubmitModalForm(), send_start=true">Enviar</el-button>
        </span>
    </el-dialog> -->
</template>

<script>
import axios from "axios";
import {
    mapState,
} from 'vuex';
import {
    myMixins
} from '../../../Utils/mixins'

export default {
    computed: {
        ...mapState('auth', ['authenticate', 'user_session'])
    },
    mixins: [myMixins],
    name: "sendPaymentAccountModal",
    data() {
        return {
            table_data: [],
            pay_date: [],
            send_start: false,
            formdata: [],
            fecha_inicio: "",
            fecha_fin: "",
            status: "",
            zip_range_fechas: {},
        }
    },
    props: ["displayModal", "payAccounts", "closedModal"],
    methods: {
        onSubmitModalForm() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            var dates = {
                'fecha_inicial': this.fecha_inicio,
                'fecha_final': this.fecha_fin,
                'status': this.status,
            }

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/lote-payment-account`;
            console.log("Fechas", dates)
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: dates,
            }).then(response => {
                this.closedModal();
                this.send_start = false;
            }).catch(error => {
                console.log("error", error)
            });
        },
        handleClose(done) {
            this.closedModal();
        }
    },
    watch: {
        payAccounts: function (newVal, oldVal) {
            this.table_data = newVal;
        }
    },
    created() {
        // Al crear
    },
}
</script>

<style>

</style>
