<template>
    <el-row :gutter="20">
        <el-container>
            <el-col :xs="24" :sm="24" :md="3" :lg="3" :xl="3">
                <!-- Menu Gamification -->
                <Menu></Menu>
            </el-col>
            <el-col
                :xs="24"
                :sm="24"
                :md="20"
                :lg="20"
                :xl="20"
            >
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="text-align: left;">
                        <h2>Milestones</h2>
                        <h4>Find the milestones you want to activate for your team, we have some options that may interest you</h4>

                        <el-row :gutter="20">
                            <el-col :xs="24" :sm="24" :md="15" :lg="15" :xl="15" style="text-align: left;">
                                <h3>Milestones Availables</h3>
                                <el-row :gutter="20">
                                    <el-col v-for="template in milestone_templates" :key="template" :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                        <el-card class="sta-panel m-2" shadow="hover">
                                            <div class="icon-container">
                                                <el-image
                                                style="width: 70px; height: 70px"
                                                :src="template.icon"
                                                :class="template.class"
                                                fit="scale-down"></el-image>
                                            </div>

                                            <span class="icon-container-title"> {{ template.title }} </span>

                                            <div class="m-2">
                                                <span class="text-description-container">
                                                    {{ template.description }}
                                                </span>
                                            </div>
                                            
                                            <el-row>
                                                <el-col class="mt-3" :xs="24" :sm="24" :md="14" :lg="14" :xl="14">
                                                    <div>
                                                        <el-button @click="displayModalEnableMilestone(template, true)" class="button-active-milestone" size="small" type="success" round>
                                                            <font-awesome-icon icon="fa-solid fa-circle-plus" class="mr-3"/> Enable milestone
                                                        </el-button>
                                                    </div>
                                                </el-col>
                                                <el-col class="mt-3" :xs="24" :sm="24" :md="10" :lg="10" :xl="10">
                                                    <span class="icon-container-subtitle" style="text-align: left">
                                                        <el-tag class="icon-coin-size" type="warning" size="small"> {{ template.points }} <font-awesome-icon icon="fa-solid fa-coins" pull="right"/> </el-tag>
                                                    </span>
                                                </el-col>
                                            </el-row>
                                        </el-card>
                                    </el-col>
                                </el-row>
                            </el-col>
                            <el-col :xs="24" :sm="24" :md="7" :lg="7" :xl="7" style="text-align: left;"></el-col>
                        </el-row>

                    </el-col>
                </el-row>
            </el-col>

            <!-- Modal for enable form milestone -->
            <el-dialog width="20%" v-model="modal_enable_milestone" :show-close="false">
                <template #header="{titleId, titleClass }">
                    <div class="my-header">
                        <h4 :id="titleId" :class="titleClass">Enable milestone, {{ form_milestone.name }}</h4>
                    </div>
                </template>
                
                <div class="card-body imuk-card">
                    
                    <div class="icon-container">
                        <el-image
                        style="width: 70px; height: 70px"
                        :src="form_milestone.icon"
                        fit="scale-down"></el-image>
                    </div>

                    <div class="m-2">
                        <span class="text-description-container">
                            {{ form_milestone.description }}
                        </span>
                    </div>
                    
                    <el-form
                        label-position="top"
                        :model="form"
                        label-width="100px"
                        style="max-width: 100%"
                        class="mt-5"
                    >
                        <el-row>
                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                <el-form-item label="Add your point preference for this milestone">
                                    <el-input v-model="form_milestone.points" type="number" autocomplete="off" />
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row class="mt-2">
                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                <el-button @click="modal_enable_milestone = false">Cancel</el-button>
                                <el-button type="primary" @click="EnableMilestone()">
                                    Enable
                                </el-button>
                            </el-col>
                        </el-row>
                    </el-form>
                </div>
            </el-dialog>
        </el-container>
    </el-row>
</template>

<script>
    import axios from "axios";
    import { alerts } from "@/Utils/alerts.js";
    import Menu from '@/components/Gamification/Layout/Menu.vue';

    export default {
        name: "Milestones",
        mixins: [alerts],
        components: {
            Menu
        },
        data() {
            return {
                milestone_templates: [],
                organization: {},
                modal_enable_milestone: false,
                form_milestone: {
                    "name": "",
                    "client_id": 1,
                    "points": 100,
                    "active": true,
                    "icon": "",
                    "description": ""
                }
            };
        },
        methods: {
            EnableMilestone() {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/gamification/milestone`;
                let data = {
                    "name": this.form_milestone.name,
                    "client_id": this.organization.org.id,
                    "points": this.form_milestone.points,
                    "active": true
                }

                axios({
                    url: path,
                    method: "POST",
                    data: data,
                    headers: {
                        "Content-Type": "application/json",
                        "Access-Control-Allow-Origin": "*",
                    },
                })
                    .then((response) => {
                        this.modal_enable_milestone = false
                        this.alertMessage("Success, Milestone enable", "success");
                        this.getMilestoneTemplates();

                })
                    .catch((error) => {
                        
                });
                
            },
            getMilestoneTemplates() {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/gamification/milestones/templates`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.milestone_templates = response.data;
                    })
                    .catch((error) => { });
            },
            getOrganizationData() {
                this.organization = JSON.parse(this.$store.state.user)
            },
            displayModalEnableMilestone(milestone, display) {
                
                this.modal_enable_milestone = true

                this.form_milestone.name = milestone.title
                this.form_milestone.points = milestone.points
                this.form_milestone.icon = milestone.icon
                this.form_milestone.description = milestone.description

            }
        },
        created() {
            this.getOrganizationData();
            this.getMilestoneTemplates();
        }
    };
</script>

<style scoped>
    .my-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

</style>