<template>
    <el-row>
        <el-container>
            <el-col
                :xs="24"
                :sm="24"
                :md="24"
                :lg="24"
                :xl="24"
                style="margin-bottom: 5vh;"
            >
                <h1 class="title" style="font-size: 2em;">
                    <span> Sign up </span>
                </h1>

                <el-row type="flex" style="margin-top: 2%;" justify="center">
                    <el-col :xs="20" :sm="20" :md="8" :lg="8" :xl="8">
                        <el-card class="box-card">
                            <div class="card-body imuk-card">
                                <el-form
                                    ref="basicForm"
                                    :model="basicForm"
                                    :rules="rules"
                                    label-position="top"
                                    label-width="100px"
                                    style="max-width: 100%"
                                    status-icon
                                >
                                    <el-row :gutter="10">
                                        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                            <el-form-item class="label-form" label="First Name" prop="first_name">
                                                <el-input
                                                    v-model="basicForm.first_name"
                                                    placeholder=""
                                                    size="large"
                                                ></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                            <el-form-item class="label-form" label="Last Name" prop="last_name">
                                                <el-input
                                                    v-model="basicForm.last_name"
                                                    placeholder=""
                                                    size="large"
                                                ></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                            <el-form-item class="label-form" label="Email address" prop="email">
                                                <el-input
                                                    v-model="basicForm.email"
                                                    placeholder=""
                                                    size="large"
                                                    autocomplete="off"
                                                ></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                            <el-form-item class="label-form" label="Password" prop="password">
                                                <el-input
                                                    type="password"
                                                    v-model="basicForm.password"
                                                    placeholder=""
                                                    size="large"
                                                    autocomplete="off"
                                                    show-password
                                                ></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                            <el-form-item class="label-form" label="Country" prop="country_id">
                                                <el-select size="large" v-model="basicForm.country_id" filterable placeholder="Select">
                                                    <el-option
                                                        v-for="item in countries"
                                                        :key="item.name"
                                                        :label="item.name"
                                                        :value="item.id">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row :gutter="10">
                                        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                            <el-form-item class="label-form" label="Industry" prop="industry_id">
                                                <el-select size="large" v-model="basicForm.industry_id" placeholder="Select">
                                                    <el-option
                                                        v-for="item in industries"
                                                        :key="item.name"
                                                        :label="item.name"
                                                        :value="item.id">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                            <el-form-item class="label-form" label="Phone" prop="phone">
                                                <el-input
                                                    v-model="basicForm.phone"
                                                    placeholder=""
                                                    size="large"
                                                ></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row style="margin-bottom: 2%;">
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                              <el-alert title="By creating your account, you agree to Imuko's terms of service and privacy policy." type="info" show-icon :closable="false" />
                                        </el-col>
                                    </el-row>
                                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                        <el-button
                                            size="large"
                                            class="button-login"
                                            type="primary"
                                            @click="onSubmit('basicForm')"
                                            v-loading.fullscreen.lock="fullScreenLoading"
                                            round>
                                            <font-awesome-icon icon="fa-solid fa-arrow-right-to-bracket" pull="left"/> Sign up
                                        </el-button>
                                        <el-divider>
                                            <span class="divider-text">
                                                Or continue with
                                            </span>
                                        </el-divider>
                                        <el-row :gutter="5">
                                            <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                                <el-button class="socials-button" type="info" size="large" plain>
                                                    <font-awesome-icon icon="fa-brands fa-github" pull="left"/>
                                                </el-button>
                                            </el-col>
                                            <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                                <el-button class="socials-button google" type="info" size="large" plain>
                                                    <font-awesome-icon icon="fa-brands fa-google" pull="left"/>
                                                </el-button>
                                            </el-col>
                                            <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                                <el-button class="socials-button" type="info" size="large" plain>
                                                    <font-awesome-icon icon="fa-brands fa-linkedin-in" pull="left"/>
                                                </el-button>
                                            </el-col>
                                        </el-row>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
import axios from "axios";


var validateName = (rule, value, callback) => {
    var letters =
        '/^(([^<>()[]\\.,;:@"]+(.[^<>()[]\\.,;:@"]+)*)|(".+")(¿?¡!"#$%&(-/0123456789=´¨_~))@(([])|(([-]+.)+[-]{,}))$/';
    for (var i of value) {
        if (letters.includes(i)) callback(new Error());
    }
    callback();
};
var validate_number_field = (rule, value, callback) => {
    var letters = `%&/^(([^<>()\[\]\\.,;!¡¿?={#*}:\@"]+(\.[^'<>()\[\]\\.,;:\@"]+[aAbBcCdDeEfFgGhHiIjJkKlLmMnNñÑoOpPqQrRsStTuUvVwWxXyYzZ])*)|(".+"))@((\[\])|(([\-]+\.)+[-]{,}))$/`;
    for (var i of value) {
        if (letters.includes(i)) callback(new Error());
    }
    callback();
};

export default {
    computed: {
        isLoggedIn() {
            return this.$store.getters.isLoggedIn;
        }
    },
    data() {
        return {
            basicForm: {
                first_name: "",
                last_name: "",
                email: "",
                password: "",
                country_id: "",
                phone: "",
                industry_id: "",
            },
            rules: {
                first_name: [
                    { required: true, message: "First name is required", trigger: "blur" },
                    {
                        required: true,
                        validator: validateName,
                        message: "Name is no valid",
                        trigger: "blur",
                    },
                ],
                last_name: [
                    { required: true, message: "Last name is null", trigger: "blur" },
                ],
                email: [
                    {
                        type: "email",
                        required: true,
                        message: "Email is null",
                        trigger: "blur",
                    },
                ],
                country_id: [
                    {
                        required: true,
                        message: "Country is required",
                        trigger: "change",
                    },
                ],
                phone: [
                    {
                        required: true,
                        validator: validate_number_field,
                        message: "Phone is no valid",
                        trigger: "blur",
                    },
                    {
                        required: true,
                        message: "Phone is required",
                        trigger: "blur",
                    },
                ],
                industry_id: [
                    {
                        required: false,
                        message: "Industry is required",
                        trigger: "blur",
                    },
                ],
                password: [
                    {
                        required: true,
                        message: "Password is required",
                        trigger: "blur",
                    },
                ],
            },
            countries: [],
            industries: [],
            fullScreenLoading: false,
        };
    },
    methods: {
        async onSubmit(formName) {
            const path = `https://www.targetsia.xyz/api/v2/auth/register/talent`;
            this.fullScreenLoading = true

            this.$refs[formName].validate((valid) => {
                if (valid) {
                    axios({
                        url: path,
                        method: "POST",
                        data: this.basicForm,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                        },
                    })
                        .then((response) => {
                            this.fullScreenLoading = false;
                            this.$store.commit('setToken', response.data.data.api_token);
                            this.$store.commit('setUser', response.data.data);
                            this.$refs["basicForm"].resetFields();
                            this.alertSuccess("User create success");
                            this.$router.push("/talent/profile");
                    })
                        .catch((error) => {
                            this.fullScreenLoading = false;
                            this.alertError(error.response.data.data[0]);
                    });
                } else {
                    this.fullScreenLoading = false
                    this.alertError("Values in fields is not valids")
                }
            })
        },
        getCountries() {
            const path = `https://www.targetsia.xyz/api/v2/country`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
 
            axios({
                url: path,
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                },
            })
            .then((response) => {
                    this.countries = response.data;
                })
                .catch((error) => {});
        },
        getIndustries() {
            const path = `https://www.targetsia.xyz/api/v2/industry`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            axios
                .get(path)
                .then((response) => {
                    this.industries = response.data;
                })
                .catch((error) => { });
        },
        alertSuccess(msg) {
            this.$message({
                message: 'Congrats, ' + msg,
                type: 'success'
            });
        },
        alertError(msg) {
            this.$message.error('Oops, ' + msg);
        },
    },
    created() {
        this.getCountries();
        this.getIndustries();
    }
};
</script>

<style scoped>
    .description-title {
        color: #fff;
        font-weight: 800;
        letter-spacing: 0.4px;
    }
    .el-icon-male,
    .el-icon-female {
        font-weight: bold !important;
    }
    .title-form {
        font-size: 2rem;
        text-align: center;
    }
    .el-radio {
        margin: 3px 3px 3px 3px !important;
        width: 100%;
    }
    .box-card {
        width: 100%;
        border-radius: 15px !important;
        margin-left: 0px !important;
        margin-bottom: 3%;
    }
    .el-checkbox.is-bordered.el-checkbox--mini .el-checkbox__label {
        line-height: 12px;
        font-size: 0.55rem !important;
    }

    .el-alert {
        margin: 20px 0 0;
    }
    .el-alert:first-child {
        margin: 0;
    }
</style>
