<template>
    <el-row :gutter="20">
        <el-container>
            <el-col :xs="24" :sm="24" :md="3" :lg="3" :xl="3">
                <!-- Menu Gamification -->
                <el-menu style="border-radius: 10px; text-align: justify; height: 100%;" class="el-menu-vertical-demo-talent" >
                    <el-submenu index="1">
                        <el-menu-item-group>
                            <MenuCollaborator></MenuCollaborator>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-col>
            <el-col
                :xs="24"
                :sm="24"
                :md="20"
                :lg="20"
                :xl="20"
            >
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" style="text-align: left;">
                        <h3>LeaderBoard</h3>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="14" :lg="16" :xl="15" style="text-align: left;">
                    
                    </el-col>
                </el-row>
                
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
    import MenuCollaborator from '../../Gamification/Layout/MenuCollaborator.vue'
    export default {
        name: "LeaderBoard",
        components:{
            MenuCollaborator
        },
        data() {
            return {
                rewards: [],
                organization: {}
            };
        },
        methods: {

        },
        created() {

        }
    };
</script>