<template>
    <el-row :gutter="20">
        <el-container>
            <el-col :xs="24" :sm="24" :md="3" :lg="3" :xl="3">
                <!-- Menu Gamification -->
                <Menu></Menu>
            </el-col>
            <el-col
                :xs="24"
                :sm="24"
                :md="20"
                :lg="20"
                :xl="20"
            >
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" style="text-align: left;">
                        <h3>Create Reward</h3>
                        <!-- Target Form -->
                        <RewardForm @syncReward="getRewards"></RewardForm>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="14" :lg="16" :xl="15" style="text-align: left;">
                        <h3>Rewards</h3>
                        <el-table
                            :data="rewards"
                            :row-class-name="tableRowClassName"
                            empty-text="No Rewards loaded yet"
                            v-loading="loading"
                            style="width: 100%"
                            >
                            <el-table-column
                            width="22">
                            </el-table-column>
                            <el-table-column prop="title" label="Title"></el-table-column>
                            <el-table-column prop="value" label="Value"></el-table-column>
                            <el-table-column prop="stock" label="Stock"></el-table-column>
                            <el-table-column prop="description" label="Description"></el-table-column>
                            <el-table-column prop="conditions" label="Conditions"></el-table-column>
                            <!-- <el-table-column>
                                <template v-slot="scope">
                                    <router-link :to="`/admin/gamification/target/${scope.row.id}/detail`">
                                        <el-button
                                        size="small"
                                        type="primary"
                                        round
                                        >
                                            <font-awesome-icon icon="fa-solid fa-gear"/>
                                        </el-button>
                                    </router-link>
                                </template>
                            </el-table-column> -->
                        </el-table>
                        <!-- <div style="margin-top: 20px">
                            <el-button style="width: 20%;" size="large" class="button-login" type="danger" round>
                                <font-awesome-icon icon="fa-solid fa-trash" pull="left"/> Delete
                            </el-button>
                        </div> -->
                    </el-col>
                </el-row>
                
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
    import axios from "axios";
    import Menu from '@/components/Gamification/Layout/Menu.vue';
    import FormTarget from '@/components/Gamification/Forms/TargetForm.vue';
    import RewardForm from "../Forms/RewardForm.vue";

    export default {
        name: "Rewards",
        components: {
    Menu,
    FormTarget,
    RewardForm
},
        data() {
            return {
                rewards: [],
                organization: {}
            };
        },
        methods: {
            getRewards() {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/gamification/rewards`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.rewards = response.data;
                    })
                    .catch((error) => { });
            },
            getOrganizationData() {
                this.organization = JSON.parse(this.$store.state.user)
            },
        },
        created() {
            this.getOrganizationData();
            this.getRewards();
        }
    };
</script>