<template lang="html">
    <el-container>
        <el-col style="padding: 2%;" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-row>
                <el-col style="text-align: start;" :xs="24" :sm="24" :md="20" :lg="20" :xl="20">
                    <h1>Asignaciones</h1>
                </el-col>
                <!-- <el-col :xs="24" :sm="24" :md="4" :lg="4" :xl="4">
                    <el-button @click="newClient" type="primary" round><i class="fas fa-industry"></i> Agregar cliente
                    </el-button>
                </el-col> -->
            </el-row>
            <el-row type="flex"  justify="center">
                <el-col :xs="21" :sm="24" :md="12" :lg="12" :xl="12">
                    <el-col :xs="10" :sm="24" :md="24" :lg="24" align="center" >
                        <div>
                            <el-select
                                v-model="type_search"
                                placeholder="Selecciona el tipo de usuario"
                                v-on:change="disableInput(type_search)"
                            >
                                <el-option label="Cliente" value="cliente"></el-option>
                                <el-option
                                    label="Desarrollador"
                                    value="desarrollador"
                                ></el-option>
                            </el-select>
                        </div>
                        <div style="margin-button: 2em;">
                            <el-select
                                v-model="consult"
                                filterable
                                placeholder="Ingresar el email del usuario a buscar"
                                id="term"
                                :disabled="disable_input_developer"
                            >
                                <el-option 
                                    v-for=" item in data_select"
                                    :key="item.id"
                                    :label="item.namecandidate"
                                    :value="item.emailcandidate"
                                    :v-if="type_search == 'desarrollador'"
                                >
                                </el-option>
                                <el-option 
                                    v-for=" item in data_select"
                                    :key="item.id"
                                    :label="item.company_name"
                                    :value="item.email_company"
                                    :v-if="type_search == 'cliente'"
                                >
                                </el-option>
                            </el-select>
                        </div>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="margin: 2%;">
                        <el-button type="primary" size="small" @click="getSeach()" round><i class="fas fa-search"></i> Buscar</el-button>
                        <el-button size="small" @click="resetFormSearch()" round><i class="fas fa-sync-alt"></i> Limpiar</el-button>
                    </el-col>
                </el-col>
            </el-row>
            <el-table
                :data="Clients"
                :row-class-name="tableRowClassName"
                empty-text="No se encontraron solicitudes..."
                v-loading="loading"
            >
                <el-table-column type="index" width="50"></el-table-column>
                <el-table-column label="Nombre">
                    <template slot-scope="props" >
                        <div :v-if="type_search == 'cliente'" >{{ props.row.namecandidate }}</div>
                        <div :v-if="type_search == 'desarrollador'" >{{ props.row.company_name }}</div>
                    </template>
                </el-table-column>
                <el-table-column label="email">
                    <template slot-scope="props" >
                        <div :v-if="type_search == 'cliente'" >{{ props.row.emailcandidate }}</div>
                        <div :v-if="type_search == 'desarrollador'" >{{ props.row.email_company }}</div>
                    </template>
                </el-table-column>
                <el-table-column prop="updated_at" label="fecha asignacion"> </el-table-column>
            </el-table>
            <div class="block">
                <el-pagination
                    layout="prev, pager, next"
                    :total="pagination.total"
                    :page-size="pagination.per_page"
                    @current-change="changePage"
                >
                </el-pagination>
            </div>
        </el-col>

        <!-- contract form, create and update -->
        <ContractForm :dialog="this.dialog_form_contract" :client="this.client" type_user="client" @close="close"></ContractForm>

        <!-- Add client - form  -->
        <el-dialog width="80%" :destroy-on-close=true>
            <CreateOrUpdate @closeModalForm="closeModalForm" :clientEdit="this.client" :key="getRandom()"> </CreateOrUpdate>
        </el-dialog>

        <!--Edicion de cliente -->
        <el-dialog  title="Editar Cliente"  width="55%">
            <el-form ref="formUpdate" :model="formUpdate" >
                <el-row :gutter="20">
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item
                            class="label-form"
                            label="Nombre de empresa"
                            prop="company_name"
                        >
                            <el-input
                                v-model="formUpdate.company_name"
                                placeholder="Ingresa nombre"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item
                            class="label-form"
                            label="Email"
                            prop="email_company">
                            <el-input
                                v-model="formUpdate.email_company"
                                placeholder="Ingresa email"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item
                            class="label-form"
                            label="Fecha de fundación"
                            prop="foundation_date" >
                            <el-date-picker
                                v-model="formUpdate.foundation_date"
                                type="date"
                                format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd"
                                placeholder="Selecciona una fecha"
                            >
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item
                            class="label-form"
                            label="Telefono de empresa"
                            prop="phone">
                            <el-input
                                v-model="formUpdate.phone"
                                placeholder="+573125555555"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item
                            class="label-form"
                            prop="responsable"
                            label="Responsable"
                        >
                            <el-input
                                v-model="formUpdate.responsable"
                                placeholder="Ingresa nombre"
                            ></el-input>
                        </el-form-item>
                    </el-col>

                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-form-item class="label-form" prop="rut" label="Nit">
                            <el-input
                                v-model="formUpdate.rut"
                                placeholder="18384754-1"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item
                            class="label-form"
                            label="Tipo de compañia"
                            prop="type_company"
                        >
                            <el-select
                                v-model="formUpdate.type_company"
                                placeholder="Selecciona un tipo"
                            >
                                <el-option
                                    v-for="item in type_company"
                                    :key="item"
                                    :label="item"
                                    :value="item"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Ciudad" prop="city_id">
                            <el-select
                                v-model="formUpdate.city_id"
                                filterable
                                placeholder="Selecciona un tipo"
                            >
                                <el-option
                                    v-for="item in cities"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item
                            class="label-form"
                            label="Descripción"
                            prop="description">
                            <el-input
                                type="textarea"
                                v-model="formUpdate.description"
                                maxlength="350"
                                placeholder="Cuéntanos sobre tu empresa"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button
                    type="primary"
                    v-loading.fullscreen.lock="fullscreenLoading"
                    @click="onSubmitEditFormUpdate()"
                >Guardar</el-button
                >
                <el-button @click="modalEditFormVisible = false">Cancel</el-button>
            </span>
        </el-dialog>
    </el-container>
</template>

<script>
import axios from "axios";
import {myMixins} from '../../Utils/mixins'
import ContractForm from "../Contract/Form";
import CreateOrUpdate from "../Client/Forms/createOrUpdate";
import {mapMutations} from "vuex";

export default {
    mixins:[myMixins],
    components: {
        ContractForm,
        CreateOrUpdate
    },
    data() {
        return {
            active: 0,
            consult:"",
            type_search: "",
            Clients: [],
            cities: [],
            disable_input_developer: true,
            activeName: "first",
            type_company: ["startup", "Industry", "Bank", "International Company"],
            dialogTableVisible: false,
            pagination: [],
            formSe: {
                name: "",
                email: ""
            },
            dialog_form_contract: false,
            fullscreenLoading: false,
            modalEditFormVisible: false,
            loading: false,
            client: {},
            formUpdate: {
                company_name: "",
                type_company: "",
                rut: "",
                responsable: "",
                email_company: "",
                phone: "",
                city_id: "",
                foundation_date: "",
                description: "",
            },
            data_select:[]
        };
    },
    methods: {
        next() {
            if (this.active++ > 2) this.active = 0;
        },
        newClient(){
            this.setClient([]);
            this.dialogTableVisible = true
        },
        deleteClients(id){
            swal({
                title: "¿Está seguro?",
                text: "Desea Eliminar el cliente de Imuko",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    this.clients_dele(id);
                } else {
                }
            });
        },
        clients_dele(id) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/delete-clients/${id}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: id,
            })
                .then((response) => {
                    if(response.data.type == "error"){
                        swal({
                            title: response.data.title,
                            msg:response.data.msg,
                            text: response.data.msg,
                            icon: response.data.type, });
                    }
                    else{
                        this.delete();
                        this.getClients();
                    }
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.alertError();
                });
        },
        editClient(client){

            this.setClient(client);
            this.client = client;
            this.dialogTableVisible = true;
        },
        onSubmitEditFormUpdate() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients-update/${this.formUpdate.uuid}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: this.formUpdate,
            })
                .then((response) => {
                    this.exitoso();
                    this.getClients();
                    this.$emit("onSubmitEditFormUpdate");
                    this.modalEditFormVisible = false;
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    this.alertError();
                    this.fullscreenLoading = false;
                });
        },
        GoContrat(client){
            console.log(client)
            this.client = client;
            this.dialog_form_contract = true;
        },
        changePage(page) {
            this.getClients(page);
        },
        disableInput(type_search) {
            this.disable_input_developer = false;
            console.log('buscando por:', type_search)
            if(type_search == 'desarrollador'){
                this.getDevelopers()
            }else{
                this.getCustomer()
            }
            
        },
        getDevelopers() {
            console.log("Obteniendo lista de desarrolladores")
            // Aqui desarrollar la funcion para obtener los desarrolladores activos
            // console.log(response.data)
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/all`;
            axios
                .get(path)
                .then(response => {
                    this.developers = response.data;
                    this.data_select = response.data;
                })
        },
        getCustomer() {
            console.log("Obteniendo lista de clientes")
            // Aqui desarrollar la funcion para obtener los desarrolladores activos
            // console.log(response.data)
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/customers`;
            axios
                .get(path)
                .then(response => {
                    this.developers = response.data;
                    this.data_select = response.data['arrRequest']['original']['data'];
                })
        },
        goToProfile(uuid) {
            this.$router.push({ name: "ProfileClient", params: { id: uuid } });
        },
        delete(){
            this.$notify.success({
                title: "Eliminación Exitosa",
                message: "",
                offset: 100
            });
        },
        exitoso() {
            this.$notify.success({
                title: "Modificación exitosa",
                message: "",
                offset: 100
            });
        },
        resetFormSearch() {
            this.consult = [];
            this.type_search = "";
            this.Clients = "";
            this.getSeach();
            
        },
        goToClients(uuid) {
            this.$router.push({ name: "clients", params: { id: uuid } });
        },

        getClients(page) {
            this.loading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
        `${process.env.VUE_APP_URL_API_BACKEND}/api/customers?page=` +  page + `&name=` +  this.formSe.name +  `&email=` +    this.formSe.email;
            axios
                .get(path)
                .then(response => {
                    this.Clients = response.data.arrRequest.original.data;
                    this.pagination = response.data.pagination;
                    this.loading = false;
                })
                .catch(error => {
                    this.loading = false;
                });
        },

        getSeach(page){
            this.loading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            console.log(this.type_search)
            if (this.type_search == 'desarrollador'){
                var path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/assigments/${this.consult}`;
            } else {
                var path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/clients/${this.consult}`;
            }
    
            axios
                .get(path)
                .then(response => {
                    this.Clients = response.data;
                    this.loading = false;
                    console.log(response.data);
                }).catch(error => {
                    this.loading = false;
                });
        },

        tableRowClassName({ row, rowIndex }) {
            if (row.status === 1) {
                return "success-row";
            } else if (row.status === 0) {
                return "warning-row";
            }
            return "";
        },
        alertcontract() {
            this.$notify.success({
                title: "Contrato Creado",
                message: "",
                offset: 100,
            });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente."
            });
        },

        alertRules() {
            this.$notify.warning({
                title: "Campos Obligatorios",
                message: "Faltan campos obligatorios por completar"
            });
        },
        handleClose(tag) {
            this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
        },
        getCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities`;
            axios
                .get(path)
                .then(response => {
                    this.cities = response.data;
                })
                .catch(error => {});
        },
        close(e) {
            this.dialog_form_contract = false;
        },
        closeModalForm(e) {
            this.dialogTableVisible = false;
        },
        ...mapMutations('client', ['setClient'])
    },
    created() {
        // this.getClients();
        // this.getCities();
    }
};
</script>

<style scoped>
    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }

    .el-card__header {
        background-color: #00a0db;
        color: white;
    }

    .btn-danger {
        color: #fff;
        background-color: #f56c6c !important;
        border-color: #f56c6c !important;
    }
    .el-dialog__title {
        font-weight: 600 !important;
    }
    .el-table__body,
    .el-table__footer,
    .el-table__header {
        width: 100% !important;
    }
    .container {
        justify-content: center;
        height: 1px;
    }
    h4, .vue-form-wizard, .wizard-title {
        color: #252422;
        font-weight: 300;
        margin: 0;
        text-align: center;
        font-size: 20px !important;
    }
</style>
