<template lang="html">
    <el-container>
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="22">
            <el-row type="flex" justify="center">
                <el-col style="padding: 2%" :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                    <h2>Cambio de Contraseña</h2>
                    <el-card class="box-card">
                        <el-form ref="form" :model="form" :rules="rulespassword"  size="medium">
                            <el-row :gutter="20">
                                <el-row :gutter="20">
                                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                        <el-form-item label="Contraseña" prop="mes" class="label-form">
                                            <el-input type="password" placeholder="xxxxxx" maxlength="15" v-model="form.password" autocomplete="off"></el-input>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                        <el-form-item label="Confirmar contraseña" prop="checkPass">
                                            <el-input type="password" maxlength="15" v-model="form.checkPass" autocomplete="off"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="20" type="flex" justify="center">
                                    <el-col :span="120" style="margin-top: 3%">
                                        <el-form-item size="large">
                                            <el-button type="primary" @click="save()">Guardar</el-button>
                                            <el-button @click="showpassword = false">Cancelar</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-row>
                        </el-form>
                    </el-card>   
                </el-col>
            </el-row>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { myMixins } from "../../Utils/mixins";
export default {
    mixins: [myMixins],
    data() {
        var validatePass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Please input the password'));
            } else {
                if (this.form.checkPass !== '') {
                    this.$refs.form.validateField('checkPass');
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Las contraseñas no coinciden'));
            } else if (value !== this.form.password) {
                callback(new Error('Las contraseñas no coinciden'));
            } else {
                callback();
            }};
        return { 
            form: {
                password:"",
                checkPass:""
            },
            rulespassword: {
                password: [
                    { validator: validatePass, required: true, message: 'Indica tu contraseña', trigger: 'blur' }
                ],
                checkPass: [
                    { validator: validatePass2, required: true, message: 'Las contraseñas no coinciden', trigger: 'blur'}
                ],
            },
  
        };
    },
    methods: {
        save(){
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/changepassword/${this.form.password}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: this.form,
            })
                .then((response) => {
                    this.form.checkPass = ""
                    this.form.password = ""
                    swal("Cambio de contraseña Exitoso","","success");      
                }) .catch((error) => {
                    swal("No se ha podido Cambiar la contraseña","","error");      
                });
         
        },
   
        alertSuccess() {
            this.$notify.success({
                title: "Modificacion Exitosa",
                offset: 100,
            });
        },

        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },

        alertRules() {
            this.$notify.warning({
                title: "Campos Obligatorios",
                message: "Faltan campos obligatorios por completar",
            });
        },
        handleClose(tag) {
            this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
        },
    },
    created() {
        this.link = document.createElement("a");
        this.body = document.body;
    },
};
</script>

<style scoped>
.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}

.el-card__header {
  background-color: #00a0db;
  color: white;
}

.btn-danger {
  color: #fff;
  background-color: #f56c6c !important;
  border-color: #f56c6c !important;
}

.el-dialog__title {
  font-weight: 600 !important;
}

.el-table__body,
.el-table__footer,
.el-table__header {
  width: 100% !important;
}

.el-container {
  justify-content: center;
   min-height: calc(100vh - 180px);
}
</style>
