<template>
    <el-container>
        <el-dialog
            title="Agregar Analista"
            v-modal:showModal="showModal"
            width="30%"
            :before-close="closeModal">
            <el-form ref="form" :model="form" size="medium" :rules="rules" label-position="right">
                <el-row :gutter="20" >
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item
                            class="label-form"
                            label="Nombres"
                            prop="analyst_name">
                            <el-input
                                v-model="form.analyst_name"
                                maxlength="150"
                                show-word-limit
                                type="text">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">        
                        <el-form-item
                            class="label-form"
                            label="Apellidos"
                            prop="analyst_lastname">
                            <el-input
                                v-model="form.analyst_lastname"
                                maxlength="150"
                                show-word-limit
                                type="text">
                            </el-input>
                        </el-form-item>
                    </el-col> 
                </el-row>
                <el-form-item
                    class="label-form"
                    label="Email"
                    prop="analyst_email">
                    <el-input
                        v-model="form.analyst_email"
                        maxlength="100"
                        show-word-limit
                        type="email">
                    </el-input>
                </el-form-item>
                <el-row :gutter="20" >
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item
                            class="label-form"
                            label="Contraseña"
                            prop="analyst_password">
                            <el-input
                                v-model="form.analyst_password"
                                maxlength="150"
                                show-word-limit
                                type="password">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">        
                        <el-form-item
                            class="label-form"
                            label="Confirmar Contraseña"
                            prop="confirm_analyst_password">
                            <el-input
                                v-model="form.confirm_analyst_password"
                                maxlength="150"
                                show-word-limit
                                type="password">
                            </el-input>
                        </el-form-item>
                    </el-col> 
                </el-row>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="closeModal()">Cancelar</el-button>
                <el-button type="primary" @click="saveAnalystUser(form)">Guardar</el-button>
            </span>
        </el-dialog>
    </el-container>
</template>

<script>
import axios from "axios";

export default {
    data() {
        var validatePass = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Este campo es requerido'));
            }else if (value !== this.form.analyst_password) {
                callback(new Error('Las contraseñas no coinciden'));
            }else {
                callback();
            }
        };
        return{
            form: {
                analyst_name: "",
                analyst_lastname: "",
                analyst_email: "",
                analyst_password: "",
                confirm_analyst_password: ""
            },
            fullscreenLoading: false,
            rules:{
                analyst_name: [
                    {
                        required: true,
                        message: "Este campo es requerido",
                        trigger: "blur"
                    }
                ],
                analyst_lastname: [
                    {
                        required: true,
                        message: "Este campo es requerido",
                        trigger: "blur"
                    }
                ],
                analyst_email: [
                    {   
                        type:"email",
                        required: true,
                        message: "Este campo es requerido",
                        trigger: "blur"
                    }
                ],
                analyst_password: [
                    {
                        required: true,
                        message: "Este campo es requerido",
                        trigger: "blur"
                    }
                ],
                confirm_analyst_password: [
                    {
                        validator:validatePass,
                        required: true,
                        //message: "Las contraseñas no coinciden",
                        trigger: "blur"
                    }
                ]            
            }
        }
    },
    props:["showModal","closeModal"],
    methods:{
        saveAnalystUser(form) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            this.fullscreenLoading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/create-analyst`;
            this.$refs["form"].validate(valid => {
                if (valid) {
                    axios({
                        url: path,
                        method: "POST",
                        data: form,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*"
                        }
                    })
                        .then(response => {
                            this.alertSuccess();
                            this.$refs["form"].resetFields();
                            this.closeModal();
                            this.fullscreenLoading = false;
                        })
                        .catch(error => {
                            this.alertError(error.response.data);
                            this.fullscreenLoading = false;
                        });
                }
            });
        },   
        alertSuccess() {
            this.$notify.success({
                title: "¡Analista Creado!",
                message: "",
                offset: 100
            });
        },
        alertError(error) {
            if (error === 'duplicated-email'){
                this.$notify.error({
                    title: '',
                    message: "Ya existe un analista con este email"
                })}else{
                this.$notify.error({
                    title: '',
                    message: "Ha ocurrido un problema"
                })
            }
        },
    },
}
</script>

