<template lang="html">
    <div>
        <Menu :title="componentTitle" :description="componentDescription"> </Menu>
        <el-col :xs="19" :sm="19" :md="19" :lg="19" :xl="19" class="m-1">
            <el-card :body-style="{ padding: '0px' }" class="box-card">
                <el-row>
                    <el-col :xs="16" :sm="16" :md="16" :lg="16" :xl="16" style="padding-left: 2%;">
                        <h1 class="text-left">Bienvenido Administrador</h1>
                        <div>
                            <p style="color: #7f8386; text-align: left;">
                                Puedes verificar toda la información cargada en el sistema en
                                este panel.
                            </p>
                        </div>
                        <el-row :gutter="12">
                            <el-col :span="6">
                                <el-card shadow="always" class="card-info-one">
                                    <i class="fas fa-users fa-2x"></i> <span class="card-statistics-number"> {{ totalRegisterData.users }} </span>
                                    <div class="card-statistics-help-text"> Usuarios registrados </div>
                                </el-card>
                            </el-col>
                            <el-col :span="6">
                                <el-card shadow="always" class="card-info-two">
                                    <i class="fas fa-list-alt fa-2x"></i> <span class="card-statistics-number"> {{ totalRegisterData.vacancies }} </span>
                                    <div class="card-statistics-help-text"> Vacantes </div>
                                </el-card>
                            </el-col>
                            <el-col :span="6">
                                <el-card shadow="always" class="card-info-tree">
                                    <i class="fas fa-weight fa-2x"></i> <span class="card-statistics-number"> {{ totalRegisterData.closed }} </span>
                                    <div class="card-statistics-help-text"> Procesos cerrados </div>
                                </el-card>
                            </el-col>
                            <el-col :span="6">
                                <el-card shadow="always" class="card-info-for">
                                    <i class="fas fa-robot fa-2x"></i> <span class="card-statistics-number"> {{ totalRegisterData.developers }} </span>
                                    <div class="card-statistics-help-text"> Desarrolladores </div>
                                </el-card>
                            </el-col>
                        </el-row>
                    </el-col>
                    <!-- <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <img :src="urlbrand" style="width: 300px; height: 200px;" class="image" />
                    </el-col> -->
                </el-row>
            </el-card>

            <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%;">
                <el-row style="padding: 2%;">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <h3 class="text-left">
                            <i class="fas fa-clipboard-list"></i> Ultimas solicitudes
                        </h3>
                        <el-table :data="tableData" empty-text="No se encontraron solicitudes..." style="width: 100%">
                            <el-table-column prop="date" label="Fecha" width="180">
                            </el-table-column>
                            <el-table-column label="Teléfono" prop="phone" width="180">
                            </el-table-column>
                            <el-table-column prop="name" label="Nombre" width="180">
                            </el-table-column>
                            <el-table-column prop="email" label="Correo Electrónico">
                            </el-table-column>
                            <el-table-column label="Operaciones">
                                <template slot-scope="props">
                                    <el-button @click="goToRequest(props.row.uuid)" size="mini" type="success" icon="el-icon-arrow-right"></el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
            </el-card>

            <el-row :gutter="12">
                <el-col :span="10">
                    <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 3%;">
                        <el-row style="padding: 3%;">
                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                <h3 class="text-left">
                                    <i class="fas fa-clipboard-list"></i> Ultimos usuarios registrados
                                </h3>
                                <el-timeline :reverse="reverse" style="margin-top: 5%; text-align: left">
                                    <el-timeline-item
                                        v-for="(activity, index) in activities"
                                        :key="index"
                                        :timestamp="activity.timestamp">
                                        <el-card style="border-radius: 15px;">
                                            <h4>{{activity.content}} ({{activity.email}})</h4>
                                        </el-card>
                                    </el-timeline-item>
                                </el-timeline>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
                <!-- <el-col :span="14">
                    <Calendar/>
                </el-col> -->
            </el-row>

            <!-- Componente que muestra lista de cuentas de cobros -->
            <paymentAccountList :ListAccounts="this.paymentAccounts" @onSubmitModalForm="getPaymentAccounts"></paymentAccountList>

        </el-col>

    </div>
</template>

<script>
import axios from "axios";
import { DefineComponent } from "vue";
import paymentAccountList from "../PaymentAccountList";
// import lastRequest from "../LastRequest";
// import Calendar from "../Calendar/Calendar";
import Menu from "./Menu.vue";
import {
    myMixins
} from '../../Utils/mixins'

import {
    mapState,
    mapMutations
} from "vuex";

export default {
    mixins: [myMixins],
    components: {
        // lastRequest,
        paymentAccountList,
        // Calendar,
        Menu
    },
    name: "Dashboard",
    // computed: {
    //     ...mapState("auth", ["authenticate", "user_session"])
    // },
    data() {
        return {
            allpaymentAccounts:false,
            // urlbrand: require("../../assets/asistances-imuko.jpg"),
            tableData: [],
            value: new Date(),
            paymentAccounts: [],
            StatusOptions: [{
                value: "0",
                label: "Pendiente"
            },
            {
                value: "1",
                label: "En proceso"
            },
            {
                value: "2",
                label: "Pagado"
            },
            {
                value: "3",
                label: "Negado"
            }
            ],
            totalRegisterData: "",
            reverse: true,
            activities: []
        };
    },
    methods: {
        getPaymentAccounts() {
            // const all = this.allpaymentAccounts
            // axios.defaults.headers.common[
            //     "Authorization"
            // ] = `Bearer ${this.$store.state.token}`;
            // const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/get-admin-payment-accounts`;
            // axios
            //     .post(path)
            //     .then(response => {
            //         var response = response.data.paymentAccounts.original.data;
            //         var cuentas = new Array();
            //         for (let i = 0; i < response.length; i++) {
            //             response[i].creado = this.printDateRequest(response[i].created_at);
            //             cuentas.push(response[i]);
            //         }
            //         this.paymentAccounts = cuentas;
            //         this.loading = false;
            //     })
            //     .catch(error => {});
        },
        goToRequest(uuid) {
            this.$router.push({
                name: "Request",
                params: {
                    id: uuid
                }
            });
        },
        async getProccess() {
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${this.$store.state.token}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/clients/latest`;
            await axios
                .get(path)
                .then(response => {
                    const proccess = [];
                    for (let i = 0; i < response.data.length; i++) {
                        const e = response.data[i];
                        proccess.push({
                            name: e.first_name,
                            date: this.printDateRequest(e.created_at),
                            email: e.email,
                            phone: e.phone,
                            uuid: e.uuid
                        });
                    }
                    this.tableData = proccess;
                })
                .catch(error => {});
        },
        getTotalData: function () {
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${this.$store.state.token}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/total-register-data`;
            axios
                .get(path)
                .then(response => {
                    console.log(response.data)
                    this.totalRegisterData = response.data;
                })
                .catch(error => {});
        },
        getLastUsers: function () {
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${this.$store.state.token}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/get-last/users`;
            axios
                .get(path)
                .then(response => {
                    const last_users = [];
                    for (let i = 0; i < response.data.length; i++) {
                        const e = response.data[i];
                        last_users.push({
                            content: `${e.first_name} ${e.last_name}`,
                            email: e.email,
                            timestamp: this.printDateRequest(e.created_at),
                        });
                    }
                    this.activities = last_users;
                })
                .catch(error => {});
        },
    },
    created: function () {
        // this.getProccess();
        // this.getTotalData();
        // this.getLastUsers();
        // this.getPaymentAccounts();
    }
};
</script>

<style scoped>
.el-container {
   min-height: calc(100vh - 180px);
}
#customer-data {
    text-align: left;
    list-style-type: none;
}

#customer-data li {
    margin-bottom: 5px;
}

#customer-data li span:first-child {
    min-width: 40px;
    font-weight: bold;
    display: inline-block;
    min-width: 140px;
}

#languages {
    display: block;
}

#languages>div {
    display: block;
    background-color: #ff0000;
    margin: 0px 0px 5px 10px;
}

.tag-availability {
    padding: 0.4%;
    height: 25px;
    line-height: 1px;
    font-size: 0.9rem;
    font-weight: bold;
}

.show-date {
    font-size: 0.75rem;
    text-align: left;
    color: #6a6d6d;
}

.div-description-vacant {
    color: #6a6d6d;
}

.card-info-one {
    background-color: #4eacdf;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}

.card-info-two {
    background-color: #8bc34a;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}

.card-info-tree {
    background-color: #009688;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}

.card-info-for {
    background-color: #F56C6C;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}

.card-statistics-number {
    font-size: 1.5em;
    font-weight: bold;
    margin: 5%
}
.card-statistics-help-text {
    text-align: center;
    font-size: 0.8em;
    margin-top: 1px;
}

</style>
