<template lang="html">
    <el-container>
        <el-col style="padding: 2%;" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <h2>Solicitud de certificados laborales</h2>
            <el-table  :data="request" empty-text="No se encontraron solicitudes...">
                <el-table-column label="Nombre">
                    <template slot-scope="props">
                        <span>{{ props.row.user.first_name }} {{ props.row.user.last_name }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Email">
                    <template slot-scope="props">
                        <span>{{ props.row.user.email }}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="status" label="Estatus"></el-table-column>
                <el-table-column label="Fecha solicitud">
                    <template slot-scope="props">
                        <span>{{ printDateRequest(props.row.created_at) }}</span>
                    </template>
                </el-table-column>
                <el-table-column>
                    <template slot-scope="props">
                        <el-button size="small" type="success" @click="laboralCertificate(true, props.row.profile_uuid)"> <i class="far fa-thumbs-up"></i> Aprobar </el-button>
                        <el-button size="small" type="warning" @click="previewLaboralCertificate(true, props.row.profile_uuid)"> <i class="far fa-eye"></i> Preview </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block">
                <el-pagination
                    layout="prev, pager, next"
                    :total="pagination.total"
                    :page-size="pagination.per_page"
                    @current-change="changePage"
                >
                </el-pagination>
            </div>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
import {myMixins} from '../../Utils/mixins'

export default {
    mixins:[myMixins],
    data() {
        return {
            multipleSelection: [],
            customer_request: {},
            pagination: [],
            request: [],
            link: "",
            body: ""
        };
    },
    computed: {},
    methods: {
        changePage(page) {
            this.getCertificates(page);
        },
        getCertificates(page = 1) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path =
        `${process.env.VUE_APP_URL_API_BACKEND}/api/laboral-certificates?page=` +
        page;
            axios
                .get(path)
                .then(response => {
                    this.request = response.data.requests.original.data;
                    this.pagination = response.data.pagination;
                    console.log('certificados', this.request);
                })
                .catch(error => {});
        },
        laboralCertificate(print_salary, profile_uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/laboral-certificate/${profile_uuid}/${print_salary}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf"
                })
                .then(response => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement("a");
                    link.href = url;
                    link.setAttribute(
                        "download",
                        `certificado-laboral.pdf`
                    ); //or any other extension
                    document.body.appendChild(link);
                    link.click();
                })
                .catch(error => {

                });
        },
        previewLaboralCertificate(print_salary, profile_uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/laboral-certificate-preview/${profile_uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(
                        new Blob([response.data], {
                            type: "application/pdf",
                        })
                    );
                    this.link.href = url;
                    this.link.target = "_blank";
                    this.link.removeAttribute("download");
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
    },
    created() {
        this.getCertificates();
        this.link = document.createElement("a");
        this.body = document.body;
    }
};
</script>

<style scoped>
.el-container {
   min-height: calc(100vh - 180px);
}
.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}

.el-card__header {
  background-color: #00a0db;
  color: white;
}

.btn-danger {
  color: #fff;
  background-color: #f56c6c !important;
  border-color: #f56c6c !important;
}
.el-dialog__title {
  font-weight: 600 !important;
}
.el-table__body,
.el-table__footer,
.el-table__header {
  width: 100% !important;
}
</style>
