<template>
    <el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3" class="m-1">
        <el-menu style="border-radius: 10px; text-align: justify;" class="el-menu-vertical-demo" >
            <el-sub-menu index="1">
                <template slot="title">
                    <i class="el-icon-user"></i>
                    <span>Clientes</span>
                </template>
                <el-menu-item-group>
                    <router-link to="/lista-clientes">
                        <el-menu-item index="1-1">
                            <i class="el-icon-tickets"></i> Lista
                        </el-menu-item>
                    </router-link>
                </el-menu-item-group>
            </el-sub-menu>
            <el-sub-menu index="2">
                <template slot="title">
                    <i class="el-icon-coordinate"></i>
                    <span slot="title">Candidatos</span>
                </template>
                <el-menu-item-group>
                    <router-link to="/lista-candidatos">
                        <el-menu-item index="2-1">
                            <i class="el-icon-tickets"></i> Lista
                        </el-menu-item>
                    </router-link>
                </el-menu-item-group>
            </el-sub-menu>
            <el-sub-menu index="3">
                <template slot="title">
                    <i class="el-icon-reading"></i>
                    <span slot="title">Contratos</span>
                </template>
                <el-menu-item-group>
                    <router-link to="/Contratos">
                        <el-menu-item index="3-1"><i class="el-icon-tickets"></i> Candidatos</el-menu-item>
                    </router-link>
                    <router-link to="/Contratos_Client">
                        <el-menu-item index="3-2"><i class="el-icon-tickets"></i> Clientes</el-menu-item>
                    </router-link>
                </el-menu-item-group>
            </el-sub-menu>
            <el-sub-menu index="4">
                <template slot="title">
                    <i class="el-icon-money"></i>
                    <span>Pagos</span>
                </template>
                <el-menu-item-group>
                    <router-link :to="{path: '/admin-cuentas-de-cobro', query: {all: 'true'}}" >
                        <el-menu-item index="4-1"><i class="el-icon-money"></i> Cuentas de cobro</el-menu-item>
                    </router-link>
                </el-menu-item-group>
            </el-sub-menu>
            <el-sub-menu index="5">
                <template slot="title">
                    <i class="el-icon-suitcase"></i>
                    <span slot="title">Vacantes</span>
                </template>
                <el-menu-item-group>
                    <router-link to="/solicitudes">
                        <el-menu-item index="5-1"><i class="el-icon-edit-outline"></i> Solicitudes</el-menu-item>
                    </router-link>
                </el-menu-item-group>
            </el-sub-menu>
            <el-sub-menu index="6">
                <template slot="title">
                    <i class="el-icon-setting"></i>
                    <span slot="title">Sistema</span>
                </template>
                <el-menu-item-group>
                    <router-link to="/Lenguajes">
                        <el-menu-item index="6-1"><i class="el-icon-cpu"></i> Tecnologias</el-menu-item>
                    </router-link>
                    <el-menu-item v-if="this.$store.state.user.roles == 'administrator'" @click="showAddUserModal=true" index="6-2">
                        <i class="el-icon-plus"></i> Agregar analista
                    </el-menu-item>
                    <router-link to="/change-password-admin">
                        <el-menu-item index="6-1"><i class="el-icon-refresh"></i> Cambiar password</el-menu-item>
                    </router-link>
                </el-menu-item-group>
            </el-sub-menu>
            <el-sub-menu index="7">
                <template slot="title">
                    <i class="el-icon-printer"></i>
                    <span slot="title">Certificados</span>
                </template>
                <el-menu-item-group>
                    <router-link to="/lista-certificados">
                        <el-menu-item index="2-1">
                            <i class="el-icon-tickets"></i> Lista
                        </el-menu-item>
                    </router-link>
                </el-menu-item-group>
            </el-sub-menu>
            <el-sub-menu index="8">
                <template slot="title">
                    <i class="el-icon-user"></i>
                    <span slot="title">Asignaciones</span>
                </template>
                <el-menu-item-group>
                    <router-link to="/asignaciones-logs">
                        <el-menu-item index="1-2">
                            <i class="el-icon-tickets"></i>Buscar asignaciones
                        </el-menu-item>
                    </router-link>
                </el-menu-item-group>
            </el-sub-menu>
        </el-menu>
        <createAnalystUser :showModal="showAddUserModal" :closeModal="closed" ></createAnalystUser>
    </el-col>
</template>

<script>
import createAnalystUser from "./CreateAnalystUser";
import { mapState } from "vuex";

export default {
    components: {
        createAnalystUser,
    },
    computed: {
        ...mapState("auth", ["authenticate", "user_session"])
    },
    data() {
        return {
            showAddUserModal:false,
        };
    },
    methods: {
        handleOpen(key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
            console.log(key, keyPath);
        },
        closed(){
            this.showAddUserModal=false
        },
    }
}
</script>

<style lang="css" scoped>
    a { text-decoration: none; }
</style>
