
<template lang="html">
    <el-row :gutter="10">
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" style="text-align: center; margin-bottom: 2%; color: #fff !important;">
            <h5 style="font-size: 1rem;"></h5>
            <a class="imuk-redes-sociales" href="https://www.facebook.com/imuko.co/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a class="imuk-redes-sociales" href="https://twitter.com/imuko_co" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a class="imuk-redes-sociales" href="https://www.linkedin.com/company/imuko/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a class="imuk-redes-sociales" href="https://www.linkedin.com/company/imuko/" target="_blank"><i class="fab fa-whatsapp-square fa-2x"></i></a>
        </el-col>
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" style="text-align: center; margin-bottom: 2%; color: #fff !important;">
            <h5 style="font-size: 1rem;"><i class="fas fa-copyright"></i> Developed by </h5>
            <span>Imuko © All rights reserved </span>
        </el-col>
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" style="text-align: center; margin-bottom: 2%; color: #fff !important;">
            <h5 style="font-size: 1rem;"><i class="fas fa-copyright"></i> links of interest </h5>
            <a target="_blank" style="color:white;text-decoration: none" href="https://www.imuko.co/politica-privacidad/"> Privacy Policy </a>
        </el-col>
    </el-row>
</template>

<script>
/* eslint-disable */
    export default {
      name: 'Footer',
      data() {
        return {

        }
      },
      methods: {
        handleSelect(key, keyPath) {
        }
      }
    }
</script>
