<template lang="html">
    <el-row :gutter="20">
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" v-for="(o) in articulos" :key="o">
            <el-card :body-style="{ padding: '3%' }">
                <img :src="o.url_image" class="image">
                <div style="padding: 14px;">
                    <span class="imuk-titulo-blog">{{ o.titulo }}</span>
                    <div class="bottom clearfix">
                        <p class="imuk-descripcion-blog">{{ o.introduccion }}</p>
                        <a href="#" class="imuk-enlace-blog"> Ver más </a>
                    </div>
                </div>
            </el-card>
        </el-col>
    </el-row>
</template>

<script>
/* eslint-disable */
export default {
    name: 'ListArticulos',
    data() {
        return {
            currentDate: new Date(),
            articulos: [{
                'titulo': "#PlatziRetos: Desafío de Frontend Profesional y Ganadores de Programación en 3 Lenguajes",
                'introduccion': "La programación web y los lenguajes de programación han avanzado muchísimo en las últimas décadas. Junto con las nuevas tecnologías han evolucionado también las herramientas...",
                'url': 'https://www.imuko.co/platziretos-desafio-de-frontend-profesional-y-ganadores-de-programacion-en-3-lenguajes/',
                'url_image': require('../../assets/platzi-retos-imuko.jpg'),
            }, {
                'titulo': "Codelabs, la web para aprender a programar desde el navegador",
                'introduccion': "Por Juan David @juandc Construye un clon de tu aplicación favorita usando las herramientas que más te gustan. El reto consiste en mejorar, arreglar...",
                'url': 'https://www.imuko.co/platziretos-desafio-de-frontend-profesional-y-ganadores-de-programacion-en-3-lenguajes/',
                'url_image': require('../../assets/codelabs-imuko.png'),
            }, {
                'titulo': "El legendario lenguaje de programación COBOL acaba de cumplir 60 años, y es probable que cumpla otros 60 más",
                'introduccion': "Mary Hawes estaba harta de programar en ensamblador para los ordenadores mastodónicos de su empresa, Burroughs Corporation, así que logró organizar una reunión con académicos...",
                'url': 'https://www.imuko.co/platziretos-desafio-de-frontend-profesional-y-ganadores-de-programacion-en-3-lenguajes/',
                'url_image': require('../../assets/cobol-blog-imuko.jpg'),
            }]
        }
    },
    methods: {

    }
}
</script>

<style scoped>
.imuk-titulo-blog {
    font-weight: 600;
}

.imuk-descripcion-blog {
    text-align: justify !important;
    font-weight: 500;
    line-height: 20px;
    color: rgb(125, 124, 124);
}

.imuk-enlace-blog {
    float: right;
    text-decoration: none;
    background-color: #002c58;
    color: white;
    font-weight: 600;
    padding: 2%;
    border-radius: 5px;
    font-size: 13px;
}

.time {
    font-size: 13px;
    color: #999;
}

.bottom {
    margin-top: 13px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: right;
}

.image {
    width: 100%;
    display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
</style>
