<template>
    <el-menu
    :default-active="activeIndex"
    class="el-menu-demo"
    mode="horizontal"
    :ellipsis="false"
    @select="handleSelect"
    >
        <el-menu-item index="0">Logo</el-menu-item>
        <div class="flex-grow"></div>
        <el-menu-item index="1" v-show="!authenticate">
            <router-link to="/sign-in">
                Sign In
            </router-link>
        </el-menu-item>
        <el-menu-item index="2" v-show="!authenticate">
            <router-link to="/sign-up/organization">
                Register
            </router-link>
        </el-menu-item>
        <!-- <el-menu-item index="2" v-show="!authenticate">
            <router-link to="/sign-up/client">
                I am client
            </router-link>
        </el-menu-item> -->
        <el-menu-item index="3" v-show="false">
             Talent request
        </el-menu-item>
        <el-menu-item @click="logout()" index="6" class="" style="float: right;" v-show="authenticate">
            <i class="fas fa-sign-out-alt" style="margin-right: 2px;"></i> Logout
        </el-menu-item>

    </el-menu>
    <!-- <el-row> -->
        <!-- <el-header style="width: 100%; bottom: 0; left: 0;">
            <el-row>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <el-menu class="el-menu-demo imu-nav" mode="horizontal" @select="handleSelect"> -->
                        <!-- <el-menu-item index="1" class="hidden-sm-and-down">
                            <el-link :underline="false" href="https://www.imuko.co">
                            </el-link>
                        </el-menu-item>
                        <el-menu-item v-if="!authenticate" index="2" class="" style="float: right;">
                            <router-link to="/registro-desarrollador"><i class="fas fa-code"></i> ¿Eres desarrollador?
                            </router-link>
                        </el-menu-item>
                        <el-menu-item v-if="!authenticate" index="3" class="" style="float: right;">
                            <router-link to="/solicitar-desarrollador"><i class="fas fa-layer-group"></i> Solicitar
                            Desarrollador
                            </router-link>
                        </el-menu-item>
                        <template v-if="authenticate">
                            <el-menu-item v-if="(user_session !== null && user_session.roles == 'administrator')" index="10"
                                          class="" style="float: right;">
                                <template v-if="notifications.length > 0">
                                    <em class="imuko-notifications" @click="showNotifications = true">
                                        <i class="fas fa-bell imuko-notifications__red"></i>
                                        <span>{{ notifications.length }}</span>
                                    </em>
                                </template>
                                <template v-else>
                                    <em class="imuko-notifications">
                                        <i class="far fa-bell"></i>
                                    </em>
                                </template>
                            </el-menu-item>
                        </template>
                        <el-menu-item v-if="authenticate" @click="logout()" index="7" class="" style="float: right;"><i
                            class="fas fa-sign-out-alt"></i> Cerrar sesion
                        </el-menu-item> -->
                        <!-- <el-menu-item v-if="(user_session !== null && user_session.email == 'administrator@imuko.co')"
                                      index="4" class="" style="float: right;">
                            <router-link to="/lista-candidatos"><i class="fas fa-users"></i> Candidatos</router-link>
                        </el-menu-item> -->
                        <!-- <el-menu-item v-if="(user_session !== null && user_session.roles == 'administrator')" index="6"
                                      class="" style="float: right;">
                            <router-link to="/dashboard"><i class="fas fa-home"></i> Inicio</router-link>
                        </el-menu-item> -->
                        <!-- <el-menu-item
                            v-if="(user_session !== null && (user_session.customers != undefined && user_session.customers.length > 0 ))"
                            index="5" class="" style="float: right;">
                            <router-link to="/cuentas-de-cobro"><i class="fas fa-file-invoice-dollar"></i> Cuentas de
                            cobro
                            </router-link>
                        </el-menu-item> -->
                        <!-- <el-menu-item
                            v-if="(user_session !== null && (user_session.customers != undefined && user_session.customers.length > 0 ))"
                            index="9" class="" style="float: right;">
                            <router-link to="/me-contracts"><i class="fas fa-file-contract"></i> Mis contratos
                            </router-link>
                        </el-menu-item>
                        <el-menu-item v-if="(user_session !== null && user_session.roles == 'not-found')" index="6"
                                      class="" style="float: right;">
                            <router-link to="/dashboard-candidate"><i class="fas fa-home"></i> Menu</router-link>
                        </el-menu-item>
                        <el-menu-item v-if="(user_session !== null && user_session.roles == 'candidate')" index="6"
                                      class="" style="float: right;">
                            <router-link to="/edit-profile"><i class="fas fa-home"></i> Perfil</router-link>
                        </el-menu-item>
                        <el-menu-item v-if="(user_session !== null && user_session.roles == 'client')" index="6"
                                      class="" style="float: right;">
                            <router-link to="/client-dashboard"><i class="fas fa-home"></i> Perfil</router-link>
                        </el-menu-item>
                        <el-menu-item v-if="!authenticate" index="8" class="" style="float: right;">
                            <router-link to="/login"><i class="fas fa-sign-in-alt"></i> Iniciar sesion</router-link>
                        </el-menu-item> -->
                        <!-- <el-menu-item index="8" class="" style="float: right;">
                            <router-link to="/login"><i class="fas fa-sign-in-alt"></i> Iniciar sesion</router-link>
                        </el-menu-item> -->
                    <!-- </el-menu>
                </el-col>
            </el-row>
        </el-header> -->
        <!-- <Breadcrumb/>
        <el-dialog
            title="Notificaciones"
            width="35%"
        >
            <template>
                <el-table
                    :data="notifications"
                    style="width:400px">
                    <el-table-column
                        prop="end_date"
                        label="Fecha"
                        width="150">
                    </el-table-column>
                    <el-table-column
                        prop="full_name"
                        label="Nombre"
                        width="250">
                    </el-table-column>
                </el-table>
            </template>
        </el-dialog>
    </el-row> -->
</template>

<script>
import { ref } from 'vue'
import axios from 'axios';
import { reactive, watch } from 'vue';
import { RouterLink } from 'vue-router'
import store from '../../store'

// import {
//     mapState,
//     mapMutations
// } from 'vuex';
// import Breadcrumb from "./Breadcrumb/Breadcrumb"

export default {
    components: {
        // Breadcrumb
    },
    // computed: {
    //     ...mapState('auth', ['authenticate', 'user_session'])
    // },
    name: 'NavMenu',
    data() {
        return {
            brand: 'IMUKO',
            activeIndex: '1',
            activeIndex2: '1',
            // urlbrand: require('../../assets/imuko-logo.png'),
            notifications: [],
            showNotifications: false,
            authenticate:  reactive({ value: false })
        }
    },
    mounted() {
        watch(() => this.$store.state.token, (newValue, oldValue) => {
            if (newValue === null) {
                this.authenticate = false
            } else {
                this.authenticate = true
            }
        });
    },
    methods: {
        handleSelect(key, keyPath) {
        },
        logout() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken"
            axios.defaults.xsrfCookieName = "csrftoken"

            localStorage.clear();
            this.$store.commit('clearToken');
            this.validSession();
            this.$router.push('/')
            

            // const path_match = `${process.env.VUE_APP_URL_API_BACKEND}/api/logout`
            // axios.get(path_match).then((response) => {
            //     // this.logoutUser()
            //     localStorage.clear();
            //     this.$router.push('/')
            //     this.$store.commit('clearToken');
            // })
            //     .catch((error) => {
            //     })
        },
        /**
         * Get Notifications
         */
        getNotifications() {
            // axios.defaults.xsrfHeaderName = "X-CSRFToken"
            // axios.defaults.xsrfCookieName = "csrftoken"

            // const path_match = `${process.env.VUE_APP_URL_API_BACKEND}/api/contracts/verify-contracts`
            // axios.get(path_match).then((response) => {
            //     this.notifications = response.data.contracts;
            // }).catch((error) => {
            // })
        },
        validSession() {
            this.authenticate = this.$store.getters.isLoggedIn
        },
        // ...mapMutations('auth', ['logoutUser', 'changeAuth'])
    },
    created() {
        if (window.location.hostname == "imukoapp.web.app") {
            window.location.href = 'https://app.imuko.co';
        }
        this.validSession();
        //Get Notifications
        this.getNotifications();
    }
}
</script>

<style scoped>

.imuko-notifications {
    position: relative;
}

/* .imuko-notifications span {
    display: flex;
    position: absolute;
    top: -12px;
    right: -11px;
    background: red;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 11px;
    color: white;
} */

a {
    text-decoration: none;
}

.el-menu.el-menu--horizontal {
    border-bottom: solid 0px #e6e6e6;
    z-index: 1;
    width: 100%;
    background-color: #f7f7f7;
    opacity: 0.88;
    -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    color: #fff;
    height: auto;
    font-family: inherit !important;
    font-size: 1em;
}

.el-menu-item,
.el-submenu,
.el-menu--popup {
    font-weight: 700;
    color: #263d4a !important;
    text-transform: uppercase;
}

.el-menu-item,
.el-submenu a:hover {
    font-weight: 700;
    color: #263d4a !important;
    text-transform: uppercase;
    background-color: transparent !important;
}

.el-menu-item i,
.el-submenu i {
    font-weight: 700;
    color: #263d4a;
    text-transform: uppercase;
}

.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal > .el-submenu .el-submenu__title:hover {
    background-color: transparent;
}

.flex-grow {
  flex-grow: 1;
}

</style>
