<template>
    <el-container>
        <el-col class="notFound" >
            <h1 class="font animated pulse ">404 </h1>
            <p>Pagina no encontrada</p>
            <router-link to="/login">
                <el-button type="primary">Inicio</el-button>
            </router-link>
        </el-col>
    </el-container>
</template>

<script>
export default {
    name: "NotFound"
};
</script>

<style scoped>
.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notFound h1{
   margin: 0px;
}

.font {
    font-size: 100px
}
.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

</style>
