<template>
    <el-container>
        <el-col>
            <el-card :body-style="{ padding: '20px' }" class="box-card" style="margin-top: 1%">
                <h1>Mi Calendario</h1>
                <el-collapse v-model="newEvents">
                    <el-collapse-item title="Agregar evento" name="1">
                        <template slot="title">
                            <el-tooltip class="item" effect="dark" content="Agregar Evento" placement="top-start">
                                <el-button size="mini" type="primary" class="new-event-button" circle><i class="el-icon-circle-plus"
                                                                                                         v-if="!newEvents[1]"></i> <i
                                                                                                             v-if="newEvents[1]" class="el-icon-caret-top"></i></el-button>
                            </el-tooltip>
                        </template>
                        <el-form size="medium">
                            <el-row>
                                <el-form-item label="Nombre del Evento" prop="eventName" class="label-form">
                                    <el-input v-model="form.eventName" maxlength="40" show-word-limit placeholder="Nombre"></el-input>
                                </el-form-item>
                            </el-row>
                            <el-row>
                                <el-form-item label="Fecha y Hora" prop="eventDate" class="label-form">
                                    <el-date-picker
                                        v-model="form.eventDate"
                                        type="datetimerange"
                                        start-placeholder="Incia"
                                        end-placeholder="Termina"
                                        format="dd/MM/yyyy HH:mm"
                                        value-format="yyyy-MM-dd HH:mm"
                                        :default-time="['00:00:00', '12:59:59']">
                                    </el-date-picker>
                                </el-form-item>
                            </el-row>
                            <el-row>
                                <el-form-item class="label-form" label="Invitados" prop="frameworks">
                                    <el-select v-model="form.invited" multiple filterable placeholder="Select">
                                        <el-option v-for="item in users" :key="item.id" :label="item.email" :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-row>
                            <el-row>
                                <el-form-item label="¿Deseas Agregar un Link?" prop="eventLink" class="label-form">
                                    <el-input v-model="form.eventLink" maxlength="20" show-word-limit
                                              placeholder="Pega aqui el link"></el-input>
                                </el-form-item>
                            </el-row>
                        </el-form>
                        <el-button
                            class="event-button"
                            type="primary"
                            size="small"
                            @click="saveEvent(form)"
                        >
                            Guardar
                        </el-button>
                    </el-collapse-item>
                </el-collapse>
                <el-calendar>
                    <!-- <template
                        slot="dateCell"
                        slot-scope="{date, data}">
                        <section class="event-day-wrapper">
                            <p class="event-day">{{ data.day.substr(8, 10) }}</p>
                            <div class="event-wrapper" v-if="events.length > 0" v-for="(item,index) in events" :key="index">
                                <template v-if="data.day === item.start_date.substr(0,10)">
                                    <div class="has-selected" v-on:click.stop.prevent="showEventInfo(item)">
                                        {{ item.total_events }}
                                    </div>
                                </template>
                            </div>
                        </section>
                    </template> -->
                </el-calendar>
                <!--Event-Modal-->
                <el-dialog
                    title="Listado de Entrevistas"
                    width="65%"
                    top="10%"
                >
                    <el-row :gutter="20">
                        <template>
                            <el-table
                                :data="eventsByDate"
                                stripe
                                style="width: 100%">
                                <el-table-column type="expand">
                                    <template slot-scope="props">
                                        <el-form size="medium">
                                            <el-col :span="12">
                                                <el-form-item label="Nombre del Evento" prop="scope.row.start_date" class="label-form">
                                                    <el-input v-model="props.row.summary" maxlength="40" show-word-limit
                                                              placeholder="Nombre"></el-input>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="12">
                                                <el-form-item label="Fecha y Hora" prop="eventDate" class="label-form">
                                                    <el-date-picker
                                                        v-model="props.row.eventDate"
                                                        type="datetimerange"
                                                        start-placeholder="Incia"
                                                        end-placeholder="Termina"
                                                        format="dd/MM/yyyy HH:mm"
                                                        value-format="yyyy-MM-dd HH:mm"
                                                        :default-time="['00:00:00', '12:59:59']">
                                                    </el-date-picker>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24">
                                                <el-form-item label="¿Deseas Agregar un Link?" prop="eventLink" class="label-form">
                                                    <el-input v-model="props.row.link" maxlength="20" show-word-limit
                                                              placeholder="Pega aqui el link"></el-input>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24">
                                                <el-button
                                                    class="event-button"
                                                    type="primary"
                                                    size="small"
                                                    @click="updateEvent(props.row)"
                                                >
                                                    Actualizar
                                                </el-button>
                                            </el-col>
                                        </el-form>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    label="Fecha"
                                    width="150">
                                    <template slot-scope="scope">
                                        <i class="el-icon-date"></i>
                                        <span style="margin-left: 10px">{{ scope.row.start_date }}</span>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    label="Inicia"
                                    width="110">
                                    <template slot-scope="scope">
                                        <i class="el-icon-time"></i>
                                        <span style="margin-left: 10px">{{ scope.row.start_time }}</span>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    label="Termina"
                                    width="110">
                                    <template slot-scope="scope">
                                        <i class="el-icon-time"></i>
                                        <span style="margin-left: 10px">{{ scope.row.end_time }}</span>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    prop="summary"
                                    label="Name"
                                    width="180">
                                </el-table-column>
                                <el-table-column
                                    prop=""
                                    label="Attendee">
                                    <template slot-scope="scope">
                                        <el-tag style="margin-bottom: 5px; margin-right: 5px;"
                                                v-for="(item,index) in scope.row.calendar_attendee_profile" :key="index" type="primary"
                                                disable-transitions>{{ item.email }}
                                        </el-tag>
                                    </template>
                                </el-table-column>
                                <el-table-column width="60">
                                    <template slot-scope="scope">
                                        <el-button
                                            size="mini"
                                            type="danger"
                                            @click="deleteEvent(scope.$index, scope.row)">
                                            <i class="el-icon-delete-solid"></i>
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </el-row>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="showEventInfo()">Cerrar</el-button>
                    </span>
                </el-dialog>
                <!--Event-Modal-->
            </el-card>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";

export default {
    name: "Calendar",
    data() {
        return {
            currentMonth: null,
            users: [],
            newEvents: [""],
            events: [],
            eventsByDate: [],
            form: {
                eventName: "",
                eventDate: "",
                eventLink: "",
                invited: "",
            },
            eventDate: "",
            eventName: "",
            showEventModal: false,
            modalEventInfo: {
                title: "",
                date: ""
            }
        }
    },
    watch: {
        value: async function (newValue, oldValue) {
            console.log(newValue.getMonth());
            if (this.currentMonth !== newValue.getMonth()) {
                const {data} = await this.getEvents(newValue.getMonth())
                this.events = data.data
                this.currentMonth = newValue.getMonth();
            }
        }
    },
    methods: {
    //Get Users
        getUsers() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/get-users`;
            axios
                .get(path)
                .then((response) => {
                    this.users = response.data
                })
                .catch((error) => {
                });
        },
        //Save Event
        saveEvent(form) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/calendar`;
            axios
                .post(path, this.form)
                .then(async (response) => {
                    this.newEvents = [""];
                    const {data} = await this.getEvents()
                    this.events = data.data
                    this.form = {
                        eventName: "",
                        eventDate: "",
                        eventLink: "",
                        invited: "",
                    }
                })
                .catch((error) => {
                });

            this.eventDate = form.eventDate[0].substr(0, 10)
            this.eventName = form.eventName
        },
        updateEvent(form) {

            //Set Values
            this.form.eventName = form.summary;
            this.form.eventLink = form.link;
            this.form.eventDate = form.eventDate;

            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/calendar/${form.google_calendar_id}`;
            axios
                .put(path, this.form)
                .then(async (response) => {
                    this.newEvents = [""];
                    const {data} = await this.getEvents()
                    this.events = data.data
                    this.showEventModal = false;
                })
                .catch((error) => {
                });

            this.eventDate = form.eventDate[0].substr(0, 10)
            this.eventName = form.eventName
        },
        //Show Event Info
        async showEventInfo(item) {
            this.showEventModal = !this.showEventModal;
            if (this.showEventModal) {
                const {data} = await this.getEventsByDate(item.start_date)
                this.eventsByDate = data.data
            }
        },
        //Get Events By Month
        getEvents(month) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/calendar/events-by-month-grouped`;
            return axios
                .post(path, {'month': month},)
                .catch((error) => {
                    this.events = []
                });
        },
        //Get Events By Date
        getEventsByDate(date) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/calendar/events-by-date`;
            return axios
                .post(path, {'date': date},)
                .catch((error) => {
                    this.events = [];
                }
                );
        },
        //Delete Event
        deleteEvent(index, event) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/calendar/` + event.google_calendar_id;
            return axios
                .delete(path)
                .then(async (response) => {
                    const {data} = await this.getEvents()
                    this.events = data.data
                    this.eventsByDate.splice(index, 1);
                })
                .catch((error) => {
                    this.events = []
                }
                );
        },
    },
    async created() {
    //Get Events
        let now = new Date();
        let thisMonth = now.getMonth() + 1;
        this.currentMonth = thisMonth;
        const {data} = await this.getEvents(thisMonth)
        this.events = data.data
        //Get Users
        await this.getUsers()
    }
}
</script>

<style>
.new-event-button {
  font-size: 20px;
}

.event-button {
  display: flex;
  align-self: start;
}

.event-day-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.event-day {
  padding: 5px;
  margin: 3px auto;
}

.event-wrapper {
  width: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.has-selected {
  background-color: #8bc34a;
  color: #1989FA;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
}

.event-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
