<template>
    <div>
        <el-row :gutter="20" style="margin: 8px">
            <el-form ref="form" :model="form" :rules="rules">
                <h2 style="text-align: left">Datos del representante legal</h2>
                <el-card shadow="always" style="border-radius: 15px;">
                    <el-row :gutter="20">
                        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item
                                class="label-form"
                                prop="name_legal_representative"
                                label="Nombre completo"
                            >
                                <el-input
                                    v-model="form.name_legal_representative"
                                    placeholder="Ingresa nombre"
                                ></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item class="label-form" label="Tipo de documento"
                                          prop="type_document_representative_legal">
                                <el-select v-model="form.type_document_representative_legal"
                                           placeholder="Seleccione...">
                                    <el-option label="C.C" value="CC"></el-option>
                                    <el-option label="C.E" value="CE"></el-option>
                                    <el-option label="PASAPORTE" value="PASAPORTE"></el-option>
                                    <el-option label="NIT" value="NIT"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item class="label-form" label="Numero de documento"
                                          prop="number_document_representative_legal">
                                <el-input v-model="form.number_document_representative_legal" maxlength="25"
                                          show-word-limit type="text"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Ciudad de expedición" prop="city_expedition_name_representative_legal"
                                          class="label-form">
                                <el-select v-on:change="getAllCities()"
                                           v-model="form.city_expedition_name_representative_legal" filterable
                                           placeholder="Seleccione...">
                                    <el-option v-for="item in all_cities" :key="item.id.toString()" :label="item.name"
                                               :value="item.id.toString()"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="País de residencia" prop="country_representative_legal"
                                          class="label-form">
                                <el-select v-on:change="getCountries()" id="department"
                                           v-model="form.country_representative_legal" filterable
                                           placeholder="Seleccione...">
                                    <el-option v-for="item in countries" :key="item.id.toString()" :label="item.name"
                                               :value="item.id.toString()"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Ciudad de residencia" prop="city_resident_name_representative_legal"
                                          class="label-form">
                                <el-select v-on:change="getCities()"
                                           v-model="form.city_resident_name_representative_legal" filterable
                                           placeholder="Seleccione...">
                                    <el-option v-for="item in citiesfill" :key="item.id.toString()" :label="item.name"
                                               :value="item.id.toString()"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item
                                class="label-form"
                                label="Correo"
                                prop="email_legal_representative"
                            >
                                <div style="display:flex;align-items:center;justify-content:center">
                                    <el-input
                                        v-model="form.email_legal_representative"
                                        placeholder="Ingresa email"
                                    ></el-input>
                                    <template v-if="this.form.id">
                                        <i class="el-icon-circle-plus add-more-emails"
                                           @click="showMoreEmails = true"></i>
                                    </template>
                                </div>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" v-if="showEmailsContainer">
                            <el-form-item
                                class="label-form"
                                label="Correos Adicionales"
                            >
                                <el-table
                                    :data="emails"
                                    style="width: 100%">
                                    <el-table-column
                                        label="Email"
                                        width="250">
                                        <template slot-scope="scope">
                                            <i class="el-icon-postcard"></i>
                                            <span style="margin-left: 10px">{{ scope.row.email }}</span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                        label="Operaciones">
                                        <template slot-scope="scope">
                                            <el-button
                                                size="mini"
                                                type="danger"
                                                @click="deleteEmail(scope.$index, scope.row)">Eliminar
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-card>
                <el-divider></el-divider>
                <h2 style="text-align: left">Datos de la empresa</h2>
                <el-card shadow="always" style="border-radius: 15px;">
                    <el-row :gutter="20">
                        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item
                                class="label-form"
                                label="Nombre de empresa"
                                prop="company_name"
                            >
                                <el-input
                                    v-model="form.company_name"
                                    placeholder="Ingresa nombre"
                                ></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item
                                class="label-form"
                                label="Correo electronico principal"
                                prop="email_company"
                            >
                                <el-input
                                    v-model="form.email_company"
                                    placeholder="Ingresa email"
                                ></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item class="label-form" prop="rut" label="Nit">
                                <el-input
                                    v-model="form.rut"
                                    placeholder="18384754-1"
                                ></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-card>
                <el-row :gutter="20" style="margin-top: 20px;">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-button
                            style="margin-bottom: 20px;"
                            v-loading.fullscreen.lock="fullscreenLoading"
                            @click="onSubmit"
                            type="primary"
                        >Guardar
                        </el-button
                        >
                    </el-col>
                </el-row>
            </el-form>
        </el-row>
        <el-dialog
            title="Nuevo Email"
            width="30%"
            append-to-body>
            <div>
                <el-input v-model="newEmail" placeholder="example@example.com"></el-input>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="showMoreEmails = false">Cancel</el-button>
                <el-button type="primary" @click="AddEmail">Agregar</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
import {mapState, mapMutations} from "vuex";
import axios from "axios";
import {myMixins} from "@/Utils/mixins";

export default {
    name: "createOrUpdate",
    mixins: [myMixins],
    computed: {
        ...mapState("auth", ["authenticate", "user_session"]),
        ...mapState("client", ["client"]),
    },
    props: ["closeModalForm", "clientEdit"],
    watch: {
        clientEdit: function (newVal, oldVal) {
            this.getEmails();
            this.form = this.client;
            this.form.id = 1; //TODO
        }
    },
    data() {
        return {
            fullscreenLoading: false,
            showMoreEmails: false,
            showEmailsContainer: false,
            all_cities: [],
            countries: [],
            cities: [],
            citiesfill: [],
            client_obj: {},
            form: {
                // Representative Legal
                id: null, //TODO
                name_legal_representative: "",
                type_document_representative_legal: "",
                number_document_representative_legal: "",
                city_expedition_name_representative_legal: "",
                country_representative_legal: "",
                city_resident_name_representative_legal: "",
                email_legal_representative: "",

                // Company
                company_name: "",
                email_company: "",
                rut: "",
            },
            rules: {
                company_name: [
                    {
                        required: true,
                        message: "El campo nombre es requerido",
                        trigger: "blur"
                    }
                ],
                email_company: [
                    {
                        type: "email",
                        required: true,
                        message: "El campo email es requerido",
                        trigger: "blur"
                    },
                    {
                        type: "email",
                        message: "Ingresa un email valido",
                        trigger: ["blur", "change"]
                    }
                ],
                rut: [
                    {
                        required: true,
                        message: "Este campo es requerido",
                        trigger: "blur"
                    }
                ],
                name_legal_representative: [
                    {
                        required: true,
                        message: "Este campo es requerido",
                        trigger: "blur"
                    }
                ],
                type_document_representative_legal: [
                    {
                        required: true,
                        message: "Este campo es requerido",
                        trigger: "blur"
                    }
                ],
                number_document_representative_legal: [
                    {
                        required: true,
                        message: "Por favor selecciona un tipo",
                        trigger: "blur"
                    }
                ],
                city_expedition_name_representative_legal: [
                    {
                        required: true,
                        message: "Por favor selecciona una ciudad",
                        trigger: "change"
                    }
                ],
                country_representative_legal: [
                    {
                        required: true,
                        message: "Por favor selecciona una ciudad",
                        trigger: "change"
                    }
                ],
                city_resident_name_representative_legal: [
                    {
                        required: true,
                        message: "Por favor selecciona una ciudad",
                        trigger: "change"
                    }
                ],
                email_legal_representative: [
                    {
                        required: true,
                        message: "Este campo es requerido",
                        trigger: "blur"
                    }
                ],
            },
            emails: [],
            newEmail: null
        };
    },
    methods: {
        async onSubmit(e) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/client/create`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;

            this.$refs["form"].validate(valid => {
                if (valid) {
                    this.fullscreenLoading = true;
                    axios({
                        url: path,
                        method: "POST",
                        data: this.form,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*"
                        }
                    })
                        .then(response => {
                            this.alertSuccess();
                            this.$refs["form"].resetFields();
                            this.fullscreenLoading = false;
                            this.$emit("closeModalForm");
                        })
                        .catch(error => {
                            this.alertError();
                            this.fullscreenLoading = false;
                        });
                } else {
                    this.alertRules();
                    return false;
                }
            });
        },
        async AddEmail(e) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/client/add-email/${this.form.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;

            this.fullscreenLoading = true;
            axios({
                url: path,
                method: "POST",
                data: {'email': this.newEmail},
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*"
                }
            })
                .then(response => {
                    this.alertSuccess();
                    this.showMoreEmails = false;
                    this.showEmailsContainer = true;
                    this.fullscreenLoading = false;
                    this.getEmails();
                })
                .catch(error => {
                    this.alertError();
                    this.fullscreenLoading = false;
                });
        },
        getEmails() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/client/emails/${this.form.id}`;
            axios
                .get(path)
                .then((response) => {
                    console.log(response.data.emails);
                    this.emails = response.data.emails;
                    console.log(this.emails);
                    if (this.emails.length > 0) {
                        this.showEmailsContainer = true;
                    } else {
                        this.showEmailsContainer = false;
                    }
                })
                .catch((error) => {
                });
        },
        getAllCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities`;
            axios
                .get(path)
                .then((response) => {
                    this.all_cities = response.data;
                })
                .catch((error) => {
                });
        },
        getCountries() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/country`;
            axios
                .get(path)
                .then((response) => {
                    this.countries = response.data;
                    this.getCitis();
                })
                .catch((error) => {
                });
        },
        getCitis() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities/${this.form.country_representative_legal}`;
            axios
                .get(path)
                .then((response) => {
                    this.citiesfill = response.data;
                })
                .catch((error) => {
                });
        },

        getCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities`;
            axios
                .get(path)
                .then(response => {
                    this.cities = response.data;
                })
                .catch(error => {

                });
        },
        resetForm() {
            this.$refs["form"].resetFields();
        },
        alertSuccess() {
            this.$message({
                message: 'Cliente registrado con exito',
                type: 'success'
            });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente."
            });
        },
        editEmail(index, row) {
            console.log(index, row);
        },
        deleteEmail(index, row) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/client/delete-email/${row.id}`;
            axios
                .get(path)
                .then((response) => {
                    this.emails = [];
                    this.getEmails();
                })
                .catch((error) => {
                });
        }
    },
    created() {
        this.getEmails();
        this.getAllCities();
        this.getCountries();
        this.getCities();
    },
    mounted() {
        this.form = {
            id: this.client.id,
            name_legal_representative: this.client.name_legal_representative,
            type_document_representative_legal: this.client.type_document_representative_legal,
            number_document_representative_legal: this.client.number_document_representative_legal,
            city_expedition_name_representative_legal: this.client.city_expedition_name_representative_legal,
            country_representative_legal: this.client.country_representative_legal,
            city_resident_name_representative_legal: this.client.city_resident_name_representative_legal,
            email_legal_representative: this.client.email_legal_representative,

            // Company
            company_name: this.client.company_name,
            email_company: this.client.email_company,
            rut: this.client.rut,
        }
    },
};
</script>

<style>
.el-dialog__body {
    padding: 0px 20px !important;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
}

.add-more-emails {
    font-size: 25px;
    margin-left: 5px;
    color: #409EFF;
    cursor: pointer
}
</style>
