<template>
    <el-card class="box-card">
        <div class="card-body imuk-card">
            <el-form
                ref="basicForm"
                :model="basicForm"
                :rules="rules"
                label-position="top"
                label-width="100px"
                style="max-width: 100%"
                status-icon
            >
                <el-row :gutter="10">
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Organization Name" prop="first_name">
                            <el-input
                                v-model="basicForm.name"
                                placeholder=""
                                size="large"
                                disabled
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Nit" prop="last_name">
                            <el-input
                                v-model="basicForm.rut"
                                placeholder=""
                                size="large"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Email address" prop="email">
                            <el-input
                                v-model="basicForm.email"
                                placeholder=""
                                size="large"
                                autocomplete="off"
                                disabled
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Country" prop="country_id">
                            <el-select disabled size="large" v-model="basicForm.country_id" filterable placeholder="Select">
                                <el-option
                                    v-for="item in countries"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Evaluation period" prop="evaluation_period_id">
                            <el-select size="large" v-model="basicForm.evaluation_period_id" filterable placeholder="Select">
                                <el-option
                                    v-for="item in evaluation_period"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Upload Logo" prop="logo">
                            <el-button
                                size="large"
                                class="button-login"
                                type="success"
                                round>
                                <font-awesome-icon icon="fa-solid fa-file-csv" size="lg" pull="left"/> Only .png
                            </el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Upload Favicon" prop="favicon">
                            <el-button
                                size="large"
                                class="button-login"
                                type="success"
                                round>
                                <font-awesome-icon icon="fa-solid fa-file-csv" size="lg" pull="left"/> Only .png
                            </el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- <el-row :gutter="10">
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Area" prop="industry_id">
                            <el-select size="large" v-model="basicForm.industry_id" placeholder="Select">
                                <el-option
                                    v-for="item in areas"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row> -->
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <el-button
                        size="large"
                        class="button-login"
                        type="primary"
                        @click="onSubmit('basicForm')"
                        v-loading.fullscreen.lock="fullScreenLoading"
                        round>
                        Save
                    </el-button>
                </el-col>
                </el-row>
                
            </el-form>
        </div>
    </el-card>
</template>

<script>
import axios from "axios";

var validateName = (rule, value, callback) => {
    var letters =
        '/^(([^<>()[]\\.,;:@"]+(.[^<>()[]\\.,;:@"]+)*)|(".+")(¿?¡!"#$%&(-/0123456789=´¨_~))@(([])|(([-]+.)+[-]{,}))$/';
    for (var i of value) {
        if (letters.includes(i)) callback(new Error());
    }
    callback();
};
var validate_number_field = (rule, value, callback) => {
    var letters = `%&/^(([^<>()\[\]\\.,;!¡¿?={#*}:\@"]+(\.[^'<>()\[\]\\.,;:\@"]+[aAbBcCdDeEfFgGhHiIjJkKlLmMnNñÑoOpPqQrRsStTuUvVwWxXyYzZ])*)|(".+"))@((\[\])|(([\-]+\.)+[-]{,}))$/`;
    for (var i of value) {
        if (letters.includes(i)) callback(new Error());
    }
    callback();
};

export default {
    computed: {
        isLoggedIn() {
            return this.$store.getters.isLoggedIn;
        }
    },
    data() {
        return {
            organization: {},
            basicForm: {
                name: "",
                rut: "",
                email: "",
                country_id: "",
                evaluation_period_id: ""
            },
            rules: {
                name: [
                    { required: true, message: "Name company is required", trigger: "blur" },
                    {
                        required: true,
                        validator: validateName,
                        message: "Name is no valid",
                        trigger: "blur",
                    },
                ],
                rut: [
                    { required: true, message: "Rut name is null", trigger: "blur" },
                ],
                email: [
                    {
                        type: "email",
                        required: true,
                        message: "Email is null",
                        trigger: "blur",
                    },
                ],
                country_id: [
                    {
                        required: true,
                        message: "Country is required",
                        trigger: "change",
                    },
                ]
            },
            countries: [],
            evaluation_period: [
                {
                    "name": "Monthly",
                    "id": 1
                },
                {
                    "name": "Quarterly",
                    "id": 2
                },
                {
                    "name": "Semiannual",
                    "id": 3
                },
                {
                    "name": "Yearly",
                    "id": 4
                }
            ],
            areas: [
                {
                    "name": "IT",
                    "id": 1
                },
                {
                    "name": "Operations",
                    "id": 2
                },
                {
                    "name": "Human resources",
                    "id": 3
                },
                {
                    "name": "Sales",
                    "id": 4
                },
                {
                    "name": "Customer success",
                    "id": 4
                }
            ],
            roles: [
                {
                    "name": "Talent",
                    "id": 1
                },
                {
                    "name": "Team leader",
                    "id": 2
                },
                {
                    "name": "Analyst",
                    "id": 3
                },
                {
                    "name": "Administrator",
                    "id": 3
                }
            ],
            fullScreenLoading: false,
        };
    },
    methods: {
        async onSubmit(formName) {
            const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/personalization/update`;
            this.fullScreenLoading = true

            this.$refs[formName].validate((valid) => {
                if (valid) {
                    axios({
                        url: path,
                        method: "POST",
                        data: this.basicForm,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                        },
                    })
                        .then((response) => {
                            this.fullScreenLoading = false;
                            this.$refs["basicForm"].resetFields();
                            this.alertSuccess("Personalization update success");
                    })
                        .catch((error) => {
                            this.fullScreenLoading = false;
                            this.alertError(error.response.data.data[0]);
                    });
                } else {
                    this.fullScreenLoading = false
                    this.alertError("Values in fields is not valids")
                }
            })
        },
        getCountries() {
            const path = `https://www.targetsia.xyz/api/v2/country`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
 
            axios
                .get(path)
                .then((response) => {
                    this.countries = response.data;
                })
                .catch((error) => {});
        },
        getIndustries() {
            const path = `https://www.targetsia.xyz/api/v2/industry`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            axios
                .get(path)
                .then((response) => {
                    this.industries = response.data;
                })
                .catch((error) => { });
        },
        getOrganizationData() {
            this.organization = JSON.parse(this.$store.state.user);

            this.basicForm.name = this.organization.org.name;
            this.basicForm.rut = this.organization.org.rut;
            this.basicForm.email = this.organization.email;
            this.basicForm.country_id = this.organization.country_id;
            this.basicForm.evaluation_period_id = this.organization.org.evaluation_period_id;

        },
        alertSuccess(msg) {
            this.$message({
                message: 'Congrats, ' + msg,
                type: 'success'
            });
        },
        alertError(msg) {
            this.$message.error('Oops, ' + msg);
        },
    },
    created() {
        this.getOrganizationData();
        this.getCountries();
        // this.getIndustries();
    }
};
</script>

<style>

.link-menu {
    text-decoration: none;
}

</style>