<template lang="html">
    <el-row :gutter="20">
        <el-container>
            <el-col :xs="24" :sm="24" :md="3" :lg="3" :xl="3">
                <!-- Menu Gamification -->
                <Menu></Menu>
            </el-col>
            <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                <el-row>
                    <el-col>
                        <el-card shadow="never" class="box-admin-info">
                            <el-row>
                                <el-col style="padding-left: 5%;" :span="18">
                                    <h2>Welcome Analyst, {{ this.organization.first_name }} {{ this.organization.last_name }}</h2>
                                    <p class="text-description-container-card">Welcome to your control panel, from here you can see your assigned <b>goals</b> and your accumulated points.</p>
                                    <el-button type="success" round disabled>
                                        <font-awesome-icon icon="fa-solid fa-file-signature fa-2xs"/>
                                        <span class="ml-2">Generate mounthly report</span>
                                    </el-button>
                                    <el-tag class="ml-2" effect="dark" type="info"> <strong>Trial plan</strong>  </el-tag>
                                </el-col>
                                <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
                                    <el-image style="width: 250px; height: 150px" :src="img_welcome" fit="contain" />
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                </el-row>
                <el-card shadow="never" class="sta-panel mt-1">
                    <div>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <el-row>
                                    <el-col>
                                        <div class="icon-container">
                                            <el-image
                                            style="width: 60px; height: 60px"
                                            src="/icons/members.png"
                                            fit="scale-down"
                                            ></el-image>
                                            <div>
                                                <span class="sta-description">
                                                    Users
                                                </span>
                                                <span class="sta-number"> {{ general_stats.users }} </span>
                                            </div>
                                        </div>
                                    </el-col>
                                </el-row>
                            </el-col>
                            <el-col :span="6">
                                <el-row>
                                    <el-col>
                                        <div class="icon-container">
                                            <el-image
                                            style="width: 60px; height: 60px"
                                            src="/icons/teams.png"
                                            fit="scale-down"></el-image>
                                            <div>
                                                <span class="sta-description">
                                                    Teams
                                                </span>
                                                <span class="sta-number"> {{ general_stats.teams }} </span>
                                            </div>
                                        </div>
                                    </el-col>
                                </el-row>
                            </el-col>
                            <el-col :span="6">
                                <el-row>
                                    <el-col>
                                        <div class="icon-container">
                                            <el-image
                                            style="width: 60px; height: 60px"
                                            src="/icons/targets.png"
                                            fit="scale-down"></el-image>
                                            <div>
                                                <span class="sta-description">
                                                    Targets
                                                </span>
                                                <span class="sta-number"> {{ general_stats.targets }} </span>
                                            </div>
                                        </div>
                                    </el-col>
                                </el-row>
                            </el-col>
                            <el-col :span="6">
                                <el-row>
                                    <el-col>
                                        <div class="icon-container">
                                            <el-image
                                            style="width: 60px; height: 60px"
                                            src="/icons/performance.png"
                                            fit="scale-down"></el-image>
                                            <div>
                                                <span class="sta-description">
                                                    Overall YTD
                                                </span>
                                                <span class="sta-number"> {{ general_stats.overall_ytd }}% </span>
                                            </div>
                                        </div>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                    </div>
                </el-card>
                
                <el-row class="mt-1" :gutter="20">
                    <el-col style="text-align: left;" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <h4>Performance per week</h4>
                        <el-card class="sta-panel">
                            <div ref="chart"></div>
                        </el-card>
                        
                    </el-col>
                    <el-col style="text-align: left;" :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <h4>Performance per teams</h4>
                        <el-card class="sta-panel">
                            <div ref="chartPie"></div>
                        </el-card>
                    </el-col>
                </el-row>

                <el-row class="mt-1" :gutter="20">
                    <el-col style="text-align: left;" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <h4> Latest contributors added </h4>
                        <el-table :data="users_org" :row-class-name="tableRowClassName" empty-text="Not targets" v-loading="loading">
                            <!-- <el-table-column
                            type="selection"
                            width="55">
                            </el-table-column> -->
                            <el-table-column width="250" label="Name" prop="first_name">
                                <template v-slot="scope">
                                    {{ scope.row.first_name }} {{ scope.row.last_name }}
                                </template>
                            </el-table-column>
                            <el-table-column width="250" label="Email" prop="email"></el-table-column>
                            <el-table-column width="200" label="Teams" prop="team_name">
                                <template v-slot="scope">
                                    <el-tag
                                    type="warning"
                                    effect="plain"
                                    close-transition>
                                        {{ scope.row.team_name }}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column width="100" label="Targets" prop="targets">
                                <template v-slot="scope">
                                    {{ scope.row.targets }}
                                </template>
                            </el-table-column>
                            <el-table-column width="130" label="Rol" prop="email">
                                <template v-slot="scope">
                                    <el-tag
                                    type="primary"
                                    effect="plain"
                                    close-transition>
                                       Collaborator
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column width="100" label="Status" prop="status">
                                <template v-slot="scope">
                                    <el-tag
                                    :type="scope.row.status === 0 ? 'success' : 'danger'"
                                    close-transition>
                                        {{ scope.row.status === 0 ? 'Active' : 'Inactive' }}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column>
                                <template v-slot="scope">
                                    <el-tooltip class="item" effect="dark" content="Delete" placement="top-start">
                                        <el-button type="danger" size="small" circle><i class="fa fa-times"></i></el-button>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                        
                    </el-col>
                </el-row>
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import Highcharts from 'highcharts';
import Menu from '../../components/Gamification/Layout/MenuAnalyst.vue'

import {
    myMixins
} from "../../Utils/mixins";

export default {
    mixins: [myMixins],
    components: {
        Menu
    },
    mounted() {
        this.renderChartWeek();
        this.renderChartPie();
    },
    data() {
        return {
            organization: {},
            general_stats: {},
            users_org: [],

            gamification_rules: [],
            gamification_ranking: [],

            img_welcome: "/icons/welcome-unisex-256.png",
            loading: false,
        };
    },
    methods: {
        renderChartWeek() {
            Highcharts.chart(this.$refs.chart, {
                title: {
                    text: 'Targets complete for week'
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Targets complete'
                    }
                },
                xAxis: {
                    categories: ['Week 1', 'Week 2', 'Week 3', 'Week 4'],
                    crosshair: true,
                    accessibility: {
                        description: 'Weeks'
                    }
                },
                series: [
                    {
                        name: "DevOps",
                        type: 'column',
                        data: [1, 3, 2]
                    },
                    {
                        name: "Operations",
                        type: 'column',
                        data: [1, 3, 2]
                    }
                ]
            });
        },
        renderChartPie() {
            Highcharts.chart(this.$refs.chartPie, {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Teams with the most objectives completed',
                },
                tooltip: {
                    headerFormat: '',
                    pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                        'Targets complete: <b>{point.y}</b><br/>' +
                        'Population density (people per square km): <b>{point.z}</b><br/>'
                },
                series: [
                    {
                        minPointSize: 10,
                        innerSize: '20%',
                        zMin: 0,
                        name: 'Teams',
                        borderRadius: 5,
                        data: [
                        {
                            name: 'Operations',
                            y: 505992,
                            z: 92
                        }, {
                            name: 'DevOps',
                            y: 551695,
                            z: 119
                        }, {
                            name: 'QA',
                            y: 312679,
                            z: 121
                        }, {
                            name: 'Human Resources',
                            y: 78865,
                            z: 136
                        }, {
                            name: 'Finance',
                            y: 301336,
                            z: 200
                        }, {
                            name: 'Integrations',
                            y: 41284,
                            z: 213
                        }, {
                            name: 'Sales',
                            y: 357114,
                            z: 235
                        }],
                        colors: [
                            '#4caefe',
                            '#3dc3e8',
                            '#2dd9db',
                            '#1feeaf',
                            '#0ff3a0',
                            '#00e887',
                            '#23e274'
                        ]
                    }
                ]
            });
        },
        getUserRanking(page) {
            this.loading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `${process.env.VUE_APP_URL_API_BACKEND}/api/points/user`;
            axios
                .get(path)
                .then((response) => {
                    this.gamification_ranking = response.data;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },
        getRules(page) {
            this.loading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `${process.env.VUE_APP_URL_API_BACKEND}/api/gamification`;
            axios
                .get(path)
                .then((response) => {
                    this.gamification_rules = response.data;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },
        getOrganizationData() {
            this.organization = JSON.parse(this.$store.state.user)
        },
        tableRowClassName({
            row,
            rowIndex
        }) {},
        getUsers() {
            if (this.organization.org != undefined) {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/users/all`;
            
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.users_org = response.data;
                    })
                    .catch((error) => { });
            }

        },
        getGeneralStatistics() {
            if (this.organization.org != undefined) {
                console.log("Profile data", this.organization)
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/panel/general/statistics`;
                
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.general_stats = response.data;
                    })
                    .catch((error) => { });
            }
            
        }
    },
    created() {
        // this.getUserRanking();
        // this.getRules();
        this.getOrganizationData();
        this.getGeneralStatistics();
        this.getUsers();
        this.link = document.createElement("a");
        this.body = document.body;
    },
};
</script>

<style scoped>
.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.el-card__header {
    background-color: #00a0db;
    color: white;
}

.btn-danger {
    color: #fff;
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
}

.el-dialog__title {
    font-weight: 600 !important;
}

.el-table__body,
.el-table__footer,
.el-table__header {
    width: 100% !important;
}

.container {
    justify-content: center;
    height: 1px;
}

#chart {
  height: 400px;
}

.box-admin-info {
    /* padding: 1%; */
    border-radius: 16px;
    text-align: left;
    background-color: rgba(112, 162, 136, 0.1)
}

</style>
