<template>
    <el-row :gutter="20">
        <el-container>
            <el-col :xs="24" :sm="24" :md="3" :lg="3" :xl="3">
                <!-- Menu Gamification -->
                <Menu></Menu>
            </el-col>
            <el-col
                :xs="24"
                :sm="24"
                :md="20"
                :lg="20"
                :xl="20"
            >
                <el-row :gutter="24">
                    <el-col :xs="24" :sm="24" :md="7" :lg="7" :xl="7" style="text-align: left;">
                        <h3>Platform Personalization</h3>
                        <!-- User Form -->
                        <OrgForm></OrgForm>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" style="text-align: left;">
                        <h3>Upgrade Plan</h3>
                        <el-card class="box-card">
                            <el-row>
                                <el-col :span="8" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                    <font-awesome-icon class="icon-plan-free" icon="fa-solid fa-cube" size="2xl"/>
                                    <h3>Free</h3>
                                    <h5> Free plan, you can only register 10 collaborators and a maximum of 3 objectives per team.  </h5>
                                    <span>For small teams and not so detailed measurements</span>
                                    <ul>
                                        <li>User registration</li>
                                        <li>Team creation</li>
                                        <li>Creation of objetives</li>
                                        <li>Gamification points</li>
                                        <li>Organization Custom</li>
                                    </ul>
                                </el-col>
                            </el-row>
                            <el-divider></el-divider>
                            <el-row>
                                <el-col :span="8" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                    <font-awesome-icon class="icon-plan-pro" icon="fa-solid fa-cube" size="2xl"/>
                                    <h3>Pro</h3>
                                    <h2>100$ / Per Month</h2>
                                    <h5> Pro plan, you can only register 200 collaborators and without limit objectives and teams  </h5>
                                    <span>For startups to get the most out of their team</span>
                                    <ul>
                                        <li>User registration</li>
                                        <li>Team creation</li>
                                        <li>Creation of objetives</li>
                                        <li>Gamification points</li>
                                        <li>Organization Custom</li>
                                    </ul>
                                </el-col>
                            </el-row>
                        </el-card>
                        
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" style="text-align: left;">
                        <h3>Integrations</h3>
                        
                    </el-col>
                </el-row>
                
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
    import axios from "axios";
    import Menu from '@/components/Gamification/Layout/Menu.vue';
    import OrgForm from '@/components/Client/Forms/OrgForm.vue';

    export default {
        name: "Config",
        components: {
            Menu,
            OrgForm
        },
        data() {
            return {
                users_org: [],
            };
        },
        methods: {
            onSubmit() {

            },
        },
        created() {

        }
    };
</script>

<style>
    .icon-plan-free {
        color: #e9cc31;
        font-size: 2.5rem;
    }
    .icon-plan-pro {
        color: #409eff;
        font-size: 2.5rem;
    }
</style>