<template lang="html">
    <el-container>
        <el-col style="padding: 2%" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <h2>My Points</h2>
            <el-row :gutter="20">
                <el-col :span="5">
                    <el-tooltip
                        class="item"
                        effect="dark"
                        content="Your ranking"
                        placement="top-start">
                        <el-card shadow="always" class="card-info-tree">
                            <i class="fa fa-trophy fa-3x"></i> <span class="card-statistics-number"> #{{ me_statistics.ranking.position }} </span>
                        </el-card>
                    </el-tooltip>
                </el-col>
                <el-col :span="5">
                    <el-tooltip
                        class="item"
                        effect="dark"
                        content="Your points"
                        placement="top-start">
                        <el-card shadow="always" class="card-info-for">
                            <i class="fa fa-star fa-3x"></i> <span class="card-statistics-number"> {{ me_statistics.points }} pts </span>
                        </el-card>
                    </el-tooltip>
                </el-col>
            </el-row>
            <br>
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                    <h2>Points details</h2>
                    <el-table
                        :data="detail_points"
                        :row-class-name="tableRowClassName"
                        empty-text="Not rules"
                        style="width: 100%"
                        v-loading="loading">
                        <el-table-column width="250" label="name" prop="name"> </el-table-column>
                        <el-table-column width="80" prop="points" label="Points"> </el-table-column>
                        <el-table-column  prop="created_at" label="End date"> </el-table-column>
                    </el-table>
                </el-col>
                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                    <h2>Rewards</h2>
                    <el-table
                        :data="tableData"
                        style="width: 100%">
                        <el-table-column
                            prop="reward_name"
                            label="Description">
                        </el-table-column>
                        <el-table-column
                            prop="reward_points"
                            label="Value"
                            width="130">
                        </el-table-column>
                        <el-table-column
                            prop="reward_availables"
                            label="Stock"
                            width="100">
                        </el-table-column>
                        <el-table-column width="80">
                            <template slot-scope="props">
                                <el-tooltip
                                    class="item"
                                    effect="dark"
                                    content="Redeem reward"
                                    placement="top-start"
                                >
                                    <el-button
                                        @click="state()"
                                        size="small"
                                        type="success"
                                        circle
                                    ><i class="fa fa-gift"></i
                                    ></el-button>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-col>
            </el-row>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {
    myMixins
} from "../../Utils/mixins";
import {mapState, mapMutations, createLogger} from "vuex";
export default {
    mixins: [myMixins],
    computed: {
        ...mapState("auth", ["authenticate", "user_session"]),
    },
    data() {
        return {
            detail_points: [],
            me_statistics: {},
            gamification_ranking: [],
            tableData: [
                {
                    reward_name: 'Sucription in Platzi for 12 months',
                    reward_points: '2000 pts',
                    reward_availables: '20'
                },
                {
                    reward_name: 'Dinner for two',
                    reward_points: '500 pts',
                    reward_availables: '30'
                },
                {
                    reward_name: 'Trip to cartagena',
                    reward_points: '5000 pts',
                    reward_availables: '2'
                },
                {
                    reward_name: 'Amazon Gift Card',
                    reward_points: '1000 pts',
                    reward_availables: '25'
                }
            ],
            lenguaje: [],
            framework: [],
            programing: [],
            dialogTableVisible: false,
            showframework: false,
            form_rule: {
                name: "",
                points: "",
                duration_start: "",
                duration_end: "",
                active: true,
            },
            formframework: {
                name: "",
                slug: "",
                programming_lenguage_id: "",
            },
            rules_form: {
                name: [{
                    required: true,
                    message: "Field required",
                    trigger: "blur"
                }],
                points: [{
                    required: true,
                    message: "Field required",
                    trigger: "blur"
                }],
                duration_start: [{
                    required: true,
                    message: "Field required",
                    trigger: "blur"
                }],
                duration_end: [{
                    required: true,
                    message: "Field required",
                    trigger: "blur"
                }],
            },
            rulesframework: {
                name: [{
                    required: true,
                    message: "El campo nombre es requerido",
                    trigger: "blur"
                }],
                slug: [{
                    required: true,
                    message: "El campo Slug es requerido",
                    trigger: "blur"
                }],
                programming_lenguage_id: [{
                    required: true,
                    message: "Selecciona un lenguaje de programación es requerido",
                    trigger: "blur"
                }],
            },
            pagination: [],
            fullscreenLoading: false,
            loading: false,
        };
    },
    methods: {
        state(element) {
            var sta;
            if (element == 1) {
                sta = "Activo"
            } else {
                sta = "Inactivo"
            }
            return sta;
        },
        alertSuccess() {
            this.$notify.success({
                title: "Creación Exitosa",
                offset: 100,
            });
        },
        getUserRanking(page) {
            this.loading = true;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `${process.env.VUE_APP_URL_API_BACKEND}/api/points/user`;
            axios
                .get(path)
                .then((response) => {
                    this.gamification_ranking = response.data;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },
        getPointsDetail(page) {
            this.loading = true;
            var user = JSON.parse(localStorage.getItem("user"));
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `${process.env.VUE_APP_URL_API_BACKEND}/api/points/user/${user.id}/detail`;
            axios
                .get(path)
                .then((response) => {
                    this.detail_points = response.data.detail;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },
        getGamificationStatistics(){
            var user = JSON.parse(localStorage.getItem("user"));
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/points/user/${user.id}`;
            axios
                .get(path)
                .then(response => {
                    this.me_statistics = response.data
                })
                .catch(error => {});
        },
        tableRowClassName({
            row,
            rowIndex
        }) {},
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },

        alertRules() {
            this.$notify.warning({
                title: "Campos Obligatorios",
                message: "Faltan campos obligatorios por completar",
            });
        },
        handleClose(tag) {
            this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
        },
    },
    created() {
        this.getUserRanking();
        this.getPointsDetail();
        this.getGamificationStatistics();
        this.link = document.createElement("a");
        this.body = document.body;
    },
};
</script>

<style scoped>
.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}fa fa-trophy

.el-card__header {
    background-color: #00a0db;
    color: white;
}

.btn-danger {
    color: #fff;
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
}

.el-dialog__title {
    font-weight: 600 !important;
}

.el-table__body,
.el-table__footer,
.el-table__header {
    width: 100% !important;
}

.container {
    justify-content: center;
    height: 1px;
}

.card-info-tree {
    background-color: #f1f0f0;
    color: #f7ba2a;
    text-align: center;
    border-radius: 15px;
}

.card-info-for {
    background-color: #f1f0f0;
    color: #f7ba2a;
    text-align: center;
    border-radius: 15px;
}

.card-statistics-number {
    font-size: 1.5em;
    font-weight: bold;
    margin: 5%;
    color: black;
}
</style>
