<template>
    <el-row :gutter="20">
        <el-container>
            <el-col :xs="24" :sm="24" :md="3" :lg="3" :xl="3">
                <!-- Menu Gamification -->
                <Menu></Menu>
            </el-col>
            <el-col
                :xs="24"
                :sm="24"
                :md="20"
                :lg="20"
                :xl="20"
            >

                <el-alert title="The objectives created will take into account their configured periodicity, its periodicity is: 'Monthly'" type="warning" effect="dark" show-icon />

                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" style="text-align: left;">
                        <!-- Select Period field -->
                        <h3>Select in which period you want to load the targets</h3>
                        <!-- Period Select -->
                        <PeriodField @showFormChatGPT="showFormIA" @showForm="showFormTarget" :periodicity="periodicity_config"></PeriodField>
                        
                        <div v-if="show_form">
                            <h3>Create Target</h3>
                            <!-- Target Form -->
                            <FormTarget @syncTarget="onSubmit" :weight_available="available_weight"></FormTarget>
                        </div>
                        
                        
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="15" :lg="15" :xl="15" style="text-align: left;">
                        <h3>Targets</h3>
                        <el-table
                            :data="targets"
                            :row-class-name="tableRowClassName"
                            empty-text="No targets loaded yet"
                            v-loading="loading"
                            style="width: 100%"
                            >
                            <el-table-column width="200" label="Title" prop="title"></el-table-column>
                            <el-table-column prop="type" label="Type"> </el-table-column>
                            <el-table-column prop="value" label="Weight">
                                <template v-slot="scope">
                                    <el-tag
                                    type="info"
                                    effect="dark"
                                    class="mx-1"
                                    close-transition
                                    round>
                                        <strong>
                                            {{ scope.row.value }}
                                        </strong>
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column label="Period" prop="period_selected_id">
                                <template v-slot="scope">
                                    <el-tag
                                    type="info"
                                    close-transition>
                                        <strong>
                                            {{ getPeriodicity(scope.row.evaluation_period_id, scope.row.period_selected_id) }}
                                        </strong>
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column label="Status" prop="active">
                                <template v-slot="scope">
                                    <el-tag
                                    :type="scope.row.active === 1 ? 'success' : 'danger'"
                                    close-transition>
                                        {{ scope.row.active === 1 ? 'Active' : 'Inactive' }}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column>
                                <template v-slot="scope">
                                    <router-link :to="`/admin/gamification/target/${scope.row.id}/detail`">
                                        <el-button
                                        size="small"
                                        type="primary"
                                        round
                                        >
                                            <font-awesome-icon icon="fa-solid fa-gear"/>
                                        </el-button>
                                    </router-link>
                                </template>
                            </el-table-column>
                        </el-table>
                        <!-- <div style="margin-top: 20px">
                            <el-button style="width: 20%;" size="large" class="button-login" type="danger" round>
                                <font-awesome-icon icon="fa-solid fa-trash" pull="left"/> Delete
                            </el-button>
                        </div> -->
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <div v-if="show_form_ia">
                            <h3>Create Target by IA</h3>
                            <el-card class="box-card">
                                <div class="card-body imuk-card">
                                    <div style="margin-bottom: 3%">
                                        <el-row :gutter="12">
                                            <el-col :span="16">
                                                <el-card v-if="message_gpt" shadow="always" style="background-color: rgb(49, 49, 53); border-radius: 20px; color: white">
                                                    <div>
                                                        {{ message_gpt }}
                                                    </div>
                                                    <el-button style="margin-bottom: 3%; width: 30%;" size="small" class="button-login" type="warning" @click="onSubmit()" round>
                                                        <font-awesome-icon icon="fa-solid fa-bullseye fa-2xs" pull="left"/> add targets
                                                    </el-button>
                                                </el-card>
                                            </el-col>
                                        </el-row>
                                    </div>
                                    <el-row>
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                            <el-form :model="form_gpt">
                                                <div class="mt-4">
                                                    <el-divider />
                                                    <el-input
                                                        size="large"
                                                        v-model="form_gpt.message"
                                                        placeholder="Indicanos que objetivo general quieres alcanzar este quarter"
                                                    >
                                                    <template #append>
                                                        <el-button @click="sendToGPT()"> <font-awesome-icon icon="fa-solid fa-paper-plane fa-2xs" pull="left"/> </el-button>
                                                    </template>
                                                    </el-input>
                                                </div>
                                            </el-form>
                                        </el-col>
                                    </el-row>
                                </div>
                            </el-card>
                        </div>
                    </el-col>
                </el-row>
                
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
    import axios from "axios";
    import { myMixins } from "../../Utils/mixins";
    import Menu from '@/components/Gamification/Layout/Menu.vue';
    import FormTarget from '@/components/Gamification/Forms/TargetForm.vue';
    import PeriodField from '@/components/Gamification/Forms/TargetPeriodForm.vue';

    export default {
        name: "Targets",
        mixins: [myMixins],
        components: {
            Menu,
            FormTarget,
            PeriodField
        },
        data() {
            return {
                show_form: false,
                show_form_ia: false,
                form_gpt: {
                    message: ""
                },
                message_gpt: "",
                periodicity_config: "",
                select_period: "",
                available_weight: 100,
                targets: [],
                organization: {},
                mounthly_period: [
                    {
                        value: 1,
                        label: 'January',
                    },
                    {
                        value: 2,
                        label: 'February',
                    },
                    {
                        value: 3,
                        label: 'March',
                    }
                ],
            };
        },
        methods: {
            onSubmit(obj) {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/gamification/target`;

                obj.client_id = this.organization.org.id;
                obj.evaluation_period_id = this.periodicity_config;
                obj.period_selected_id = this.select_period;

                    axios({
                        url: path,
                        method: "POST",
                        data: obj,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                        },
                    })
                        .then((response) => {
                            console.log("Save", response)
                            this.getTargetsByPeriod();
                    })
                        .catch((error) => {
                            
                    });
            },
            getTargets() {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/gamification/targets`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.targets = response.data;
                    })
                    .catch((error) => { });
            },
            getTargetsByPeriod() {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/gamification/targets/${this.periodicity_config}/${this.select_period}`;
                this.available_weight = 100;

                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.targets = response.data;
                        this.targets.forEach(element => {
                            this.available_weight = this.available_weight - element.value;
                        });
                    })
                    .catch((error) => { });
            },
            getOrganizationData() {
                this.organization = JSON.parse(this.$store.state.user)
                this.periodicity_config = this.organization.org.evaluation_period_id
            },
            showFormTarget(period) {
                this.select_period = period;
                this.show_form = true;
                this.getTargetsByPeriod();
            },
            showFormIA(period) {
                this.show_form_ia = true
            },
            sendToGPT() {
                axios({
                        url: "https://api.openai.com/v1/chat/completions",
                        method: "POST",
                        data: {
                            "model": "gpt-3.5-turbo",
                            // "prompt": "Say this is a test",
                            "messages": [
                                {
                                    "role": "system",
                                    "content": "Seras un asistente que ayude a la empresa a definir sus metas"
                                },
                                {
                                    "role": "user",
                                    "content": this.form_gpt.message + " cada una de las recomendaciones debe venir en un json de esta forma: {'objetivo': 'description del objetivo'}"
                                }
                            ],
                            "max_tokens": 300,
                            "temperature": 0
                        },
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                            "OpenAI-Organization": "org-f8NoORUFN8Op7VilOci92BRz",
                            "Authorization": "Bearer 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"
                        }
                    })
                        .then(response => {
                            console.log("RESULTADO", response.data.choices[0]["message"]["content"])
                            this.message_gpt = response.data.choices[0]["message"]["content"]
                        })
                        .catch(error => {
                            this.alertError(error.response.data);
                            this.fullscreenLoading = false;
                        });
            },
        },
        created() {
            this.getOrganizationData();
            this.getTargets();
        }
    };
</script>
<style scoped>
    .el-alert {
        margin: 20px 0 0;
    }
    .el-alert:first-child {
        margin: 0;
    }

    .demo-progress .el-progress--line {
        margin-bottom: 15px;
        width: 350px;
    }
    .demo-progress .el-progress--circle {
        margin-right: 15px;
    }

    .el-select .el-input {
    width: 110px;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
</style>