<template>
    <el-row :gutter="20">
        <el-container>
            <el-col :xs="24" :sm="24" :md="3" :lg="3" :xl="3">
                <!-- Menu Gamification -->
                <Menu></Menu>
            </el-col>
            <el-col
                :xs="24"
                :sm="24"
                :md="20"
                :lg="20"
                :xl="20"
            >
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" style="text-align: left;">
                        <h3>Create User</h3>
                        <!-- User Form -->
                        <TalentForm @syncUsers="getUsers"></TalentForm>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="15" :lg="15" :xl="15" style="text-align: left;">
                        <h3>Users</h3>
                        <el-table :data="users_org" :row-class-name="tableRowClassName" empty-text="Not targets" v-loading="loading">
                            <el-table-column width="150" label="Name" prop="first_name">
                                <template v-slot="scope">
                                    {{ scope.row.first_name }} {{ scope.row.last_name }}
                                </template>
                            </el-table-column>
                            <el-table-column width="230" label="Email" prop="email"></el-table-column>
                            <el-table-column width="100" label="Rol" prop="email">
                                <template v-slot="scope">
                                    <el-tag
                                    type="primary"
                                    effect="plain"
                                    close-transition>
                                       Talent
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column width="100" label="Status" prop="status">
                                <template v-slot="scope">
                                    <el-tag
                                    :type="scope.row.status === 0 ? 'success' : 'danger'"
                                    close-transition>
                                        {{ scope.row.status === 0 ? 'Active' : 'Inactive' }}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column>
                                <template v-slot="scope">
                                    <el-button @click = "displayModal(scope.row)" type="primary" circle>
                                        <i class="fa fa-pencil fa-xs" aria-hidden="true"></i>
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="margin-top: 20px">
                            <el-button style="width: 20%;" size="large" class="button-login" type="danger" round>
                                <font-awesome-icon icon="fa-solid fa-trash" pull="left"/> Delete
                            </el-button>
                        </div>
                    </el-col>
                </el-row>  
            </el-col>
            <el-dialog v-model="dialogFormVisible" class="label-form" title="Edit user" width="23%">
                <el-form
                    ref="basicForm"
                    :model="basicForm"
                    label-position="top"
                    label-width="100px"
                    style="max-width: 100%"
                    status-icon
                >   
                    <div class="modal-body">
                    <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="First name" :label-width="formLabelWidth">
                            <el-input v-model="basicForm.first_name" autocomplete="off" />
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="Last name" :label-width="formLabelWidth">
                            <el-input v-model="basicForm.last_name" autocomplete="off" />
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="Position" :label-width="formLabelWidth">
                        <el-input v-model="basicForm.position" autocomplete="off" />
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="Country" :label-width="formLabelWidth">
                            <el-select size="large" v-model="basicForm.country_id" filterable placeholder="Please select a country">
                                <el-option
                                    v-for="item in countries"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="Area" :label-width="formLabelWidth" prop="industry_id">
                            <el-select size="large" v-model="basicForm.industry_id" filterable placeholder="Please select a area">
                                <el-option
                                    v-for="item in areas"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col  :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="Rol" :label-width="formLabelWidth" prop="rol">
                            <el-select size="large" v-model="basicForm.rol" placeholder="Please select a rol">
                                <el-option
                                    v-for="item in roles"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </div>  
                </el-form>
                <template #footer>
                    <span class="dialog-footer , button-container">
                    <el-col :xs="24" :sm="24" :md="13" :lg="13" :xl="13">
                        <el-button @click="dialogFormVisible = false">Cancel</el-button>
                        <el-button type="primary" @click="onSubmit(basicForm)">
                        Update
                        </el-button>
                    </el-col>
                    </span>
                </template>
            </el-dialog>
        </el-container>
    </el-row>
</template>

<script setup>
    const formLabelWidth = '130px'
</script>
<script >
    import axios from "axios";
    import { alerts } from "@/Utils/alerts.js";
    import Menu from '@/components/Gamification/Layout/Menu.vue';
    import TalentForm from '@/components/Client/Forms/TalentForm.vue';
    import { reactive, ref } from 'vue'
    import { ElButton, ElDialog } from 'element-plus'

    export default {
        mixins: [alerts],
        name: "UserManagment",
        components: {
            Menu,
            TalentForm
        },
        data() {
            return {
                organization: {},
                users_org: [],
                showModal: false,
                dialogFormVisible: false,
                user_edit: {},
                basicForm: {
                    first_name: "",
                    last_name:"",   
                    country_id: "",
                    area: "",
                    position:"",
                    industry_id: "",
                    rol: "",
                },
                countries: [],
                areas: [
                {
                    "name": "IT",
                    "id": 1
                },
                {
                    "name": "Operations",
                    "id": 2
                },
                {
                    "name": "Human resources",
                    "id": 3
                },
                {
                    "name": "Sales",
                    "id": 4
                },
                {
                    "name": "Customer success",
                    "id": 5
                }
                ],
                roles: [
                {
                    "name": "Leader",
                    "id": 1
                },
                {
                    "name": "Collaborator",
                    "id": 2
                }
            ],
            };
        },
        methods: {
            async onSubmit(formName) {
            const path = `https://www.targetsia.xyz/api/user/update/${this.user_edit.id}`;
            // this.fullScreenLoading = true
            axios({
                        url: path,
                        method: "PUT",
                        data: this.basicForm,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                        },
                    })
                         .then((response) => {
                            // this.fullScreenLoading = false;
                            //  this.$refs["basicForm"].resetFields();
                            // this.$emit("syncUsers")
                            this.dialogFormVisible = false;
                            this.alertMessage("Congrats, User update", "success");
                            this.getUsers();
                        })
                        .catch((error) => {
                            // this.fullScreenLoading = false;
                            // this.alertError(error.response.data.data[0]);
                    });
        },
            getUsers() {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/users/all`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.users_org = response.data;
                    })
                    .catch((error) => { });
            },

            getCountries() {
            const path = `https://www.targetsia.xyz/api/v2/country`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
 
            axios
                .get(path)
                .then((response) => {
                    this.countries = response.data;
                })
                .catch((error) => {});
        },

        getIndustries() {
            const path = `https://www.targetsia.xyz/api/v2/industry`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            axios
                .get(path)
                .then((response) => {
                    this.industries = response.data;
                })
                .catch((error) => { });
        },

            getOrganizationData() {
                this.organization = JSON.parse(this.$store.state.user)
            },

            displayModal(user) {
                this.dialogFormVisible = true;
                this.user_edit = user;
                this.basicForm.first_name = this.user_edit.first_name;
                this.basicForm.last_name = this.user_edit.last_name;
                this.basicForm.country_id = this.user_edit.country_id;
                this.basicForm.area = this.user_edit.area;
                this.basicForm.industry_id = this.user_edit.industry_id;
                this.basicForm.position = this.user_edit.position;
                this.basicForm.rol = this.user_edit.rol;
            }
        },
        created() {
            this.getOrganizationData();
            this.getUsers();
            this.getCountries();
        }
    };
</script>

<style scoped>
    .el-button--text {
    margin-right: 15px;
    }
    .el-select {
    width: 300px;
    }
    .el-input {
    width: 300px;
    }
    .dialog-footer button {
        margin-right: 10px;
        margin-top: 10%;
    }
    .button-container { 
        display: flex;
        justify-content: center;
    }
    .modal-body {
        width: 100%; /* Ajusta el ancho del contenido de la modal según tus necesidades */
        max-width: 600px; /* Establece un ancho máximo para evitar que la modal sea demasiado grande */
        padding: 50px; /* Ajusta el padding según tus necesidades */
        border-radius: 8px; /* Ajusta el radio de los bordes según tus preferencias */
    }

</style>