<template lang="html">
    <el-container style="margin: 1%;">
        <el-row type="flex" justify="center" :gutter="20">
            <el-col :xs="24" :sm="24" :md="15" :lg="15" :xl="1">
                <el-card class="box-card col-perfil-qr">
                    <span class="span-title-qr">Únete a IMUKO </span>
                    <p class="description-title">Gracias por querer ser parte de la familia IMUKO, escanea el siguiente codigo, ve al formulario y registrate. </p>
                    <p>¡Participa y Gana!</p>
                    <div class="block">
                        <el-image class="img-perfil-qr" :src="require('../assets/codigoQR.png')" fit="cover">
                        </el-image>
                    </div>
                    <router-link to="/imukofrontend">
                        <el-button type="default" icon="el-icon-video-play" size="mediun" round>Ir al formulario</el-button>
                    </router-link>
                    <div class="block" style="margin-top: 2%;">
                        <span class="span-name">{{ sizeForm.namecandidate }} {{ sizeForm.lastnamecandidate }}</span>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert'

export default {
    data() {
        return {
            url: 'https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-01-512.png',
            sizeForm: {
                namecandidate: '',
                lastnamecandidate: '',
            }
        }
    },
    methods: {
        onSubmit(evt) {

        }
    },
    created() {
        //   this.getCandidate();
    }
}
</script>

<style scoped>
.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.box-card {
    width: 100%;
    border-radius: 20px !important;
}

.span-name {
    font-weight: bold;
}

.span-title-qr {
    font-weight: 500;
    font-size: 3rem;
}

.container-form {
    margin-top: 2%;
}

.col-perfil-qr {
    background-color: #00a0db !important;
    color: white !important;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    height: 500px;
}

.col-form {
    padding-top: 20px;
}

.card-body {
    margin: 0px !important;
    padding: 0px !important;
}

.el-card__body {
    padding: 0px !important;
}

.form {
    margin: 3% !important;
}

.description-title-qr {
    font-size: 1rem;
    /* margin: 10px; */
    letter-spacing: 0.4px;
}

.el-icon-male,
.el-icon-female,
.el-icon-video-play {
    font-weight: bold !important;
}

.swal-title {
    font-family: sans-serif !important;
    font-size: 1.5rem !important;
}
</style>
