<template lang="html">
    <el-container>
        <el-row style="width: 100%;">
            <el-row>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="contenedor-img-principal">
                    <el-col :span="19" :offset="3" style="margin: 10% 10%;">
                        <h1 class="h1-title hidden-md-and-up" style="margin-top: 25%;">¡CIENTOS DE DESARROLLADORES A TU ALCANCE! </h1>
                        <h1 class="h1-title hidden-sm-and-down" style="font-size: 3em !important;">¡CIENTOS DE DESARROLLADORES A TU ALCANCE! </h1>
                        <el-tabs type="card" @tab-click="handleClick">
                            <el-tab-pane>
                                <span slot="label"><i class="el-icon-s-platform"></i> ¿Que Perfil Buscas?</span>
                                <el-form :inline="true" :model="formInline" class="demo-form-inline" style="margin-top: 3%;">
                                    <el-form-item>
                                        <el-input v-model="formInline.lastnamecandidate" placeholder="Nombre y Apellido"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-input v-model="formInline.email" placeholder="Email Corporativo"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-input v-model="formInline.phone" placeholder="Celular"></el-input>
                                    </el-form-item>
                                    <!-- el-form-item>
                        <el-select v-model="formInline.area" multiple placeholder="Habilidad">
                          <el-option label="Frontend" value="frontend"></el-option>
                          <el-option label="Backend" value="backend"></el-option>
                          <el-option label="FullStack" value="fullstack"></el-option>
                          <el-option label="DevOps" value="devops"></el-option>
                          <el-option label="DBA" value="dba"></el-option>
                          <el-option label="IOT" value="iot"></el-option>
                        </el-select>
                      </el-form-item -->
                                    <el-form-item>
                                        <el-select v-model="formInline.lenguajes" multiple filterable placeholder="Desarrollador En...">
                                            <el-option v-for="item in tecnologias" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-select v-model="formInline.contract_type" placeholder="Disponibilidad">
                                            <el-option label="Por Horas" value="por_horas"></el-option>
                                            <el-option label="Por Proyecto" value="por_proyecto"></el-option>
                                            <el-option label="Por Semana / Sprint" value="por_semana"></el-option>
                                            <el-option label="Por Mes" value="por_mes"></el-option>

                                        </el-select>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-select v-model="formInline.level_programing_id_candidate" placeholder="Experiencia">
                                            <el-option label="Practicante" value="practicante"></el-option>
                                            <el-option label="Junior" value="junior"></el-option>
                                            <el-option label="Semi Senior" value="semi_senior"></el-option>
                                            <el-option label="Senior" value="senior"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-select v-model="formInline.description" placeholder="Modalidad">
                                            <el-option label="Remoto" value="remoto"></el-option>
                                            <el-option label="Presencial" value="presencial"></el-option>
                                            <el-option label="Mixto" value="mixto"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="onSubmit">Solicitar</el-button>
                                    </el-form-item>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                    <!-- el-col style="margin-top: 2%;">
                  <el-button size="mini" style="font-weight: bold;" round>Frontend</el-button>
                  <el-button size="mini" style="font-weight: bold;" round>Backend</el-button>
                  <el-button size="mini" style="font-weight: bold;" round>FullStack</el-button>
                  <el-button size="mini" style="font-weight: bold;" round>DevOps</el-button>
                </el-col -->
                    </el-col>
                </el-col>
            </el-row>
            <!-- el-col style="background-color: #fbfcfd;" class="div-overlay-blue"></el-col -->

            <!--Segundo contendor -->
            <el-row>
                <el-col class="mt-5" :span="24">
                    <h2 style="font-size: 2rem;"> ¿Como trabajamos? </h2>
                    <div style="margin: 5%; text-align: justify;">
                        <el-row :gutter="20">
                            <el-col class="mb-2" :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                                <el-card shadow="hover">
                                    <div class="demo-image__preview">
                                        <el-row style="margin: 0% 5% 5% 0%;">
                                            <el-col :span="6">
                                                <el-image style="width: 70px; height: auto;" :src="icon_formulario" class="icon-pasos">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="18">
                                                <h4><span>1.</span> Diligenciar el Formulario</h4>
                                                <span style="color: #7d7c7c; font-family: inherit;">
                                                    Descríbenos el perfil que buscas, por cuento tiempo, con que experiencia, si en sitio o remoto y danos una breve descripción de tu proyecto.
                                                </span>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-card>
                            </el-col>

                            <el-col class="mb-2" :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                                <el-card shadow="hover">
                                    <div class="demo-image__preview">
                                        <el-row style="margin: 0% 5% 5% 0%;">
                                            <el-col :span="6">
                                                <el-image style="width: 70px; height: auto;" :src="icon_search" class="icon-pasos">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="18">
                                                <h4><span>2.</span> Busqueda de Perfil</h4>
                                                <span style="color: #7d7c7c; font-family: inherit;">
                                                    Nuestro sistema iniciara con la búsqueda del perfil que mas se adapte a tus necesidades y en tiempo muy corto te estaremos respondiendo.
                                                </span>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-card>
                            </el-col>

                            <el-col class="mb-2" :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                                <el-card shadow="hover">
                                    <div class="demo-image__preview">
                                        <el-row style="margin: 0% 5% 5% 0%;">
                                            <el-col :span="6">
                                                <el-image style="width: 70px; height: auto;" :src="icon_notificaciones" class="icon-pasos">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="18">
                                                <h4><span>3.</span> Notificaciones</h4>
                                                <span style="color: #7d7c7c; font-family: inherit;">
                                                    Te notificaremos de los posibles perfiles disponibles, que mas se ajusten al requerimiento inicial y te indicaremos la tarifa de cada uno.
                                                </span>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>

                        <el-row :gutter="12" style="margin-top: 2%;">
                            <el-col class="mb-2" :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                                <el-card shadow="hover">
                                    <div class="demo-image__preview">
                                        <el-row style="margin: 0% 5% 5% 0%;">
                                            <el-col :span="6">
                                                <el-image style="width: 70px; height: auto;" :src="icon_favorite" class="icon-pasos">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="18">
                                                <h4><span>4.</span> Elige tu Favorito</h4>
                                                <span style="color: #7d7c7c; font-family: inherit;">
                                                    Con las opciones enviadas, tu eliges el que mas te guste y si lo deseas, tienes la opción de hacerle una prueba técnico y/o entrevista, para asegurar sus conocimientos.
                                                </span>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-card>
                            </el-col>

                            <el-col class="mb-2" :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                                <el-card shadow="hover">
                                    <div class="demo-image__preview">
                                        <el-row style="margin: 0% 5% 5% 0%;">
                                            <el-col :span="6">
                                                <el-image style="width: 70px; height: auto;" :src="icon_contracto" class="icon-pasos">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="18">
                                                <h4><span>5.</span> Formalización</h4>
                                                <span style="color: #7d7c7c; font-family: inherit;">
                                                    Firma de contratos y firma de acuerdo de confidencialidad, Dependiendo de la complejidad y tiempo del servicio. Nosotros nos encargamos del papeleo solo enfocate en el proyecto.
                                                </span>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-card>
                            </el-col>

                            <el-col class="mb-2" :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                                <el-card shadow="hover">
                                    <div class="demo-image__preview">
                                        <el-row style="margin: 0% 5% 5% 0%;">
                                            <el-col :span="6">
                                                <el-image style="width: 70px; height: auto;" :src="icon_maletin" class="icon-pasos">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="18">
                                                <h4><span>6.</span> Despreocúpate</h4>
                                                <span style="color: #7d7c7c; font-family: inherit;">
                                                    Iniciemos, ya tienes el desarrollador listo para apoyarte en tu proyecto. Enamórate de nosotros, la manera mas ágil, profesional y económica, de conseguir un desarrollador.
                                                </span>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                    </div>

                </el-col>
            </el-row>

            <el-row style="margin-bottom: 2%;">
                <el-col :span="24">
                    <el-card shadow="always" class="banner-background">
                        <el-row>
                            <el-col :span="24" style="text-align: center; margin-bottom: 2%;">
                                <h2 style="font-size: 2rem; color: #fff !important;"> Desarrolladores con experiencia en cientos de tecnologías </h2>
                                <el-button style="font-weight: bold;" class="button-banner" round>¡Encuentralo con Nosotros! <i class="fas fa-arrow-circle-right"></i></el-button>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="24">
                    <h2 style="font-size: 2rem;"> Nuestros Clientes </h2>
                    <div style="margin: 5%;">
                        <el-carousel type="card" height="200px" trigger="click">
                            <el-carousel-item v-for="item in [require('../assets/cliente-banlinea.png'), require('../assets/cliente-universo-mascotas.png'), require('../assets/logo-druo.png'), require('../assets/logo-smartaxi.png'), require('../assets/logo-holly.png')]" :key="item">
                                <el-image style="width: 530px; height: 170px; margin: 2%; border-radius: 10px;" :src="item"></el-image>
                            </el-carousel-item>
                        </el-carousel>
                    </div>
                </el-col>
            </el-row>

            <el-row class="mb-5">
                <el-col :span="24">
                    <h2 style="font-size: 2rem;"> ¿Eres Desarrollador? </h2>

                    <div style="margin: 3%;">
                        <span style="color: rgb(125, 124, 124); font-family: inherit;">Gracias por querer ser parte de la familia IMUKO, conociendo tus preferencias, podremos elegir el mejor proyecto para ti. </span>
                        <addCandidate></addCandidate>
                    </div>
                </el-col>
            </el-row>

            <!-- **** Segundo banner **** -->
            <el-row style="margin-bottom: 2%;">
                <el-col :span="24">
                    <el-card shadow="always" class="banner-background">
                        <el-row>
                            <el-col :span="24" style="text-align: center; margin-bottom: 2%;">
                                <h2 style="font-size: 2rem; color: #fff !important;"> Red de +500 desarrolladores de software listos a prestar un servicio </h2>
                                <el-button style="font-weight: bold;" class="button-banner" round>¡Encuentra al que necesitas! <i class="fas fa-arrow-circle-right"></i></el-button>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="24">
                    <h2 style="font-size: 2rem;"> Conoce nuestro Blog </h2>
                    <div style="margin: 3%;">
                        <articulosBlog></articulosBlog>
                    </div>
                </el-col>
            </el-row>

            <el-row class="mb-5">
                <el-col :span="24">
                    <h2 style="font-size: 2rem;"> Videos </h2>
                    <div style="margin: 3%;">
                        <el-row :gutter="20">
                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                <iframe class="imuk-videos" width="100%" height="300" src="https://www.youtube.com/embed/YIHjowupZC8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </el-col>
                            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                                <iframe class="imuk-videos" width="100%" height="300" src="https://www.youtube.com/embed/WpncAXF9Vmk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </el-col>
                        </el-row>
                    </div>
                </el-col>
            </el-row>

        </el-row>
    </el-container>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
import swal from 'sweetalert'
import addCandidate from '@/components/Candidate/addCandidate.vue'
import articulosBlog from '@/components/Layouts/ListArticulos.vue'

export default {
    data() {
        return {
            url: 'https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-01-512.png',
            src: 'https://demo.themovation.com/pursuit/cryptocurrency/wp-content/uploads/sites/4/2018/06/startup-office-BW.jpg',
            icon_formulario: require('../assets/icon-formulario.png'),
            icon_search: require('../assets/icon-search.png'),
            icon_notificaciones: require('../assets/icon-notifications.png'),
            icon_favorite: require('../assets/icon-favorite.png'),
            icon_contracto: require('../assets/icon-contrato.png'),
            icon_maletin: require('../assets/icon-maletin.png'),
            activeName: 'first',
            sizeForm: {
                namecandidate: '',
                lastnamecandidate: '',
            },
            formInline: {
                lastnamecandidate: '',
                level_programing_id_candidate: '',
                area: '',
                contract_type: '',
                lenguajes: [],
                frameworks: '',
                remote: 'N/A',
                email: "",
                phone: "",
                description: ""
            },
            tecnologias: [{
                value: '.net',
                label: '.Net'
            }, {
                value: 'C#',
                label: 'C#'
            }, {
                value: 'WPF',
                label: 'WPF'
            }, {
                value: 'WWF',
                label: 'WWF'
            }, {
                value: 'PHP',
                label: 'PHP'
            }, {
                value: 'laravel',
                label: 'Laravel (framework)'
            }, {
                value: 'codeignater',
                label: 'Codeignater (framework)'
            }, {
                value: 'drupal',
                label: 'Drupal (cms)'
            }, {
                value: 'lumen',
                label: 'Lumen (php)'
            }, {
                value: 'magento',
                label: 'Magento (framework)'
            }, {
                value: 'symfony',
                label: 'Symfony (framework)'
            }, {
                value: 'wordpress',
                label: 'Wordpress (cms)'
            }, {
                value: 'yii',
                label: 'Yii (framework)'
            }, {
                value: 'zend',
                label: 'Zend (framework)'
            }, {
                value: 'Java',
                label: 'Java'
            }, {
                value: 'dropwizard',
                label: 'DropWizard (java)'
            }, {
                value: 'groovy',
                label: 'groovy (java)'
            }, {
                value: 'play',
                label: 'Play (java)'
            }, {
                value: 'sprint',
                label: 'Sprint (framework)'
            }, {
                value: 'python',
                label: 'Python'
            }, {
                value: 'bottle',
                label: 'Bottle (python)'
            }, {
                value: 'django',
                label: 'Django (framework)'
            }, {
                value: 'flask',
                label: 'flask (python)'
            }, {
                value: 'Javascript',
                label: 'Javascript'
            }, {
                value: 'typescript',
                label: 'TypeScript'
            }, {
                value: 'angular',
                label: 'Angular (framework)'
            }, {
                value: 'backbone',
                label: 'BackBone Js (Libreria)'
            }, {
                value: 'react',
                label: 'ReactJs (framework)'
            }, {
                value: 'redux',
                label: 'Redux (Libreria)'
            }, {
                value: 'vuejs',
                label: 'Vuejs (framework)'
            }, {
                value: 'nodejs',
                label: 'NodeJs'
            }, {
                value: 'mean',
                label: 'MEAN developers'
            }, {
                value: 'Ruby',
                label: 'Ruby'
            }, {
                value: 'rubyonrails',
                label: 'RubyOnRails (framework)'
            }, {
                value: 'sinatra',
                label: 'Sinatra (framework)'
            }, {
                value: 'ASP',
                label: 'ASP'
            }, {
                value: 'C++',
                label: 'C++'
            }, {
                value: 'GO',
                label: 'GO'
            }, {
                value: 'CSS',
                label: 'CSS'
            }, {
                value: 'SHELL',
                label: 'SHELL'
            }, {
                value: 'SWIFT',
                label: 'SWIFT'
            }, {
                value: 'OBJETIVE-C',
                label: 'OBJETIVE-C'
            }, {
                value: 'KOTLIN',
                label: 'KOTLIN'
            }, {
                value: 'DART',
                label: 'DART'
            }, {
                value: 'SQL',
                label: 'SQL'
            }, {
                value: 'HASKELL',
                label: 'HASKELL'
            }, {
                value: 'DevOps',
                label: 'DevOps'
            }, {
                value: 'No conozco',
                label: 'No conozco en que lenguaje'
            }]
        }
    },
    methods: {
        onSubmit(evt) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken"
            axios.defaults.xsrfCookieName = "csrftoken"

            console.log('submit!');
            evt.preventDefault();
            const path = `https://yohanysturiz.pythonanywhere.com/api/v1/request/add/`
            this.formInline.lenguajes = this.formInline.lenguajes.join(' ')
            this.formInline.frameworks = this.formInline.lenguajes
            axios({
                url: path, //Endpoint
                method: 'POST', //Método
                data: this.formInline
            }).then((response) => {
                swal(`¡Atenderemos tu solicitud lo mas pronto posible!`, 'success')
                this.formInline.lenguajes = [];
                this.formInline.frameworks = '';
            }).catch((error) => {
                this.formInline.lenguajes = [];
                this.formInline.frameworks = '';
                swal('¡lo sentimos a ocurrido un inconveniente en tu solicitud!', 'Intentalo de nuevo', 'error')
                console.log('error', error); //Mensaje del error
            });
        },
        handleClick(tab, event) {
            console.log(tab, event);
        }
    },
    created() {
        //   this.getCandidate();
    },
    components: {
        addCandidate,
        articulosBlog
    }
}
</script>

<style>
/* .imuk-videos {
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  }
  .el-image {
    width: 100%;
  }
 .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .span-name {
      font-weight: bold;
  }
  .span-title-qr {
      font-weight: 500;
      font-size: 3rem;
  }
  .container-form {
    margin-top: 2%;
  }
  .col-perfil-qr {
    background-color: #00a0db !important;
    color: white !important;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    height: 500px;
  }
  .col-form {
      padding-top: 20px;
  }
  .card-body {
        margin: 0px !important;
        padding: 0px !important;
  }
  .el-card__body {
        padding: 0px !important;
   }
   .form{
        margin: 3% !important;
   }
   .img-perfil-qr {
      width: 200px;
      height: 200px;
      margin-top: 2%;
      margin-bottom: 8%;
      border: 5px solid;
   }
   
   .description-title-qr {
      font-size: 1rem;
      letter-spacing: 0.4px;
   }
   .el-icon-male, .el-icon-female, .el-icon-video-play {
       font-weight: bold !important;
   }

   .swal-title {
        font-family: sans-serif !important;
        font-size: 1.5rem !important;
   }

   .div-overlay-blue{
     background-color: transparent;
      background-image: linear-gradient(140deg, #30cfd0 9%, #03192f 100%);
      opacity: 0.88;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s; 
      position: absolute;
      width: 100%;
      height: auto;
   }

   .contenedor-img-principal {
      background-image: url('https://demo.themovation.com/pursuit/cryptocurrency/wp-content/uploads/sites/4/2018/06/startup-office-BW.jpg');
      width: 100%;
      height: auto;
      background-size: cover;
      background-image: linear-gradient(140deg, #30cfd0 9%, #03192f 100%);
      opacity: 0.88;
      -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
      color: #fff;
   }

   .h1-title {
      font-family: Lato, Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 2em;
      color: #fff;
   }
  
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .mt-5 {
    margin-top: 5%;
  }

  .mb-5{
    margin-bottom: 5%;
  }

  .icon-pasos img {
    filter: invert(0.4) sepia(0);
    padding-top: 50%;

  }

  .button-banner {
    background: #fff !important;
    border: 0px solid #002c58;
    color: #383333 !important;
  } */
</style>
