<template>
    <el-card :body-style="{ padding: '0px' }" class="box-card">
        <el-row style="padding: 2%;">
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <h3 class="text-left">
                    <i class="fas fa-clipboard-list"></i> Ultimos procesos
                </h3>
                <el-table :data="Tdata" empty-text="No se encontraron solicitudes..." style="width: 100%">
                    <el-table-column prop="date" label="Fecha"> </el-table-column>
                    <el-table-column label="Teléfono" prop="phone"> </el-table-column>
                    <el-table-column prop="name" label="Nombre"> </el-table-column>
                    <el-table-column prop="email" label="Correo Electrónico">
                    </el-table-column>
                    <el-table-column prop="status" label="Estado"> </el-table-column>
                    <el-table-column label="Operaciones">
                        <template slot-scope="props">
                            <el-button @click="goToRequest(props.row.uuid)" size="mini" type="success" icon="el-icon-arrow-right"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>
    </el-card>
</template>

<script>
export default {
    props: ["Tdata"],
    methods: {
        goToRequest(uuid) {
            this.$router.push({
                name: "Request",
                params: {
                    id: uuid
                }
            });
        }
    }
};
</script>

<style></style>
