<template>
    <el-container v-loading.fullscreen.lock="fullscreenLoading">
        <el-col class="m-1">
            <el-row style="padding: 1%" v-if="allpaymentAccounts">
                <Search
                    :paymentAccounts="true"
                    :getPaymentAccounts="getPaymentAccounts"
                />
            </el-row>
            <el-card :body-style="{ padding: '0px' }" class="box-card">
                <el-row style="padding: 2%">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <div style="display: flex; align-items: baseline">
                            <h3 style="flex: 1" class="text-left">
                                <i class="fas fa-cash-register"></i> Cuentas de cobro
                            </h3>
                            <el-tooltip
                                v-if="paypal.status"
                                class="item"
                                effect="dark"
                                content="Descargar cuentas de cobro"
                                placement="top-start"
                            >
                                <el-button @click="pay()" type="primary" round
                                ><i class="el-icon-money"></i> Pagar con Paypal ${{
                                    paypal.amount
                                }}
                                    USD
                                </el-button>
                            </el-tooltip>
                            <el-tooltip
                                class="item"
                                effect="dark"
                                content="Descargar cuentas de cobro"
                                placement="top-start"
                            >
                                <el-button
                                    @click="genExcel()"
                                    size="small"
                                    type="success"
                                    circle
                                ><i class="el-icon-download"></i
                                ></el-button>
                            </el-tooltip>
                            <el-tooltip
                                class="item"
                                effect="dark"
                                content="Enviar cuentas de cobro"
                                placement="top-start"
                            >
                                <el-button
                                    @click="showSendPayModal = true"
                                    size="small"
                                    type="primary"
                                    circle
                                ><i class="el-icon-s-promotion"></i
                                ></el-button>
                            </el-tooltip>
                            <el-tooltip
                                v-if="allpaymentAccounts"
                                class="item"
                                effect="dark"
                                content="Generar ZIP por rango de fechas"
                                placement="top-start"
                            >
                                <el-button
                                    @click="dialogZipGenerate = true"
                                    size="small"
                                    type="warning"
                                    circle
                                ><i class="el-icon-takeaway-box"></i
                                ></el-button>
                            </el-tooltip>
                        </div>
                        <el-table
                            :data="paymentAccounts"
                            style="width: 100%"
                            @selection-change="handleSelectionChange"
                            ref="multipleTable"
                        >
                            <el-table-column type="selection" width="55"> </el-table-column>
                            <el-table-column
                                prop="correlative_account_number_system"
                                label="# Ser."
                                width="90"
                            >
                            </el-table-column>
                            <el-table-column
                                prop="correlative_account_number"
                                label="# User"
                                width="80"
                            >
                            </el-table-column>
                            <el-table-column prop="full_name" label="Nombre">
                            </el-table-column>

                            <el-table-column prop="creado" label="Fecha"> </el-table-column>

                            <el-table-column label="Estatus">
                                <template slot-scope="props">
                                    <span>
                                        {{ printStatusPaymentAccount(props.row.status) }}</span
                                        >
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="bank_name"
                                label="Banco"
                                width="90"
                                :filters="$filterPaymentMethods"
                                :filter-method="filterHandler"
                            ></el-table-column>
                            <el-table-column prop="value_service_number" label="Monto">
                            </el-table-column>
                            <el-table-column width="50">
                                <template slot-scope="props">
                                    <el-tooltip
                                        class="item"
                                        effect="dark"
                                        content="Ver Cuenta de Cobro"
                                        placement="top-start"
                                    >
                                        <el-button
                                            @click="getviewPdf(props.row.uuid)"
                                            size="small"
                                            type="info"
                                            circle
                                        ><i class="fas fa-file-invoice-dollar"></i
                                        ></el-button>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                            <el-table-column>
                                <template slot-scope="props">
                                    <el-tooltip
                                        class="item"
                                        effect="dark"
                                        content="Cuenta de Cobro"
                                        placement="top-start"
                                    >
                                        <el-button
                                            @click="
                                                genPdf(
                                                    props.row.uuid,
                                                    props.row.full_name,
                                                    props.row.correlative_account_number_system
                                                )
                                            "
                                            size="small"
                                            type="info"
                                            circle
                                        ><i class="fas fa-download"></i
                                        ></el-button>
                                        
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                            <el-table-column>
                                <template slot-scope="props">
                                    <el-menu class="el-menu-demo" mode="horizontal">
                                        <el-submenu index="2">
                                            <template slot="title">
                                                <el-tooltip
                                                    class="item"
                                                    effect="dark"
                                                    content="Mas"
                                                    placement="top-start"
                                                >
                                                    <i
                                                        style="font-size: 35px"
                                                        class="el-icon-circle-plus"
                                                    ></i>
                                                </el-tooltip>
                                            </template>

                                            <el-menu-item index="2-1">
                                                <el-button
                                                    @click="
                                                        genInvoice(
                                                            props.row.uuid,
                                                            props.row.full_name,
                                                            props.row.correlative_account_number_system
                                                        )
                                                    "
                                                    size="small"
                                                    type="success"
                                                    v-if="props.row.status == 2"
                                                    icon="el-icon-document"
                                                    round
                                                    style="width: 100%"
                                                >Comprobante de pago</el-button
                                                >
                                            </el-menu-item>

                                            <el-menu-item index="2-2">
                                                <el-button
                                                    @click="
                                                        getPaymentSecuritySocial(
                                                            props.row.uuid,
                                                            props.row.full_name,
                                                            props.row.correlative_account_number_system
                                                        )
                                                    "
                                                    size="small"
                                                    type="warning"
                                                    v-if="props.row.document_social_id != null"
                                                    round
                                                    style="width: 100%"
                                                ><i class="fas fa-file-medical"></i> Certificado pago
                                                S.S</el-button
                                                >
                                            </el-menu-item>

                                            <el-menu-item index="2-3">
                                                <el-button
                                                    @click="showModalEdit(props.row)"
                                                    size="small"
                                                    type="primary"
                                                    round
                                                    style="width: 100%"
                                                >Editar</el-button
                                                >
                                            </el-menu-item>

                                            <el-menu-item index="2-4">
                                                <el-button
                                                    @click="showModalAddRetencions(props.row)"
                                                    size="small"
                                                    type="danger"
                                                    round
                                                    style="width: 100%"
                                                > Agregar retenciones</el-button
                                                >
                                            </el-menu-item>

                                            <el-menu-item index="2-5">
                                                <el-button
                                                    @click="genSinglePdf(
                                                        props.row.uuid,
                                                        props.row.full_name,
                                                        props.row.correlative_account_number_system
                                                    )"
                                                    size="small"
                                                    type="success"
                                                    round
                                                    style="width: 100%"
                                                > cuenta de cobro</el-button
                                                >
                                            </el-menu-item>
                                        </el-submenu>
                                    </el-menu>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div class="block">
                            <template v-if="this.allpaymentAccounts">
                                <el-pagination
                                    layout="prev, pager, next"
                                    :total="pagination.total"
                                    :page-size="pagination.per_page"
                                    @current-change="changePage"
                                >
                                </el-pagination
                            ></template>
                        </div>
                    </el-col>
                </el-row>
            </el-card>
        </el-col>

        <!-- Modal Dialog change status and date of payment account -->
        <el-dialog
            title="Modificar Cuenta de Pago"
            width="25%"
        >
            <el-form :model="formDialogUpdate">
                <el-form-item>
                    <el-date-picker
                        type="date"
                        v-model="formDialogUpdate.created_at"
                        style="width: 100%"
                        placeholder="fecha solicitud"
                        autocomplete="off"
                        size="mini"
                    ></el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-select
                        v-model="formDialogUpdate.status"
                        placeholder="Estatus"
                        size="mini"
                    >
                        <el-option
                            v-for="item in StatusOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">Cancel</el-button>
                <el-button type="primary" @click="onSubmitModalForm()"
                >Guardar</el-button
                >
            </span>
        </el-dialog>

        <!-- Modal Dialog for add retencions -->
        <el-dialog
            title="Agregar retenciones"
            width="50%"
        >
            <el-form :model="formDialogRetencions">
                <el-form-item
                    v-for="(domain, index) in formDialogRetencions.retencions"
                    :label="'Retencion ' + index"
                    :key="domain.key"
                    :prop="'domains.' + index + '.value'"
                    :rules="{
                        required: true, message: 'La retencion no puede ser vacia', trigger: 'blur'
                    }"
                >
                    <el-input v-model="domain.retention_name" type="text" style="width: 30%"></el-input>
                    <el-input v-model="domain.retention_percent" style="width: 30%" type="number"></el-input>
                    <el-button size="small" type="danger" @click.prevent="removeDomain(domain)">Delete</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmitModalFormRetention('formDialogRetencions')">Guardar</el-button>
                    <el-button type="success" @click="addDomain">Agregar retencion</el-button>
                    <el-button @click="dialogFormAddRetencions = false">Cancel</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!-- <el-dialog
            :visible.sync="paypal.pay == 'paid'"
            class="payment-success"
        >
            <el-progress class="progress" type="circle" :percentage="paypal.percentage" status="success"></el-progress>
            <h3>Se han realizado los pagos correctamente por un valor de ${{paypal.amount}} USD</h3>
            <h4>Finalizando pago... {{paypal.percentage}} segundos</h4>
        </el-dialog> -->

        <!-- Modal para seleccion de fechas y descargar por ZIP las cuentas de cobro -->
        <el-dialog
            title="Extraer Zip por rango de fechas"
            width="50%"
        >
            <el-form ref="form" :model="zip_range_fechas">
                <el-form-item label="Rango de fechas">
                    <el-col :span="8">
                        <el-date-picker
                            v-model="fecha_inicio"
                            type="date"
                            placeholder="Fecha inicial"
                            format="yyyy/MM/dd"
                            value-format="yyyy-MM-dd"
                        >
                        </el-date-picker>
                    </el-col>
                    <el-col class="line" :span="1">-</el-col>
                    <el-col :span="8">
                        <el-date-picker
                            v-model="fecha_fin"
                            type="date"
                            placeholder="Fecha final"
                            format="yyyy/MM/dd"
                            value-format="yyyy-MM-dd"
                        >
                        </el-date-picker>
                    </el-col>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogZipGenerate = false">Cancel</el-button>
                <el-button @click="genPdfMaxibo()" size="small" type="primary"
                ><i class="el-icon-download"></i>&nbsp; Descargar</el-button
                >
            </span>
        </el-dialog>
        <!-- <el-dialog
            :title="'Pagos Paypal $' + paypal.amount + ' USD'"
            :visible.sync="paypal.pay && paypal.pay != 'paid'"
            :show-close="false"
            :close-on-click-modal="false"
        >
            <el-alert
                title="Para continuar con el pago introduzca el codigo que se ha enviado al correo electronico del administrador de IMUKO, Si no lo encuentras revisa el correo no deseado."
                type="success"
                :closable="false"
                class="alert-payment"
            >
            </el-alert>
            <CodeInput
                v-on:change="setCode"
                v-if="!paypal.loading"
                class="codeInput"
            />
            <div v-if="paypal.loading" class="loading-payment">
                <div v-loading="paypal.loading"></div>
                <h3>Enviando codigo de verificación...</h3>
            </div>
            <el-alert
                v-if="paypal.error"
                :title="paypal.error"
                type="error"
                effect="dark"
            >
            </el-alert>
            <el-button
                :loading="paypal.loadingPay"
                @click="sendPay()"
                :disabled="!paypal.code || paypal.code.length < 6"
                type="primary"
                class="pay"
                round
            >Pagar</el-button
            >
        </el-dialog> -->

        <!-- Modal para enviar las cuentas de cobro -->
        <SendPaymentAccountModal
            :displayModal="showSendPayModal"
            :closedModal="sendPaymentAccounts"
            :payAccounts="multipleSelection"
        />
    </el-container>
</template>

<script>
import axios from "axios";
import Search from "./Search";
import SendPaymentAccountModal from "./PaymentAccount/Modals/sendPaymentAccountModal";
import swal from "sweetalert";
import {myMixins} from "../Utils/mixins";
import {mapState, mapMutations, createLogger} from "vuex";
import CodeInput from "vue-verification-code-input";


export default {
    components: {
        Search,
        SendPaymentAccountModal,
        // CodeInput,
    },
    mixins: [myMixins],
    name: "PaymentAccountList",
    props: ["ListAccounts", "all"],
    computed: {
        ...mapState("auth", ["authenticate", "user_session"]),
    },
    created: function () {},
    data() {
        return {
            paypal: {
                status: false,
                amount: 0,
                pay: false,
                loading: true,
                loadingPay: false,
                code: null,
                error: false,
                percentage:0
            },
            zip_range_fechas: {},
            fecha_inicio: "",
            fecha_fin: "",
            allpaymentAccounts: false,
            paymentAccounts: [],
            pagination: [],
            link: "",
            body: "",
            formDialogUpdate: {
                created_at: "",
                status: "",
            },
            formDialogRetencions: {
                retencions: [{
                    key: 1,
                    retention_percent: '',
                    retention_name: '',
                }],
            },
            dialogFormVisible: false,
            dialogZipGenerate: false,
            dialogFormAddRetencions: false,
            StatusOptions: [
                {
                    value: "0",
                    label: "Pendiente",
                },
                {
                    value: "1",
                    label: "En proceso",
                },
                {
                    value: "2",
                    label: "Pagado",
                },
                {
                    value: "3",
                    label: "Negado",
                },
            ],
            multipleSelection: [],
            showSendPayModal: false,
            fullscreenLoading: false,
        };
    },
    methods: {
        changePage(page) {
            this.getPaymentAccounts(page);
        },
        checkTransaction(account){

        },
        getPaymentAccounts(page, form = {}) {
            // const all = this.allpaymentAccounts;
            // axios.defaults.headers.common[
            //     "Authorization"
            // ] = `Bearer ${this.$store.state.token}`;
            // const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/get-admin-payment-accounts/?all=${all}&page=${page}`;
            // axios
            //     .post(path, form)
            //     .then((response) => {
            //         this.pagination = response.data.pagination;
            //         var cuentas = new Array();
            //         var response = response.data.paymentAccounts.original.data;
            //         for (let i = 0; i < response.length; i++) {
            //             response[i].creado = this.printDateRequest(response[i].created_at);
            //             cuentas.push(response[i]);
            //         }
            //         this.paymentAccounts = cuentas;
            //         this.searchedPaymentAccounts = cuentas;
            //         this.loading = false;
            //     })
            //     .catch((error) => {});
        },
        getviewPdf(uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/pdf/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(
                        new Blob([response.data], {
                            type: "application/pdf",
                        })
                    );
                    this.link.href = url;
                    this.link.target = "_blank";
                    this.link.removeAttribute("download");
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        genPdf(uuid, full_name, system_id) {
            console.log("Descarga")
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/pdf/${uuid}`;
            axios
                .get(path, { responseType: "blob", Accept: "application/pdf" })
                .then((response) => {
                    const url = window.URL.createObjectURL(
                        new Blob([response.data], { type: "application/pdf" })
                    );
                    this.link.href = url;
                    // this.link.setAttribute("target", `_blank`);
                    this.link.setAttribute(
                        "download",
                        `${full_name.replace(" ", "-")}-cuenta-de-cobro-${system_id}.pdf`
                    );
                    this.body.appendChild(this.link);
                    this.link.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch((error) => {});
        },
        genSinglePdf(uuid, full_name, system_id) {
            console.log("Descarga")
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/pdf-single/${uuid}`;
            axios
                .get(path, { responseType: "blob", Accept: "application/pdf" })
                .then((response) => {
                    const url = window.URL.createObjectURL(
                        new Blob([response.data], { type: "application/pdf" })
                    );
                    this.link.href = url;
                    // this.link.setAttribute("target", `_blank`);
                    this.link.setAttribute(
                        "download",
                        `${full_name.replace(" ", "-")}-cuenta-de-cobro-${system_id}.pdf`
                    );
                    this.body.appendChild(this.link);
                    this.link.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch((error) => {});
        },

        genPdfMaxibo() {
            // this.fullscreenLoading = true;
            const formdata = new FormData();
            formdata.append("fecha_inicial", this.fecha_inicio);
            formdata.append("fecha_final", this.fecha_fin);
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment/massive-pdf`;

            axios
                .post(path, formdata, {
                    responseType: "blob",
                    Accept: "application/zip",
                })
                .then((response) => {
                    console.log(response.data);
                    const url = window.URL.createObjectURL(
                        new Blob([response.data], { type: "application/zip" })
                    );
                    this.link.href = url;
                    this.link.setAttribute("target", `_blank`);
                    this.link.setAttribute("download", `cuenta-de-cobro-mazibas.zip`);
                    this.body.appendChild(this.link);
                    this.link.click();
                    window.URL.revokeObjectURL(url);
                    this.fullscreenLoading = false;
                })
                .catch((error) => {
                    console.log(error);
                });
        },

        genExcel() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/get/excel`;
            axios
                .get(path, { responseType: "blob", Accept: "application/excel" })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    this.link.setAttribute("download", `CuentasdeCobroImuko.xlsx`); //or any other extension
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        printStatusPaymentAccount(code_status) {
            switch (code_status) {
            case "0":
                status = `Pendiente`;
                break;
            case "1":
                status = "En proceso";
                break;
            case "2":
                status = "Pagado";
                break;
            case "3":
                status = "Negado";
                break;

            default:
                status = "failed";
                break;
            }
            return status;
        },
        showModalEdit(paymentAccount) {
            this.dialogFormVisible = true;
            this.formDialogUpdate.created_at = paymentAccount.created_at;
            this.formDialogUpdate.status = paymentAccount.status;
            this.formDialogUpdate.uuid = paymentAccount.uuid;
        },
        showModalAddRetencions(paymentAccount) {
            this.dialogFormAddRetencions = true;
            this.formDialogRetencions.uuid = paymentAccount.uuid;
        },
        onSubmitModalForm() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account-update-status/${this.formDialogUpdate.uuid}`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: this.formDialogUpdate,
            })
                .then((response) => {
                    if (response.data.type == "error") {
                        swal({
                            title: response.data.title,
                            text: response.data.msg,
                            icon: response.data.type,
                        });
                    } else {
                        this.alertSuccess();
                        this.$emit("onSubmitModalForm");
                    }
                    this.dialogFormVisible = false;
                })
                .catch((error) => {
                    this.alertError();
                });
        },
        onSubmitModalFormRetention() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/add-retentions`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: this.formDialogRetencions,
            })
                .then((response) => {
                    if (response.data.type == "error") {
                        swal({
                            title: response.data.title,
                            text: response.data.msg,
                            icon: response.data.type,
                        });
                    } else {
                        this.alertSuccess();
                        this.$emit("onSubmitModalFormRetention");
                    }
                    this.dialogFormAddRetencions = false;
                })
                .catch((error) => {
                    this.alertError();
                });
        },
        alertSuccess() {
            this.$notify.success({
                title: "Modificacion Exitosa",
                message: "¡En momentos se generara un pdf!",
                offset: 100,
            });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },
        genInvoice(uuid, full_name, system_id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/invoice/pdf/${uuid}`;
            axios
                .get(path, { responseType: "blob", Accept: "application/pdf" })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    this.link.setAttribute(
                        "download",
                        `comprobante-pago-${full_name.replace(" ", "-")}-${system_id}.pdf`
                    ); //or any other extension
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        getPaymentSecuritySocial(uuid, full_name, system_id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/pdf-security-social-certificate/${uuid}`;
            axios
                .get(path, { responseType: "blob", Accept: "application/pdf" })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    this.link.setAttribute(
                        "download",
                        `comprobante-pago-seguridad-social-${full_name.replace(
                            " ",
                            "-"
                        )}-${system_id}.pdf`
                    ); //or any other extension
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        toggleSelection(rows) {
            if (rows) {
                rows.forEach((row) => {
                    this.$refs.multipleTable.toggleRowSelection(row);
                });
            } else {
                this.$refs.multipleTable.clearSelection();
            }
        },

        /**  {nombre:'jeferon',checkPaymentAccountPaypal(){ }, sasd }  **/

        checkPaymentAccountPaypal() {
            const validatePaypal = this.multipleSelection.filter(
                (account) => account.bank_name == "Paypal"
            );
            const validateOtherBank = this.multipleSelection.filter(
                (account) => account.bank_name != "Paypal"
            );
            if (validatePaypal.length > 0 && validateOtherBank.length == 0) {
                this.paypal.status = true;
                const totalPayouts = validatePaypal.reduce(
                    (acumulador, valorActual) => {
                        return acumulador + parseFloat(valorActual.value_service_number);
                    },
                    0
                );
                this.paypal.amount = totalPayouts;
            } else {
                this.paypal.status = false;
            }
        },
        pay() {
            this.paypal.pay = true;
            this.generateCode();
        },
        sendPay() {
            this.paypal.error = null;
            this.paypal.loadingPay = true;
            const batchs = [];
            this.multipleSelection.forEach((account) => {
                batchs.push({
                    account_id: account.id,
                    recipient_type: "EMAIL",
                    receiver: "sb-sn7yj8598771@business.example.com",
                    note: account.description_service,
                    senderItemId: "",
                    amount: {
                        currency: "USD",
                        value: account.value_service_number,
                    },
                });
            });

            const paymentBatch = {
                bank: "Paypal",
                codeSecurity: this.paypal.code,
                emailSubject: "Pago",
                batch: batchs,
            };
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payments/pay`;
            axios.post(path, paymentBatch).then((response) => {
                this.paypal.loadingPay = false;
                if (response.data.status == "-1") {
                    this.paypal.error = response.data.message;
                    return;
                }
                this.paypal.pay = "paid";
                this.$refs.multipleTable.clearSelection();
                this.finishPayment();

            });
        },
        generateCode() {
            this.paypal.loading = true;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payments/code`;
            axios.post(path).then((response) => {
                this.paypal.loading = false;
                if (response.status == -1) {
                    return (this.paypal.error = response.message);
                }
            });
        },
        setCode(code) {
            this.paypal.code = code;
        },

        finishPayment() {
            let seconds = 1;
            const finish = window.setInterval(() =>  {
                if(seconds <= 5){
                    this.paypal.percentage = seconds/5 * 100;
                    seconds++;
                }else {
                    clearInterval(finish);
                    window.location.reload();

                }
            },1000);
        },
        handleSelectionChange(val) {
            val.pay_date = new Date();
            this.multipleSelection = val;
            this.checkPaymentAccountPaypal();
        },
        sendPaymentAccounts() {
            this.showSendPayModal = false;
        },
        filterHandler(value, row, column) {
            return row.bank_name == value;
        },
        removeDomain(item) {
            var index = this.formDialogRetencions.retencions.indexOf(item);
            if (index !== -1) {
                this.formDialogRetencions.retencions.splice(index, 1);
            }
        },
        addDomain() {
            this.formDialogRetencions.retencions.push({
                key: Date.now(),
                value: ''
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
    },
    mounted: function () {
        this.link = document.createElement("a");
        this.body = document.body;
    },
    watch: {
        ListAccounts: function (newVal, oldVal) {
            this.paymentAccounts = newVal;
        },
        "$route.query.all": {
            immediate: true,
            handler(all) {
                this.allpaymentAccounts = all;
                this.getPaymentAccounts(1);
            },
        },
    },
};
</script>
<style>
.el-container {
    min-height: calc(100vh - 180px);
}

.codeInput {
    width: auto !important;
    margin-bottom: 20px;
}

.alert-payment {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pay {
    margin-top: 25px;
}

.loading-payment h3 {
    padding-top: 25px;
}

</style>
