<template lang="html">
    <el-row type="flex"  justify="center">
        <el-col :xs="21" :sm="24" :md="12" :lg="12" :xl="12">
            <el-form ref="form" :model="form" size="medium">
                <el-row :gutter="20">
                    <el-col  :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item>
                            <el-input
                                v-model="form.term"
                                placeholder="Ingresa un nombre o email para buscar"
                                suffix-icon="el-icon-search"
                                id="term"
                            >
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col  :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item>
                            <el-select
                                v-model="form.status"
                                id="status" placeholder="Estado"
                            >
                                <el-option key="pendiente" label="Pendiente" value="pendiente"></el-option>
                                <el-option key="aprobado" label="Aprobado" value="aprobado"></el-option>
                                <el-option key="vencido" label="Vencido" value="vencido"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col  :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item>
                            <el-select
                                v-model="form.signature"
                                id="signature"
                                placeholder="Firma"
                            >
                                <el-option key="1" label="Firmado" value="1"></el-option>
                                <el-option key="0" label="Por firmar" value="0"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <el-button type="primary" size="small" @click="getContracts(1, form)" round><i class="fas fa-search"></i> Buscar</el-button>
                    <el-button size="small" @click="resetForm('form')" round><i class="fas fa-sync-alt"></i> Limpiar</el-button>
                </el-col>
            </el-form>
        </el-col>
    </el-row>
</template>

<script>
import {myMixins} from '../Utils/mixins';

export default {
    name:"SearchContract",
    data(){
        return{
            searchSetTimeOut:'',
            form: {
                term:'',
                status:'',
                signature:'',
            },
            searchData:''
        };
    },
    props: ["getContracts"],
    mixins:[myMixins],
    methods: {
        resetForm(formName) {
            this.form.term = "";
            this.form.status = "";
            this.form.signature = "";
            this.$props.getContracts(1)
        }
    },
    created() {
    },
};

</script>

<style>
#term {
    border-radius: 12px !important;
    height: 45px !important;
}
.large{
    width:600px;
    background-color:  #f7f7f7;
}
</style>
