<template lang="html">
    <el-row type="flex"  justify="center">
        <el-col :xs="21" :sm="24" :md="12" :lg="12" :xl="12">
            <el-form ref="form" :model="form" size="medium">    
                <el-row :gutter="20">
                    <el-col  :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item v-if="!paymentAccounts" >
                            <el-input
                                v-model="form.term" 
                                placeholder="Ingresa un nombre o email para buscar"
                                suffix-icon="el-icon-search"
                                id="term"
                            >
                            </el-input>
                        </el-form-item>
                        <el-form-item v-if="paymentAccounts" >
                            <el-input
                                v-bind:class="{large: paymentAccounts}" 
                                v-model="form.term" 
                                placeholder="Ingresa un nombre o email para buscar"
                                suffix-icon="el-icon-search"
                                id="term"
                                v-on:input="searchpaymentAccounts(form)"
                            >
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20" v-if="!paymentAccounts" >
                    <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="8">
                        <el-form-item >
                            <el-select v-model="form.lenguages" multiple filterable placeholder="Lenguajes Prog.">
                                <el-option
                                    v-for="item in lenguages"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="8">
                        <el-form-item >
                            <el-select v-model="form.frameworks" multiple filterable placeholder="Framework">
                                <el-option
                                    v-for="item in frameworks"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="8">
                        <el-form-item prop="leveleducation" class="label-form">
                            <el-select v-model="form.leveleducation" placeholder="Educación">
                                <el-option label="Técnico" value="tecnico"></el-option>
                                <el-option label="Tecnologo" value="tecnologo"></el-option>
                                <el-option label="Profesional" value="profesional"></el-option>
                                <el-option label="Empírico" value="empirico"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-col v-if="!paymentAccounts" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <el-button type="primary" size="small" @click="getCandidate(1, form)" round><i class="fas fa-search"></i> Buscar</el-button>
                    <el-button size="small" @click="resetForm('form')" round><i class="fas fa-sync-alt"></i> Limpiar</el-button>
                </el-col>
            </el-form>
        </el-col>
    </el-row>        
</template>

<script>
import axios from 'axios';
import {myMixins} from '../Utils/mixins';

export default {
    name:"Search",
    data(){
        return{
            searchSetTimeOut:'',
            form: {
                term:'',
                leveleducation:'',
                lenguages: [],
                frameworks: []
            },
            searchData:'',
            lenguages: [],
            frameworks: []
                
        };
    },
    props: ["getCandidate", "paymentAccounts", "getPaymentAccounts"],
    mixins:[myMixins],
    methods: {
        searchpaymentAccounts(){
            clearTimeout(this.searchSetTimeOut)
            this.searchSetTimeOut = setTimeout(this.getSearch, 400)
        },
        getSearch(){
            if(this.paymentAccounts & this.form.term.length > 3){
                this.getPaymentAccounts(1, this.form)
            }else if (this.form.term.length == 0){  
                this.$props.getPaymentAccounts(1) 
            }
        },
        getLenguages(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/lenguage`
            axios.get(path).then((response) => {
                this.lenguages = response.data;
            })
                .catch((error) => {
                })
        },
        getFrameworks(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/frameworks`
            axios.get(path).then((response) => {
                this.frameworks = response.data;
            })
                .catch((error) => {
                })
        },
        resetForm(formName) {
            this.form.term = ""; 
            this.form.leveleducation = "";
            this.form.frameworks, this.form.lenguages = [];
            if(this.paymentAccounts){
                this.$props.getPaymentAccounts(1)
            }else{
                this.$props.getCandidate(1)
            }  
        }
    },
    created() {
        this.getLenguages();
        this.getFrameworks();
    },
};

</script>

<style>
    #term {
        border-radius: 12px !important;
        height: 45px !important;
    }
    .large{
        width:600px;
        background-color:  #f7f7f7;
        }
</style>