<template>
    <el-card class="box-card">
        <div class="card-body imuk-card">
            <el-form
                ref="rewardForm"
                :model="form"
                :label-position="labelPosition"
                :rules="rules"
                label-width="100px"
                style="max-width: 100%"
            >
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Title" prop="title">
                            <el-input
                                v-model="form.title"
                                placeholder=""
                                size="large"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Value" prop="value">
                            <el-input
                                v-model="form.value"
                                placeholder=""
                                size="large"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Stock" prop="stock">
                            <el-input
                                v-model="form.stock"
                                placeholder=""
                                size="large"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Description" prop="description">
                            <el-input
                                type="textarea"
                                v-model="form.description"
                                placeholder=""
                                size="large"
                                maxlength="600"
                                show-word-limit
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Conditions" prop="conditions">
                            <el-input
                                type="textarea"
                                v-model="form.conditions"
                                placeholder=""
                                size="large"
                                maxlength="600"
                                show-word-limit
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12">
                        <el-button size="large" class="button-login" type="primary" @click="onSubmit" round>
                            <font-awesome-icon icon="fa-solid fa-arrow-right-to-bracket" pull="left"/> Save
                        </el-button>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </el-card>
</template>

<script>
import axios from "axios";

export default {
    name: 'Reward Form',
    data() {
        return {
            labelPosition: "top",
            organization: {},
            is_periodic: false,
            form: {
                client_id: 1,
                title: "",
                stock:"",
                value: "",
                description: "",
                conditions:"",
                duration_start: "",
                duration_end: ""
            },
            // types_targets: [
            //     {
            //         "name": "company"
            //     },
            //     {
            //         "name": "personal"
            //     }
            // ],
            rules: {
                title: [
                    { required: true, message: "Title is required", trigger: "blur" },
                ],
                stock: [
                    { required: true, message: "Stock is required", trigger: "blur" },
                ],
                value: [
                    { required: true, message: "Value is required", trigger: "blur" },
                ],
                description: [
                    { required: false, message: "Description is null", trigger: "blur" },
                ],
                conditions:[
                    { required: false, message: "Conditions is null", trigger: "blur"}
                ]
            },
        }
    },
    methods: {
        onSubmit() {
            const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/gamification/reward`;

            this.$refs['rewardForm'].validate((valid) => {
                if (valid) {

                    this.form.client_id = this.organization.org.id;

                    axios({
                        url: path,
                        method: "POST",
                        data: this.form,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                        },
                    })
                        .then((response) => {
                            console.log("Save", response)
                            this.$refs["rewardForm"].resetFields();
                            this.$emit("syncReward")
                    })
                        .catch((error) => {
                            
                    });
                } else {
                    console.log("empty fields")
                }
            })
        },
        getOrganizationData() {
            this.organization = JSON.parse(this.$store.state.user)
        },
    },
    created() {
        this.getOrganizationData();
    }
}
</script>

<style>

.link-menu {
    text-decoration: none;
}

</style>