<template>
    <el-card class="box-card">
        <div class="card-body imuk-card">
            <el-alert title="Each of the loaded targets will be related to the selected period, you can create several targets for a period but they must not exceed 100% in weight." type="info" show-icon />

            <el-form
                ref="targetForm"
                :model="form"
                :label-position="labelPosition"
                :rules="rules"
                label-width="100px"
                style="max-width: 100%; margin-top: 3%"
                :disabled="this.weight_available == 0"
            >
                <el-row :gutter="20">
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Title" prop="title">
                            <el-input
                                v-model="form.title"
                                placeholder=""
                                size="large"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item class="label-form" label="Weight" prop="value">
                                <el-input-number
                                    v-model="form.value"
                                    placeholder=""
                                    size="large"
                                    :max="this.weight_available"
                                ></el-input-number>
                                <div class="el-form-item__info">Available weight: {{ this.weight_available }}%</div>
                            </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Type" prop="type">
                            <el-select size="large" v-model="form.type" placeholder="Select">
                                <el-option
                                    v-for="item in types_targets"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.name">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Description" prop="description">
                            <el-input
                                type="textarea"
                                v-model="form.description"
                                placeholder=""
                                size="large"
                                maxlength="600"
                                show-word-limit
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="10" v-if="form.type == 'challenge'">
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="Start date" prop="duration_start">
                            <el-date-picker
                                v-model="form.duration_start"
                                type="date"
                                size="large"
                                value-format="yyyy-MM-dd"
                                placeholder="Pick a day">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <el-form-item class="label-form" label="End date" prop="duration_end">
                            <el-date-picker
                                size="large"
                                v-model="form.duration_end"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="Pick a day">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- <el-row :gutter="10" v-if="!is_periodic">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="End date" prop="duration_end">
                            <el-date-picker
                                size="large"
                                v-model="form.duration_end"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="Pick a day">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row> -->
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12">
                        <el-button size="large" class="button-login" type="primary" @click="onSubmit" round>
                            <font-awesome-icon icon="fa-solid fa-arrow-right-to-bracket" pull="left"/> Save
                        </el-button>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </el-card>
</template>

<script>
import axios from "axios";

export default {
    name: 'Target Form',
    props: ['weight_available'],
    data() {
        return {
            labelPosition: "top",
            organization: {},
            is_periodic: false,
            available_weight: 100,
            form: {
                client_id: 1,
                title: "",
                type: "",
                value: "",
                description: "",
                duration_start: "",
                duration_end: ""
            },
            types_targets: [
                {
                    "name": "company"
                },
                {
                    "name": "personal"
                }
            ],
            rules: {
                title: [
                    { required: true, message: "Title is required", trigger: "blur" },
                ],
                type: [
                    { required: true, message: "Type is required", trigger: "blur" },
                ],
                value: [
                    { required: true, message: "Value is required", trigger: "blur" },
                ],
                description: [
                    { required: false, message: "Description is null", trigger: "blur" },
                ]
            },
        }
    },
    methods: {
        onSubmit() {
            this.$refs['targetForm'].validate((valid) => {
                if (valid) {
                    this.$emit("syncTarget", this.form)
                    this.$refs["targetForm"].resetFields();
                } else {
                    console.log("empty fields")
                }
            })
        },
        getOrganizationData() {
            this.organization = JSON.parse(this.$store.state.user)
        },
    },
    created() {
        this.getOrganizationData();
    }
}
</script>

<style>

.link-menu {
    text-decoration: none;
}

.el-form-item__info {
    color: #73767a;
    font-size: 12px;
    line-height: 1;
    padding-top: 2px;
    position: absolute;
    top: 100%;
    left: 0;
}

</style>