<template>
    <el-card class="box-card">
        <div class="card-body imuk-card">
            <el-row>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <el-select v-model="select_period" style="margin-bottom: 3%;" placeholder="Select" size="large">
                        <el-option
                            v-for="item in period"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        />
                    </el-select>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                    <el-button size="large" class="button-login" type="success" @click="onSubmit()" round>
                        <font-awesome-icon icon="fa-solid fa-bullseye fa-2xs" pull="left"/> create target
                    </el-button>
                </el-col>
                <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                    <el-button size="large" class="button-login" type="primary" @click="createByIA()" round>
                        <font-awesome-icon icon="fa-solid fa-bullseye fa-2xs" pull="left"/> create target by IA
                    </el-button>
                </el-col>
            </el-row>
        </div>
    </el-card>
<!-- 
    <el-dialog title="Generate targets by IA" :v-model="display_modal_gpt">
        <el-form :model="form">
            <el-form-item label="Promotion name" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <template #footer>
            <span class="dialog-footer">
                <el-button type="primary" @click="display_modal_gpt = false">Confirm</el-button>
            </span>
        </template>
    </el-dialog> -->

    <!-- Modal for form target edit -->
    <el-dialog width="60%" v-model="display_modal_gpt" center>
        <template #header="{ close, titleId, titleClass }">
            <div class="my-header">
                <h4 :id="titleId" :class="titleClass">Generate targets by IA</h4>
            </div>
        </template>
        <!-- <template #body> -->
        <div>
            response: 
            {{ message_gpt }}
        </div>
        <el-row>
            <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form :model="form_gpt">
                    <el-input placeholder="Indicamos que objetivo general quieres alcanzar este quarter" v-model="form_gpt.message" autocomplete="off"></el-input>
                </el-form>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <span class="dialog-footer">
                    <el-button type="primary" @click="sendToGPT()">Send message</el-button>
                    <el-button type="primary" @click="display_modal_gpt = false">Close</el-button>
                </span>
            </el-col>
        </el-row>
        <!-- </template> -->
        <el-row>
            
        </el-row>
    </el-dialog>

</template>

<script>
    import axios from "axios";
    import { ElButton, ElDialog } from 'element-plus'
    import { CircleCloseFilled } from '@element-plus/icons-vue'

    export default {
        name: "PeriodField",
        props: ['periodicity'],
        data() {
            return {
                select_period: "",
                organization: {},
                display_modal_gpt: false,
                form_gpt: {
                    message: ""
                },
                message_gpt: "",
                period: [
                    {
                        value: 1,
                        label: 'January',
                    },
                    {
                        value: 2,
                        label: 'February',
                    },
                    {
                        value: 3,
                        label: 'March',
                    }
                ]
            };
        },
        methods: {
            onSubmit() {
                this.$emit("showForm", this.select_period)
            },
            createByIA() {
                this.$emit("showFormChatGPT")
            },
            getOrganizationData() {
                this.organization = JSON.parse(this.$store.state.user)
            },
            displayModalGpt() {
                this.display_modal_gpt = true
            },
            sendToGPT() {
                axios({
                        url: "https://api.openai.com/v1/chat/completions",
                        method: "POST",
                        data: {
                            "model": "gpt-3.5-turbo",
                            // "prompt": "Say this is a test",
                            "messages": [
                                {
                                    "role": "system",
                                    "content": "You are a helpful assistent"
                                },
                                {
                                    "role": "user",
                                    "content": this.form_gpt.message
                                }
                            ],
                            "max_tokens": 200,
                            "temperature": 0
                        },
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                            "OpenAI-Organization": "org-f8NoORUFN8Op7VilOci92BRz",
                            "Authorization": "Bearer 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"
                        }
                    })
                        .then(response => {
                            console.log("RESULTADO", response.data.choices[0]["message"]["content"])
                            this.message_gpt = response.data.choices[0]["message"]["content"]
                        })
                        .catch(error => {
                            this.alertError(error.response.data);
                            this.fullscreenLoading = false;
                        });
            },
            getPeriodicity() {
                switch (this.periodicity) {
                    case 1: // Monthly
                        this.period = [
                            {
                                value: 1,
                                label: 'January',
                            },
                            {
                                value: 2,
                                label: 'February',
                            },
                            {
                                value: 3,
                                label: 'March',
                            },
                            {
                                value: 4,
                                label: 'April',
                            },
                            {
                                value: 5,
                                label: 'May',
                            },
                            {
                                value: 6,
                                label: 'June',
                            },
                            {
                                value: 7,
                                label: 'July',
                            },
                            {
                                value: 8,
                                label: 'August',
                            },
                            {
                                value: 9,
                                label: 'September',
                            },
                            {
                                value: 10,
                                label: 'Octuber',
                            },
                            {
                                value: 11,
                                label: 'November',
                            },
                            {
                                value: 12,
                                label: 'December',
                            }
                        ]
                        break;
                    case 2: // Quartely
                        this.period = [
                            {
                                value: 1,
                                label: 'January - March',
                            },
                            {
                                value: 2,
                                label: 'April - June',
                            },
                            {
                                value: 3,
                                label: 'July - September',
                            },
                            {
                                value: 4,
                                label: 'Octuber - December',
                            }
                        ]
                        
                        break;
                    case 3: // Semiannual
                        this.period = [
                            {
                                value: 1,
                                label: 'January - June',
                            },
                            {
                                value: 2,
                                label: 'July - December',
                            }
                        ]
                        break;
                    case 4: // Yearly
                        this.period = [
                            {
                                value: 1,
                                label: '2024',
                            }
                        ]
                        break;
                    default:
                        break;
                }
            }
        },
        created() {
            this.getOrganizationData();
            this.getPeriodicity();
        }
    };
</script>