<template>
    <el-card class="box-card">
        <div class="card-body imuk-card">
            <el-form
                ref="teamForm"
                :model="form"
                :label-position="labelPosition"
                :rules="rules"
                label-width="100px"
                style="max-width: 100%"
            >
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Name" prop="name">
                            <el-input
                                v-model="form.name"
                                placeholder=""
                                size="large"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Area" prop="area_id">
                            <el-select size="large" v-model="form.area_id" placeholder="Select">
                                <el-option
                                    v-for="item in areas"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Team leader" prop="leader_id">
                            <el-select size="large" v-model="form.leader_id" placeholder="Select">
                                <el-option
                                    v-for="item in users_org"
                                    :key="item.first_name"
                                    :label="item.first_name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-form-item class="label-form" label="Description" prop="description">
                            <el-input
                                type="textarea"
                                v-model="form.description"
                                placeholder=""
                                size="large"
                                maxlength="600"
                                show-word-limit
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12">
                        <el-button size="large" class="button-login" type="primary" @click="onSubmit" round>
                            <font-awesome-icon icon="fa-solid fa-arrow-right-to-bracket" pull="left"/> Save
                        </el-button>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </el-card>
</template>

<script>
import axios from "axios";

export default {
    name: 'Team Form',
    data() {
        return {
            labelPosition: "top",
            organization: {},
            form: {
                name: "",
                area_id: "",
                description: "",
                client_id: 1,
                leader_id: "",
            },
            rules: {
                name: [
                    { required: true, message: "Name is required", trigger: "blur" },
                ],
                description: [
                    { required: false, message: "Description is null", trigger: "blur" },
                ],
                area_id: [
                    {
                        required: true,
                        message: "Area is required",
                        trigger: "blur",
                    },
                ],
                leader_id: [
                    {
                        required: true,
                        message: "Leader is required",
                        trigger: "blur",
                    },
                ]
            },
            areas: [],
            users_org: []
        }
    },
    methods: {
        onSubmit() {
            const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/gamification/team`;

            this.$refs['teamForm'].validate((valid) => {
                if (valid) {
                    
                    this.form.client_id = this.organization.org.id;

                    axios({
                        url: path,
                        method: "POST",
                        data: this.form,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                        },
                    })
                        .then((response) => {
                            this.$refs["teamForm"].resetFields();
                            this.$emit("syncTeams")
                    })
                        .catch((error) => {
                            
                    });
                } else {
                    this.fullScreenLoading = false
                    console.log("Campos vacios")
                }
            })
        },
        getAreas() {
            const path = `https://www.targetsia.xyz/api/gamification/area`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            axios
                .get(path)
                .then((response) => {
                    this.areas = response.data;
                })
                .catch((error) => { });
        },
        getUsers() {
            const path = `https://www.targetsia.xyz/api/v2/organization/${this.organization.org.id}/users/all`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            axios
                .get(path)
                .then((response) => {
                    this.users_org = response.data;
                })
                .catch((error) => { });
        },
        getOrganizationData() {
            this.organization = JSON.parse(this.$store.state.user)
        },
    },
    created() {
        this.getOrganizationData();
        this.getAreas();
        this.getUsers();
    }
}
</script>

<style>

.link-menu {
    text-decoration: none;
}

</style>