<template lang="html">
    <el-container>
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="22">
            <h2 class="title-form">
                <span>
                    <i class="el-icon-s-platform"></i>
                    Registrate como Desarrollador
                </span>
            </h2>
            <p class="description-title">
                Gracias por querer ser parte de la familia IMUKO, conociendo tus preferencias, podremos elegir el mejor proyecto para ti.
            </p>
            <el-row type="flex" justify="center">
                <el-col :xs="21" :sm="24" :md="18" :lg="18" :xl="18">
                    <el-card class="box-card">
                        <el-row :gutter="20">
                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="col-form">
                                <div class="card-body" style="padding: 0px;">
                                    <form-wizard @on-complete="onSubmit" color="#3498db" error-color="#ff4949" title="" subtitle="" style="font-weight: 600 !important;">
                                        <tab-content title="Información Personal" :before-change="validateFirstStep">
                                            <el-form :inline="true" ref="infoForm" :model="infoForm" :rules="rulesInf" size="medium" label-width="100%" label-position="left" class="form">
                                                <el-row :gutter="20">
                                                    <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="1">
                                                        <el-form-item label="Nombre" prop="namecandidate" class="label-form">
                                                            <el-input  placeholder="" v-model="infoForm.namecandidate"></el-input>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="1">
                                                        <el-form-item label="Apellido" prop="lastnamecandidate" class="label-form">
                                                            <el-input  placeholder="" v-model="infoForm.lastnamecandidate"></el-input>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="1">
                                                        <el-form-item label="Edad" prop="agecandidate" class="label-form">
                                                            <el-input  placeholder="" v-model="infoForm.agecandidate"></el-input>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="1">
                                                        <el-form-item label="Telefono" prop="phonecandidate" class="label-form">
                                                            <el-input  placeholder="" v-model="infoForm.phonecandidate"></el-input>
                                                        </el-form-item>
                                                    </el-col>
                                                </el-row>
                                                <el-row :gutter="20">
                                                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="1">
                                                        <el-form-item label="Email" prop="emailcandidate" class="label-form">
                                                            <el-input  placeholder="" v-model="infoForm.emailcandidate"></el-input>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="1">
                                                        <el-form-item label="País de residencia" prop="country" class="label-form">
                                                            <el-select v-on:change="getDepartments()" id="department" v-model="infoForm.country" filterable placeholder="Seleccione...">
                                                                <el-option
                                                                    v-for="item in countries"
                                                                    :key="item.id"
                                                                    :label="item.name"
                                                                    :value="item.id">
                                                                </el-option>
                                                            </el-select>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="1">
                                                        <!--  <el-form-item label="Departamento" prop="department" class="label-form">
                                  <el-select v-on:change="getCities()" v-model="infoForm.department" filterable placeholder="Seleccione...">
                                    <el-option
                                      v-for="item in departments"
                                      :key="item.id"
                                      :label="item.name"
                                      :value="item.id">
                                    </el-option>
                                  </el-select>
                                </el-form-item>-->
                                                    </el-col>
                                                </el-row> 
                                                <el-row :gutter="20" type="flex" justify="left">
                                                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                        <el-input
                                                            type="textarea"
                                                            :rows="4"
                                                            placeholder="Cuéntanos que te apasiona: desarrollar, viajar, futbol, videojuegos, otros..."
                                                            v-model="infoForm.descriptioncandidate">
                                                        </el-input>
                                                    </el-col>
                                                </el-row>
                                            </el-form>
                                        </tab-content>
                                        <tab-content title="Skills" :before-change="validateSkills">
                                            <el-form :inline="true" ref="skiForm" :model="skiForm" :rules="rulesEdu" size="medium" label-width="100%" label-position="left" class="form">
                                                <el-row :gutter="20" type="flex" justify="center">
                                                    <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="1">
                                                        <el-form-item label="Educación" prop="leveleducation" class="label-form">
                                                            <el-select @change="education" v-model="skiForm.leveleducation" placeholder="Seleccione...">
                                                                <el-option label="Técnico" value="tecnico"></el-option>
                                                                <el-option label="Tecnologo" value="tecnologo"></el-option>
                                                                <el-option label="Profesional" value="profesional"></el-option>
                                                                <el-option label="Empírico" value="empirico"></el-option>
                                                            </el-select>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="1">
                                                        <el-form-item label="Institución" prop="institutioncandidate" class="label-form">
                                                            <el-input :disabled="showE" placeholder="Universidad nacional" v-model="skiForm.institutioncandidate"></el-input>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="1">
                                                        <el-form-item label="Profesión" prop="profession" class="label-form">
                                                            <el-input :disabled="showE" placeholder="Ingeniero de sistemas" v-model="skiForm.profession"></el-input>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="1">
                                                        <el-form-item label="Ingles" prop="bilinguecandidate" class="label-form">
                                                            <el-select v-model="skiForm.bilinguecandidate" placeholder="Seleccione...">
                                                                <el-option label="Si" value="si"></el-option>
                                                                <el-option label="No" value="no"></el-option>
                                                            </el-select>
                                                        </el-form-item>
                                                    </el-col>
                                                </el-row>
                                                <el-row :gutter="20" type="flex" justify="center">
                                                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="1">
                                                        <el-form-item label="Área" prop="areadevelop" class="label-form">
                                                            <el-radio-group v-model="skiForm.areadevelop" size="mini">
                                                                <el-radio label="Frontend" border></el-radio>
                                                                <el-radio label="Backend" border></el-radio>
                                                                <el-radio label="Fullstack" border></el-radio>
                                                                <el-radio label="DevOps" border></el-radio>
                                                            </el-radio-group>
                                                        </el-form-item>
                                                    </el-col>
                                                </el-row>
                                                <el-row :gutter="20" type="flex" justify="center">
                                                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="1">
                                                        <el-form-item label="¿En que lenguaje te apasiona programar?" prop="lenguajes" class="label-form">
                                                            <el-select v-model="skiForm.lenguajes" multiple filterable placeholder="Select">
                                                                <el-option
                                                                    v-for="item in lenguajes"
                                                                    :key="item.id"
                                                                    :label="item.name"
                                                                    :value="item.id">
                                                                </el-option>
                                                            </el-select>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="1">
                                                        <el-form-item label="Otros lenguajes" class="label-form">
                                                            <el-input v-model="skiForm.lenguajeplus"></el-input>
                                                        </el-form-item>
                                                    </el-col>
                                                </el-row>
                                                <el-row :gutter="20" type="flex" justify="center">
                                                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="1">
                                                        <el-form-item label="¿Tu libreria o Framework favorito es?" prop="frameworks" class="label-form">
                                                            <el-select v-model="skiForm.frameworks" multiple filterable placeholder="Select">
                                                                <el-option
                                                                    v-for="item in frameworks"
                                                                    :key="item.id"
                                                                    :label="item.name"
                                                                    :value="item.id">
                                                                </el-option>
                                                            </el-select>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="1">
                                                        <el-form-item label="Otros Frameworks" class="label-form">
                                                            <el-input v-model="skiForm.frameworksplus"></el-input>
                                                        </el-form-item>
                                                    </el-col>
                                                </el-row>
                                            </el-form>
                                        </tab-content>
                                        <tab-content title="Experiencia e Intereses">
                                            <el-form :inline="true" ref="expForm" :model="expForm" :rules="rulesEx" size="medium" label-width="100%" label-position="left" class="form">
                                                <el-row :gutter="20">
                                                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="1">
                                                        <el-form-item label="¿Actualmente estas?" prop="interestcandidate" class="label-form">
                                                            <el-select v-model="expForm.interestcandidate" placeholder="Seleccione...">
                                                                <el-option label="Trabajando en empresa" value="Trabajando en empresa"></el-option>
                                                                <el-option label="Buscando" value="Buscando"></el-option>
                                                                <el-option label="Soy freelance" value="Soy freelance"></el-option>
                                                                <el-option label="Disponible" value="Disponible"></el-option>
                                                            </el-select>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="1">
                                                        <el-form-item label="Aspiración Salarial" prop="salarycandidate" class="label-form">
                                                            <el-select v-model="expForm.salarycandidate" placeholder="Seleccione...">
                                                                <el-option label="$1.000.000 a $2.000.000" value="$1.000.000 a $2.000.000"></el-option>
                                                                <el-option label="$2.100.000 a $3.000.000" value="$2.100.000 a $3.000.000"></el-option>
                                                                <el-option label="$3.100.000 a $4.000.000" value="$3.100.000 a $4.000.000"></el-option>
                                                                <el-option label="$4.100.000 a $5.000.000" value="$4.100.000 a $5.000.000"></el-option>
                                                                <el-option label="Mas de $5.000.000" value="Mas de $5.000.000"></el-option>
                                                            </el-select>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="1">
                                                        <el-form-item label="Precio hora (dolares)" prop="hourpricecandidate" class="label-form">
                                                            <el-input  placeholder="$ 20" v-model="expForm.hourpricecandidate"></el-input>
                                                        </el-form-item>
                                                    </el-col>
                                                </el-row>
                                                <el-row :gutter="20" justify="center">
                                                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="1">
                                                        <el-form-item label="Disponibilidad" prop="availabalitycandidate" class="label-form">
                                                            <el-select v-model="expForm.availabalitycandidate" placeholder="Seleccione...">
                                                                <el-option label="Por horas" value="hours"></el-option>
                                                                <el-option label="Medio tiempo" value="part-time"></el-option>
                                                                <el-option label="Tiempo completo" value="full-time"></el-option>
                                                            </el-select>
                                                        </el-form-item>
                                                    </el-col>
                                                    <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="1">
                                                        <el-form-item label="Años de experiencia" class="label-form">
                                                            <el-select v-model="expForm.levelprogramingidcandidate" placeholder="Seleccione...">
                                                                <el-option label="1 año" value="1"></el-option>
                                                                <el-option label="2 años" value="2"></el-option>
                                                                <el-option label="3 años" value="3"></el-option>
                                                                <el-option label="4 años" value="4"></el-option>
                                                                <el-option label="5 años" value="5"></el-option>
                                                            </el-select>
                                                        </el-form-item>
                                                    </el-col>
                                                </el-row>
                                                <el-row :gutter="20"  type="flex" justify="center">
                                                    <el-col >
                                                        <h3 style="color: #686670;">Hablanos de tu experiencia</h3>
                                                        <el-input
                                                            type="textarea"
                                                            :rows="4"
                                                            placeholder="Breve descripción..."
                                                            v-model="expForm.expdescandidate">
                                                        </el-input>
                                                    </el-col>
                                                </el-row>
                                            </el-form>
                                        </tab-content>
                                    </form-wizard>
                                </div>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>
        </el-col>
    </el-container>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert'
// import { FormWizard, TabContent} from 'vue-form-wizard'
// import 'vue-form-wizard/dist/vue-form-wizard.min.css'
export default {
    name: 'addCandidateUser',
    data() {
        return {
            candidateId: this.$route.params.candidateId,
            url: 'https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-01-512.png',
            infoForm: {
                statuscandidate: 'activo',
                namecandidate: '',
                lastnamecandidate: '',
                agecandidate: '',
                phonecandidate: '',
                emailcandidate: '',
                country: '',
                department: '',
                city: '',
                descriptioncandidate: ''
            },
            skiForm: {
                leveleducation: '',
                institutioncandidate: '',
                profession: '',
                bilinguecandidate: '',
                areadevelop: '',
                lenguajes: [],
                frameworks: []
            },
            expForm: {
                site: '',
                interestcandidate: '',
                remotecandidate: 'remote',
                salarycandidate: '',
                hourpricecandidate: '',
                availabalitycandidate: '',
                availabletravelcandidate: 'no',
                levelprogramingidcandidate: null,
                expdescandidate: ''
            },
            sizeForm: {
                namecandidate: '',
                lastnamecandidate: '',
                emailcandidate: '',
                phonecandidate: '',
                agecandidate: '',
                interestcandidate: '',
                availabalitycandidate: '',
                salarycandidate: '',
                hourpricecandidate: '',
                bilinguecandidate: '',
                availabletravelcandidate: 'no',
                site: '',
                city: '',
                expdescandidate: '',
                institutioncandidate: '',
                profession: '',
                remotecandidate: 'remote',
                levelprogramingidcandidate: null,
                statuscandidate: 'activo',
                descriptioncandidate: '',
                leveleducation: '',
                areadevelop: '',
                frameworks: [],
                lenguajes: [],
                lenguajeplus: '',
                frameworksplus: ''
            },
            rulesInf: {
                namecandidate: [
                    { required: true, message: 'Ingrese su nombre', trigger: 'blur' }
                ],
                lastnamecandidate: [
                    { required: true, message: 'Ingrese su apellido', trigger: 'blur' }
                ],
                phonecandidate: [
                    { required: true, message: 'Ingresa tu numero de telefono', trigger: 'blur' }
                ],
                country: [
                    { required: true, message: 'Selecciona tu ciudad', trigger: 'change' }
                ],
                department: [
                    { required: true, message: 'Selecciona tu ciudad', trigger: 'change' }
                ],
                city: [
                    { required: true, message: 'Selecciona tu ciudad', trigger: 'change' }
                ],
                emailcandidate: [
                    { type:'email', required: true, message: 'Indica tu email', trigger: 'blur' }
                ]
            },
            rulesEdu: {
                interestcandidate: [
                    { required: true, message: 'Campo requerido', trigger: 'change' }
                ],
                bilinguecandidate: [
                    { required: true, message: 'Campo requerido', trigger: 'change' }
                ],
                leveleducation: [
                    { required: true, message: 'Ingresa tu educación', trigger: 'change' }
                ],
                areadevelop: [
                    { required: true, message: 'Selecciona tu área', trigger: 'change' }
                ],
                lenguajes: [
                    { type:'array', required: true, message: 'Selecciona tus lenguajes', trigger: 'change' }
                ],
                frameworks: [
                    { type:'array', required: true, message: 'Selecciona tus frameworks', trigger: 'change' }
                ],
                leveleducation: [
                    { required: true, message: 'Indica tu nivel de educación', trigger: 'blur' }
                ]
            },
            rulesEx: {
                interestcandidate: [
                    { required: true, message: 'Campo requerido', trigger: 'change' }
                ],
                salarycandidate: [
                    { required: true, message: 'Ingresa tu aspiración salarial', trigger: 'change' }
                ],
                availabalitycandidate: [
                    { required: true, message: 'Selecciona una opción', trigger: 'change' }
                ]
            },
            countries: [],
            departments: [],
            cities: [],
            frameworks: [],
            lenguajes: [],
            showE: false,
            validated: false
        }
    },
    components: {
        FormWizard,
        TabContent
    },
    methods: {
        async onSubmit(e) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developer`;
            this.$refs['expForm'].validate((valid) => {
                if (valid) {
                    this.sizeForm.interestcandidate = this.expForm.interestcandidate
                    this.sizeForm.availabalitycandidate = this.expForm.availabalitycandidate
                    this.sizeForm.salarycandidate = this.expForm.salarycandidate
                    this.sizeForm.hourpricecandidate = this.expForm.hourpricecandidate
                    this.sizeForm.availabletravelcandidate = "no"
                    this.sizeForm.site = this.expForm.site
                    this.sizeForm.city = 1
                    this.sizeForm.levelprogramingidcandidate = this.expForm.levelprogramingidcandidate
                    this.sizeForm.remotecandidate = "remote"
                    this.sizeForm.expdescandidate = this.expForm.expdescandidate
                    // this.$loading.show({delay:0});
                    axios({
                        url: path,
                        method: 'POST',
                        data: this.sizeForm,
                        headers: {
                            "Content-Type": "application/json",
                            'Access-Control-Allow-Origin': '*'
                        }
                    }).then((response) => {
                        swal('¡Gracias por registrarte en IMUKO!', 'Pronto nos pondremos en contacto contigo.')
                        this.skiForm.lenguajes =  [];
                        this.skiForm.frameworks =  [];
                        this.skiForm.expdescandidate = '';
                        this.infoForm.descriptioncandidate = '';
                        this.$refs['expForm'].resetFields();
                        this.$refs['infoForm'].resetFields();
                        this.$refs['skiForm'].resetFields();
                        // this.$loading.hide();
                    }).catch((error) => {
                        swal('¡lo sentimos a ocurrido un inconveniente en tu registro!', 'Intentalo de nuevo', 'error')
                        // this.$loading.hide();
                    });
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        getLenguages(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/lenguage`
            axios.get(path).then((response) => {
                this.lenguajes = response.data
            })
                .catch((error) => {
                    console.log(error);
                })
        },
        getFrameworks(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/frameworks`
            axios.get(path).then((response) => {
                this.frameworks = response.data
            })
                .catch((error) => {
                    console.log(error);
                })
        },
        getCountries(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/country`
            axios.get(path).then((response) => {
                this.countries = response.data
            })
                .catch((error) => {
                    console.log(error);
                })
        },
        getDepartments(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/departments/${this.infoForm.country}`
            axios.get(path).then((response) => {
                this.departments = response.data
            })
                .catch((error) => {
                    console.log(error);
                })
        },
        getCities(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/departments/${this.infoForm.country}`
            axios.get(path).then((response) => {
                this.cities = response.data
            })
                .catch((error) => {
                    console.log(error);
                })
        },
        education(){
            if (this.skiForm.leveleducation == 'empirico') {
                this.showE = true;
            } else {
                this.showE = false;
            }
        },
        validateFirstStep(){
            return new Promise((resolve, reject) => {
                this.$refs['infoForm'].validate((valid) => {
                    resolve(valid);
                    if (valid) {
                        this.sizeForm.namecandidate = this.infoForm.namecandidate
                        this.sizeForm.lastnamecandidate = this.infoForm.lastnamecandidate
                        this.sizeForm.emailcandidate = this.infoForm.emailcandidate
                        this.sizeForm.phonecandidate = this.infoForm.phonecandidate
                        this.sizeForm.agecandidate = this.infoForm.agecandidate
                        //  this.sizeForm.city = this.infoForm.city
                        this.sizeForm.descriptioncandidate = this.infoForm.descriptioncandidate
                    }
                });
            })
        },
        validateSkills(){
            return new Promise((resolve, reject) => {
                this.$refs['skiForm'].validate((valid) => {
                    resolve(valid);
                    if (valid) {
                        this.sizeForm.bilinguecandidate = this.skiForm.bilinguecandidate
                        this.sizeForm.institutioncandidate = this.skiForm.institutioncandidate
                        this.sizeForm.profession = this.skiForm.profession
                        this.sizeForm.leveleducation = this.skiForm.leveleducation
                        this.sizeForm.areadevelop = this.skiForm.areadevelop
                        this.sizeForm.frameworks = this.skiForm.frameworks
                        this.sizeForm.lenguajes = this.skiForm.lenguajes
                    }
                });
            })
        },
    },
    created() {
        this.getCountries();
        this.getLenguages();
        this.getFrameworks();
    }
}
</script>

<style scoped>
    .img-perfil {
        width: 150px;
        height: 150px;
        margin-top: 10%;
        margin-bottom: 3%;
        border-radius: 50%;
        border: 5px solid;
    }
    .description-title {
        color: #2c3e50;
        font-weight: 800;
        letter-spacing: 0.4px;
        font-family: unset;
    }
    .el-icon-male, .el-icon-female {
        font-weight: bold !important;
    }
    .title-form {
      font-size: 2rem;
      text-align: center;
    }
    .swal-title {
        font-family: sans-serif !important;
        font-size: 1.5rem !important;
    }
    .el-radio {
        margin: 5px 5px 5px 5px !important;
    }
    .col-perfil {
       background-image: linear-gradient(140deg, #30cfd0 9%, #03192f 100%);
        opacity: 0.88;
        -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        color: #fff;
        margin: 0px;
        height: auto;
        border-radius: 10px;
    }
    .col-perfil-sm {
        background-color: #00a0db;
        color: white;
        margin: 0px;
        padding: 20px 10px 10px 20px;
        height: 130px;
    }
    .box-card {
      width: 100%;
      border-radius: 15px !important;
      margin-left: 0px !important;
      margin-bottom: 3%;
    }
    .span-name {
        font-weight: bold;
    }
    .span-title {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .stepTitle {
      font-weight: 600 !important;
      padding: 2% !important;
    }
    .text {
      font-size: 14px;
    }

    .item {
      margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }

    .clearfix:after {
      clear: both
    }

    .container-form {
        margin-top: 3%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 3%;
    }
    .col-form {
        padding-top: 20px;
    }
    .card-body {
        margin: 0px !important;
        padding: 0px !important;
    }
    .el-card__body {
        padding: 0px !important;
    }
    .form {
        margin: 3% !important;
    }

    .el-checkbox {
        margin-right: 20px !important;
        /* border-radius: 10px !important; */
        /* border: 2px solid #00a0db !important; */
        /* font-size: 10px !important; */
    }
    .el-checkbox.is-bordered.el-checkbox--mini .el-checkbox__label {
        line-height: 12px;
        font-size: 0.55rem !important;
    }
</style>
