<template>
    <el-container v-loading.fullscreen.lock="fullscreenLoading">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-row>
                <h1 class="title" style="font-size: 2em">
                    <span> <i class="fas fa-signature"></i> Formaliza tu contrato </span>
                </h1>
            </el-row>
            <el-row type="flex" justify="center">
                <el-col :xs="23" :sm="23" :md="8" :lg="14" :xl="8">
                    <el-card class="box-card">
                        <div class="card-body imuk-card">
                            <el-alert v-show="!contract.candidate_signed" title="Recuerda" type="warning" style="justify-content:center">
                                Si aun no has firmado, en el contrato tu nombre se mostrara como XXXX.
                            </el-alert>
                            <h4>
                                Contrato de {{ contract.type_contract }} de fecha {{ printDateRequest(contract.created_at) }}, celebrado entre IMUKO SAS y <div v-if ="contract.type == 'developer'">{{ contract.developer.namecandidate }}
                                    {{ contract.developer.lastnamecandidate }}  </div>
                                <div v-if ="contract.type == 'client'">{{contract.customer.company_name}}</div>
                            </h4>
                            <el-row>
                                <el-col align="left">
                                    <el-table :data="tableDataContract" style="width: 100%">
                                        <el-table-column label="Fecha inicio">
                                            <template slot-scope="scope">
                                                {{ printDateRequest(scope.row.start_date) }}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="Fecha fin">
                                            <template slot-scope="scope">
                                                {{ printDateRequest(scope.row.end_date) }}
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="contract_value_number" label="Valor"> </el-table-column>
                                        <el-table-column prop="type_contract" label="Tipo"> </el-table-column>
                                        <el-table-column label="Contrato">
                                            <template slot-scope="scope">
                                                <el-tooltip class="item" effect="dark" content="Ver contrato en pdf" placement="top-start">
                                                    <el-button @click="getPdf(scope.row.uuid)" size="small" type="info" round><i class="fas fa-file-invoice-dollar"></i> Ver</el-button>
                                                </el-tooltip>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </el-col>
                            </el-row>

                            <el-form ref="form" :model="form" :rules="rules" size="medium" label-position="top" style="margin-top: 3%">
                                <el-row :gutter="20">
                                    <el-col align="left" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                        <el-form-item label="Ingresa tu hash" prop="hash" class="label-form">
                                            <el-input v-model="form.hash" maxlength="200" show-word-limit> </el-input>
                                        </el-form-item>
                                        <el-row :gutter="20">
                                            <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="País de residencia" prop="country" class="label-form">
                                                    <el-select v-on:change="getCountries()" id="department" v-model="form.country" filterable placeholder="Seleccione...">
                                                        <el-option v-for="item in countries" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Ciudad de residencia" prop="residencecity" class="label-form">
                                                    <el-select v-on:change="getCities()" v-model="form.residencecity" filterable placeholder="Seleccione...">
                                                        <el-option v-for="item in cities" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-form-item label="Firma" prop="candidatesignature" class="label-form">
                                            <el-upload
                                                class="upload-demo"
                                                ref="candidatesignature"
                                                accept="image/png, image/jpeg"
                                                drag
                                                :data="{ type: form.document_type }"
                                                :multiple="false"
                                                :limit="1"
                                                :action="upload_file_url"
                                                :headers="headers_files"
                                                :on-remove="deleteUpload"
                                                :file-list="form.candidatesignature"
                                                :on-error="errorUpload"
                                                v-model="form.candidatesignature"
                                            >
                                                <div class="el-upload__text">Suelta tu archivo aquí o <em>haz clic para cargar</em></div>
                                                <div slot="tip" class="el-upload__tip">Solo archivos jpg/png con fondo transparente y con un tamaño menor de 500kb</div>
                                            </el-upload>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-button type="primary" @click="onSubmit">Enviar</el-button>
                                </el-row>
                            </el-form>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
import { myMixins } from "../../Utils/mixins";
import { mapState, mapMutations } from "vuex";

export default {
    mixins: [myMixins],
    computed: {
        ...mapState("auth", ["authenticate", "user_session"]),
    },
    data() {
        return {
            form: {
                hash: "",
                candidatesignature: [],
                document_type: "firma_digital",
                country: "",
                residencecity: "",
                files: [],
            },
            upload_file_url: `${process.env.VUE_APP_URL_API_BACKEND}/api/document/upload-file-profile`,
            headers_files: {
                Authorization: `Bearer ${localStorage.getItem("api_token")}`,
            },
            rules: {
                hash: [
                    {
                        required: true,
                        message: "Ingrese el hash enviado a tu correo",
                        trigger: "blur",
                    },
                ],
                files: [{ required: true, message: "Ingrese su firma", trigger: "blur" }],
                country: [
                    {
                        required: true,
                        message: "El Pais de residencia  es requerido",
                        trigger: "blur",
                    },
                ],
                residencecity: [
                    {
                        required: true,
                        message: "La ciudad de residencia  es requerido",
                        trigger: "blur",
                    },
                ]
            },
            contract_id: this.$route.params.id,
            contract: {},
            tableDataContract: [],
            fullscreenLoading: false,
            countries: [],
            cities: [],
            all_cities: [],
            chang:{},
        };
    },
    methods: {
        handleExceed(files, fileList) {
            this.$message.warning(`El límite es 1 archivo`);
        },
        handleChange(file) {
            this.form.candidatesignature = file;
        },
        handleRemove(file) {
            this.form.candidatesignature = "";
        },
        onSubmit() {
            this.$refs["form"].validate((valid) => {
                if (valid) {
                    axios.defaults.xsrfHeaderName = "X-CSRFToken";
                    axios.defaults.xsrfCookieName = "csrftoken";
                    axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
                    const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/signature-contract/${this.contract_id}`;

                    this.openLoadScreen(true);

                    axios({
                        url: path, //Endpoint
                        method: "POST", //Método
                        data: this.form,
                    })
                        .then((response) => {
                            this.openLoadScreen(false);
                            this.$message({
                                message: "Felicitaciones, contrato firmado con exito.",
                                type: "success",
                            });  
                            if(this.chang == "developer"){
                                this.$router.push("/edit-profile");
                            }else{
                                this.$router.push("/client-dashboard")
                            }
                        })
                        .catch((error) => {
                            this.$message({
                                message: "Lo sentimos, pero algo ocurre con tu hash.",
                                type: "error",
                            });
                            this.openLoadScreen(false);
                        });
                    console.log(this.form.hash, this.form.candidatesignature);
                } else {
                    // code
                    return false;
                }
            });
        },
        getContract() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract/${this.contract_id}`;
            axios
                .get(path)
                .then((response) => {
                    if (response.data != null) {
                        this.contract = response.data;
                        this.tableDataContract.push(this.contract);
                        this.chang = response.data.type;
                    }
                })
                .catch((error) => {
                    // error
                });
        },
        getCountries() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/country`;
            axios
                .get(path)
                .then((response) => {
                    this.countries = response.data;
                    this.getCities();
                })
                .catch((error) => {});
        },
        getCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities/${this.form.country}`;
            axios
                .get(path)
                .then((response) => {
                    this.cities = response.data;
                })
                .catch((error) => {});
        },
        getAllCities() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/cities`;
            axios
                .get(path)
                .then((response) => {
                    this.all_cities = response.data;
                })
                .catch((error) => {});
        },
        getPdf(uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/contract-pdf/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(
                        new Blob([response.data], {
                            type: "application/pdf",
                        })
                    );
                    this.link.href = url;
                    this.link.target = "_blank";
                    this.link.removeAttribute("download");
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        deleteUpload(file, fileList) {
            var uuid = file.uuid;
            if (file.response != undefined) uuid = file.response.uuid;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/document/delete-file-profile/${uuid}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET",
            }).then((res) => {
                // code
            });
        },
        errorUpload(err, file, fileList) {
            var msg = err.toString();
            this.$message({
                message: `${msg.replace('Error', 'Msg')}`,
                type: "info",
            });
        },
        open() {
            this.$confirm("Para realizar tu proceso de firma debes iniciar sesion", "No has iniciado sesion", {
                confirmButtonText: "Iniciar sesion",
                cancelButtonText: "Cancel",
                showCancelButton: false,
                type: "warning",
            })
                .then(() => {
                    this.$message({
                        type: "success",
                        message: "Redireccionando..",
                    });
                    localStorage.setItem("url_signature_contract", window.location);
                    this.$router.push("/login");
                })
                .catch(() => {
                    this.$message({
                        type: "info",
                        message: "Redireccionando..",
                    });
                    this.$router.push("/login");
                });
        },
        openLoadScreen(bol) {
            this.fullscreenLoading = bol;
        },
        validSession() {
            if (localStorage.getItem("api_token") == undefined) {
                this.open();
            } else {
                this.upload_file_url = `${process.env.VUE_APP_URL_API_BACKEND}/api/document/upload-file-profile/${this.user_session.uuid}`
            }
        },
        ...mapMutations("auth", ["logoutUser", "changeAuth"]),
    },
    created() {
        this.getContract();
        this.validSession();
        this.getCountries();
        this.getAllCities();
        this.link = document.createElement("a");
        this.body = document.body;
    },
};
</script>

<style scoped>
.box-card {
  width: 100%;
  border-radius: 15px !important;
}
.imuk-card {
  margin-top: 2%;
  margin: 1%;
  padding: 0% 3% 10% 3%;
}
p {
  text-align: justify;
}
</style>
