<template>
    <el-card class="scorecard box-card" :body-style="{ padding: '0px' }"  style="margin-top: 20px">
        <div slot="header" class="clearfix">
            <span>Clientes</span>
        </div>
        <!--<div v-for="cliente  in profile.clients" :key="cliente.id" class="text item">
            <table>
                <tbody>
                    <tr>
                        <br><th>Empresa</th><br>
                        <br><th>Fecha</th><br>
                    </tr>
                    <tr>
                        <br><td>{{cliente.company_name}}</td>
                        <br><td>{{printDateRequest(cliente.date_asignacion)}}</td><br>
                    </tr>
                </tbody>
        </table>
        </div>-->
        <el-table :data="profile.clients" style="width: 100%">
            <el-table-column
                prop="company_name"
                label="Empresa"
                width="180">
            </el-table-column>
            <el-table-column label="Fecha asignacion">
                <template slot-scope="props">
                    <span>{{ printDateRequest(props.row.date_asignacion) }}</span>
                </template>
            </el-table-column>
        </el-table>

    </el-card>        
</template>
<script>
import axios from "axios";
import { myMixins } from "../../Utils/mixins";
export default {
    props: ["profile"],
    mixins: [myMixins],

    data(){
        console.log("table");
        return{
            clients: []
        }
    }
}
</script>