<template lang="html">
    <el-container>
        <el-container class="box-card">
            <table class="c29">
                <tbody>
                    <tr class="c25">
                        <td class="c5" colspan="1" rowspan="1">
                            <p class="c23 title">
                                <span class="c16">
                                    {{ developer.namecandidate }}
                                    {{ developer.lastnamecandidate }}</span
                                    >
                            </p>
                            <p class="c15 c11 subtitle">
                                <span class="c18 c21 c1 c26">Desarrollador {{ developer.areadevelop }}</span>
                            </p>
                            <p class="c4">
                                <span class="c0">{{ developer.descriptioncandidate }}</span>
                            </p>
                        </td>
                    </tr>
                    <tr class="c17">
                        <td class="c5" colspan="1" rowspan="1">
                            <div>
                                <h1 class="c20">
                                    <span class="c8">INFORMACION</span>
                                </h1>
                                <p class="c4">
                                    <span class="c0">Email: {{ developer.emailcandidate }}</span>
                                </p>
                                <p class="c4">
                                    <span class="c0">Telefono: {{ developer.phonecandidate }}</span>
                                </p>
                                <!-- <p class="c4">
                  <span class="c0">Lugar de residencia: {{developer.country.name}}, {{developer.department.name}}</span>
                </p> -->
                                <p class="c11 c20"><span class="c0"></span></p>
                                <p class="c20 c11"><span class="c0"></span></p>
                            </div>
                            <div>
                                <h1 class="c20">
                                    <span class="c8">INTERESES</span>
                                </h1>
                                <p class="c4">
                                    <span class="c0">Aspiración salarial: {{ developer.salarycandidate }}</span>
                                </p>
                                <p class="c4">
                                    <span class="c0">Precio por hora: ${{ developer.hourpricecandidate }} dolares</span>
                                </p>
                                <p class="c4">
                                    <span v-if="developer.remotecandidate == 'remote'" class="c0">Espectativa de trabajo: Remoto</span>
                                    <span v-if="developer.remotecandidate == 'onSite'" class="c0">Espectativa de trabajo: Oficina</span>
                                    <span v-if="developer.remotecandidate == 'all'" class="c0">Espectativa de trabajo: Cualquiera</span>
                                </p>
                                <p class="c4">
                                    <span v-if="developer.availabalitycandidate == 'fulltime'" class="c0">Disponibilidad: Tiempo completo</span>
                                    <span v-if="developer.availabalitycandidate == 'parttime'" class="c0">Disponibilidad: Medio tiempo</span>
                                    <span v-if="developer.availabalitycandidate == 'hours'" class="c0">Disponibilidad: Por horas</span>
                                </p>
                                <p class="c4">
                                    <span class="c0">Disponibilidad para viajar: {{ developer.availabletravelcandidate }}</span>
                                </p>
                                <p class="c11 c20"><span class="c0"></span></p>
                                <p class="c20 c11"><span class="c0"></span></p>
                            </div>
                            <div>
                                <h1 class="c20">
                                    <span class="c8">EXPERIENCIA</span>
                                </h1>
                                <h2 class="c19">
                                    <span>Tiempo: </span><span class="c1">{{ getExperience() }} </span>
                                </h2>
                                <p class="c4">
                                    <span class="c0">{{ developer.expdescandidate }}</span>
                                </p>
                                <p class="c4 c11"><span class="c0"></span></p>
                                <p class="c4 c11"><span class="c0"></span></p>
                            </div>
                            <div v-if="developer.leveleducation != 'empirico'">
                                <h1 class="c32"><span>EDUCACION</span></h1>
                                <h2 class="c32">
                                    <h2 class="c32">
                                        <span>{{ developer.leveleducation.toUpperCase() }}</span>
                                    </h2>
                                    <span>{{ developer.profession }}</span>
                                    <span>&nbsp;-&nbsp;</span><span class="c13 c1 c21">{{ developer.institutioncandidate }}</span>
                                </h2>
                                <p class="c11 c20"><span class="c0"></span></p>
                                <p class="c20 c11"><span class="c0"></span></p>
                            </div>
                        </td>
                        <td class="c14" colspan="1" rowspan="1">
                            <div class="skills">
                                <h1 class="c24"><span class="c8">SKILLS</span></h1>

                                <p v-for="lenguage in developer.lenguages" :key="lenguage.id" class="c4">
                                    <span class="c0">{{ lenguage.name }}</span>
                                </p>
                                <p v-for="framework in developer.frameworks" :key="framework.id" class="c4">
                                    <span class="c0">{{ framework.name }}</span>
                                </p>
                            </div>
                            <div class="languages">
                                <p class="c4"><span class="c21 c30">IDIOMAS</span></p>
                                <p v-if="developer.bilinguecandidate == 'si'" class="c27">
                                    <span class="c0">Ingles</span>
                                </p>
                                <p class="c27"><span class="c0">Espa&ntilde;ol</span></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <el-button @click="genPdf" type="success">Generar pdf</el-button>
            </div>
        </el-container>
    </el-container>
</template>

<script>
import axios from "axios";
export default {
    name: "cv",
    data() {
        return {
            candidateId: this.$route.params.candidateId,
            developer: {
                id: 0,
                namecandidate: "",
                lastnamecandidate: "",
                emailcandidate: "",
                agecandidate: 0,
                phonecandidate: "",
                expdescandidate: "",
                institutioncandidate: "",
                profession: "",
                salarycandidate: "",
                interestcandidate: null,
                hourpricecandidate: "",
                availabalitycandidate: "",
                bilinguecandidate: "",
                site: null,
                city: {},
                department: {},
                country: {},
                remotecandidate: "",
                levelprogramingidcandidate: "",
                leveleducation: "",
                areadevelop: "",
                descriptioncandidate: "",
                statuscandidate: "",
                lenguages: [],
                frameworks: [],
            },
        };
    },
    methods: {
        getCandidate() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/${this.candidateId}`;
            axios
                .get(path, { headers: { Accept: "application/json" } })
                .then((response) => {
                    this.developer = response.data;
                    this.developer.city = response.data.city;
                    this.developer.department = response.data.city.department;
                    this.developer.country = response.data.city.department.country;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        genPdf() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/cv/${this.candidateId}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement("a");
                    link.href = url;
                    link.setAttribute("download", `${this.developer.namecandidate}${this.developer.lastnamecandidate.charAt(0).toUpperCase()}_${this.developer.phonecandidate.slice(-4)}.pdf`); //or any other extension
                    document.body.appendChild(link);
                    link.click();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        getExperience: function (value = null) {
            value = value ? value : this.developer.levelprogramingidcandidate;
            const experience = [
                {
                    name: "Senior",
                    value: "5",
                },
                {
                    name: "Senior",
                    value: "4",
                },
                {
                    name: "Senior",
                    value: "3",
                },
                {
                    name: "Senior",
                    value: "4",
                },
                {
                    name: "Junior",
                    value: "2",
                },
            ];
            const find = experience.find((e) => e.value == value);
            if (!find) return `${value} años`;
            return find.name;
        },
    },
    mounted() {
        this.getCandidate();
    },
};
</script>

<style scoped>
@import url("https://themes.googleusercontent.com/fonts/css?kit=RFda8w1V0eDZheqfcyQ4EGb3DKsRMD34dqg1gT8Z-p6isjtAVhoKeKPV_uAAgBOSk3k702ZOKiLJc3WVjuplzPesZW2xOQ-xsNqO47m55DA");
.el-container {
  padding: 30px 30px 30px;
}
.box-card {
  width: 70%;
  margin-left: 15%;
}
.skills {
  margin-bottom: 20pt;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c14 {
  border-right-style: solid;
  padding: 7.2pt 7.2pt 7.2pt 7.2pt;
  border-bottom-color: #ffffff;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 159.8pt;
  border-top-color: #ffffff;
  border-bottom-style: solid;
}
.c5 {
  border-right-style: solid;
  padding: 7.2pt 7.2pt 7.2pt 7.2pt;
  border-bottom-color: #ffffff;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 363.8pt;
  border-top-color: #ffffff;
  border-bottom-style: solid;
}
.c10 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Open Sans";
  font-style: normal;
}
.c8 {
  color: #2079c7;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Open Sans";
  font-style: normal;
}
.c0 {
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Merriweather";
  font-style: normal;
}
.c16 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 30pt;
  font-family: "Merriweather";
  font-style: normal;
}
.c30 {
  color: #2079c7;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Merriweather";
}
.c7 {
  padding-top: 5pt;
  padding-bottom: 5pt;
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
  margin-right: 15pt;
}
.c19 {
  padding-top: 16pt;
  padding-bottom: 0pt;
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
  margin-right: 15pt;
}
.c3 {
  padding-top: 6pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  margin-right: 15pt;
  height: 9pt;
}
.c6 {
  color: #666666;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 8pt;
  font-family: "Open Sans";
  font-style: normal;
}
.c22 {
  color: #b7b7b7;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Open Sans";
}
.c28 {
  color: #666666;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 6pt;
  font-family: "Merriweather";
}
.c32 {
  padding-bottom: 0pt;
  padding-top: 3pt;
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
  margin-right: 15pt;
}
.c4 {
  padding-top: 6pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 15pt;
}
.c13 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Merriweather";
}
.c12 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Merriweather";
}
.c15 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: left;
  margin-right: 15pt;
}
.c23 {
  padding-top: 0pt;
  padding-bottom: 6pt;
  line-height: 1;
  text-align: left;
  margin-right: 15pt;
}
.c27 {
  padding-top: 16pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 15pt;
}
.c20 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  margin-right: 15pt;
}
.c24 {
  padding-top: 30pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  margin-right: 15pt;
}
.c26 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Open Sans";
}
.c9 {
  font-size: 8pt;
  font-family: "Open Sans";
  color: #666666;
}
.c31 {
  background-color: #ffffff;
  max-width: 525.6pt;
  padding: 28.8pt 43.2pt 43.2pt 43.2pt;
}
.c17 {
  height: 588pt;
}
.c18 {
  color: #000000;
}
.c21 {
  font-style: normal;
}
.c11 {
  height: 9pt;
}
.c25 {
  height: 72pt;
}
.c1 {
  font-weight: 400;
}
.c2 {
  font-style: italic;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Merriweather";
  line-height: 1;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #000000;
  font-size: 9pt;
  padding-bottom: 0pt;
  font-family: "Open Sans";
  line-height: 1.15;
  text-align: left;
}
li {
  color: #666666;
  font-size: 9pt;
  font-family: "Merriweather";
}
p {
  margin: 0;
  color: #666666;
  font-size: 9pt;
  font-family: "Merriweather";
}
h1 {
  padding-top: 30pt;
  color: #2079c7;
  font-weight: 700;
  font-size: 9pt;
  padding-bottom: 0pt;
  font-family: "Open Sans";
  line-height: 1;
  text-align: left;
}
h2 {
  padding-top: 16pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Merriweather";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}
h3 {
  padding-top: 5pt;
  color: #666666;
  font-size: 8pt;
  padding-bottom: 5pt;
  font-family: "Open Sans";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}
h4 {
  padding-top: 8pt;
  -webkit-text-decoration-skip: none;
  color: #666666;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  text-align: left;
}
h5 {
  padding-top: 8pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  text-align: left;
}
h6 {
  padding-top: 8pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  font-style: italic;
  text-align: left;
}
</style>
