<template>
    <el-container>
        <el-col :xs="16" :sm="16" :md="16" :lg="16" :xl="16" class="m-1">
            <el-card :body-style="{ padding: '0px' }" class="box-card">
                <el-row>
                    <el-col :xs="16" :sm="16" :md="16" :lg="16" :xl="16" style="padding-left: 2%; margin-top: 1%;">
                        <h1 class="text-left">Bienvenido </h1>
                        <div style="text-align: left; padding-top: 2%">
                            <router-link to="/edit-profile"> <el-button type="primary" size="small" round><i class="fas fa-user-edit"></i> Mi Perfil</el-button> </router-link>
                            <router-link to="/vinculacion-empresa"> <el-button type="primary" size="small" round><i class="fas fa-building"></i> Vincularme a empresa</el-button> </router-link>
                        </div>
                    </el-col>
                    <!-- <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <img
                            :src="urlbrand"
                            style="width: 140px; height: 130px; margin: 3%;"
                            class="image">
                    </el-col> -->
                </el-row>
            </el-card>
            <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%;">
                <el-row style="padding: 2%;">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <h3 class="text-left"><i class="fas fa-clipboard-list"></i> Ultimas vacantes aplicadas</h3>
                        <el-table
                            :data="tableData"
                            empty-text="No se encontraron procesos..."
                            style="width: 100%">
                            <el-table-column
                                prop="date"
                                label="Fecha"
                                width="180">
                            </el-table-column>
                            <el-table-column
                                prop="name"
                                label="Nombre"
                                width="180">
                            </el-table-column>
                            <el-table-column
                                prop="address"
                                label="Dirección">
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
            </el-card>
            <!-- <PaymentAccountList></PaymentAccountList> -->
        </el-col>
        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="m-1">
            <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%;">
                <el-row class="card-info-one">
                    <el-col :xs="16" :sm="16" :md="16" :lg="16" :xl="16" >
                        <h3><i class="far fa-star"></i> Ranking</h3>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" >
                        <h3 class="text-left">200</h3>
                    </el-col>
                </el-row>
            </el-card>
            <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 1%;">
                <el-row class="card-info-two">
                    <el-col :xs="16" :sm="16" :md="16" :lg="16" :xl="16" >
                        <h3><i class="fas fa-list-alt"></i> Vacantes</h3>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                        <h3 class="text-left">50</h3>
                    </el-col>
                </el-row>
            </el-card>
            <el-card :body-style="{ padding: '0px' }" class="box-card" style="margin-top: 2%;">
                <el-row style="padding: 2%;">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <h3 class="text-left"> <i class="fas fa-calendar-alt"></i> Calendario</h3>
                        <el-calendar v-model="value">
                        </el-calendar>
                    </el-col>
                </el-row>
            </el-card>
        </el-col>
    </el-container>
</template>
<script>
import axios from "axios";

// import PaymentAccountList from '../PaymentAccountList';

import { mapState, mapMutations } from 'vuex';
export default {
    components:{
        // PaymentAccountList
    },
    name: "Dashboard",
    computed: {
        // ...mapState('auth', ['authenticate', 'user_session'])
    },
    data() {
        return {
            // urlbrand: require('../../assets/robot-for-candidate.png'),
            tableData:  [],
            value: new Date()
        };
    },
    created: function() {
    
    }
};
</script>
<style scoped>

#customer-data {
  text-align: left;
  list-style-type: none;
}
#customer-data li {
  margin-bottom: 5px;
}
#customer-data li span:first-child {
  min-width: 40px;
  font-weight: bold;
  display: inline-block;
  min-width: 140px;
}
#languages {
  display: block;
}
#languages > div {
  display: block;
  background-color: #ff0000;
  margin: 0px 0px 5px 10px;
}

.tag-availability {
  padding: 0.4%;
  height: 25px;
  line-height: 1px;
  font-size: 0.9rem;
  font-weight: bold;
}
.show-date {
  font-size: 0.75rem;
  text-align: left;
  color: #6a6d6d;
}
.div-description-vacant {
  color: #6a6d6d;
}
.card-info-one {
  background-color: #4eacdf;
  color: #fff;
  font-size: 1.3rem;
}
.card-info-two {
  background-color: #8BC34A;
  color: #fff;
  font-size: 1.3rem;
}
.card-info-tree {
  background-color: #009688;
  color: #fff;
  font-size: 1.3rem;
}
</style>