<template lang="html">
    <el-container style="margin: 1%;">
        <el-row type="flex" justify="center" class="container-form">
            <el-col :span="18">
                <el-card class="box-card">
                    <el-row :gutter="20">
                        <el-col :span="8" class="col-perfil">
                            <span class="span-title"><i class="el-icon-edit"></i> Editar Candidato </span>
                            <div class="block">
                                <el-image
                                    class="img-perfil"
                                    :src="url"
                                    fit="cover">
                                </el-image>
                            </div>
                            <span class="span-name">{{ sizeForm.namecandidate }} {{ sizeForm.lastnamecandidate }}</span>
                        </el-col>
                        <el-col :span="16" class="col-form">
                            <div class="card-body" style="padding: 0px;">
                                <el-form :inline="true" ref="form" :model="sizeForm" size="mini" label-width="120px" label-position="left" class="form">
                                    <el-row :gutter="20">
                                        <el-col :span="6">
                                            <el-form-item label="Nombre">
                                                <el-input v-model="sizeForm.namecandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Apellido">
                                                <el-input v-model="sizeForm.lastnamecandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Email">
                                                <el-input v-model="sizeForm.emailcandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Telefono">
                                                <el-input v-model="sizeForm.phonecandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row :gutter="20">
                                        <el-col :span="6">
                                            <el-form-item label="Edad">
                                                <el-input v-model="sizeForm.agecandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Interes">
                                                <el-select v-model="sizeForm.interestcandidate" placeholder="Seleccione...">
                                                    <el-option label="Tiene empleo / Interesado" value="3"></el-option>
                                                    <el-option label="No interesado" value="2"></el-option>
                                                    <el-option label="Disponible" value="1"></el-option>
                                                    <el-option label="Solo Freelance" value="4"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Disponibilidad">
                                                <el-input v-model="sizeForm.availabalitycandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Aspiración salarial">
                                                <el-input type="number" v-model="sizeForm.salarycandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row :gutter="20">
                                        <el-col :span="6">
                                            <el-form-item label="Precio por hora">
                                                <el-input type="number" v-model="sizeForm.hourpricecandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Bilingue">
                                                <el-input v-model="sizeForm.bilinguecandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Reubicación">
                                                <el-input v-model="sizeForm.availabletravelcandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Oficina">
                                                <el-select v-model="sizeForm.site" placeholder="Seleccione...">
                                                    <el-option label="Si" value="true"></el-option>
                                                    <el-option label="No" value="false"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row :gutter="20">
                                        <el-col :span="6">
                                            <el-form-item label="Remoto">
                                                <el-select v-model="sizeForm.remotecandidate" placeholder="Seleccione...">
                                                    <el-option label="Si" value="true"></el-option>
                                                    <el-option label="No" value="false"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Nivel">
                                                <el-select v-model="sizeForm.levelprogramingidcandidate" placeholder="Seleccione...">
                                                    <el-option label="Junior" value="1"></el-option>
                                                    <el-option label="SemiSenior" value="2"></el-option>
                                                    <el-option label="Senior" value="3"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Estatus">
                                                <el-select v-model="sizeForm.statuscandidate" placeholder="Seleccione...">
                                                    <el-option label="Activo" value="1"></el-option>
                                                    <el-option label="Inactivo" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-form-item label="Descripción">
                                                <el-input type="text" v-model="sizeForm.descriptioncandidate"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row :gutter="20"  type="flex" justify="end">
                                        <el-col :span="120" style="margin-top: 3%">
                                            <el-form-item size="large">
                                                <el-button type="primary" @click="onSubmit">Editar</el-button>
                                                <el-button>Cancelar</el-button>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </div>
                        </el-col>
                    </el-row>

                </el-card>
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            candidateId: this.$route.params.candidateId,
            url: 'https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-01-512.png',
            sizeForm: {
                namecandidate: '',
                lastnamecandidate: '',
                emailcandidate: '',
                phonecandidate: '',
                agecandidate: '',
                interestcandidate: '',
                availabalitycandidate: '',
                salarycandidate: '',
                hourpricecandidate: '',
                bilinguecandidate: '',
                availabletravelcandidate: '',
                site: '',
                remotecandidate: '',
                levelprogramingidcandidate: '',
                statuscandidate: '',
                descriptioncandidate: '',
            }
        }
    },
    methods: {
        onSubmit(evt) {
            evt.preventDefault();
            const path = `https://yohanysturiz.pythonanywhere.com/api/v1/candidates/update/${this.candidateId}/`
            axios({
                url: path, //Endpoint
                method: 'PUT',  //Método
                data: this.sizeForm
            }).then((response) => {
                alert('Usuario modificado', response.data)
                this.sizeForm = response.data;
            }).catch((error) => {
                console.log('error', error); //Mensaje del error
            });
        },
        getCandidate(){
            const path = `https://www.targetsia.xyz/api/developers/${this.candidateId}`
            axios.get(path).then((response) => {
                this.sizeForm = response.data;
            })
                .catch((error) => {
                    console.log(error);
                })
        }
    },
    created() {
        this.getCandidate();
    }
}
</script>

<style scoped>
 .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 100%;
    border-radius: 20px;
  }
  .span-name {
      font-weight: bold;
  }
  .span-title {
      font-weight: 500;
      font-size: 1.5rem;
  }
  .container-form {
    margin-top: 2%;
  }
  .col-perfil {
    background-color: #00a0db;
    color: white;
    margin: 0px;
    padding: 20px 10px 10px 20px;
    height: 442px;
  }
  .col-form {
      padding-top: 20px;
  }
  .card-body {
    margin: 0px !important;
    padding: 0px !important;
  }
  .el-card__body {
    padding: 0px !important;
   }
   .form{
        margin: 3% !important;
   }
   .img-perfil {
        width: 150px;
        height: 150px;
        margin-top: 15%;
        margin-bottom: 5%;
        border-radius: 50%;
        border: 5px solid;
   }
</style>
