<template lang="html">
    <el-row>
        <div style=" text-align: left; margin:1%;">
            <router-link to="/dashboard-candidate">
                <el-button type="primary" circle size="mini" >
                    <i class="el-icon-back"></i>
                </el-button>
            </router-link>
        </div>     
        <el-container>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="margin-top: 4vh; margin-bottom: 32vh;">
                <h1 class="title" style="font-size: 2em;"> <span> <i class="fas fa-link"></i> Vinculate a una empresa </span> </h1>
                    
                <el-row type="flex" style="margin-top: 2%;" justify="center">
                    <el-col :xs="23" :sm="23" :md="8" :lg="8" :xl="8">
                        <el-card class="box-card">
                            <div class="card-body imuk-card">
                                <el-form ref="form" :model="form" size="medium" label-position="right">
                                    <el-row :gutter="20">
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                            <el-form-item class="label-form" label="Codigo de vinculacion">
                                                <el-input v-model="form.code_company" placeholder="Ingresa el codigo de vinculacion"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                        <el-button style="margin-bottom: 2%;" @click="onSubmit">Vincularme</el-button>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-col>
        </el-container>
    </el-row>
</template>


<script>
import axios from 'axios';
import { mapState, mapMutations } from 'vuex';
export default {
    name: "LinkMeCompany",
    computed: {
        ...mapState('auth', ['authenticate', 'user_session'])
    },
    data() {
        return {
            form: {
                code_company: "",
                user: ""
            }
        };
    },
    created: function() {
        
    }
};
</script>

<style scoped>
 .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 100%;
    border-radius: 20px;
  }
  .span-name {
      font-weight: bold;
  }
  .span-title {
      font-weight: 500;
      font-size: 1.5rem;
  }
  .container-form {
    margin-top: 2%;
  }
  .col-perfil {
    background-color: #00a0db;
    color: white;
    margin: 0px;
    padding: 20px 10px 10px 20px;
    height: 442px;
  }
  .col-form {
      padding-top: 20px;
  }
  .card-body {
    margin: 0px !important;
    padding: 0px !important;
  }
  .el-card__body {
    padding: 0px !important;
   }
   .form{
        margin: 3% !important;
   }
   .img-perfil {
        width: 150px;
        height: 150px;
        margin-top: 15%;
        margin-bottom: 5%;
        border-radius: 50%;
        border: 5px solid;
   }
</style>
