<template lang="html">
    <el-container>
        <el-col style="padding: 2%">
            <h2>Lista de Candidatos</h2>
            <Search style="padding-bottom: 2%" :getCandidate="getCandidate"></Search>
            <el-table :data="Candidates" v-loading="loading" empty-text="No se encontraron candidatos...">
                <el-table-column type="expand">
                    <template slot-scope="props">
                        <p>Es Bilingue: {{ props.row.bilinguecandidate }}</p>
                        <p>Telefono: {{ props.row.phonecandidate }}</p>
                        <p>Salario: {{ props.row.salarycandidate }}</p>
                        <div v-if="props.row.created_at == null">
                            <p>Fecha Registro: No disponible</p>
                        </div>
                        <div v-else>
                            <p>
                                Fecha Registro:
                                {{ new Date(props.row.created_at).toLocaleDateString() }}
                            </p>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="namecandidate" label="Nombre"> </el-table-column>
                <el-table-column prop="lastnamecandidate" label="Apellido"> </el-table-column>
                <el-table-column prop="emailcandidate" label="Email"> </el-table-column>
                <el-table-column prop="areadevelop" label="Área"> </el-table-column>
                <el-table-column prop="leveleducation" label="Educación"> </el-table-column>
                <el-table-column label="Lenguajes">
                    <template v-if="props.row.lenguages != undefined" slot-scope="props">
                        <el-tag class="tag-description-vacant" v-for="language in props.row.lenguages" :key="language.id" type="info">
                            {{ language.name }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Frameworks">
                    <template v-if="props.row.frameworks != undefined" slot-scope="props">
                        <el-tag class="tag-framework" v-for="framework in props.row.frameworks" :key="framework.id">
                            {{ framework.name }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Status">
                    <template slot-scope="props">
                        {{props.row.statuscandidate}}
                    </template>
                </el-table-column>
                <el-table-column label="Operaciones" width="200">
                    <template slot-scope="Candidates">
                        <el-tooltip class="item" effect="dark" content="Curriculum" placement="left">
                            <el-button size="mini" @click="genPdf(Candidates.row.uuid, Candidates.row.namecandidate, Candidates.row.lastnamecandidate, Candidates.row.phonecandidate)" type="info" class="btn-info" icon="el-icon-document" circle> </el-button>
                        </el-tooltip>

                        <router-link
                            :to="{
                                name: 'CandidateProfile',
                                params: { id: Candidates.row.uuid, },
                            }"
                        >
                            <el-tooltip
                                class="item"
                                effect="dark"
                                content="Visitar Perfil"
                                placement="top"
                            >
                                <el-button
                                    size="mini"
                                    type="primary"
                                    icon="el-icon-user-solid"
                                    circle
                                >
                                </el-button>
                            </el-tooltip> 
                        </router-link>
                        <el-tooltip class="item" effect="dark" content="Desactivar" placement="right">
                            <el-button size="mini" type="danger" icon="fas fa-link" @click="handinactive(Candidates.row.id)" circle ></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block">
                <el-pagination layout="prev, pager, next" :total="pagination.total" :page-size="pagination.per_page" @current-change="changePage"> </el-pagination>
            </div>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
import Search from "../Search.vue";

export default {
    components: {
        Search,
    },
    data() {
        return {
            Candidates: [],
            search: "",
            loading: true,
            numero_candidatos: 0,
            pagination: [],
            searchName: "",
            searchEmail: "",
        };
    },
    methods: {
        handinactive(id){
            swal({
                title: "Desactivar",
                text: "¿Seguro que desea Desactivar el Desarrollador?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    this.iactiveprograming(id);
                } else {
                }
            });
        },
        iactiveprograming(id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/inactivedeveloper/${id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            axios({
                url: path,
                method: "GET",
            })
                .then((response) => {
                    this.inactivealert();
                })
                .catch((error) => {
                    this.alertError();
                });
        },
        getCandidate(page, form = {}) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common["Authorization"] = `Bearer ${localStorage.getItem("api_token")}`;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers?page=${page}`;

            if (form != {}) {
                this.form = form
            }

            axios
                .post(path, form)
                .then((response) => {
                    this.loading = false;
                    this.numero_candidatos = this.Candidates.length;
                    this.Candidates = response.data.developers.original.data;
                    this.pagination = response.data.pagination;
                })
                .catch((error) => {});
        },
        genPdf(uuid, namecandidate, lastnamecandidate, phonecandidate) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/cv/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf",
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement("a");
                    link.href = url;
                    link.setAttribute("download", `${namecandidate}${lastnamecandidate.charAt(0).toUpperCase()}_${phonecandidate.slice(-4)}.pdf`); //or any other extension
                    document.body.appendChild(link);
                    link.click();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        inactivealert() {
            this.$notify.success({
                title: "Se ha Desactivado correctamente el Desarrollador.",
                message: "",
            });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente.",
            });
        },
        getSearchName(firstInput) {
            (this.searchName = firstInput), this.getCandidate(this.searchName);
        },
        changePage(page) {
            if(this.form != {}) this.getCandidate(page, this.form);
            else this.getCandidate(page);
        },
    },
    created() {
        this.getCandidate(1);
    },
};
</script>

<style scoped>
.el-container {
   min-height: calc(100vh - 180px);
}
.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}
.el-table__body,
.el-table__footer,
.el-table__header {
  width: 100% !important;
}
.btn-danger {
  color: #fff;
  background-color: #f56c6c !important;
  border-color: #f56c6c !important;
}
.btn-info {
  color: #fff;
  background-color: rgb(58, 124, 248) !important;
  border-color: rgb(58, 124, 248) !important;
}
.el-table__body,
.el-table__footer,
.el-table__header {
  width: 100% !important;
}
</style>
