<template lang="html">
    <el-container>
        <el-col style="padding: 2%;" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <h2>Mis cuentas de cobro</h2>
            <router-link style="float: right;" to="/payment-account">
                <el-button type="primary" size="small" round
                ><i class="fas fa-file-invoice-dollar"></i> Generar cuenta de cobro
                </el-button>
            </router-link>
            <el-table  :data="request" empty-text="No se encontraron solicitudes...">
                <el-table-column type="expand">
                    <template slot-scope="props">
                        <p>
                            <strong>Información del proyecto:</strong>
                            {{ props.row.description }}
                        </p>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="correlative_account_number_system"
                    label="#Pay System"
                >
                </el-table-column>
                <el-table-column prop="correlative_account_number" label="#Pay User">
                </el-table-column>
                <el-table-column label="Estatus">
                    <template slot-scope="props">
                        <span>{{ printStatus(parseInt(props.row.status)) }}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="bank_name" label="Banco"> </el-table-column>
                <el-table-column
                    prop="nro_bank_account"
                    label="# Cuenta"
                ></el-table-column>
                <el-table-column prop="value_service_number" label="Monto">
                </el-table-column>
                <el-table-column label="Fecha">
                    <template slot-scope="props">
                        <span>{{ printDateRequest(props.row.created_at) }}</span>
                    </template>
                </el-table-column>
                <el-table-column>
                    <template slot-scope="props">
                        <span>
                            <el-button
                                @click="goToPaymentAccount(props.row.uuid)"
                                size="mini"
                                type="primary"
                                icon="el-icon-edit"
                                circle
                                v-if="props.row.status != 2"
                            >
                            </el-button>
                            <el-button
                                @click="genPdf(props.row.uuid, props.row.created_at)"
                                size="mini"
                                type="info"
                                icon="el-icon-document"
                                circle
                            ></el-button>
                            <el-button
                                @click="genSinglePdf(props.row.uuid, props.row.created_at)"
                                size="mini"
                                type="info"
                                icon="el-icon-document"
                                circle
                            ></el-button>
                            <el-button 
                                @click="genInvoice(props.row.uuid, props.row.full_name, props.row.correlative_account_number_system)"
                                size="mini"
                                type="success"
                                v-if="props.row.status == 2"
                                icon="el-icon-download"
                                circle
                            ></el-button> 
                        </span>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block">
                <el-pagination
                    layout="prev, pager, next"
                    :total="pagination.total"
                    :page-size="pagination.per_page"
                    @current-change="changePage"
                >
                </el-pagination>
            </div>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
import {myMixins} from '../../Utils/mixins'

export default {
    mixins:[myMixins],
    data() {
        return {
            multipleSelection: [],
            customer_request: {},
            pagination: [],
            request: [],
            link: "",
            body: ""
        };
    },
    computed: {},
    methods: {
        changePage(page) {
            this.getCandidate(page);
        },
        goToPaymentAccount(uuid) {
            this.$router.push({
                path: "update-payment-account",
                query: { id: uuid }
            });
        },
        getCandidate(page = 1) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path =
        `${process.env.VUE_APP_URL_API_BACKEND}/api/me-payments-account?page=` +
        page;
            axios
                .get(path)
                .then(response => {
                    this.request = response.data.developers.original.data;
                    this.pagination = response.data.pagination;
                })
                .catch(error => {});
        },
        genPdf(uuid, month) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/pdf/${uuid}`;
            axios
                .get(path, { responseType: "blob", Accept: "application/pdf" })
                .then(response => {
                    console.log("Hola", typeof response.data)
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    this.link.setAttribute(
                        "download",
                        `cuenta-cobro-${this.printDateRequest(month)}.pdf`
                    ); //or any other extension
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch(error => {});
        },
        genSinglePdf(uuid, month) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/pdf-single/${uuid}`;
            axios
                .get(path, { responseType: "blob", Accept: "application/pdf" })
                .then(response => {
                    console.log("generate pdf single", typeof response.data)
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    this.link.setAttribute(
                        "download",
                        `cuenta-cobro-${this.printDateRequest(month)}.pdf`
                    );
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch(error => {});
        },
        genInvoice(uuid, full_name, system_id) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/invoice/pdf/${uuid}`;
            axios
                .get(path, { responseType: "blob", Accept: "application/pdf" })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    this.link.setAttribute("download", `comprobante-pago-${full_name.replace(" ", "-")}-${system_id}.pdf`); //or any other extension
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch((error) => {});
        },
        printStatus(element) {
            status = "";
            switch (element) {
            case 0:
                status = "Pendiente";
                break;
            case 1:
                status = "En proceso";
                break;
            case 2:
                status = "pagado";
                break;
            case 3:
                status = "rechazada";
                break;
            default:
                break;
            }
            return `${status}`;
        },
    /*printDateRequest(element) {
      let dateFormat = new Date(element);
      var months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];

      return `${dateFormat.getDate()} - ${
        months[dateFormat.getMonth()]
      } - ${dateFormat.getFullYear()}`;
    }*/
    },
    created() {
        this.getCandidate();
        this.link = document.createElement("a");
        this.body = document.body;
    }
};
</script>

<style scoped>
.el-container {
   min-height: calc(100vh - 180px);
}
.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}

.el-card__header {
  background-color: #00a0db;
  color: white;
}

.btn-danger {
  color: #fff;
  background-color: #f56c6c !important;
  border-color: #f56c6c !important;
}
.el-dialog__title {
  font-weight: 600 !important;
}
.el-table__body,
.el-table__footer,
.el-table__header {
  width: 100% !important;
}
</style>
