<template lang="html">
    <el-container style="margin: 1%;">
        <el-col :span="24">
            <el-card class="box-card">
                <el-col :span="24" class="col-form">
                    <div class="card-body">
                        <el-form
                            :inline="false"
                            ref="form"
                            :model="sizeForm"
                            size="medium"
                            label-position="top"
                            label-width="auto"
                            class="form"
                        >
                            <el-row :gutter="24" type="flex" justify="center">
                                <el-col :span="8">
                                    <el-form-item
                                        class="label-formulario-solicitud"
                                        label="Nombre"
                                    >
                                        <el-input v-model="sizeForm.namecandidate"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item
                                        label="Email Corporativo"
                                        class="label-formulario-solicitud"
                                    >
                                        <el-input v-model="sizeForm.emailcandidate"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="24" type="flex" justify="center">
                                <el-col :span="8">
                                    <el-form-item
                                        label="Celular"
                                        class="label-formulario-solicitud"
                                    >
                                        <el-input v-model="sizeForm.phonecandidate"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item
                                        label="Desarrollador en..."
                                        class="label-formulario-solicitud"
                                    >
                                        <el-select
                                            v-model="sizeForm.interestcandidate"
                                            filterable
                                            placeholder="Seleccione..."
                                        >
                                            <el-option
                                                v-for="item in tecnologias"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value"
                                            ></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row :gutter="20">
                                <el-col :span="6">
                                    <el-form-item label="Precio por hora">
                                        <el-input
                                            type="number"
                                            v-model="sizeForm.hourpricecandidate"
                                        ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Bilingue">
                                        <el-input v-model="sizeForm.bilinguecandidate"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Reubicación">
                                        <el-input
                                            v-model="sizeForm.availabletravelcandidate"
                                        ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Oficina">
                                        <el-select
                                            v-model="sizeForm.site"
                                            placeholder="Seleccione..."
                                        >
                                            <el-option label="Si" value="true"></el-option>
                                            <el-option label="No" value="false"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row :gutter="20">
                                <el-col :span="6">
                                    <el-form-item label="Remoto">
                                        <el-select
                                            v-model="sizeForm.remotecandidate"
                                            placeholder="Seleccione..."
                                        >
                                            <el-option label="Si" value="true"></el-option>
                                            <el-option label="No" value="false"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Nivel">
                                        <el-select
                                            v-model="sizeForm.levelprogramingidcandidate"
                                            placeholder="Seleccione..."
                                        >
                                            <el-option label="Junior" value="junior"></el-option>
                                            <el-option
                                                label="SemiSenior"
                                                value="semisenior"
                                            ></el-option>
                                            <el-option label="Senior" value="senior"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Estatus">
                                        <el-select
                                            v-model="sizeForm.statuscandidate"
                                            placeholder="Seleccione..."
                                        >
                                            <el-option label="Activo" value="1"></el-option>
                                            <el-option label="Inactivo" value="2"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Descripción">
                                        <el-input
                                            type="text"
                                            v-model="sizeForm.descriptioncandidate"
                                        ></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20" type="flex" justify="end">
                                <el-col :span="120" style="margin-top: 3%">
                                    <el-form-item size="large">
                                        <el-button type="primary" @click="onSubmit"
                                        >Guardar</el-button
                                        >
                                        <el-button>Cancelar</el-button>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </div>
                </el-col>
            </el-card>
        </el-col>
    </el-container>
</template>

<script>
import axios from "axios";
export default {
    name: "RequestCandidate",
    data() {
        return {
            candidateId: this.$route.params.candidateId,
            url:
        "https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-01-512.png",
            sizeForm: {
                namecandidate: "",
                lastnamecandidate: "",
                emailcandidate: "",
                phonecandidate: "",
                agecandidate: "",
                interestcandidate: "",
                availabalitycandidate: "",
                salarycandidate: "",
                hourpricecandidate: "",
                bilinguecandidate: "",
                availabletravelcandidate: "",
                site: "",
                remotecandidate: "",
                levelprogramingidcandidate: "",
                statuscandidate: "",
                descriptioncandidate: ""
            },
            tecnologias: [
                {
                    value: ".Net",
                    label: ".NET Developers"
                },
                {
                    value: "PHP",
                    label: "PHP"
                },
                {
                    value: "LARAVEL",
                    label: "LARAVEL PHP"
                },
                {
                    value: "CODEIGNATER",
                    label: "CODEIGNATER PHP"
                },
                {
                    value: "LARAVEL",
                    label: "LARAVEL FRAMEWORK"
                },
                {
                    value: "SYMFONY",
                    label: "SIMFONY FRAMEWORK"
                },
                {
                    value: "Java",
                    label: "Java"
                },
                {
                    value: "Python",
                    label: "Python"
                },
                {
                    value: "Javascript",
                    label: "Javascript"
                },
                {
                    value: "Ruby",
                    label: "Ruby"
                },
                {
                    value: "ASP",
                    label: "ASP"
                },
                {
                    value: "C++",
                    label: "C++"
                },
                {
                    value: "GO",
                    label: "GO"
                },
                {
                    value: "C#",
                    label: "C#"
                },
                {
                    value: "CSS",
                    label: "CSS"
                },
                {
                    value: "SHELL",
                    label: "SHELL"
                },
                {
                    value: "SWIFT",
                    label: "SWIFT"
                },
                {
                    value: "OBJETIVE-C",
                    label: "OBJETIVE-C"
                },
                {
                    value: "KOTLIN",
                    label: "KOTLIN"
                },
                {
                    value: "DART",
                    label: "DART"
                },
                {
                    value: "SQL",
                    label: "SQL"
                },
                {
                    value: "HASKELL",
                    label: "GO"
                },
                {
                    value: "No conozco",
                    label: "No conozco en que lenguaje"
                }
            ]
        };
    },
    methods: {
        onSubmit(evt) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            evt.preventDefault();
            const path = `https://yohanysturiz.pythonanywhere.com/api/v1/candidates/${this.candidateId}/update/`;

            axios
                .put(path, this.sizeForm)
                .then(response => {
                    console.log(response.data);
                    this.sizeForm = response.data[0];
                    alert("Librro actualizado");
                })
                .catch(error => {
                    console.log(error);
                });
        },
        getCandidate() {
            const path = `https://www.targetsia.xyz/api/v1/candidates/${this.candidateId}/`;

            axios
                .get(path)
                .then(response => {
                    console.log(response.data);
                    this.sizeForm = response.data[0];
                    console.log(response.data[0]["namecandidate"]);
                })
                .catch(error => {
                    console.log(error);
                });
        }
    },
    created() {
        this.getCandidate();
    }
};
</script>

<style scoped>
.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.box-card {
  width: 100%;
  border-radius: 20px;
}
.span-name {
  font-weight: bold;
}
.span-title {
  font-weight: 500;
  font-size: 1.5rem;
}
.container-form {
  margin-top: 2%;
}
.col-perfil {
  background-color: #00a0db;
  color: white;
  margin: 0px;
  padding: 20px 10px 10px 20px;
  height: 442px;
}
.col-form {
  padding-top: 20px;
}
.card-body {
  margin: 0px !important;
  padding: 0px !important;
}
.el-card__body {
  padding: 0px !important;
}
.form {
  margin: 3% !important;
}
.img-perfil {
  width: 150px;
  height: 150px;
  margin-top: 15%;
  margin-bottom: 5%;
  border-radius: 50%;
  border: 5px solid;
}
.label-formulario-solicitud label {
  line-height: 20px !important;
  float: left !important;
  font-weight: 600;
  font-size: 0.95rem;
}
.el-select {
  width: 100%;
}
</style>
