<template>
    <div id="app" class="common-layout">
      <el-header>
        <NavMenu></NavMenu>
      </el-header>
      <el-main>
        <router-view/>
      </el-main>
      <el-footer el-footer class="banner-background-footer">
        <Footer></Footer>
      </el-footer>
    </div>
</template>

<script>
import NavMenu from './components/Layouts/NavMenu.vue'
import Footer from './components/Layouts/Footer.vue'

export default {
    name: 'App',
    components: {
        NavMenu,
        Footer
    }
}
</script>

<style>
    #app {
      font-family: 'San Francisco UI', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      height: 100%;
      width: 100%;
    }
    
    textarea {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }

    .el-input {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
 
    .box-card {
      width: 100%;
      border-radius: 20px !important;
    }

    /* utilidades generales */
    .mb-2 {
      margin-bottom: 2%;
    }
    .m-5 {
      margin: 5%;
    }
    .m-1 {
      margin: 1%;
    }
    .m-2 {
      margin: 2%;
    }
    .m-3 {
      margin: 3%;
    }
    .m-5 {
      margin: 5%;
    }
    .ml-2 {
      margin-left: 2%;
    }
    .ml-5 {
      margin-left: 5%;
    }
    .mr-2 {
      margin-right: 2%;
    }
    .mr-3 {
      margin-right: 3%;
    }
    .mt-1 {
      margin-top: 1%;
    }.mt-2 {
      margin-top: 2%;
    }
    .mt-3 {
      margin-top: 3%;
    }
    .mt-5 {
      margin-top: 5%;
    }

    .mb-5{
      margin-bottom: 5%;
    }
    .text-left {
      text-align: left;
    }
    h3 {
      margin-block-end: 0.5em;
      color: #1d446a;
    }
    h4 {
      margin-block-end: 0.5em;
      color: #1d446a;
    }
    h2 {
      margin-block-end: 0.5em;
      color: #1d446a;
    }
    h1 {
      color: #1d446a;
      font-size: 1.7em;
    }
    .position-points {
      margin-block-end: 0.5em;
      color: #F4D160;
    }
    .tag-description-vacant {
        border-radius: 10px;
        font-weight: 600;
        margin: 2px;
        padding: 0 5px;
    }
    .tag-framework {
        border-radius: 10px;
        font-weight: 600;
        margin: 2px;
        padding: 0 5px;
    }
    .label-form {
        color: #7b7d80 !important;
        font-weight: 600 !important;
    }
    .el-select {
        width: 100% !important;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
    }
    
    .tag-area {
      color: #909399;
      font-size: 0.95em;
      font-weight: 600;
    }
    .el-pagination {
        white-space: nowrap;
        padding: 2px 5px;
        color: #303133;
        font-weight: 700;
        margin: 2%;
    }
    .el-input__count-inner {
      background: none !important;
      line-height: initial;
      display: inline-block;
      padding: 0 5px;
      font-size: 9px !important;
      padding: 0 2px !important;
    }
    .el-table {
      border-radius: 15px;
    }
    .el-dialog {
      border-radius: 15px !important;
    }

    .footer-container{
        display: flex;
        align-self: auto;
    }
    .imuk-redes-sociales {
        padding: 1%;
        cursor: pointer;
        text-decoration: none;
        color: white;
    }

    .banner-background-footer {
        background-color: #1D5D9B;
        opacity: .88;
        transition: background .3s,border-radius .3s,opacity .3s;
        color: #fff !important;
        text-align: center !important;
        font-family: inherit !important;
        padding: 2%;
        height: auto;
        width: 100%;
        left: 0;
        position: block;
        bottom: 0;
    }

    .banner-background-footer h5 {
        color: #fff !important;
        font-size: 11pt;
        text-align: center !important;
    }

    /* [start] Login Class */

    .imuk-card {
      margin-top: 2%;
      margin: 1%;
      padding: 0% 3% 5% 3%;
    }

    .label-form {
      color: #141414 !important;
      font-weight: 600 !important;
    }

    .divider-text {
      color: #666768 !important;
      font-size: 14px;
      font-weight: 500 !important;
    }

    .button-login {
        width: 100%;
        text-anchor: middle;
        font-weight: bold;
    }

    .button-operation {
        text-anchor: middle;
        font-weight: bold;
    }

    .sta-number {
      color: #2c3e50;
      font-weight: bold;
      font-size: 20px;
    }

    .sta-description {
      color: #2c3e50;
      font-weight: bold;
      font-size: 15px;
      padding-left: 20%;
    }

    .sta-panel {
      width: 100%;
      border-radius: 15px !important;
    }

    .profile-description {
      color: #2c3e50;
      font-weight: bold;
      font-size: 15px;
    }

    .box-card {
        width: 100%;
        border-radius: 15px !important;
        padding-top: 2%;
    }

    .socials-button {
        width: 100%;
        border-radius: 15px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .link-menu {
        text-decoration: none;
    }

    .image-gris {
        filter: grayscale(100%);
    }
    
    .icon-container {
        display: flex;
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
        padding: 2%;
    }

    .icon-container-title {
        display: flex;
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
        padding: 2%;
        color: #4c4c4c;
        font-size: 16px;
        font-weight: 600;
    }

    .icon-container-subtitle {
        display: flex;
        justify-content: right; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
        color: #080707;
        font-size: 18px;
        font-weight: 600;
    }
    .icon-coin-size {
      font-size: 15px;
    }

    .text-description-container {
        align-items: center; /* Centrado vertical */
        color: #636262;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    .text-description-container-card {
        align-items: center; /* Centrado vertical */
        color: #636262;
        font-size: 16px;
        font-weight: 600;
    }

    .button-active-milestone {
        text-anchor: middle;
        font-weight: bold;
    }

    /* [end] Login Class */
    
</style>
