<template lang="html">
    <el-container>
        <el-col>
            <EditProfile :isAdmin="true" :developerInfo="this.developer" />
        </el-col>
    </el-container>
</template>
<script>
import axios from "axios";
import EditProfile from '../EditProfile/EditProfile'
export default {
    components: {
        EditProfile
    },
    data(){
        return{
            developer:[],
            uuid: this.$route.params.id
        }
    },
    methods: {
        getCandidate() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/developers/${this.uuid}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios
                .get(path, { headers: { Accept: "application/json" } })
                .then((response) => {
                    this.developer = response.data;                
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
    created() {
        this.getCandidate();
        this.uuid=this.$route.params.id
    },   
}
</script>
<style scoped>
@import url("https://themes.googleusercontent.com/fonts/css?kit=RFda8w1V0eDZheqfcyQ4EGb3DKsRMD34dqg1gT8Z-p6isjtAVhoKeKPV_uAAgBOSk3k702ZOKiLJc3WVjuplzPesZW2xOQ-xsNqO47m55DA");
.el-container {
    padding: 10px 10px 30px 10px;
}
</style>
