<template lang="html">
    <el-row :gutter="10">
        <el-container>
            <el-col :xs="24" :sm="24" :md="4" :lg="4" :xl="4" class="m-1">
                <el-menu style="border-radius: 10px; text-align: justify; height: 100%;" class="el-menu-vertical-demo-talent" >
                    <MenuCollaborator></MenuCollaborator>  
                    <el-container  class="container">
                        <el-button
                            size="large"
                            class="button-login, edit"
                            type="primary"
                            @click = "displayModal()"
                            round>
                            <i class="fa fa-pencil" style="padding: 4px;"></i> Edit
                        </el-button>
                            <router-link to = "/recovery-password">
                                <el-button size="large" class="button-login, password" type="danger" round>
                                    <i class="fa fa-unlock-alt" style="padding: 4px;"></i> Edit Password
                                </el-button>
                            </router-link>
                    </el-container>
                </el-menu>
            </el-col>
            <el-col :xs="24" :sm="24" :md="14" :lg="14" :xl="14" class="m-1">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-card shadow="never" class="box-user-info">
                            <el-row>
                                <el-col style="padding-left: 5%;" :span="18">
                                    <h2>Welcome back, {{ user_full_name }}</h2>
                                    <p class="text-description-container-card">Welcome to your control panel, from here you can see your assigned <b>goals</b> and your accumulated points.</p>
                                    <el-button type="primary" round disabled> <font-awesome-icon icon="fa-solid fa-file-signature fa-2xs"/> <span class="ml-2">Generate Individual report</span></el-button>
                                </el-col>
                                <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
                                    <el-image style="width: 250px; height: 150px" :src="img_welcome" fit="contain" />
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                </el-row>

                <el-row :gutter="20">
                    <el-col style="text-align: left;" :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <h4>Team Targets</h4>
                        <el-card class="box-challenges">
                            <el-row class="mt-2" v-for="target in targets_team" :key="target">
                                <el-col :xs="12" :sm="12" :md="12">
                                    <span class="text-description-container"> {{ target.title }} </span>
                                </el-col>
                                <el-col :xs="12" :sm="12" :md="12">
                                    <el-progress status="success" :text-inside="true" :stroke-width="24" :percentage="target.value"></el-progress>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                    <el-col style="text-align: left;" :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                        <h4>Individual Targets</h4>
                        <el-card class="box-challenges">
                            <el-row class="mt-2" v-for="target in individual_targets" :key="target">
                                <el-col :xs="12" :sm="12" :md="12">
                                    <span class="text-description-container" @click="display_form_target(target)"> {{ target.title }} </span>
                                </el-col>
                                <el-col :xs="12" :sm="12" :md="12">
                                    <el-progress :percentage="target.complete_percentege" :status="target.complete_status"></el-progress>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                </el-row>
                
                <el-row type="flex" justify="center">
                    <el-col style="text-align: left;" :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="m-1" >
                        <h4>Milestones</h4>
                        <el-row :gutter="20">
                            <el-col v-for="template in milestones_org" :key="template" :xs="6" :sm="6" :md="6" :lg="6" :xl="6">
                                <el-card class="sta-panel m-2" shadow="hover">
                                    <div class="icon-container">
                                        <el-image
                                        style="width: 70px; height: 70px"
                                        :src="template.icon"
                                        :class="template.class"
                                        fit="scale-down"></el-image>
                                    </div>

                                    <span class="icon-container-title"> {{ template.title }} </span>

                                    <div class="m-2">
                                        <span class="text-description-container">
                                            {{ template.description }}
                                        </span>
                                    </div>
                                    
                                    <el-row>
                                        <el-col class="mt-3" :xs="24" :sm="24" :md="14" :lg="14" :xl="14">
                                        </el-col>
                                        <el-col class="mt-3" :xs="24" :sm="24" :md="10" :lg="10" :xl="10">
                                            <span class="icon-container-subtitle" style="text-align: left">
                                                <el-tag class="icon-coin-size" type="warning" size="small"> {{ template.points }} <font-awesome-icon icon="fa-solid fa-coins" pull="right"/> </el-tag>
                                            </span>
                                        </el-col>
                                    </el-row>
                                </el-card>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
            </el-col>
            <el-col class="m-1" :xs="24" :sm="24" :md="4" :lg="4" :xl="4">
                <el-card style="height: 100%; border-radius: 16px;" shadow="never">
                    <div class="demo-basic--circle">
                        <div class="block"><el-avatar :size="100" :src="circleUrl"></el-avatar></div>
                        <h3> {{ user_full_name }} </h3>
                        <el-tag> {{ this.user.position }} </el-tag>
                    </div>
                    <el-row>
                        <el-col class="m-1" style="text-align: left;">
                            <h4>Leaderboard</h4>
                            <el-row>
                                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" style="text-align: center;">
                                    <el-image style="width: 60px; height: 60px" :src="icon_trophy" fit="contain" />
                                    <div> <h4 class="position-points">#2</h4> </div>
                                </el-col>
                                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" style="text-align: center;">
                                    <el-image style="width: 60px; height: 60px" :src="icon_coin" fit="contain" />
                                    <div> <h4 class="position-points">{{ this.points_wallet.points_total }}</h4> </div>
                                </el-col>
                            </el-row>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col style="text-align: left;">
                            <h4>{{ my_team.name }} team</h4>
                            <el-table :show-header="false" :data="users_team" style="width: 100%">
                                <el-table-column width="70">
                                    <template #default="scope">
                                        <div style="display: flex; align-items: center">
                                            <span style="margin-left: 10px">
                                                <el-avatar :size="30" :src="circleUrlMembers"></el-avatar>
                                            </span>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column>
                                    <template #default="scope">
                                        <div style="display: flex; align-items: center">
                                          <span> {{ scope.row.first_name }} {{ scope.row.last_name }} </span>
                                        </div>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-col>
                    </el-row>
                </el-card>
            </el-col>
        </el-container>

        <!-- Modal for form target edit -->
        <el-dialog width="30%" v-model="show_form_target">
            <template #header="{ close, titleId, titleClass }">
                <div class="my-header">
                  <h4 :id="titleId" :class="titleClass">Update your progress</h4>
                </div>
              </template>
            <div class="slider-demo-block m-2">
                <span class="demonstration"> {{ target_status.title }} </span>
                <el-slider v-model="target_status.complete_percentege" :step="5" show-stops/>
            </div>
            <template #footer>
                <span class="dialog-footer">
                  <el-button @click="show_form_target = false">Cancel</el-button>
                  <el-button type="primary" @click="updateTargetProgress()">
                    Update
                  </el-button>
                </span>
              </template>
        </el-dialog>

        <!-- Modal for edit collaborator -->
        <el-dialog v-model="dialogFormVisible" class="label-form" title="Edit user" width="23%">
                <el-form
                    ref="basicForm"
                    :model="basicForm"
                    label-position="top"
                    label-width="100px"
                    style="max-width: 100%"
                    status-icon
                >   
                    <div class="modal-body">
                    <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="First name" :label-width="formLabelWidth">
                            <el-input v-model="basicForm.first_name" autocomplete="off" />
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="Last name" :label-width="formLabelWidth">
                            <el-input v-model="basicForm.last_name" autocomplete="off" />
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="Position" :label-width="formLabelWidth">
                        <el-input v-model="basicForm.position" autocomplete="off" />
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="Country" :label-width="formLabelWidth">
                            <el-select size="large" v-model="basicForm.country_id" filterable placeholder="Please select a country">
                                <el-option
                                    v-for="item in countries"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="Area" :label-width="formLabelWidth" prop="industry_id">
                            <el-select size="large" v-model="basicForm.industry_id" filterable placeholder="Please select a area">
                                <el-option
                                    v-for="item in areas"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col  :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
                        <el-form-item class="label-form" label="Rol" :label-width="formLabelWidth" prop="rol">
                            <el-select size="large" v-model="basicForm.rol" placeholder="Please select a rol">
                                <el-option
                                    v-for="item in roles"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </div>  
                </el-form>
                <template #footer>
                    <span class="dialog-footer , button-container">
                    <el-col :xs="24" :sm="24" :md="13" :lg="13" :xl="13">
                        <el-button @click="dialogFormVisible = false">Cancel</el-button>
                        <el-button type="primary" @click="onSubmit(basicForm)">
                        Update
                        </el-button>
                    </el-col>
                    </span>
                </template>
            </el-dialog>

    </el-row>
</template>

<script>
import axios from "axios";
import { alerts } from "@/Utils/alerts.js";

import { ElButton, ElDialog } from 'element-plus'
import { CircleCloseFilled } from '@element-plus/icons-vue'

import MenuCollaborator from '../../Gamification/Layout/MenuCollaborator.vue'

export default {
    name: 'TalentProfile',
    mixins: [alerts],
    components:{
        MenuCollaborator
    },
    data() {
        return {
            user: {},
            user_full_name: "",
            org: {},
            milestones_org: [],
            individual_targets: [],
            my_team: {},
            basicForm: {
                    first_name: "",
                    last_name:"",   
                    country_id: "",
                    area: "",
                    position:"",
                    industry_id: "",
                    rol: "",
                },
            target_status: {
                title: "",
                complete_percentege: 0,
                target_id: 0,
            },
            dialogFormVisible: false,
            
            // vars for wallet module
            points_wallet:{
                points_total : "",
            },

            users_team: [],
            targets_team: [],

            circleUrl: "/icons/robot-for-candidate.png",
            img_welcome: "/icons/welcome-unisex-256.png",
            icon_trophy: "/icons/best-team.png",
            icon_coin: "/icons/icon-coin.png",
            circleUrlMembers: 'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png',
            show_form_target: false,
            tableData: [
                {
                    description: 'Upload your documents',
                    tag: 'Home'
                },
                {
                    description: 'Completed your profile',
                    tag: 'Office'
                },
                {
                    description: 'Upload your profile image',
                    tag: 'Home'
                },
                {
                    description: 'Upload your profile image',
                    tag: 'Home'
                },
                {
                    description: 'Upload your profile image',
                    tag: 'Home'
                }
            ]
        }
    },
    methods: {
        
        async onSubmit(formName) {
            const path = `https://www.targetsia.xyz/api/user/update/${this.user.id}`;
            // this.fullScreenLoading = true
            axios({
                        url: path,
                        method: "PUT",
                        data: this.basicForm,
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                        },
                    })
                         .then((response) => {
                            // this.fullScreenLoading = false;
                            //  this.$refs["basicForm"].resetFields();
                            // this.$emit("syncUsers")
                            this.dialogFormVisible = false;
                            this.alertMessage("Congrats, User update", "success");
                            this.getUsers();
                        })
                        .catch((error) => {
                            // this.fullScreenLoading = false;
                            // this.alertError(error.response.data.data[0]);
                    });
        },

        // Functions for events
        handleOpen(key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
            console.log(key, keyPath);
        },
        display_form_target(target) {
            this.show_form_target = true
            this.target_status.target_id = target.id
            this.target_status.title = target.title
            this.target_status.complete_percentege = target.complete_percentege
        },

        // Functions for events get data
        getUserData() {
            this.user = JSON.parse(this.$store.state.user)
            this.user_full_name = `${this.user.first_name} ${this.user.last_name}`
        },
        getMyTeams() {
            const path = `https://www.targetsia.xyz/api/team_belong/${this.user.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            axios
                .get(path)
                .then((response) => {
                    if (response.data.length > 0) {
                        this.my_team = response.data[0];
                        this.getMembersOfTeam();
                    }
                })
                .catch((error) => { });
        },
        getMembersOfTeam() {
            const path = `https://www.targetsia.xyz/api/companions/${this.my_team.id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            axios
                .get(path)
                .then((response) => {
                    this.users_team = response.data;
                })
                .catch((error) => { });
        },
        getTargetsOfTeam(){
            if (this.user.org =! undefined) {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.user.org.id}/gamification/targets/team/${this.my_team.id}`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.targets_team = response.data;
                    })
                    .catch((error) => { });

                }
        },
        getOrgMilestone() {
            if (this.user.org =! undefined) {
                const path = `https://www.targetsia.xyz/api/v2/organization/${this.user.org.id}/gamification/milestones`;
                axios.defaults.xsrfHeaderName = "X-CSRFToken";
                axios.defaults.xsrfCookieName = "csrftoken";

                axios
                    .get(path)
                    .then((response) => {
                        this.milestones_org = response.data;
                    })
                    .catch((error) => { });
            }
            
        },
        getIndividualTargets(page) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path =
                `https://www.targetsia.xyz/api/target_user/${this.user.id}`;
            axios
                .get(path)
                .then((response) => {
                    this.individual_targets = response.data;
                    this.loading = false;
                })
                .catch((error) => {
                    this.loading = false;
                });
        },

        getPointsWallet(){
            const path = `https://www.targetsia.xyz/api/points_wallet/${this.user.id}`
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            
            axios
            .get(path)
            .then((response) => {
                this.points_wallet = response.data;
                this.loading = false;
            })
            .catch((error) => {
                this.loading = false;
            })
        },

        // Submit data
        updateTargetProgress(){
            const path = `https://www.targetsia.xyz/api/gamification/target_user/${this.target_status.target_id}`;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            var data = {
                "target_id": this.target_status.target_id,
                "user_id": this.user.id,
                "complete_percentege": this.target_status.complete_percentege
            }
            
            axios({
                url: path,
                method: "POST",
                data: data,
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*"
                }
            })
                .then(response => {
                    this.alertMessage("Congrats, Target update", "success");
                    this.show_form_target = false;
                    this.getIndividualTargets();
                })
                .catch(error => {

                });
        },

        displayModal() {
                this.dialogFormVisible = true;

                this.basicForm.first_name = this.user.first_name;
                this.basicForm.last_name = this.user.last_name;
                this.basicForm.country_id = this.user.country_id;
                this.basicForm.area = this.user.area;
                this.basicForm.industry_id = this.user.industry_id;
                this.basicForm.position = this.user.position;
                this.basicForm.rol = this.user.rol;
            }

    },
    created() {
        this.getUserData();
        this.getOrgMilestone();
        this.getPointsWallet();
        this.getMyTeams();
        this.getTargetsOfTeam();
        this.getIndividualTargets();
    }
}
</script>

<style scoped>
    .box-menu-icon {
        display: flex;
        align-items: center; /* Alinea verticalmente los elementos en el centro */
    }
    .text-icon {
        margin-left: 0.5em;
        text-decoration: none;
        font-weight: 600;
        color: #565656 !important
    }
    a { text-decoration: none; }

    .box-user-info {
        /* padding: 1%; */
        border-radius: 16px;
        text-align: left;
        background-color: rgba(117, 194, 246, 0.1)
    }

    .box-challenges {
        border-radius: 10px;
    }

    .el-aside {
        color: white;
        background-color: white;
    }

    .my-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .dialog-footer button {
        margin-right: 10px;
        margin-top: 10%;
    }

    .button-container { 
        display: flex;
        justify-content: center;
    }

    .modal-body {
        width: 100%; /* Ajusta el ancho del contenido de la modal según tus necesidades */
        max-width: 600px; /* Establece un ancho máximo para evitar que la modal sea demasiado grande */
        padding: 50px; /* Ajusta el padding según tus necesidades */
        border-radius: 8px; /* Ajusta el radio de los bordes según tus preferencias */
    }

    .container {
    width: 300px;
    height: 200px;
    position: relative;
}


    .edit {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 40%; /* Ajusta la distancia desde la parte inferior según tus preferencias */
        right: 50px; /* Puedes usar "right" para ajustar la posición desde la derecha si es necesario */
        width : 200px;
    }

    .password{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 33%;
        right: 50px;
        width: 200px;
    }
</style>