<template lang="html">
    <el-row>
        <el-container v-loading.fullscreen.lock="fullscreenLoading">
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <h2 class="title" style="font-size: 2rem;"><span> Generar Cuenta de Cobro</span> </h2>
                <el-row style="margin-top: 3%;">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-row :gutter="20">
                            <el-col :span="12" :offset="6">
                                <div>
                                    <h3 style="text-align: left" class="title"><span>1. Ingresa tus datos</span> </h3>
                                    <div>
                                        <UserDataPayForm @sendMeData="sendMeData"></UserDataPayForm>
                                    </div>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="12" :offset="6">
                                <div>
                                    <h3 style="text-align: left" class="title">2. Selecciona el método por el cual quieres recibir tu pago </h3>
                                    <div style="text-align: left">
                                        <!-- <el-button v-for="item in payment_methods" round class="button-pay-method" :key="item.url" :autofocus="item.autofocus" @click="changeMethod(item.method)">
                                            <el-image :src="item.url"></el-image>
                                        </el-button>
                                        <el-tabs v-model="activeName" @tab-click="changeMethod">
                                            <el-tab-pane name="bank">
                                                <div>
                                                    <BankPayForm :method="this.activeName" @sendMeBank="sendMeBank"></BankPayForm>
                                                </div>
                                            </el-tab-pane>
                                            <el-tab-pane name="paypal">
                                                <div>
                                                    <BankPayForm :method="this.activeName" @sendMeBank="sendMeBank"></BankPayForm>
                                                </div>
                                            </el-tab-pane>
                                            <el-tab-pane name="nequi">
                                                <div>
                                                    <BankPayForm :method="this.activeName" @sendMeBank="sendMeBank"></BankPayForm>
                                                </div>
                                            </el-tab-pane>
                                        </el-tabs> -->
                                    </div>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="12" :offset="6">
                                <div>
                                    <h3 style="text-align: left" class="title">3. Descripción del servicio </h3>
                                    <div>
                                        <DescriptionPay :formUpdate="this.form" @onSubmit="onSubmit"></DescriptionPay>
                                    </div>
                                </div>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
            </el-col>
            <el-dialog
                title="Alerta!"
                width="40%"
                :close-on-click-modal="false"
                :close-on-press-escape="false"
                :show-close	="false"
                center>
                <el-alert
                    title="Ha superado el número de cuentas de cobro a generar por mes, la función sera habilitada el siguiente mes."
                    type="warning"
                    :closable="false"
                    show-icon>
                </el-alert>
                <span slot="footer" class="dialog-footer">
                    <router-link to="/cuentas-de-cobro"><el-button type="primary"> <i class="fas fa-arrow-circle-left"></i> Ir a cuentas de cobro</el-button></router-link>
                </span>
            </el-dialog>
        </el-container>
    </el-row>
</template>

<script>
import axios from "axios";
import {mapState} from "vuex";
// import PaymentAccountForm from "./forms/PaymentAccountForm";
import UserDataPayForm from "./forms/UserDataPayForm";
// import BankPayForm from "./forms/BankPayForm";
import DescriptionPay from "./forms/DescriptionPay";

export default {
    name: "CreatePaymentAccount",
    computed: {
        ...mapState("auth", ["authenticate", "user_session"])
    },
    components: {
        // PaymentAccountForm,
        UserDataPayForm,
        // BankPayForm,
        DescriptionPay
    },
    data() {
        return {
            fileList: [],
            fullscreenLoading: false,
            show_modal_block: false,
            fileListSocialSecurity: [],
            form: {},
            link: "",
            body: "",
            account_per_mounth: 0,
            // not_found_page: require('../../../assets/not_found_page.png'),
            // payment_methods: [
            //     {
            //         url: require('../../../assets/paypal-method.png'),
            //         autofocus: false,
            //         method: "paypal"
            //     },
            //     {
            //         url: require('../../../assets/nequi-method.png'),
            //         autofocus: false,
            //         method: "nequi"
            //     },
            //     {
            //         url: require('../../../assets/bank-transfer.png'),
            //         autofocus: true,
            //         method: "bank"
            //     }
            // ],
            activeName: ''
        };
    },
    methods: {
        getLastPaymenAccountGenerate(){
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/last-payment-account`
            axios.get(path).then((response) => {
                console.log(response.data)
                let data = response.data
                if(data.value_service_number != undefined) {
                    this.form = data
                }
            })
                .catch((error) => {
                })
        },
        sendMeData(form_data) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/user/update/${this.user_session.id}`;

            axios({
                url: path,
                method: "POST",
                data: form_data
            })
                .then(response => {
                    this.alertSuccessUpdateData();
                })
                .catch(error => {
                    this.alertError();
                });
        },
        sendMeBank(form_data) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/user/banks/${this.user_session.id}`;

            axios({
                url: path,
                method: "POST",
                data: form_data
            })
                .then(response => {
                    this.alertSuccessUpdateData();
                })
                .catch(error => {
                    this.alertError();
                });
        },
        onSubmit(form_data) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account`;
            this.openLoadScreen(true);

            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: form_data
            })
                .then(response => {
                    this.alertSuccess();
                    this.genPdf(response.data.uuid);
                    this.openLoadScreen(false);
                    this.validAccountPerMount();
                })
                .catch(error => {
                    this.alertError();
                    this.openLoadScreen(false);
                });
        },
        genPdf(uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/pdf/${uuid}`;
            axios
                .get(path, {
                    responseType: "blob",
                    Accept: "application/pdf"
                })
                .then(response => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    this.link.setAttribute("download", `cuenta-cobro-hoy.pdf`); //or any other extension
                    this.body.appendChild(this.link);
                    this.link.click();
                    this.$router.push("cuentas-de-cobro");
                })
                .catch(error => {});
        },
        alertSuccess() {
            this.$notify.success({
                title: "Cuenta de cobro generada",
                message: "¡En momentos se generara un pdf!",
                offset: 100
            });
        },
        alertSuccessUpdateData() {
            this.$message({
                message: 'Datos guardados con exito',
                type: 'success'
            });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Ha ocurrido un problema, intente nuevamente."
            });
        },
        openLoadScreen(bol) {
            this.fullscreenLoading = bol;
        },
        changeMethod(tab, event) {
            this.activeName = tab
        },
        validAccountPerMount() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account-per-mounth`
            axios.get(path).then((response) => {
                if(response.data != null) {
                    this.account_per_mounth = response.data
                    if(this.account_per_mounth > 1) this.show_modal_block = true
                }
            })
                .catch((error) => {
                })
        }
    },
    created() {
        this.link = document.createElement("a");
        this.body = document.body;
        this.getLastPaymenAccountGenerate();
        this.validAccountPerMount();
    }
};
</script>

<style scoped>
.box-card {
    border-radius: 15px !important;
    margin: auto !important;
}

.imuk-card {
    margin-top: 2%;
    margin: 1%;
    padding: 0% 3% 10% 3%;
}

.icon-back {
    font-size: 1.2rem;
    font-weight: bold;
}

.label-text-certificate {
    font-size: 0.8rem;
    color: #303133;
}

.m-2 {
    margin: 2%;
}

.button-pay-method {
    width: 120px;
    height: 100px;
    padding: 5px 15px;
}

.el-tabs__header {
    display: none !important;
}

.el-tabs__item {
    padding: 0 20px;
    height: 15px !important;
}

.el-tabs__nav-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    z-index: 1;
}

</style>
