<template lang="html">
    <el-row>
        <el-container>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <h1 class="title" style="font-size: 2rem;"> <span> <i class="fas fa-file-invoice-dollar"></i> Modificar Cuenta de Cobro</span> </h1>
                <el-row style="margin-top: 2%;">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <el-card class="box-card"> 
                            <el-row style="margin-bottom: 10%;">
                                <el-col :md="3" style="text-align: left;">
                                    <i class="fas fa-arrow-circle-left icon-back"></i>
                                </el-col>
                                <el-col :md="20" style="text-align: center;">
                                    <h4 class="" style="margin: 0px !important;"> ¡Completa este formulario para simplicar tu proceso de pago! </h4>
                                </el-col>
                            </el-row>
                            <div class="card-body imuk-card">
                                <PaymentAccountForm :formUpdate="this.form" @onSubmit="onSubmit"></PaymentAccountForm>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
import axios from 'axios'
import { mapState, mapMutations } from 'vuex';
import PaymentAccountForm from "./forms/PaymentAccountForm";

export default {
    name: 'UpdatePaymentAccount',
    computed: {
        ...mapState('auth', ['authenticate', 'user_session'])
    },
    components:{
        PaymentAccountForm
    },
    data() {
        return {
            fileList: [],
            fileListSocialSecurity: [],
            form: {},
            link: "",
            body: ""
        }
    },
    methods: {
        onSubmit(form_data) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken"
            axios.defaults.xsrfCookieName = "csrftoken"
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/${this.form.uuid}`
            
            axios({
                url: path, //Endpoint
                method: 'POST',  //Método
                data: form_data,
            }).then((response) => {
                this.alertSuccess();
                this.genPdf(response.data.uuid);
                this.$router.push("cuentas-de-cobro");
            }).catch((error) => {
                this.alertError();
            });

        },
        genPdf(uuid) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/pdf/${uuid}`;
            axios.get(path, { responseType: "blob", Accept: "application/pdf" })
                .then(response => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    this.link.href = url;
                    this.link.setAttribute("download", `cuenta-de-cobro-modificada-hoy.pdf`); //or any other extension
                    this.body.appendChild(this.link);
                    this.link.click();
                })
                .catch(error => {});
        },
        getPaymentAccount(uuid) {
            if (uuid === undefined) return;
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.headers.common[
                "Authorization"
            ] = `Bearer ${localStorage.getItem("api_token")}`;

            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/payment-account/${uuid}`;
            axios.get(path).then(response => {
                this.form = response.data;
                this.getFiles(response.data.files);
            });
        },
        getFiles(files) {
            files.forEach(element => {
                switch (element.type_document) {
                case "firm":
                    this.form.fileList = Array({name: element.description, url: element.filename});
                    this.form.url_file_firm = [];
                    break;
                case "certificate_payment_social_security":
                    this.form.fileListSocialSecurity = Array({name: element.description, url: element.filename});
                    this.form.url_file_security_social = [];
                    break;
                default:
                    break;
                }
            });
        },
        alertSuccess() {
            this.$notify.success({
                title: 'Modificacion Exitosa',
                message: '¡En momentos se generara un pdf!',
                offset: 100
            })
        },
        alertError() {
            this.$notify.error({
                title: 'Error',
                message: 'Ha ocurrido un problema, intente nuevamente.'
            });
        },
    },
    created() {
        this.getPaymentAccount(this.$route.query.id);
        this.link = document.createElement("a");
        this.body = document.body;
    }
}
</script>

<style scoped>
    .box-card {
      border-radius: 15px !important;
      margin: auto !important;
    }
    .imuk-card {
        margin-top: 2%;
        margin: 1%;
        padding: 0% 3% 10% 3%;
    }
    .icon-back {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .label-text-certificate {
        font-size: .8rem;
        color: #303133;
    }
    .m-2 {
        margin: 2%;
    }
</style>
