<template lang="html">
    <el-row>
        <el-container>
            <el-col
                :xs="24"
                :sm="24"
                :md="24"
                :lg="24"
                :xl="24"
                style="margin-top: 4vh; margin-bottom: 32vh;"
            >
                <h1 class="title" style="font-size: 2em;">
                    <span> Cambiar contraseña </span>
                </h1>

                <el-row type="flex" style="margin-top: 2%;" justify="center">
                    <el-col :xs="23" :sm="23" :md="8" :lg="8" :xl="8">
                        <el-card class="box-card">
                            <div class="card-body imuk-card">
                                <el-form
                                    ref="form"
                                    :model="form"
                                    status-icon
                                    :rules="rules"
                                    size="medium"
                                    label-position="right"
                                >
                                    <el-row :gutter="20">
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                            <el-form-item
                                                class="label-form"
                                                prop="password"
                                                label="Nueva contraseña"
                                            >
                                                <el-input
                                                    type="password"
                                                    v-model="form.password"
                                                ></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row :gutter="20">
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                            <el-form-item
                                                class="label-form"
                                                prop="confirmPassword"
                                                label="Confirmar nueva contraseña"
                                            >
                                                <el-input
                                                    type="password"
                                                    v-model="form.confirmPassword"
                                                ></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                        <el-button @click="onSubmit">Guardar</el-button>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
import axios from "axios";
import { mapState, mapMutations } from "vuex";
export default {
    name: "ForgotPassword",
    computed: {
        ...mapState("auth", ["authenticate"])
    },
    data() {
        var validatePass = (rule, value, callback) => {
            if (value === "") {
                callback(new Error("Ingrese su contraseña"));
            } else {
                if (this.form.confirmPassword !== "") {
                    this.$refs.form.validateField("confirmPassword");
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === "") {
                callback(new Error("Ingrese su contraseña"));
            } else if (value !== this.form.password) {
                callback(new Error("Las contraseñas no coinciden!"));
            } else {
                callback();
            }
        };
        return {
            url:
        "https://cdn2.iconfinder.com/data/icons/whcompare-servers-web-hosting/50/website-builder-256.png",
            form: {
                password: "",
                confirmPassword: "",
                email: "",
                token: ""
            },
            rules: {
                password: [{ validator: validatePass, trigger: "blur" }],
                confirmPassword: [{ validator: validatePass2, trigger: "blur" }]
            }
        };
    },
    methods: {
        onSubmit(evt) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            evt.preventDefault();
            this.$refs["form"].validate(valid => {
                if (valid) {
                    const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/updatepassword`;
                    axios({
                        url: path, //Endpoint
                        method: "POST", //Método
                        data: this.form
                    })
                        .then(res => {
                            this.alertSuccess();
                            this.$router.push({ path: "login" });
                            console.log(res);
                        })
                        .catch(error => {
                            this.alertError();
                        });
                } else {
                    console.log("error submit!!");
                    return false;
                }
            });
        },
        getToken(token) {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/gettokenrecovery/${token}`;
            axios
                .get(path)
                .then(response => {
                    if (response.data.email != undefined) {
                        this.form.token = token;
                        this.form.email = response.data.email;
                    } else {
                        this.$router.push({ path: "login" });
                    }
                })
                .catch(error => {
                    this.$router.push({ path: "login" });
                });
        },
        alertSuccess() {
            this.$notify.success({
                title: "Contraseña Actualizada!",
                message: "",
                offset: 100
            });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message:
          "El correo o la contraseña no coinciden, por favor verifique nuevamente."
            });
        },
        resetForm() {
            this.$refs["form"].resetFields();
        },
        ...mapMutations("auth", ["changeAuth"])
    },
    beforeMount() {
        if (this.$route.query.token == undefined) {
            this.$router.push({ path: "login" });
        } else {
            this.getToken(this.$route.query.token);
        }
    }
};
</script>

<style scoped>
.box-card {
  width: 100%;
  border-radius: 15px !important;
}
.col-perfil {
  background-image: linear-gradient(140deg, #5792ce 9%, #071019 100%);
  opacity: 0.88;
  -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  color: #fff;
  margin: 0px;
  padding: 20px 10px 10px 20px;
  height: auto;
  border-radius: 15px;
}
.img-perfil {
  width: 150px;
  height: 150px;
  margin-top: 15%;
  margin-bottom: 5%;
}
.el-radio--mini.is-bordered {
  padding: 6px 15px 0 10px !important;
  height: auto;
}

.imuk-card {
  margin-top: 2%;
  margin: 1%;
  padding: 0% 3% 10% 3%;
}

.icon-back {
  font-size: 1.2rem;
  font-weight: bold;
}

.label-form {
  color: #7b7d80 !important;
  font-weight: 600 !important;
}
</style>
