<template lang="html">
    <el-row>
        <el-container>
            <el-col
                :xs="24"
                :sm="24"
                :md="24"
                :lg="24"
                :xl="24"
                style="margin-top: 4vh; margin-bottom: 32vh;"
            >
                <h1 class="title" style="font-size: 2em;">
                    <span> Recovery password </span>
                </h1>

                <el-row type="flex" style="margin-top: 2%;" justify="center">
                    <el-col :xs="23" :sm="23" :md="8" :lg="8" :xl="8">
                        <el-card class="box-card">
                            <div class="card-body imuk-card">
                                <el-form
                                    ref="form"
                                    :model="form"
                                    size="medium"
                                    label-position="right"
                                >
                                    <el-row :gutter="20">
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                            <el-form-item class="label-form" label="E-mail">
                                                <el-input
                                                    @keyup.enter.native="onSubmit"
                                                    v-model="form.email"
                                                    placeholder="Enter your email"
                                                ></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                        <el-button @click="onSubmit">Enter</el-button>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
import axios from "axios";
import {mapState, mapMutations} from "vuex";

export default {
    name: "ForgotPassword",
    computed: {
        ...mapState("auth", ["authenticate"])
    },
    data() {
        return {
            url:
                "https://cdn2.iconfinder.com/data/icons/whcompare-servers-web-hosting/50/website-builder-256.png",
            form: {
                email: ""
            },
            rules: {
                email: [
                    {
                        type: "email",
                        required: true,
                        message: "El campo email es requerido",
                        trigger: "blur"
                    }
                ]
            },
            token: ""
        };
    },
    methods: {
        onSubmit(evt) {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            evt.preventDefault();
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/recoverypassword`;
            axios({
                url: path, //Endpoint
                method: "POST", //Método
                data: this.form
            })
                .then(response => {
                    this.alertSuccess();
                    this.$router.push({path: "login"});
                })
                .catch(error => {
                    this.alertError();
                });
        },
        getLenguages() {
            const path = `${process.env.VUE_APP_URL_API_BACKEND}/api/lenguage`;
            axios
                .get(path)
                .then(response => {
                    this.tecnologias = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
        },
        alertSuccess() {
            this.$notify.success({
                title: "Cambio de contraseña!",
                message: "Revise su correo electronico",
                offset: 100
            });
        },
        alertError() {
            this.$notify.error({
                title: "Error",
                message: "Este correo no se encuentra registrado, por favor verifica."
            });
        },
        ...mapMutations("auth", ["changeAuth"])
    },
    created() {
        this.getLenguages();
    }
};
</script>

<style scoped>
.box-card {
    width: 100%;
    border-radius: 15px !important;
}

.col-perfil {
    background-image: linear-gradient(140deg, #5792ce 9%, #071019 100%);
    opacity: 0.88;
    -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    color: #fff;
    margin: 0px;
    padding: 20px 10px 10px 20px;
    height: auto;
    border-radius: 15px;
}

.img-perfil {
    width: 150px;
    height: 150px;
    margin-top: 15%;
    margin-bottom: 5%;
}

.el-radio--mini.is-bordered {
    padding: 6px 15px 0 10px !important;
    height: auto;
}

.imuk-card {
    margin-top: 2%;
    margin: 1%;
    padding: 0% 3% 10% 3%;
}

.icon-back {
    font-size: 1.2rem;
    font-weight: bold;
}

.label-form {
    color: #7b7d80 !important;
    font-weight: 600 !important;
}
</style>
