<template>
    <el-row>
        <el-container>
            <el-col
                :xs="24"
                :sm="24"
                :md="24"
                :lg="24"
                :xl="24"
                style="margin-top: 4vh; margin-bottom: 10vh;"
            >
                <h1 class="title" style="font-size: 2em;">
                    <span> Sign in </span>
                </h1>

                <el-row type="flex" style="margin-top: 2%;" justify="center">
                    <el-col :xs="20" :sm="20" :md="8" :lg="8" :xl="8">
                        <el-card class="box-card">
                            <div class="card-body imuk-card">
                                <el-form
                                    ref="form"
                                    :model="form"
                                    :label-position="labelPosition"
                                    label-width="100px"
                                    style="max-width: 100%"
                                >
                                    <el-row>
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                            <el-form-item class="label-form" label="Email address">
                                                <el-input
                                                    @keyup.enter.native="onSubmit"
                                                    v-model="form.email"
                                                    placeholder=""
                                                    size="large"
                                                ></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                            <el-form-item class="label-form" label="Password">
                                                <el-input
                                                    @keyup.enter.native="onSubmit"
                                                    type="password"
                                                    v-model="form.password"
                                                    placeholder=""
                                                    size="large"
                                                    show-password
                                                ></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col
                                            style="text-align:right; padding-bottom: 5%;"
                                            :xs="24"
                                            :sm="24"
                                            :md="24"
                                            :lg="24"
                                            :xl="24"
                                        >
                                            <div>
                                                <el-link type="warning"><strong>Forgot your password?</strong></el-link>
                                            </div>
                                        </el-col>
                                    </el-row>
                                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                        <el-button size="large" class="button-login" type="primary" @click="onSubmit" round>
                                            <font-awesome-icon icon="fa-solid fa-arrow-right-to-bracket" pull="left"/> Sign in
                                        </el-button>
                                        <el-divider>
                                            <span class="divider-text">
                                                Or continue with
                                            </span>
                                        </el-divider>
                                        <el-row :gutter="5">
                                            <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                                <el-button class="socials-button" type="info" size="large" plain>
                                                    <font-awesome-icon icon="fa-brands fa-github" pull="left"/>
                                                </el-button>
                                            </el-col>
                                            <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                                <el-button class="socials-button google" type="info" size="large" plain>
                                                    <font-awesome-icon icon="fa-brands fa-google" pull="left"/>
                                                </el-button>
                                            </el-col>
                                            <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                                                <el-button class="socials-button" type="info" size="large" plain>
                                                    <font-awesome-icon icon="fa-brands fa-linkedin-in" pull="left"/>
                                                </el-button>
                                            </el-col>
                                        </el-row>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-col>
        </el-container>
    </el-row>
</template>

<script>
import { throwStatement } from "@babel/types";
import axios from "axios";

export default {
    name: "FormLogin",
    data() {
        return {
            labelPosition: "top",
            form: {
                email: "",
                password: "",
            },
            token: "",
            loadingAuth: false,
        };
    },
    methods: {
        async onAuthorize(provider) {
            this.loadingAuth = provider;
            const authCode = this.$auth
                .authenticate(provider)
                .then((response) => {
                    this.loadingAuth = false;
                    this.initSession(response);
                })
                .catch((error) => {
                    this.loadingAuth = false;
                    this.alertError(`No hemos logrado autenticarte con ${provider}`);
                });
        },
        onSubmit() {
            axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";

            const path = `https://www.targetsia.xyz/api/v2/auth/login`;
            axios({
                url: path,
                method: "POST",
                data: this.form,
            })
            .then((response) => this.initSession(response))
            .catch((error) => {
                console.log(error)
                this.alertError(
                    "Invalid credentials"
                );
            });
        },
        initSession(response) {
            const user = response.data.data.user;
            console.log("Send information to state", user);
            this.$store.commit('setToken', user.api_token);
            this.$store.commit('setUser', JSON.stringify(user));

            this.alertSuccess(user);
            this.nextRedirect(user.roles);
        },
        alertSuccess(data) {
            this.$notify.success({
                title: "¡Welcome " + data.first_name + "!",
                message: "",
                offset: 100,
            });
        },
        alertError(message) {
            this.$notify.error({
                title: "Error",
                message: message,
            });
        },
        resetForm() {
            this.$refs["form"].resetFields();
        },
        nextRedirect(rol) {
            // if (localStorage.getItem("url_signature_contract") != undefined) {
            //     return window.location.replace(
            //         localStorage.getItem("url_signature_contract")
            //     );
            // }
            switch (rol) {
                case "administrator":
                    this.$router.push("/admin/gamification");
                    break;
                case "analyst":
                    this.$router.push("/analyst/gamification");
                    break;
                case "candidate":
                    this.$router.push("/talent/profile");
                    break;
                case "collaborator":
                    this.$router.push("/talent/profile");
                    break;
                case "client":
                    this.$router.push("/admin/gamification");
                    break;
                default:
                    break;
            }
        },
    }
};
</script>

<style scoped>
    .el-radio--mini.is-bordered {
        padding: 6px 15px 0 10px !important;
        height: auto;
    }
</style>
