<template>
    <el-breadcrumb v-if="show" separator-class="el-icon-arrow-right">
        <el-breadcrumb-item v-for="(item,index) in routes" :key="index">
            <router-link :to="item.path" v-bind:class="{disabled: item.meta.params}">
                <span>
                    {{item.meta.value}}
                </span>
            </router-link>
        </el-breadcrumb-item>
    </el-breadcrumb>
</template>

<script>
// import {
//     mapState,
//     mapMutations
// } from 'vuex';

export default {
    // computed: {
    //     ...mapState('auth', ['authenticate', 'user_session'])
    // },
    name: "Breadcrumb",
    data() {
        return {
            routes: [],
            show: false
        }
    },
    methods: {
        getRoute() {
            this.routes = this.$route.matched
        },
    },
    watch: {
        $route: function () {
            this.routes = this.$route.matched
            this.show = this.authenticate
        },
    },
    created() {
        this.getRoute()
        this.show = this.authenticate
    },

}
</script>

<style>
.disabled {
    pointer-events: none;
}

.el-breadcrumb {
    height: 30px;
    background-color: #f7f7f7;
    opacity: .88;
    transition: background .3s, border-radius .3s, opacity .3s;
    display: flex;
    align-items: center;
    padding-left: 35px;
    font-size: 0.9em;
    font-family: inherit !important;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 80px;
}

.el-breadcrumb span {
    color: #263d4a !important;
}

.el-breadcrumb span:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 17px;
}
</style>
